[2017-02-09 21:41] jstnkrr commented on #1285
I'm sorry: PLAYBACK_LOADEDMETADATA **does fire**, but does not contain any ID3 metadata. And it only fires when loading the first fragment.

[2017-02-10 08:00] Niko78 commented on #1284
it works...
it was a network issue
sorry for the noise

[2017-02-10 08:00] #1284 closed

[2017-02-10 10:04] Niko78 commented on #1225
any news about that ?
I agree with all of you, player should retry to get stream... I would add : display poster instead of freezing video with a message "we are trying to reconnect you..."

[2017-02-10 13:55] Niko78 opened #1287 "Player keeps live state after a network issue on client side (DVR)"
**Clappr Version**: last one

During a live+dvr, when a network disconnection occurs on the client side, the video resumes where it stopped and the player displays "Live" when it is no longer the case

Nico

[2017-02-10 14:47] jstnkrr commented on #1285
Actually I may have solved this on my own.

Clappr's HLSPlayer.swf seems to have a similar events API to the [Chromless player](http://www.flashls.org/latest/examples/chromeless/).

I added a new emitter in `playbacks/flashls/flashls_events.js`:

[code]

I also added listeners in `flashls.js` to emit a corresponding `playback:id3updated` event.  I can now listen to the event in my app.

I'm not su

[2017-02-10 14:47] #1285 closed

[2017-02-10 14:49] jstnkrr commented on #1114
#1285 FYI I managed to attach an ID3 metadata handler on Flash playback.

[2017-02-10 16:12] primoitt83 opened #1288 "Clappr and Ajax"
Hello guys,

I'm trying capture player events and send them to another server using an Ajax's GET.

The issue happens in a live HLS m3u8 when you hit the button STOP. Ajax is sending both PAUSE and STOP to server.

If you check the console and there's both PAUSE and STOP messages too.

To be more clear it only happens using a live HLS  and Firefox 45 or greater. Chrome 34 or greater works fine.

I

[2017-02-11 19:49] Niko78 opened #1289 "recovery live stream from 404 http error"
**Clappr Version**: last

I have a small issue in using clappr : when we broadcast an event, users have the link to the stream before it starts ; right now if they go... player tries to catch the stream but after a moment it is back on poster with the play icon.
Is there an easy solution to display a message to users connected ? or better a mechanism on player to retry to catch the stream each 10s

[2017-02-11 21:52] eutychus commented on #1289
If you send a HTTP 503 instead of a 404 on the m3u8 when the stream is unavailable, it will trigger the retry options in hls.js.

[2017-02-12 03:21] leandromoreira commented on #1282
@Niko78 no, it shouldn't, we use it in production with dozens different plugins, does it shows any error message on console?

[2017-02-12 07:32] Niko78 commented on #1282
my bad, it was not well implemented

[2017-02-12 07:32] #1282 closed

[2017-02-12 07:34] Niko78 commented on #1289
how do you do that ? if streaming server is down, for sure it is a 404
that's why for me it is on client side to do smething

[2017-02-12 17:20] eutychus commented on #1289
hls.js used by clappr stops trying after a 404 (it assumes that the url is simply bad)... We solved this by having our servers send a 503 when the url is properly formatted for our live streams but no playlist is available.  We run our playlists through a script anyway for tracking, caching and quality assurance purposes.  You could probably override the http loader in hls.js to do the same thing.

[2017-02-12 17:51] Niko78 commented on #1289
thanks for your tips
I found a solution (workaround) in looping in the process which ends in stopping try (in clappr js)
line 5525
if (this._recoverAttemptsRemaining > 0) switch (this._recoverAttemptsRemaining -= 1, e.type) {
=> if (this._recoverAttemptsRemaining > 0) switch (this._recoverAttemptsRemaining -= 0, e.type) {

now it works well (from what I need)

[2017-02-13 01:07] leandromoreira commented on #1288
are you saying that when you added ajax it stopped working the way you were expecting?

[2017-02-13 01:34] leandromoreira commented on #1225
@Niko78 I think you can do that if you listen to the `error event`.

[2017-02-13 01:35] leandromoreira commented on #1283
Maybe this is a duplicated issue https://github.com/clappr/clappr/issues/1225

[2017-02-13 08:25] Niko78 commented on #1289
@leandromoreira, it's not from 503, for me it is 404 : see below my debug if no stream, player stops after few tests

===============================================
[debug][MediaControl] mediacontrol:notplaying  clappr.min.js:7:7247
[debug][MediaControl] mediacontrol:rendered  clappr.min.js:7:7247
[debug][Container] container:mediacontrol:disable  clappr.min.js:7:7247
[debug][e] core:containers:c

[2017-02-13 10:16] primoitt83 commented on #1288
Leandro,

Yeah. That's it

[2017-02-13 20:41] leandromoreira commented on #1288
can you do this request in a async way?

[2017-02-14 10:09] primoitt83 commented on #1288
I'll attempt

[2017-02-14 11:39] primoitt83 commented on #1288
It's working now!

One last question

If the player is playing then there's a connection issues and it starts buffering.

This event shows me 2 x playing logs on console.

The first for pushing play and other for buffering.

Is it a normal behavior?

Thanks in advance

[2017-02-14 14:01] Niko78 opened #1291 "packet loss on client side => video frozen"
**Clappr Version**: last

I'm watching a live stream then I used clumsy (an app to disturb network (lag, drop...))
I activated 10 seconds with 2 options lag+drop then stopped it
=> it seems now clappr player video is frozen while I receive yet video packets

I get tons of things like that in debug

[debug][hls] playback:settingsupdate  clappr.js:6785:91
[debug][Container] container:settingsupdate

[2017-02-14 15:33] leandromoreira commented on #1288
I'm not sure if I understood you correctly but the player does buffering even with only 200 response from server.

[2017-02-14 15:33] #1288 closed

[2017-02-14 15:35] leandromoreira commented on #1291
You can [check if you stream is okay](https://github.com/clappr/clappr/blob/master/doc/TROUBLESHOOTING.md#common-steps-to-verify-issues).

[2017-02-14 15:55] primoitt83 commented on #1288
Ok Thx again 👍

[2017-02-14 17:34] churu88 opened #1292 "Events Api not working as function"
**Browser**: chrome (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)

**OS**: ios (ex: Mac OS 10.11.1, iOS9, android4.5)

**Clappr Version**: 0.2.25

**Steps to reproduce**:

I 'm trying to use events onPlay and some others: but the browser says it is not a function

lsd-eye-clappr.min.js:1 Uncaught TypeError: player.on is not a function
    at Analitics.initEvents (lsd-eye-clappr.m

[2017-02-14 21:14] leandromoreira commented on #1292
@churu88 I just wen to [cdn](http://clappr.io/demo/) and add this code and it works:

[code]

Maybe it's something with your functions or clappr already triggered the events you were expecting thus use `events` in the constructor.

[2017-02-15 13:08] Niko78 commented on #1291
@leandromoreira just tried with same conditions (lag + 10% drop)

on hls demo page, it freezes but back ok then freezes again, back ok...etc (even when lag+drop shut)
see below log
[log] > destroy  hls.js:13794:7
[log] > detachMedia  hls.js:13794:7
[log] > media source detaching  hls.js:13794:7
  hls.js:13794:7
[log] > loadSource:http://xxxxxxxxxxxxxxxxxxxx/playlist.m3u8?DVR  hls.js:13794:7
[log]

[2017-02-15 13:38] Niko78 opened #1293 "back or not on poster"
**Clappr Version**: last

when I watching a live stream then I stop the streaming server, I can see the player try to recover but sometimes it stops and displays my poster
it seems to be very random to get poster, sometimes I get only animation (without more success to recover when server is back up)

I caught debug when I fall on poster
...
[debug][hls] playback:bufferfull hls  clappr.js:6785:91

[2017-02-15 17:06] leandromoreira commented on #1293
@Niko78 this log doesn't show any error =( did you observe any error level log?

[2017-02-15 17:07] leandromoreira commented on #1291
Thanks @Niko78 we need to see what recovery option hlsjs uses to repeat it here.

[2017-02-15 17:35] Niko78 commented on #1293
@leandromoreira sure I just did not display hls error message that are before that
my problem is to know why sometimes I get poster, and sometimes nope (more often player tries again and again and never back on stream)

will add errors tomorrow

[2017-02-15 17:38] Niko78 commented on #1293
we can test together if you want... in private I can share with you the link
I sent you an email

[2017-02-15 18:07] Niko78 commented on #1293
so when my streaming server stops and starts, this time I got player trying to recover without any success

...

[debug][Container] container:settingsupdate  clappr.js:6785:91
[debug][hls] playback:settingsupdate  clappr.js:6785:91
[debug][Container] container:settingsupdate  clappr.js:6785:91
[debug][hls] playback:fragment:loaded Object { payload: ArrayBuffer, frag: Object, stats: Object }  clapp

[2017-02-17 05:44] hxl-dy opened #1295 "Cannot read property 'configure' of undefined"
**Browser**: Chrome Version 56.0.2924.87 (64-bit)

**OS**: Windows 10 x64

**Clappr Version**: 0.2.65

**Steps to reproduce**:

1. copy the following code to [demo page](http://clappr.io/demo/)
[code]
2. click "run" button
3. console prints error:"Cannot read property 'configure' of undefined"

[2017-02-17 09:22] hxl-dy commented on #1295
fixed:
[code]

[2017-02-17 09:23] #1295 closed

[2017-02-17 23:50] mikhoul opened #1297 "Bug with m3u8 URL with Token"
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)

**OS**:

Win7/64

**Clappr Version**: Latest on CDN

I need to pass a Token/Argument with m3u8 URL and it fail to take it.

Here's the URL I try: http://chaine_tva_uls-lh.akamaihd.net/i/tvago_1@410563/master.m3u8?hdnea=st=1487360627~exp=1487360717~acl=/i/tvago_1@410563/*~hmac=ed1b43b9dc58ecde707833

[2017-02-18 03:34] leandromoreira commented on #1297
Hi @mikhoul is there any error on console log? or network?

[2017-02-18 03:44] flavioribeiro commented on #1297
I couldn't reproduce this problem here:

![image](https://cloud.githubusercontent.com/assets/244265/23090059/9961d8be-f562-11e6-9415-76fbe2495583.png)

[2017-02-18 05:41] mikhoul commented on #1297
Thanks @flavioribeiro @flavioribeiro for the help.

I've setup a Jsbin to be sure we use the same code and resources:  http://jsbin.com/wuhiwa/edit?html,output

I tried both in Firefox and Chrome.

Here's a screenshot of the Chrome console:  http://i.imgur.com/ByS9BhV.png  The "problem seem to be in hls.js .

Does I have the choice to use hls.js or Flashls ?

The Firefox console don't return the s

[2017-02-18 20:58] mikhoul commented on #1297
I've tried with the old **IExplorer 11** and here's a screenshot of the console messages: http://i.imgur.com/jkafPhj.png

I downloaded Opera portable and tried to see what will happen and strangely **_it work fine with Opera_**.

I need some help to find why it happen with Firefox, Chrome and IE at least, I don't have enough knowledge myself to resolve this problem alone.

Even tried with Firefox

[2017-02-19 23:59] Znuff opened #1300 "Binding to HLS.js events?"
Hello,

I can't seem to be able to figure out how to bind to HLS.js events. I'm interested in the network errors (like CONTENT_LENGTH_MISMATCH) and so on.

Clapper.Events doesn't seem to include the generic Hls.Events and I've been digging trough the code without success to find how to bind to these.

Any help?

[2017-02-20 02:10] leandromoreira commented on #1300
[code]

[2017-02-20 18:02] mikhoul commented on #1297
@leandromoreira Could you help me to decipher the content of console logs ?

Regards ! :octocat:

[2017-02-21 15:11] h4rpreet opened #1301 "Some random videos not playing."
Hello,

We run a video tube website and some users are reporting that they are not able to view videos, Videos just never load for them and it always keep on showing loading n loading animation.

I myself checked those videos, it runs fine for me. I asked user to traceroute to our server and its also fine. And not all are having, its some few people.

So does anyone have any clue what to do ? I as

[2017-02-21 17:05] leandromoreira commented on #1301
I tried the last video and it responded me `403`.

![screen shot 2017-02-21 at 2 04 57 pm](https://cloud.githubusercontent.com/assets/55913/23175627/cf9e9e38-f83e-11e6-8cc3-f2e5894130d7.png)

[2017-02-21 18:17] h4rpreet commented on #1301
I asked user to send his console screenshot and he gives me this: http://i.imgur.com/HN6YK1m.jpg

what should i do ? is it my server side issue or something in player ?

[2017-02-21 18:25] h4rpreet commented on #1301
Can you please try again and see if it works for you now ? we server guy did some changes. Also i really love clappr :D i wish i could contribute.

[2017-02-21 18:29] leandromoreira commented on #1301
it still raises 403, maybe it's a geolocated restrictrion.

[2017-02-21 19:42] mikhoul commented on #1297
@leandromoreira  @flavioribeiro  Nobody to help here ?

For me it work only in Opera, it don't work in Firefox or Chrome.

[2017-02-21 19:59] mikhoul commented on #1301
@h4rpreet  It work also for me but I have a problem with another [Stream/URL](https://github.com/clappr/clappr/issues/1297) that for a strange reason that I don't understand work only in Opera,

Ask to a user to try with Opera Portable to see if it work ?

Let me know if it work maybe it could be the "same" issue I have since other people are able to stream my problematic stream.

Regards :octocat

[2017-02-21 20:54] mikhoul commented on #1297
I tested with the FLASHLS plugin with the video.js demo to exclude a problem with the flashls plugin itself and it work fine in all browsers.

If you want to try it here: http://www.flashls.org/videojs/flash_demo.html

Regards :octocat:

[2017-02-23 11:02] h4rpreet commented on #1301
Hello,

It seems we found the issue, Something like HLS ip check was showing 403. We disabled it and it runs fine now.

Thanks.

[2017-02-23 12:32] #1301 closed

[2017-02-23 15:28] Niko78 opened #1304 "forcing Clappr.FlasHLS and HD indicator"
**Clappr Version**: 0.2.25

In my configuration I forced to used flasHLS
plugins: [Clappr.FlasHLS]

it works well but I detected that by default we can see the "HD" indicator in the seek bar
my stream is available in 720p and 360p, so HD should appear only in 720p
when at the beginning it is 360p no HD, before it switches in 720p HD appears... and if it switches down in 360p, HD never disappears a

[2017-02-27 22:31] tsacks commented on #1225
Hey there. I've been trying to get this working for a couple of months, and this seems to be related to so many different bug reports I can't even name them all. There's a serious issue here with being able to detect streams going offline. We just need some way to detect that the stream has gone offline, but there doesn't appear to be any way to do that at the moment.

[2017-03-02 09:38] sstonemen opened #1306 "live player: play button = grey rectangle"
On Chrome, Safari, Firefox...
Clappr versions from 12 month ago until today

When stream a file (Wowza > m3u8) the button bottom left in player show a white triangle that means 'play'. And while playback: two vertical rectangle that means 'pause'. OK.

**Problem:** But with a live stream (Wowza > m3u8) I only see a grey rectangle in place of this buttons. I can use it to start/pause the live strea

[2017-03-02 09:46] kslimani commented on #1306
In HLS live stream scenario, Clappr does not "pause" the video but "stop" it. I think the rectangle you see may be the "stop" icon (instead of "pause" icon in VOD scenario).

To ensure it is the case, i suggest you to take a screenshot.

[2017-03-02 10:24] sstonemen commented on #1306
lol... you are right!
Sorry.

btw: how can I customize controls?

[2017-03-02 10:30] sstonemen commented on #522
video-stream-hosting.com use clappr (in the main customer player for HTML5 HLS, but flashplayer separately).
1.600.000.000 streams per year for 1000 business customers.

https://www.video-stream-hosting.com/referenzen/

[2017-03-02 10:35] kslimani commented on #1306
You can, for exemple, [use custom media controls](https://github.com/clappr/clappr/issues/839#issuecomment-206095423). More infos [here](https://github.com/clappr/clappr/blob/master/doc/BUILTIN_PLUGINS.md#control-bar-colors).

[2017-03-02 11:13] sstonemen commented on #1306
(Y) Thank you.

[2017-03-02 11:13] #1306 closed

[2017-03-02 12:48] rohityadav876 opened #1307 "How to start with low bit rate for making loading time faster ?"
I am using : - Latest version of **Clappr player** and **level-selector** plugin.

Please let me know How to set initial rendition to lower bit rate. Means when we are initiating the player then we are going to start with lowest bit rate available in the **.m3u8** file.

Like if we are having:-

1. 144p
2. 240P
3. 360p
4. 480p
5. 720p

then we must start with **144p** and later if we want to switc

[2017-03-03 04:49] oyjcmyn opened #1308 "How do I support segmented media?"
How do I support segmented media?
E.g,
` source:[
       "http://img.ksbbs.com/asset/Mon_1605/0ec8cc80112a2d6.mp4",
       "http://mgcdn.videojj.com/CelebrityDetective-01_guigui.mp4"
       ],`
or
`source:{ source: "http://img.ksbbs.com/asset/Mon_1605/0ec8cc80112a2d6.mp4",
        source:  "http://mgcdn.videojj.com/CelebrityDetective-01_guigui.mp4"
      },`
I want it to play the first MP4 immedia

[2017-03-03 12:58] kslimani commented on #1308
You may be interrested by [Clappr playlist plugin](https://github.com/towerz/clappr-playlist-plugin).

Check [test page](https://github.com/towerz/clappr-playlist-plugin/blob/master/public/index.html) for example usage.

[2017-03-03 18:27] oyjcmyn commented on #1308
Hi,
[Clappr-playlist-plugin](https://github.com/towerz/clappr-playlist-plugin) is no longer working properly.
[clappr-sequence-plugin](https://github.com/towerz/clappr-sequence-plugin) is also the same error.
The following program error occurred
[code]
Is there any way to modify it?

[2017-03-03 19:58] kslimani commented on #1308
it seems it is because it is written is es6. And i see no es5 compiled dist.
You may need to compile it first or include babel in your bundle compilation.

[2017-03-03 20:06] towerz commented on #1308
Indeed, there's no compiled version for these plugins. I'll create an issue on these projects to release them allowing to use directly on the browser.

[2017-03-03 22:12] hijuuijj opened #1310 "Problem with mouse cursor in some videos..."
This video is rewindable:
http://etbvnogeo-lh.akamaihd.net/i/ETBEITBEUS_1@300391/master.m3u8

however when I put the mouse cursor over the video, it changes to a hand. This is annoying because when I click, the video pauses.
Is there any way to keep the classic mouse cursor (arrow) instead the hand?

This doesn't happen with non-rewinding videos, like this one: http://178.32.255.199:1935/live/hisp

[2017-03-05 08:02] Niko78 commented on #1248
on my side I use wowza as streaming server and there is an url to get connections informations
I use the output to display value under the player with a refresh each 30 seconds
if a plugin existed to display it inside player (in the bar, on the left) that would be cool (with a personal refresh)

[2017-03-05 11:39] kslimani commented on #1248
Making a plugin doing this is very simple to accomplish.
For example, take a look at source code of [clappr-heading-plugin](https://github.com/la1tv/clappr-heading-plugin) : it is a very simple plugin which display video title over video.
Just use it as base skeleton, then :
- adjust css to choose where you want to display user count
- add code to perform ajax request each N seconds to get data
-

[2017-03-05 11:58] kslimani commented on #1310
Clappr has an internal [click_to_pause plugin](https://github.com/clappr/clappr/blob/master/src/plugins/click_to_pause/click_to_pause.js) which pause/start player if you click on video.

This may be related to your issue.

[2017-03-05 12:30] Niko78 commented on #1248
more this one : https://github.com/Metrakit/clappr-comment-plugin (to get info in seek bar)
but doesn't work for me

[2017-03-05 15:13] hijuuijj commented on #1310
All I want is to disable the "clicl_to_pause" feature. I don't understand why this feature is enabled for rewindable videos.

[2017-03-06 08:54] oyjcmyn commented on #1308
@towerz  Thank you, hope to be able to use it earlier.

[2017-03-06 15:26] oyjcmyn opened #1311 "Does it support playing video videos? And not play m3u8 format."
Does it support playing video videos? And not play m3u8 format.
Can play a complete video into multiple mp4 format, such as 1.mp4, 2.mp4, 3.mp4 ...
I do not want to have a playlist.

You have recommended Clappr playlist plugin, but this i do not want it.

HTML e.g:
[code]

[2017-03-06 19:27] todd-g opened #1312 "Clappr will not play HLS audio on "Samsung Browser""
**Browser**:
"Samung Browser"  This is the default "internet" app on, for instance, Samsung Galaxy S7 among others.  It appears to be based off of Chrome 44 (july 2015-ish) - but they must be doing something else w/ it.

**OS**: Android
**Clappr Version**: Current

**Overview**
The default browser for Samsung Galaxy S7, among others, will not play audio in live or vod HLS.  It will play audio for

[2017-03-06 22:13] todd-g commented on #1312
Quick update in case anyone else is experiencing this.

We tracked this down to a missing audio codec being specified in our main m3u8 manifest.  Other browsers must be inspecting or assuming the audio codec, and Samsung Browser could not.

Details:

Our master manifest previously had only CODECS="avc1.42001e" which would cause Samsung Browser to not know how to play audio.  The fix is to include

[2017-03-06 22:13] #1312 closed

[2017-03-07 05:45] chovy opened #1313 "mkv files?"
can clappr play mkv files in the browser?

[2017-03-07 22:01] juiyout opened #1314 "Revisit autoplay on iOS"
Previous wonfix: #404

Please see: https://webkit.org/blog/6784/new-video-policies-for-ios/ (circa July, 2016)

Now that iOS 10 Safari relaxed `autoplay` policy per above blog post, how about we make clappr also autoplayable on iOS 10 Safari.

I have noticed that clappr does not use `<video>` tag for HLS on iOS 10 Safari. If we were to make clappr autoplayable on iOS 10 Safari, does it entail some

[2017-03-09 14:09] GeorgySerga opened #1315 "How to enable pause button for live hls?"
**Browser**: 56.0.2924.87 (64-bit), Firefox 52

**OS**: Lubuntu 16.04

**Clappr Version**: 0.2.64

**Steps to reproduce**:

I'm trying to pause and play live hls. The clappr media buttons don't include pause button, just stop. If I pause video with in-browser ui enabled with "Show controls" (firefox has pause in context menu too), then the video pauses and I can resume from the same point later. I

[2017-03-09 14:24] kslimani commented on #1315
AFAIK, there is currently no way to pause HLS LIVE stream (without dvr) if player use `hls.js` playback. (you should be able to pause if player use native html5 video playback, for exemple, with Safari browser on Mac OS X).

This is the default player behaviour for HLS live streams. I suspect the reason behind this choice was to save user bandwidth. (if you pause video, the playback continue to lo

[2017-03-09 15:15] GeorgySerga commented on #1315
I see. The in-browser play/pause that was mentioned by me above isn't real solution too: the playback is no longer than the last saved chunk - the moment it ends player jumps to the newly downloaded one. Technically, would browser allow saving chunk data into temp folder or this storage isn't big enough (must have some restrictions due to security reasons)? To me it looks like the difference betwe

[2017-03-09 15:36] kslimani commented on #1315
It seems you are describing existing LIVE with DVR mechanisms. Except that is it implemented server side, which allow user to view past content even if they have not yet downloaded it.

Clappr can handle LIVE HLS with DVR. For example, got to [demo page](http://clappr.io/demo/) and replace `source` parameter by `https://wowza.jwplayer.com/live/jelly.stream/playlist.m3u8?DVR`.

[2017-03-09 16:10] JILeXanDR opened #1316 "How to create mediacontrol template with custom buttons design but the same functionality"
**Clappr Version**: 0.2.25

This controls have to be located under video player not overlap it. Also I want to use plugins such as ClapprThumbnailsPlugin, ClapprMarkersPlugin, PlaybackRatePlugin. How to use them in my new template? As I said before I want to change only the design not functionality

[2017-03-09 16:18] GeorgySerga commented on #1315
Yes, that's what I need, but no server-side DVR for me, I need to save all the data locally.

[2017-03-09 16:34] kslimani commented on #1315
AFAIK, Clappr does not have such feature. But it is maybe possible to achieve this using blob url and browser storage. (just theory), but sound like complicated !

[2017-03-10 07:15] aolko commented on #1122
not fixed

[2017-03-10 10:59] kslimani commented on #1311
AFAIK, Clappr player does not handle this.

[2017-03-10 11:22] kslimani commented on #1313
It's a bit tricky, it depend on web browser capabilities and on the codecs used to encode video.
It *may* be possible to achieve mkv playback on Chrome browser if providing the proper mime type. (i have not tested).

[2017-03-10 12:45] chovy commented on #1313
can you give me an example?

[2017-03-10 14:35] kslimani commented on #1313
In your player configuration, you can specify a mime type using an object :

[code]

Please note i am not sure about mime type value. You may need to experiments other values.

[2017-03-10 14:41] towerz commented on #1311
@oyjcmyn Clappr does not support having multiple playback instances in a single container like @kslimani replied.

You could use the [Clappr sequence plugin](https://github.com/towerz/clappr-sequence-plugin). It's a simple plugin that converts multiple `sources` to a sequence of `video` elements that are played in order.

This way you could just write:
[code]

[2017-03-10 21:31] chovy commented on #1313
Thank you!

[2017-03-10 21:31] #1313 closed

[2017-03-11 12:36] GeorgySerga commented on #1315
Interesting thing is as far as I understand Clappr is based on `hls.js` to play hls content and considering their demo page : `http://dailymotion.github.io/hls.js/demo/` , hls.js can do this thing. Take the `https://wowza.jwplayer.com/live/jelly.stream/playlist.m3u8` (provided above) link and insert it, start video, then press pause, chunks would load and their are available for watching later.

[2017-03-11 13:13] kslimani commented on #1315
The link provided is for tests purpose (_courtesy of [JW Player](https://www.jwplayer.com)_) : it is either a LIVE HLS stream or LIVE+DVR HLS stream depending on if you add or not the `?DVR` query parameter.

You are right about `hls.js`. For HLS stream playback resolving, Clappr player proceed the following :

* If `hls.js` library is supported by web browser, it use it for playback. (_Firefox, C

[2017-03-11 13:36] kslimani commented on #1316
You can, for exemple, [use custom media controls](https://github.com/clappr/clappr/issues/839#issuecomment-206095423). More infos [here](https://github.com/clappr/clappr/blob/master/doc/BUILTIN_PLUGINS.md#control-bar-colors).

[2017-03-11 13:54] kslimani commented on #1314
😕  AFAIK, Clappr use an HTML5 video element for HLS playback on iOS.

Have you tried to set `mute` option to true with `autoPlay` to true ? (i have no iOS device available to test until monday)

If this not work, it _should_ be easy to autoplay an HTML5 video on iOS if `mute` option is set to true. (_you are not the first person to ask such feature_).

[2017-03-11 22:34] hijuuijj opened #1323 "Can't play some M3U8 with Clappr..."
These M3U8 don't work with Clappr... why? there are no problems playing from [HLSPlayer.net](https://www.hlsplayer.net/):

http://80.250.191.10:1935/live/hlsstream343/.m3u8
http://aztecalive-lh.akamaihd.net/i/0oxnvzh8a_1@175671/master.m3u8
http://media3.crtvg.es/live/tvge_2/.m3u8
http://flash0.80670-live0.dna.qbrick.com:1935/80670-live0/murciatv/.m3u8
http://streaming2.mad.idec.net/rtvcnet/rtvcnet

[2017-03-11 22:52] kslimani commented on #1323
It is maybe an issue with `hls.js` library, because these streams does not work also on [hls.js demo page](http://dailymotion.github.io/hls.js/demo/).

I recommend you to submit an issue [here](https://github.com/dailymotion/hls.js/issues).

[2017-03-12 12:03] kslimani commented on #1323
The third url is working for me in hls.js demo page and Clappr demo page. (_but not the first and second url_)

[2017-03-12 15:14] hijuuijj commented on #1323
I added some links more

[2017-03-13 10:13] juiyout commented on #1314
Ok I'm going to try that and report back soon.

[2017-03-13 10:15] max80713 commented on #1314
I also encountered the same problem recently. I'll try @kslimani 's advise and report back if it works or not.

[2017-03-13 11:46] GeorgySerga commented on #1315
Yes, I was able to modify the js file to get caching behavior working. Also there is issue on browser buffering capacity for future reference: https://github.com/dailymotion/hls.js/issues/1030 .

[2017-03-13 12:28] kslimani opened #1325 "Zepto collection assertion bug in UiObject"
I think there is maybe a _minor_ error in [setElement](https://github.com/clappr/clappr/blob/master/src/base/ui_object.js#L145) method in `UIObject` : i suspect that `element instanceof $` never return true.

According [this comment](https://github.com/madrobby/zepto/issues/349#issuecomment-4985091), it should be something like :

[code]

But i am not sure about this. Can someone from Clappr core

[2017-03-14 10:31] max80713 commented on #1314
I've tried out @kslimani 's advice and I found that, first of all, `mute` option should be `muted` option.
And if I set both `muted` and `autoPlay` options to true or only `muted` option to true, clappr still doesn't autoplay. I guess that's because clappr mutes and autoplays the video by setting volume to 0 and calling `play()` on video element instead of just puts `muted` and `autoplay` attribut

[2017-03-14 11:44] hijuuijj opened #1328 "I can't send M3U8 to Chromecast..."
I can't send this M3U8 to Chromecast, however I have no problems via Android app [Web Video Cast](https://play.google.com/store/apps/details?id=com.instantbits.cast.webvideo)

`<script src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js"></script>
<script src="https://cdn.jsdelivr.net/clappr.chromecast-plugin/latest/clappr-chromecast-plugin.js"></script>
<div id="player"></div>
<script>var p

[2017-03-14 12:29] Niko78 opened #1329 "player issue windows phone 8.1"

[2017-03-14 12:40] #1329 closed

[2017-03-14 13:15] juiyout commented on #1314
Confirmed that `<video>` tag is indeed there for iOS. My bad.

And yes, the option is called [muted](https://github.com/clappr/clappr/blob/0.2.65/src/components/player.js#L134). However, in [demo](http://clappr.io/demo/), it is called `mute`.

Nonetheless, setting clappr `muted` or `mute` to true doesn't apply muted attribute to `<video>` tag. It seems that original question stands. As iOS relaxed

[2017-03-14 17:56] kslimani opened #1330 "Minor bug in HTML5 playback poster option"
In [HTML5Playback](https://github.com/clappr/clappr/blob/master/src/playbacks/html5_video/html5_video.js#L109) directly extending poster attribute with `this.options.poster` value may lead to 404 error.

This is because `this.options.poster` may be an object (_javascript will convert object to string and try to load non-existing asset_).

A fix would be to first ensure that `this.options.poster` i

[2017-03-15 16:36] GuilhermeMedeiros commented on #1227
I'm coming back to this issue with solutions and new problems. hehe
Overriding the `HLS.canPlay` and allowing HLS.js playback to be used in Safari fixed some issues. I wonder why this check actually.

Other than that, I could never get a Live HLS with DVR to work properly on iOS devices.

So many workarounds lately, I had to almost completely override the playback detection of Clappr, override met

[2017-03-16 08:34] cheluskin commented on #1083
No solution to play from start playlist?

[2017-03-17 15:55] tchakabam commented on #1257
hey guys, what i d be interested right now is actually choosing native HLS over Hls.js even when MSE API is available.

That is because i want to use FairPlay DRM, which is only gonna work with built-in Safari HLS, not Hls.js :)

How can I do that?

[2017-03-17 16:08] kslimani commented on #1257
@tchakabam : on MAC OS X using built-in Safari HLS is default behaviour for Clappr player.
hls.js is only used for other browser (like Chrome or Firefox).
You should be able to use FairPlay DRM.

[2017-03-18 10:04] PapiCZ opened #1336 "HLS - Query string to every request"
**Browser**: Chrome Version 57.0.2987.110

**OS**: Ubuntu 16.04

**Clappr Version**: 0.2.65

Is it possible to add query string to every HTTP Request?

[2017-03-18 11:52] PapiCZ commented on #1336
Solved with ngx_http_secure_link_module. Can be closed :)

[2017-03-19 08:54] TomBZombie opened #1337 "Cannot pause at start of HLS live stream"
**Browser**: Chrome 57.0.2987.98 (64-bit)

**OS**: Arch Linux

**Clappr Version**: 0.2.41

I am using Clappr for HLS streams, it works great (I have no idea how you got m3u8 ts streams to work in browser, I tried all kinds of things with the native `<video>` tag!) but there's a slight issue:  Which I believe is related to #871 , It's impossible to pause for a few minutes after the stream has start

[2017-03-19 12:54] kslimani commented on #1337
@TomBZombie just a thought, have you tried to [customize hls_list_size](http://stackoverflow.com/questions/28980650/live-streaming-hls-via-ffmpeg-how-to-force-client-to-start-playing-from-the-beg)  value ?

[2017-03-20 11:07] tchakabam commented on #1257
@kslimani great, thanks! :)

[2017-03-21 20:30] stefancaunter commented on #522
Our video CDN is now using clappr, with full support in our embed generator for DVR and Multi-bitrate Live
https://www.scaleengine.com
If you would like a logo it is here: https://www.scaleengine.com/images/scaleengine_logo_5b_24.png

[2017-03-22 11:56] rohityadav876 opened #1340 "How to show some error message on player ?"
**Clappr Version**: 0.2.25

I am using **.m3u8** files in clappr, Everything is working fine, But I am unable to find How to deal with some errors.
**Errors like :-
1. Media Not found (404 Error)
2. Bad Media Error
3. Network failure**

And How to set some custom message on player's screen.

1st Error In Detail: - In case I am putting some bad media in the **source: '{src}',** which is not availab

[2017-03-23 07:15] PreDeToR commented on #626
@leandromoreira
This has taken a long time, i know :(
Here is a link to a audio track selector, its very basic,and I used the level selector as a base for the plugin.

You guys are more than welcome to look at it, and add it to the external plugins list:
https://github.com/PreDeToR/clappr-audio-track-selector-plugin

[2017-03-25 11:25] DiegoZurita commented on #1223
+1

[2017-03-29 15:58] mortegai opened #1345 "How can set custom headers in request?"
I need send some custom HTTP headers in the request to media URI.

How can get it?

Thanks

[2017-03-31 03:33] Sotatek-HungPham opened #1347 "DOMException: play() can only be initiated by a user gesture."
Hi guys,
I'm use clappr to play my video, but in chrome 56.0.2924.87 has problem with autoplay
<pre>
  var MyControl = Clappr.MediaControl.extend({});
  player = new Clappr.Player({
    source: current.fileUrl,
    parentId: "#video-player",
    autoPlay: true,
    mediacontrol: MyControl
 });
</pre>
![selection_025](https://cloud.githubusercontent.com/assets/25896269/24535279/40fb126a-15fd-11e7-9

[2017-03-31 11:30] kslimani commented on #1347
Hello @Sotatek-HungPham ,

This issue only happen on mobile devices if you set `autoplay` to true.
It is because playback of video must be initialized with a user action, meaning a tap or click.

But you are right, this exception may be avoided by adding some mobile detection to playback autoplay.

Here a possible workaround to your problem :

[code]

[2017-03-31 17:10] #1277 closed

[2017-03-31 17:13] hijuuijj opened #1349 "M3U8 playable with Microsoft Edge... not playable with Clappr"
This M3U8 is playable with Microsoft Edge (without Flash):

http://aztecalive-lh.akamaihd.net/i/0oxnvzh8a_1@175671/master.m3u8

However it's not playable using Clappr (it works using Clappr.FlasHLS)

Where is the problem?

[2017-03-31 17:13] #1262 closed

[2017-04-07 13:02] kslimani opened #1355 "Browser.isChrome is broken on iOS device"
**Browser**: Chrome Version 57.0.2987.137

**OS**: iOS 9.3.5 (iPad mini)

**Clappr Version**: latest

**Steps to reproduce**:

The current detection code is :

[code]

The navigator.value is :

[code]

It seems that latest versions of Google Chrome is now called CriOS on iOS devices ?

EDIT: also broken on my iPhone 5S.

[2017-04-08 12:20] rohityadv876 opened #1357 "How to get CC (Closed Caption) Support in Clappr JS"
As we know Clappr is built on HLS JS so can you please let us know how to get **CEA-708 captions** support in our videos.

As I am getting: -
If we try to use:- http://video-dev.github.io/hls.js/demo/
With:- https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8
Link then we got CC on player's control panel.
But when I am using same link:- https://d2zihajmogu5jn.cloudfront.

[2017-04-08 13:17] busla opened #1358 "Question: DVR and HLS on Safari"
**Browser**: Safari Version 9.1.2 (11601.7.7)

**OS**: Mac OS 10.11.6 El Capitan

**Clappr Version**: FlasHLS Clappr (version: 0.4.15 - flashls: 0.4.4.22, id: o14)

**Steps to reproduce**:
I´ve read all the related issues regarding Safari and DVR support but can´t figure out if Clappr supports it or how users are resolving that issue. It would be great to have this added to the README in layman te

[2017-04-08 13:36] kslimani commented on #1358
Hi @busla
The provided source `http://ruvruv-live.hls.adaptive.level3.net/ruv/ruv/index.m3u8` returns a 401 Unauthorized HTTP response.

On MAC OS X with Safari browser, if you load an HLS video source, Clappr default behaviour is to use native HTML5 video. (_on other browsers like Chrome or Firefox, it use hls.js javascript library_).

On provided example, you configured Clappr to use internal Fl

[2017-04-08 13:45] busla commented on #1358
Thanks for the quick reply 😄

Weird that you get a 401 on that URL. It might be blocked outside of Iceland.

Here is the global stream. Could you try that one?

http://ruvruverl-live.hls.adaptive.level3.net/ruv/ruverl/index.m3u8

Tried your code but still no DVR in Safari.

<img width="675" alt="screen shot 2017-04-08 at 13 42 48" src="https://cloud.githubusercontent.com/assets/3162968/24829448/5a

[2017-04-08 13:53] kslimani commented on #1358
I tried demo page with `http://ruvruverl-live.hls.adaptive.level3.net/ruv/ruverl/index.m3u8` HLS source and DVR work (_with and without Flash HLS_), but i am on Windows 7. (_i will be able to test on MAC OS X on monday_). But it should work.

This question may be "dumb" : but do you have Flash plugin installed ? can you try again, and inspect the DOM to ensure there is a Flash embed loaded ?

If F

[2017-04-08 13:56] busla commented on #1358
Hey,

The DVR works fine on Chrome and Firefox, but not on Safari, as described in the original post.

The FlasHLS loads properly, I actually used that in the original post to get the version numbers 😄

Thanks for looking into this.

[2017-04-08 14:00] kslimani commented on #1358
Without Flash HLS plugin, on MAC OSX with Safari, it is native HTML5 video which is used for playback. (_i don't remember how DVR playback is handled by Safari_).

[2017-04-08 19:03] MTRNord commented on #1328
Same Problem using own stream (generated by nginx rtmp plugin). Error in Log is "media type unsupported"

[2017-04-08 19:28] kslimani commented on #1328
I think it may be a CORS problem : i see no `Access-Control-Allow-Origin` header in the HLS playlist response.

[2017-04-08 19:35] kslimani commented on #1349
I am pretty sure it is a CORS problem. Streaming server must allow origin in the `Access-Control-Allow-Origin` HTTP header.

Please note it is working in Flash because HTTP request mechanisms are not affected by CORS policy. It is affected by `crossdomain.xml` file content requested by Flash plugin.

[2017-04-10 14:18] towerz commented on #1355
@kslimani is this actually an issue? Technically, the Chrome browser on iOS is just a wrapper around the `WKWebView` component, which actually behaves as a Safari, since it uses the Safari stack.

Why do you need to recognize Chrome for iOS specifically? Is there some player code which actually depends on this?

[2017-04-10 14:23] towerz commented on #1345
@mortegai you can set some custom headers if you're using HLS. If you are using MP4 files directly, since we use the native HTML5 video tag, you won't be able to do this.

Could you please give some more details?

[2017-04-10 14:23] kslimani commented on #1355
@towerz  : yes it is an issue. You need to detect Chrome on iOS, for example, in Chromecast plugin. (see [comment](https://github.com/clappr/clappr-chromecast-plugin/pull/12#issuecomment-292584182)).

[2017-04-10 14:30] towerz commented on #1355
@kslimani indeed, you're correct. This should enable some plugins to be enabled specifically for Chrome on iOS. Actually, I wasn't aware that the Chromecast plugin works on Chrome for iOS. Thanks for pointing this out.

[2017-04-10 14:30] #1355 closed

[2017-04-10 15:28] mortegai commented on #1345
Yes, it's for HLS. And in (#1075) I found how to do it: hlsjsConfig with xhrSetup and xhr.setRequestHeader. But is not valid for some header as Referer

[2017-04-10 15:33] kslimani commented on #1345
@mortegai  I don't think you can send `Referer` header with XHR. Have you tried [this trick](http://stackoverflow.com/questions/40063682/is-it-possible-to-set-referer-header-for-xhr-in-html-application) ?

[2017-04-12 13:51] waster commented on #1105
@towerz, @leandromoreira can you please check that issue again? I guess it seems to work by destroying and recreating player after each start/stop, but in our case it can not be used because we have VAST plugin and need to load original src and play again after VAST preroll. We're also tried to investigate this issue but it's hard to debug because flashls playback works well with IE developer tool

[2017-04-12 14:14] leandromoreira commented on #1105
@waster is this related solely to flashls?

[2017-04-12 14:16] waster commented on #1105
@leandromoreira yes, the problem is related to flashls playback in IE only.

[2017-04-12 15:08] kslimani commented on #1105
@waster have you tried with autoplay to true as third argument in load() method ?

example :

[code]

[2017-04-12 18:39] DiegoZurita opened #1360 "Question: Will update hls.js to 0.7.5 version?"
Will update hls.js to 0.7.5 version?

[2017-04-12 19:16] kslimani commented on #1360
@leandromoreira i just realized that hls.js version in package.json is "^0.7.2" and the value in yarn.lock is "^0.6.17" (locked to "0.6.18").

Do you known if Greenkeeper bot can handle yarn.lock modification in pull requests ? (_if not it may be also a nice feature request_).

[2017-04-12 20:46] leandromoreira commented on #1360
@kslimani I don't know = / but we should keep the newest version on both case shouldn't we?

[2017-04-12 20:53] kslimani commented on #1360
maybe update the [bump](https://github.com/clappr/clappr/blob/master/bump) script to keep yarn.lock up to date at each release ?

[2017-04-12 20:58] towerz commented on #1360
@kslimani sure, we'll update the bump script to work with yarn.lock when we release the next version. I think we'll do it by tomorrow.

[2017-04-17 22:33] DiegoZurita commented on #1360
I just try update bump script on my fork to update yarn.lock (https://github.com/DiegoZurita/clappr/blob/master/bump), is something like that?

[2017-04-18 16:25] FDiskas commented on #404
This is done for security reasons. Video won't play on mobile devices. Only after user interaction it's possible to trigger the player play event.
But there is still another issue. Then the source of the player is changed the video stops playing. Needs to hit the play button again.
For example "videojs" - you can change the stream source and video still be auto played. Looks like it's possible to

[2017-04-18 16:38] kslimani commented on #404
@FDiskas this issue has been fixed in #1318

[2017-04-18 17:25] #1330 closed

[2017-04-18 18:06] brunjick commented on #1281
Set `height` to `100%` and add event:
[code]

[2017-04-18 18:08] brunjick commented on #1281
Set `height` to `100%` and add event:
[code]

[2017-04-18 19:20] #1357 closed

[2017-04-18 19:21] towerz commented on #1357
The hls.js version used on Clappr was outdated, updating to 0.7.5 solved this issue.

[2017-04-18 19:37] #1358 closed

[2017-04-18 19:38] towerz commented on #1358
The HTML5 video playback currently does not support DVR, and since we didn't find any other issue with using hls.js on Safari, it's now enabled by default.

[2017-04-19 07:51] gaalgergely opened #1364 "Disable the seekbar"
**Browser**: Firefox

**OS**: Ubuntu

**Clappr Version**: latest downloadable

**Steps to reproduce**:

* added seekEnabled:false to the options
* I was expecting that the seekbar can not be used or hidden

Did you try to reproduce this issue at http://cdn.clappr.io/ yes

[2017-04-19 08:12] FDiskas commented on #666
@leandromoreira  Any example?

[2017-04-19 08:18] kslimani commented on #1364
AFAIK, there is (_currently_) no player option to disable mediacontrol seek bar. Where have you seen `seekEnabled` option ? (or are you asking a feature ?)

[2017-04-19 08:26] FDiskas opened #1365 "Failed to execute 'play' on 'HTMLMediaElement': API can only be initiated by a user gesture."
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)
Any mobile device

**Clappr Version**: 0.2.25
latest

**Steps to reproduce**:
* Open demo on mobile
* Hit the play button and wait until the video end.

Ir should change video source and do not stop the playback.

Demo: http://jsbin.com/coxofuyeni/1/edit?html,output
[code]

[2017-04-19 08:34] FDiskas commented on #1365
Why on player options change the video element is re-rendered?
So this is why user should hit the play button again.
https://github.com/clappr/clappr/blob/5b51269ac9b39981e036f1167c2a2f9e34e2b35c/src/plugins/poster/poster.js#L52

[2017-04-19 08:34] kslimani commented on #1365
@FDiskas this issue should be fixed in next Clappr release for mobile devices, using the `consent()` player method with `recycleVideo` html5 playback feature.

Take a look at #1319 for example usage. (_you can also perform tests with custom build using current master branch_).

[2017-04-19 08:40] gaalgergely commented on #1364
I am reading the docs. Found something similar here:
https://github.com/clappr/clappr/commit/85f54f84a9b14853b49f1b327b1a724df55aff2a

[2017-04-19 08:45] kslimani commented on #1364
I see. I think that `container.settings.seekEnabled` is an internal only parameter which is automatically updated. (_and therefore you can't override it_).

The only way i found to disable seek bar was to create my own custom mediacontrols.

[2017-04-19 08:53] gaalgergely commented on #1364
Thanks for the response! How can i do that? Do you have a tutorial somewhere?

[2017-04-19 08:58] #1365 closed

[2017-04-19 09:04] kslimani commented on #1364
There is no tutorial yet. But there is an example [here](https://github.com/clappr/clappr/issues/839#issuecomment-206095423). Additional infos also [here](https://github.com/clappr/clappr/blob/master/doc/BUILTIN_PLUGINS.md#control-bar-colors). And [here](https://github.com/kslimani/live-program-mediacontrol) some **experimental** tests i have done.

[2017-04-19 09:38] gaalgergely commented on #1364
Thank you!

[2017-04-19 10:06] #1364 closed

[2017-04-21 11:08] qianlanse opened #1366 "Cannot read property 'isPlaying' of null"
Hello I just want to make a video background, but the mobile terminal can not play.thanks!!!
"Cannot read property 'isPlaying' of null TypeError: Cannot read property 'isPlaying' of null"

[2017-04-21 11:19] leandromoreira commented on #1366
Please follow the [guideline](https://github.com/clappr/clappr/blob/master/doc/BEFORE_OPEN_AN_ISSUE.md) to open issue so it'll be easier for us to try to help you.

[2017-04-22 19:11] FDiskas commented on #1340
```console.dir(Clappr.Events)```
You will get all events so grab one e.x. ```PLAYBACK_ERROR```
[code]

[2017-05-02 07:40] Niko78 opened #1381 "piece of code doesn't work with 0.2.66"
**Clappr Version**: 0.2.66

since I upgraded clappr in 0.2.66 piece of my code did not work

var bufTime = 0;
    var z = 10;
    var timerId = setInterval(function () {
        if (player.buffering && player.isPlaying()) {
            bufTime += 1;
        } else if (!player.buffering && !player.isPlaying()) {
	    bufTime = 0;

        }

        console.log(bufTime);
        if (bufTime >= z) {

[2017-05-02 09:35] kslimani commented on #1381
@Niko78 i tested your code with Clappr version 0.2.66 and with current master and it is working for me.

By working, i mean the player is stopped after `bufTime` reached 10. (_i just commented the getElementById stuff which does not exists on my test page_).

[2017-05-02 09:41] Niko78 commented on #1381
@kslimani yep but when it reaches 10 it should restart from 0 then reaches again 10, etc...
in my case now when it reaches 10, it stays after at 0

[2017-05-02 09:44] kslimani commented on #1381
@Niko78 from my understanding, if the player is stopped, then the `(!player.buffering && !player.isPlaying())` condition is true and the `bufTime` value is always set to 0.

[2017-05-02 09:46] Niko78 commented on #1381
it worked before... so something has changed
how would you fix that ?

[2017-05-02 09:49] kslimani commented on #1381
You are correct, many things has changed with latest release. (_some bugs have been fixed and some library upgraded_)

Can you desbribe what you are trying to achieve ?

[2017-05-02 10:45] kslimani commented on #1381
BTW, if you are trying to handle HLS playlist load error, you may be interested by #1374 .

[2017-05-02 10:48] Niko78 commented on #1381
I try to find a solution when stream fails (network, encoder, stream server...)

I have autostart at true, so when I display page, clappr tries to get the streams, when it fails, it retries few times then finish in "max recovery...".. but clappr player shows only background and not "play" button in that state, so if I want to recheck, I need to refresh the whole page

That's why in my script I det

[2017-05-02 10:48] Niko78 commented on #1381
@kslimani BTW, if you are trying to handle HLS playlist load error, you may be interested by #1374 .

=> it is already integrated in 0.2.66 ?

[2017-05-02 10:50] kslimani commented on #1381
@Niko78 pull request is not yet reviewed/merged in 0.2.66. You will need custom build to add this feature in the meantime.

[2017-05-02 10:53] kslimani commented on #1381
There is a little trick i often use to display an error message in player :

[code]

[2017-05-02 15:29] contra opened #1383 "export using the `modules` attribute"
Here is an example of what this looks like on another project: https://github.com/uber/deck.gl/blob/master/package.json#L16-L17

By adding this attribute in the `package.json` you enable modern browsers/node/webpack to do code splitting, which drastically reduces the size of the output by only including exactly what is being used.

Here is what `clappr` looks like right now (code splitting disable

[2017-05-04 10:57] Niko78 commented on #1381
what I would like to see in clappr as an option : http://demos.flowplayer.org/api/live-check.html

[2017-05-04 15:06] JeanSauzem opened #1387 "Height does not accept the value of 100%"
Good afternoon, I could not set the value of '100%' parameter in height, someone would have an idea to help me?

[2017-05-04 15:09] kslimani commented on #1387
@JeanSauzem i recommend to set `'100%'` on `width` and `height` player option and change the size of player "container" parent element.

[2017-05-04 15:15] kslimani commented on #1387
For example :

[code]

Adjust css styles to size your player to your needs.

[2017-05-04 16:28] kslimani commented on #1381
You can do the same with Clappr using `error` event.

[code]

[2017-05-04 20:17] JeanSauzem commented on #1387
thank you

[2017-05-07 19:40] danicho opened #1390 "Problem with two players"
I have a problem. When I insert two players into an accordion in wordpress, players appear together

http://bit.ly/2qPAcJC

Thanks

[2017-05-08 01:34] leandromoreira commented on #1390
Are you using a different container for each player instance? Can you paste the mark up here?

[2017-05-08 01:57] danicho commented on #1390
I am a newbie and I speak Spanish, I hope you understand me.
Apply google translate. I am using the following code.
I want one player to be in one section and the other to the next section

<head>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js"></script>
</head>
<body>
  <div id="player"></div>
  <script>
    var player = new Clappr.Player({source: "http

[2017-05-09 01:25] leandromoreira commented on #1390
@danicho you must have the two divs with differents `parentId`.

[code]

[2017-05-09 07:05] frank717 opened #1391 "HLS is blocked on Firefox and Chrome when page is loaded with https"
Hi,
using http everything is fine, but when I load my page with https Firefox (53.0.2) and Chrome (58.0.3029.96) seem to block the stream.

OK:
[http://www.dentaurum.de/deu/ids-2017-29720_29767.aspx](http://www.dentaurum.de/deu/ids-2017-29720_29767.aspx
)
Not OK:
[https://www.dentaurum.de/deu/ids-2017-29720_29767.aspx](https://www.dentaurum.de/deu/ids-2017-29720_29767.aspx)

`<script type="text/ja

[2017-05-09 08:52] kslimani commented on #1391
@frank717 Browser which block "mixed" content is an expected behaviour. (_which is not related to Clappr_).

If your pages are served in HTTPS, then you must also server your video content over HTTPS protocol or it will be blocked by browsers.

Here more info about mixed content policies :

* https://developer.mozilla.org/en-US/docs/Web/Security/Mixed_content
* https://blogs.msdn.microsoft.com/ie/

[2017-05-09 09:35] frank717 commented on #1391
OK, thank you for this information.

[2017-05-09 09:35] #1391 closed

[2017-05-09 15:48] FDiskas opened #1392 "flashhls getCurrentTime() returns wrong info"
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)
https://www.whatismybrowser.com/w/QC7GAKG

**OS**: FILL WITH YOUR OS (ex: Mac OS 10.11.1, iOS9, android4.5)
https://www.whatismybrowser.com/w/QC7GAKG

**Clappr Version**: "0.2.66"

INFO:FlasHLS Clappr (version: 0.4.15 - flashls: 0.4.4.22, id: o73)
2017-05-09 18:45:28.189 VM2258:1 INFO:HLSNetStream:c

[2017-05-10 03:57] nishantkumarsah opened #1393 "Starting clappr from beginning in live mode(VOD)."
I have a video on disk which i convert on run time for HLS format using ffmpeg. Since playlist is still being updated every few seconds, clappr treats it as live stream. Upon playing the stream it plays it from the current position(live mode) and NOT from the beginning. How do i force it to play from beginning. I need it to play from start every time i open the player?

[2017-05-10 16:51] nishantkumarsah commented on #1393
#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:17
#EXT-X-MEDIA-SEQUENCE:0
#EXTINF:16.706556,
partial_file0000.ts
#EXTINF:8.341667,
partial_file0001.ts
#EXTINF:8.341667,
partial_file0002.ts
#EXTINF:8.341667,
partial_file0003.ts
#EXTINF:8.341667,
partial_file0004.ts
#EXTINF:16.683333,
partial_file0005.ts
#EXTINF:8.341667,
partial_file0006.ts
#EXTINF:8.341667,
partial_file0007.ts

This playlist is st

[2017-05-10 16:59] nishantkumarsah commented on #1393
playlist after some time.  Still in generation.

#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:17
#EXT-X-MEDIA-SEQUENCE:0
#EXTINF:16.706556,
partial_file0000.ts
#EXTINF:8.341667,
partial_file0001.ts
#EXTINF:8.341667,
partial_file0002.ts
#EXTINF:8.341667,
partial_file0003.ts
#EXTINF:8.341667,
partial_file0004.ts
#EXTINF:16.683333,
partial_file0005.ts
#EXTINF:8.341667,
partial_file0006.ts
#EXTINF:8

[2017-05-11 03:38] leandromoreira commented on #1393
Please paste the final playlist, I suspect clappr is treating this playlist as a live type, which seems okay given the playlist you gave me.

A VOD playlist usually contains some meta tags like [`EXT-X-PLAYLIST-TYPE:VOD`](https://developer.apple.com/library/content/technotes/tn2288/_index.html#//apple_ref/doc/uid/DTS40012238-CH1-TNTAG2) otherwise it'll be treated as live, anyway you also might nee

[2017-05-11 06:46] nishantkumarsah commented on #1393
I understand that this is expected behavior.
How do i tell clappr to play from the start when it begins playing in live mode?
Is there any options/settings ?

[2017-05-11 14:31] flavioribeiro commented on #1393
what if you just seek to the beginning after the play?

[2017-05-11 16:08] nishantkumarsah commented on #1393
yes, this is the current situation. However, from the user experience point of view it is not an acceptable one. The user is expecting a fully downloaded file and not live mode. He wants to see video from start and not from say 5 min delayed even though he can seek back.

[2017-05-11 18:02] ewwink opened #1394 "keep mediacontrol visible while paused?"
tried `hideMediaControl: false` but it keep showing while playing, how to keep mediacontrol visible while paused only?

[2017-05-12 09:30] kslimani commented on #1394
@ewwink go to [demo page](http://clappr.io/demo/) and try this workaround code :

[code]

[2017-05-12 10:19] ewwink commented on #1394
yes it work, thanks @kslimani

[2017-05-12 18:21] kslimani commented on #1393
why not simply convert the file to HLS, then serve it statically, instead doing that on-the-fly ? (_unless i missed something ?_).

[2017-05-12 20:16] thiagopnts opened #1395 "Decrease bundle size"
I've been running some bundle analyzers in the code to see what we can change to decrease the bundle size:
![image](https://cloud.githubusercontent.com/assets/322239/26014537/f7e2a7ba-372a-11e7-8382-5e118c25d71d.png)

There is a lot of room for improvements, I'll use this issue to list my findings and track my progress

- [x]  remove lodash.uniqBy
- [x]  remove lodash.isequal
- [x]  remove lodash.

[2017-05-13 00:39] kslimani commented on #1395
The "main" property in [package.json of clappr-zepto](https://github.com/clappr/clappr-zepto/blob/master/package.json#L5) module is pointing to zepto.min.js. Maybe it worth a try to change the value to zepto.js and try to rebuild Clappr to see if it reduce size of bundle minified by uglifyjs.

[2017-05-13 04:11] nishantkumarsah commented on #1393
**Use case**

User downloads the file on cloud and expects to view/play them immediately.

The file container is not constant. It can be .mkv or .avi or .mpeg etc with different codecs. For this reason, all the files are converted into common denominator "HLS".
This conversion to HLS format is quick in case if only demuxing is required. However, when decoding is also required for formats like .avi

[2017-05-13 04:39] #1394 closed

[2017-05-13 05:51] ewwink opened #1398 "Combine MediaControl and Playback Plugin"
just finished my first plugin, the code is at https://github.com/ewwink/clappr-youtube-plugin it two plugin type (MediaControl and Playback)  in one file, now I call it with ` plugins: [YoutubePlugin, YoutubePluginControl]` but how to call it as one plugin like ` plugins: [YoutubePlugin]`

[2017-05-13 13:09] leandromoreira commented on #1394
@kslimani is being a hero here once in a while!! thanks =]

[2017-05-13 13:10] leandromoreira commented on #1398
@ewwink they are two distinct plugins why would you like to join them in one?

[2017-05-13 13:12] leandromoreira commented on #1393
@nishantkumarsah maybe you should look at https://github.com/kaltura/nginx-vod-module it seems that this module generates the complete playlist and the segments are being generated on the fly, this might serve you and also solve your problem.

[2017-05-13 15:53] nishantkumarsah commented on #1393
**setting/option to play the video from the start even in live mode????**

[2017-05-13 16:58] kslimani commented on #1393
@nishantkumarsah AFAIK, there is no option in Clappr to play video from start (_with live mode with DVR capabilities_). The only possible "trick" is to seek back from start on first video play event.

For example (try this on [demo page](http://clappr.io/demo/)) :

[code]

[2017-05-14 05:07] ewwink commented on #1398
To make it easier to remember the plugin name. i try to call `YoutubePluginControl` from `YoutubePlugin` like below but not work
[code]

do you think it is possible?

[2017-05-14 16:08] nishantkumarsah commented on #1393
thankyou

[2017-05-14 16:39] leandromoreira commented on #1398
Maybe you need to create a `core`plugin` which provides these two extra plugins but I'd prefer one single project (github) with two plugins, you can make a helper:

[code]

[2017-05-16 10:06] ewwink commented on #1398
you are right I should convert it to core plugin, maybe I'll do it in the future. and thanks

[2017-05-16 10:06] #1398 closed

[2017-05-16 18:13] Niko78 commented on #1381
great @kslimani
I'm waiting new clappr build to test it

[2017-05-17 08:13] kslimani commented on #1381
@Niko78 you can already test it with mp4 format on current [demo page](http://clappr.io/demo/) by just copy/paste [this example](https://github.com/clappr/clappr/blob/master/doc/PLAYER_ERRORS.md#another-example).

[2017-05-17 08:30] Niko78 commented on #1381
yep I already tested it ;-)
Now I'm trying to manage case when dvr is enable and live is broken
thanks

[2017-05-17 09:39] kslimani commented on #1381
For hlsjs playback it should work in next release. (fixed by #1374), or test with custom build.

[2017-05-17 11:19] Niko78 commented on #1381
hmmm your code doesn't work well sorry
I tried to read an hls stream then shut my network... I just got bubble animation and not your code
try it

[2017-05-17 11:45] kslimani commented on #1381
For hlsjs playback, you have to test with current master branch. More precisely :

* clone the project
* install dependencies
* run the demo page locally with `npm run start`
* _(optionally) create custom build with `npm run build && npm run release`_

Then test example code snippet (_http://localhost:8080_).

[2017-05-17 11:48] Niko78 commented on #1381
ok sorry for misunderstanding

[2017-05-17 13:26] wicherdt opened #1408 "HLS (m3u files) and player event error documentation example"
**Browser**: Firefox 53.0.2 (64 bit)

**OS**: Windows 10

**Clappr Version**:   17 May 2017 on http://clappr.io/demo/

**Steps to reproduce**:
Example from commit : https://github.com/clappr/clappr/commit/e4c82cb44b4289e851ba15a73a836c7ae6ba70ee

"error" event dont work wiyh HLS source (m3u files)

var playerElement = document.getElementById("player-wrapper");

var r = 3; // Retry attempts

var pl

[2017-05-17 13:42] kslimani commented on #1408
@wicherdt it should work with current master. Please read [this comment](https://github.com/clappr/clappr/issues/1381#issuecomment-302065612).

[2017-05-17 20:41] kslimani commented on #1383
I am curious about this. However, I lack knowledge about this `module` field in package.json and i failed to find any detailed documentation about this. (_only [this page](https://github.com/rollup/rollup/wiki/pkg.module) seems relevant_).

@contra are you sure adding the `module` field is enough ? does it not require also to build/compile an es6 "dist" version of Clappr ?

[2017-05-17 20:44] contra commented on #1383
@kslimani Yeah, you point the module attribute to the source and the user's build system will figure out how to make it work (compile using the dependency babelrc, etc.)

[2017-05-17 20:44] contra commented on #1383
You should be able to point it at the source unless you have any custom babel plugins that need running.

deck.gl, for example has one plugin that they run first: https://github.com/uber/deck.gl/blob/master/package.json#L26

[2017-05-17 21:08] kslimani commented on #1383
I see. Then they also build an es6 dist version of their modules.
it may be required to do the same to be compliant as Clappr build use babel plugins and webpack loader which transform, for example, css to be loaded as module. (_i lack the knowledge about this. Clappr core should have a better answer for this issue_)

[2017-05-17 21:09] contra commented on #1383
@kslimani Webpack will handle all of that stuff based on the top-level user config. The way webpack deals with this is to treat a dependency with a `module` attribute as if it was a member of your own source code - compiling it with babel, loading linked css files, etc.

[2017-05-17 21:18] kslimani commented on #1383
So, if i understand well, if you import Clappr as an external dependency in your project, webpack will use es6 code instead of importing Clappr as an es2015 module ?

[2017-05-17 22:32] leandromoreira commented on #1383
@thiagopnts is working to shrink the final size and also he, @towerz and @tjenkinson knows a lot about this!! 🥇

[2017-05-18 00:06] thiagopnts commented on #1383
nice, this makes a lot of sense!
I added this to #1395, with this + not requiring all plugins in the `Loader` we should have a pretty smaller bundle

[2017-05-18 01:25] leandromoreira commented on #1383
Also, @contra feel free to send a PR quoting https://github.com/clappr/clappr/issues/1395 @thiagopnts is also doing an amazing job toward this direction.

[2017-05-18 13:05] waster commented on #1366
Browser: Chrome 58.0.3029.83
OS: Android 4.4.2
Clappr Version: 0.2.66

Steps to reproduce:
1. Clappr configured as
[code]

2. In custom VAST plugin the following code was used:
[code]

3. The following error occured in Chrome browser console (developer mode):

[code]

In Clappr 0.2.64 it works fine.

[2017-05-18 13:37] leandromoreira commented on #1366
can we close it then?

[2017-05-18 13:50] waster commented on #1366
@leandromoreira, it does not work in current 0.2.66, but works in previous 0.2.64.

[2017-05-18 14:29] kslimani opened #1410 "[BUG] fullscreen button (detection) is broken on iOS"
The fullscreen button is not displayed anymore on iOS devices on mediacontrols.

It seems that is it 2f0274b9bb4afe23127fca1e1ef1b877500699fb which introduced the "regression".

(_because if i build Clappr at c277425a8e828d04196efaa0337fc8cc2c365050 it works_)

@thiagopnts @leandromoreira any thoughts ?

_EDIT: the bug of course is on current master not in latest release._

[2017-05-18 14:45] kslimani commented on #1410
UPDATE: it is using Zepto extend [here](https://github.com/clappr/clappr/pull/1400/files#diff-77857a480ef013cab1d709b21f7d2ba7R537) instead of lodash merge whcih is the cuase of the issue because i tested on current master to re-add lodash.merge and use merge() and it work.

(_i am looking deeper to understand what differs, it is weird, it should work also with $.extend according documentation_)

[2017-05-18 14:55] kslimani commented on #1410
That's it 😃  Adding optional `true` as first parameter triggers the recursion with Zepto extend.
Will send a PR.

[2017-05-18 16:03] RodolpheFouquet opened #1412 "Is it possible to override existing keyboard event?"
Browser: 58.0.3029.110 (64-bit)

OS: Win 10

Clappr Version: 0.2.65

Steps to reproduce:

* Init a new Clapper player (new Clappr.Player(...))
* Attach a callback to PLAYER_READY and then try to do something when left/right arrow are being pressed (for example output into the console.log)
* The default behavior occurs (seek to -/+ 5 secondes instead of outputting the log)

I would like to know if

[2017-05-18 16:24] leandromoreira commented on #1366
@waster thank you ;D

[2017-05-18 16:26] #1410 closed

[2017-05-18 16:52] kslimani commented on #1412
@RodolpheFouquet  It seems that kibo from mediacontrol may not be available on player ready event.
You may, for example, use the play event to bind keys :

[code]

[2017-05-18 17:00] kslimani commented on #1412
Additionally, you may want to known that the internal [Kibo](https://github.com/marquete/kibo) library is exposed by Clappr module :

[code]

[2017-05-18 20:20] RodolpheFouquet commented on #1412
Awesome, that works, thank you!

[2017-05-18 21:37] #1412 closed

[2017-05-19 10:42] waster commented on #1105
@kslimani unfortunately it seems does not not work, for example we use this code in VAST plugin on ad ended:

[code]
And got this error on win10 in IE11:
[code]

[2017-05-19 12:49] tchakabam commented on #522
https://www.pantaflix.com VOD platform is using Clappr

[2017-05-19 16:27] kslimani commented on #1105
@waster this issue is quite old and therefore it is hard to track the current context.

Could you please close this issue and open a new one describing your current situation and problems ?
Also providing a test page or code sample to reproduce the issue may ease to help to fix your issue.

[2017-05-19 20:17] waster opened #1414 "flashls playback does not start to play from js in IE11"
**Browser**: IE 11.0.9600.18230
**OS**: Windows 7
**Clappr Version**: cdn.clappr.io

**Steps to reproduce**:
- try [this](http://audioplayer.df6.ru/audio/testie.html) page to test. It has a simple code with autoPlay to run player :
[code]
- Expected start playing but sometimes it's not. I also noticed that if I enable always request from server option in developer network console then everything s

[2017-05-19 20:17] waster commented on #1105
Closed, new https://github.com/clappr/clappr/issues/1414 opened.

[2017-05-19 20:17] #1105 closed

[2017-05-20 01:28] kslimani commented on #1414
Allright, i perfectly understand what is going on here. It is a known IE11 issue. But there is a workaround.
I will send a PR this week to propose a fix for this issue.

BTW, i have a question : on your test page, do you want the radio to autoplay on page load, or only after click play button ?

[2017-05-20 07:58] waster commented on #1414
@kslimani great, thank, will wait for the fix. Actually I want to have the way to run radio on after click play button, but it is important also to start play automatically after some preroll, for example.

[2017-05-20 11:12] waster commented on #1414
@kslimani can you please describe quickly in general words (or may be give a link) what is it a known IE11 issue and workaround fix logic?

[2017-05-20 11:30] kslimani commented on #1414
Quickly, it's a bug related to ie11 cache with Flash ActiveX (_happen when you receive 304 http response when loading swf file_).

A simple workaround is to use a "cachebuster" mechanisms; For exemple by appending a random query parameter to swf file URL. (_the cons is that the swf file is always downloaded when player load another "flash" source, but i guess it is better than player error_).

My

[2017-05-20 12:05] waster commented on #1414
Yes, I see, but in our case first playback is created on preroll and then it is destroyed and recreated with flashls to switch to live HLS stream. In the case of "cachebuster" mechanism swf will be downloade twice as I noticed and it will cause hole (sometimes up to 4 seconds) between end of ad and start of live stream. Can it be avoided in IE11/Edge? For example can we load flash playback initial

[2017-05-20 13:09] kslimani commented on #1414
@waster i think you can avoid Clappr to download twice the swf file if vast plugin does not use Clappr to display video advert. If you want Clappr to also display the video ad, it will be difficult to avoid the double download unless, for example, you extends the current FlashHLS playback to create your own playback plugin to change internal mechanims. (_just a thought_)

I am not sure if it worth

[2017-05-21 13:24] waster commented on #1414
@kslimani sure, I understand about Flash, but unfortunately it is the only way to play HLS in IE11 now. Not sure I understand about double swf download, I mean that swf file is downloaded twice each time flashls playback is used on load() method. I guess it is related to DOM changes in render() method in `src/playbacks/base_flash_playback/base_flash_playback.js` file?

[2017-05-22 02:59] #319 closed

[2017-05-22 03:00] #255 closed

[2017-05-22 10:42] wicherdt commented on #1408
YES it work.
Please close issue.

[2017-05-22 14:10] #1408 closed

[2017-05-22 19:56] waster opened #1416 "Create two playbacks and switch between them"
@leandromoreira In https://github.com/clappr/clappr/issues/1244#issuecomment-269360989 you mentioned that it is possible to create two playbacks and switch between them in clappr plugin. Can you please add some small example how to do that?

In our case we need to minimize time gap between switching html5 playback (mp3 preroll ad) and flashls playback in IE11 as this is very annoying for some user

[2017-05-22 20:29] leandromoreira commented on #1416
@towerz and I are planning to release a better solution to this pattern of the problem but I'll ask if @towerz has a small plugin with this behavior !! :D

[2017-05-22 21:26] waster commented on #1416
@leandromoreira great, very much waiting for this fix, because right now we're using not very elegant way with additional player to play preroll, then unmute other player with source on ad ended.

[2017-05-22 21:29] flavioribeiro opened #1417 "Fix poster poster aspect ratio/position within the video element"
@towerz suggested we should add `object-fit: cover` css to the video element in order to fix this. It can be reproduced on http://flv.io/nytclappr

[2017-05-22 22:31] UnitedPeace opened #1418 "Unable to Intercept xhr on IOS"
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)
Safari, Chrome IOS

**OS**: FILL WITH YOUR OS (ex: Mac OS 10.11.1, iOS9, android4.5)
IOS

**Clappr Version**: 0.2.25
latest / 0.2.66

I'm unable to intercept xhr data on ios devices, all desktop browsers work. I tried two methods, both failed.

[code]

[2017-05-23 00:47] leandromoreira commented on #1418
@UnitedPeace I think we're using native video tag on ios, which doesn't provide such thing. You can force the IOSto use hls.js though.
[code]

[2017-05-23 07:06] UnitedPeace commented on #1418
@leandromoreira Playback override does not work on ios, it still uses native html5 video tag.

[2017-05-23 07:52] Kzanadeus opened #1419 "Player restarting after pausing"
Hi,

I use clappr for a while now and it's working fine. Now, when i start a video in a player and then change source and cant pause then play the player because it restart the video from the begining.

It's doing it all the time.

If someone knows a way to prevent that it'll be great.

Best regards.

[2017-05-23 10:08] kslimani commented on #1416
@waster : if you target desktop only browsers, then you should be able to achieve this using a Core or UI Core plugin. (_but note this may not work on mobile devices._) You can take a loot at [Chromecast plugin](https://github.com/clappr/clappr-chromecast-plugin/blob/master/src/chromecast.js) source code for a playback switch example.

[2017-05-23 11:01] ibreakstuff93 opened #1421 "IE 11 HLS playback not working...?"
**Browser**: IE 11 - v11.0.96000.18349

**OS**: Windows 7

**Clappr Version**: 0.2.66

Have tried to playback HLS in IE 11 on Win 7, but get the "Your browser does not support the playback of this video. Please try using a different browser" message.

Playback is working across all other browsers / devices (including Chrome, FireFox, Safari, iOS, Android) - so is not a source stream issue. We are

[2017-05-23 11:13] ipejasinovic commented on #1421
Try like this:
`var player = new Clappr.Player({
  parentId: "#player-wrapper",
  height: 360,
  width: 640,
  plugins: [Clappr.FlasHLS]
});

player.load("http://somedomain.com/live.m3u8");
player.play();`

[2017-05-23 11:27] leandromoreira commented on #1419
how do you change source?

[2017-05-23 11:27] ibreakstuff93 commented on #1421
@ipejasinovic sadly, that doesn't work either...

IE:
![clapprie](https://cloud.githubusercontent.com/assets/16917874/26352250/ddcb58e6-3fb2-11e7-900d-456064084e70.png)

Chrome:
![clapprchrome](https://cloud.githubusercontent.com/assets/16917874/26352317/22d03df8-3fb3-11e7-8deb-c7bc4c53de9a.PNG)

[2017-05-23 11:29] leandromoreira commented on #1418
yeah, @clappr/core were discussing this a long time ago I don't remember why we decided to don't let this options ;/

Anyway, @UnitedPeace can you build your version of clappr forcing it to use hls as the main playback and see if this solves your problem?

And we can decide how can we enable people to force the usage of hls instead of native html5, beyond ios there are some android devices which w

[2017-05-23 11:44] Kzanadeus commented on #1419
With the js function load

Ex : player.load('mavideo.mp4');

[2017-05-23 12:24] leandromoreira commented on #1421
@ibreakstuff93 did you check if you do have flash installed for ie? Maybe it's missing flash.

[2017-05-23 12:25] kslimani commented on #1421
@ipejasinovic can you try ? :
(_second optional argument is mimetype and third optional argument is autoplay_)
[code]

[2017-05-23 12:55] kslimani commented on #1414
@waster so far my tests are pointing out that it may be a IE11 "sandbox" security issue.

Context :

* Test are run on Windows 7 with Internet explorer 11.0.9600.18665
* With an HLS source (_will resolve to FlashHLS playback_)
* By Clappr files, i mean all files in "dist" folder

First results :

When i load Clappr files from an external domain, (_ie: cdn.jsdelivr.net_) then when 304 happen on swf

[2017-05-23 13:09] ibreakstuff93 commented on #1421
@leandromoreira 👍 I had an older version of flash, but now running the latest I get the player load up properly! Should have checked this first, sorry! ( 👎  for me!)

The issue I have now is, there is audio playback, but just a black playback (no pictures).

This is what seems to get me to the point of having a play button:

[code]
This gives me the following output:

![clappr ie old 2](https://cl

[2017-05-23 16:58] leandromoreira commented on #1419
@Kzanadeus when you load a new video it'll restart the playback, you can inform that you don't want it to autoStart or even where to start to play.

What behavior do you expect when you change the source?

[2017-05-23 17:00] leandromoreira commented on #1421
This might be an issue with your stream, try to replicate the same problem with this source http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8

[2017-05-23 17:16] ibreakstuff93 commented on #1421
I just tried it with that playlist, and I'm getting the same result as with my stream...

Audio = 👍
Video = 👎

[2017-05-23 17:20] kslimani commented on #1421
@ibreakstuff93  If you are using latest release, try to remove `plugins: [Clappr.FlasHLS]` from configuration as it should be automatically loaded (_since hlsjs playback not supported with IE11_).

[2017-05-23 17:26] kslimani commented on #1414
@waster : double download should be fixed with #1423

[2017-05-23 17:52] UnitedPeace commented on #1418
@leandromoreira I'm having trouble getting it to use HLS, when I attempt to force it on IOS it gives "Your browser does not support the playback of this video. Please try using a different browser".

[2017-05-23 17:53] bikegriffith commented on #1418
hls.js cannot work on iOS because it does not support MSE.  Your only option for hls playback on the web in iOS right now is native `<video>`.

[2017-05-23 18:03] Kzanadeus commented on #1419
In fact, the problem is not that the video start to the begining when i change the source. After i changed the source once, if you pause the player and then replay it, it will start from the begining not at the position it has been paused. It only append after i changed the source. The first video, everything is perfect.

[2017-05-23 18:41] kslimani commented on #1418
@bikegriffith is correct. You can check the [browser compatibility list](https://github.com/video-dev/hls.js#compatibility).

[2017-05-23 18:45] kslimani commented on #1419
@Kzanadeus i am not sure to understand the behaviours you described. Do you have any code sample or demo page to share ?

[2017-05-23 18:48] leandromoreira commented on #1419
Are these the steps to reproduce this behavior?

1. start any video, play it
1. and then change the source
1. start to watch it
1. pause the video and unpause

The expected outcome would be continue to play from where it was when it was paused but does it starts again from the begininig?

[2017-05-23 19:19] UnitedPeace commented on #1418
Are there any other methods that can be used to intercept url data from the m3u8 files and dynamically change it on ios browser?

[2017-05-23 19:27] kslimani commented on #1418
Could you describe what you want to achieve ?

[2017-05-23 19:33] bikegriffith commented on #1418
If you do require altering m3u8s on the fly, you might have to not play the video at all on iOS web browser ... instead build a custom native app and direct user to open that app when on iOS.  You're going to be very limited in what's possible because iOS Safari does not (and has no immediate plan) to support either MSE or ServiceWorkers.

[2017-05-23 20:09] UnitedPeace commented on #1418
@kslimani I'm attempting to dynamically change m3u8 data client side without querying the server so much. I can do this intercepting XMLHttpRequest requests on desktop browsers but native ios html5 video does not use XMLHttpRequest requests.

[2017-05-23 20:17] Kzanadeus commented on #1419
Exactly.

[2017-05-23 22:05] leandromoreira commented on #1419
@Kzanadeus were you able to reproduce this behavior at http://clappr.io/demo/ changing the default source to http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8 ?

[2017-05-23 22:11] leandromoreira commented on #1419
@Kzanadeus I tried the following code at the  http://clappr.io/demo/  and it seems to work as expected:

[code]

[2017-05-24 08:26] Kzanadeus commented on #1419
@leandromoreira I tried your code on your demo page and yes it's working fine.

I'm searching a way to create a page that you can try yourself because the behavior is different inside my project.

Anyway, thanks for your reactivity.

[2017-05-24 08:55] ibreakstuff93 commented on #1421
thanks @kslimani - i've given it a try with / without declaring the plugin explicitly, and you're right, it will detect if it needs the plugin or not which is super! 💃

The console log might perhaps help? there's a close, followed by setting up the audio track. Could the close be on the video?

![flashlsconsole](https://cloud.githubusercontent.com/assets/16917874/26395109/047322f8-4067-11e7-83d7-3

[2017-05-24 10:37] kslimani commented on #1421
@ibreakstuff93 does the following code work on [demo page](http://clappr.io/demo/) :

(_replace javascript code by this one and click the "run" button_)
[code]

[2017-05-24 10:47] kslimani commented on #1418
I'm afraid @bikegriffith is right about Safari on iOS devices. For m3u8 on-the-fly modifications you may also consider doing that server-side for consistency.

[2017-05-24 12:51] ibreakstuff93 commented on #1421
@kslimani still the same audio yes, but black playback, with the bar appearing if I hover over the area.

I've checked my flash version, i'm using the latest: 25.0.0.171. And i've also done a few windows updates, so IE is now 11.0.9600.18665. It's absolutely fine on Win  8 & Win 10, just Win 7 for some unknown reason :(

[2017-05-24 13:03] Eetin opened #1424 "Playback not switching from FlasHLS to another playback mode if not allowed by user"
**Browser**: Safari 10.1.1 (12603.2.4)

**OS**: Mac OS 10.12.5

**Clappr Version**: 0.2.64

**Steps to reproduce**:

* Turn on plugins In security settings
* Turn on Adobe Flash Player in plugin settings
* Make flash ask for permission to use
* Open web page with clappr player with enabled FlasHLS playback plugin
* NOT allow using Adobe Flash Player
* I was expecting clappr to switch to another pl

[2017-05-24 13:06] kslimani commented on #1421
@ibreakstuff93 i think this is not a Clappr issue. In fact i suspect a Windows video driver problem.

Can you try the following  : right click on middle of player (_this should open a context menu with Flash plugin option choices_), then click on "parameters..." and disable hardware acceleration.

It this fix your issue, i suggest you to attempt to update your video card drivers.

[2017-05-24 13:16] kslimani commented on #1424
@Eetin when Clappr resolve the playback to load according source provided, if Flash HLS playback is prioritiezd, then Javascript code will attempt to detect if Flash plugin is installed. I am not sure if it is possible in javascript to detect if user consented or not to run the plugin.

BTW, why would you want Clappr to use Flash HLS playback on Safari ?

Please note that latest Clappr release now

[2017-05-24 13:33] Eetin commented on #1424
@kslimani we used Flash HLS on Safari because of DVR issue on html5 playback.
I checked the latest version without Flash HLS plugin and everything works now.
Thank you.

[2017-05-24 14:35] #1424 closed

[2017-05-24 16:27] kslimani commented on #1414
@waster : i confirm that serving Clappr assets on same domain fix the Flash HLS .swf HTTP 304 issue with IE11.

[2017-05-25 18:08] waster commented on #1416
@kslimani , thanks, will definetely check this plugin for code examples.

[2017-05-25 18:10] waster commented on #1414
@kslimani so the only one possible solution now is to serve Clappr assets on the same domain?

[2017-05-25 18:23] kslimani commented on #1414
@waster i see no other option at the moment. (_At least it solve the problem_).

[2017-05-25 18:29] waster opened #1426 "Source load timeout"
Hello,

Can you please me advice is it possible to use some timeout handling on load() in Clappr?  For example handle some bad URL with mp3 that can not be downloaded while trying to connect and log some message about timeout passed?

Code example on http://clappr.io/demo/:
[code]

[2017-05-25 18:45] kslimani commented on #1426
Did you try the `onError` player event ?
(_please note that html5 video load timeout is something like 20 seconds, dunno if it can be configured_)

[code]

[2017-05-25 18:59] kslimani commented on #1426
@waster  only way i know is to use "watchdog" timer approach.

[2017-05-28 14:17] eseffair opened #1428 "Add a button"
How can I add a button to the player?

[2017-05-28 15:24] kslimani commented on #1428
@eseffair you can add a button to player, for example, using an `UIContainerPlugin` or an `UICorePlugin `.

* [Here](https://github.com/clappr/clappr/blob/master/src/plugins/watermark/watermark.js) an example of `UIContainerPlugin`.
* [Here](https://github.com/clappr/clappr-level-selector-plugin/blob/master/src/main.js) an example of `UICorePlugin `.

[2017-05-30 11:47] hijuuijj opened #1429 "How to open streams (master.m3u8) to 1080p by default?"
I have noticed that MX Player for Android uses the best quality for the M3U8 streams just opening the player (in a range of 240p, 480p, 720p, 1080p)
However with Clappr, the quality increases slowly until it reach the highest level.
Is there any way to set Clappr to the highest level by default? (1080p)

[2017-05-30 12:04] kslimani commented on #1429
@hijuuijj if .m3u8 source is using HLSJS playback, you can control quality switch using [Quality switch Control API](https://github.com/video-dev/hls.js/blob/master/doc/API.md#quality-switch-control-api).

Also, you can pass HLSJS custom options in player constructor, for example :

[code]

If browser is using native video to play .m3u8 source, i don't know if there is a way to control quality swi

[2017-05-31 19:39] michaelcunningham19 commented on #1395
@thiagopnts
Another idea is to add a release job to make a "light" version of Clappr which excludes FlashLS, as probably the majority of developers using Clappr don't even need Flash support at this point in 2017. (At least I hope so)

I have a fork of Clappr on my GitHub profile where I stripped out FlashLS entirely. See commit: https://github.com/michaelcunningham19/clappr/commit/a00b12ea0c27dbd

[2017-05-31 20:31] thiagopnts commented on #1395
@michaelcunningham19 I'm working on this here https://github.com/clappr/clappr/tree/skinny-clappr
it has a ~175kb light version

[2017-06-05 10:28] #1314 closed

[2017-06-06 13:27] aaronatmycujoo commented on #1223
I'm getting this same error on 0.2.66. What can I do?

[2017-06-06 13:32] leandromoreira commented on #1223
@aaronatmycujoo what browser are you using? what kind of stream?

[2017-06-06 14:13] aaronatmycujoo commented on #1223
Perhaps it is something on my side. We have few custom plugins, and this
error is only happening when interacting with touch events on our custom
plugin which is doing a few different things like controlling playback and
so on.

On Tue, Jun 6, 2017 at 3:32 PM, Leandro Moreira <notifications@github.com>
wrote:

[2017-06-07 00:58] alexandrevicenzi opened #1435 "WebVTT support"
**Browser**: Any

**OS**: Any

**Clappr Version**: 0.2.25

**Steps to reproduce**:

* Try to load a playlist (m3u8) with subtitles

I couldn't find anywhere how to change the current subtitle track on Clappr, neither how to disable it. By default, it's loading English subtitle.

I found a [plugin](https://github.com/PreDeToR/clappr-audio-track-selector-plugin) to switch audio track, is there anyth

[2017-06-07 20:26] Abdel-ilah opened #1436 "Clappr does not play mkv (matroska) container"
hi,
someone correct this code for me to play .mkv files please?

<div id="player"></div>
<script>
var player = new Clappr.Player({
  source:  {
    source: 'http://dl2.mihanpix.com/Film/2016/Allegiant.2016.720p.ShAaNiG.mkv',
    mimeType: 'video/x-matroska'
  },
autoPlay:'true',
parentId: '#player',
});
</script>

other examples please??
thank you.

[2017-06-07 20:56] leandromoreira commented on #1436
@Abdel-ilah I think we don't support mkv container =( if you can, you can convert it to `mp4` using ffmpeg.

[2017-06-07 22:15] kslimani commented on #1436
@Abdel-ilah : try the following code on [Clappr demo](http://clappr.io/demo/) page with __Google Chrome browser__ :

_(please note i did not test the code and it may not work)_

[code]

[2017-06-08 05:46] yegeniy opened #1437 "Did he make it?"
# spoiler alert!!

The guy that fell in http://clappr.io/, did he make it?

I saw this wasn't in the FAQ, but I feel like this is something everyone interested in the project must be asking.

Amazing work with https://github.com/leandromoreira/digital_video_introduction, btw

[2017-06-08 12:03] Abdel-ilah commented on #1436
thanks leandromoreira, kslimani

[2017-06-08 18:46] bikegriffith opened #1438 "Safari Mobile check doesn't work inside WKWebView"
**Browser**: WKWebView

**OS**: iOS 10

**Clappr Version**: 0.2.25

**Steps to reproduce**:

* Load player
* Observe that volume control is displayed and non-functional.  Should be hidden.

See lines of code that are not working at:
* https://github.com/clappr/clappr/blob/master/src/components/media_control/media_control.js#L690
* https://github.com/clappr/clappr/blob/master/src/components/browser

[2017-06-08 18:49] mattwa1sh commented on #819
Hi--

I'm not seeing this work for me. Very simple setup:

http://admin.blivenyc.com/public/examples/clappr_test.html

for which the relevant code is
[code]

Error is :

TypeError: Cannot read property 'on' of undefined

Any thoughts?

Thanks,
Matt

[2017-06-08 18:49] bikegriffith commented on #1438
I'm assuming this should be a "wontfix" because it's due to the non-standard user agent in WKWebView (which technically could be overridden to work around the issue).  The only real option would be to find some better way of detecting the volume change capability without resorting to user agent snipping.  But was curious if anyone else had thoughts.

[2017-06-08 18:53] bikegriffith commented on #819
@mattwa1sh It's `player.core.getCurrentPlayback()._hls` rather than `player.core.getCurrentPlayback().hls`

[2017-06-08 18:55] mattwa1sh commented on #819
Yes! Thanks I just noticed that error. While we're on the topic, does anyone know how to get the current position of that play head *within* the segment? Like, we're 4.2 second into segment-0432.ts?

[2017-06-08 19:19] bikegriffith commented on #819
@mattwa1sh Yes, you can do that, but it's a little tricky.  You have to monitor `hlsLevelLoaded` and wait for the 1st firing of that event (2nd mutates start to be startPTS) and then keep track of the level fragments.  Then, if you know video.currentTime, you can loop through each fragment to find the one containing currentTime (based on start+duration) and compute the currentTime - start to get t

[2017-06-08 19:20] bikegriffith commented on #819
And of course remember that it only works for hls.js playback (e.g. not native video in safari)

[2017-06-08 19:25] mattwa1sh commented on #819
Right. Okay, I think I have a similar approach, but it takes into account a certain timing-related wonkiness I've noticed. On frag change I am recording the playheadTime along with data associated with the fragment, like so:
[code]
Now, the first crazy thing is that the playhead time is *ahead* of the segment start recorded in the fragment data. If I fire the event on frag changed, and map the pla

[2017-06-08 19:36] mattwa1sh commented on #819
So in this case, if the playhead is 27,  position in fragment would be:

27 - 24.016 - (offset = -.34) = 3.324

I think thats right.... Possibly.

[2017-06-08 22:11] kslimani commented on #1438
@bikegriffith i think this is because this browser may be detected as Safari. (_as your links suggested_).

Could you please post the value of userAgent for this browser, maybe the regex for isSafari can be fixed.

[2017-06-09 07:26] Niko78 opened #1439 "display hls latency"
hi

I would like to display hls latency (console or not)
I found to get that it needs to retrieve EXT-X-PROGRAM-DATE-TIME in the manifest
It exists in hls.js

hls.on(Hls.Events.FRAG_CHANGED,function(event,data) {
  console.log('current dateTime' + data.frag.programDateTime);
}

so how to integrate it in clappr ?
after there is a small calculation to get latency with playback fragment UTC time back

[2017-06-09 09:30] kslimani commented on #1439
@Niko78 you can see a simple example [here](https://github.com/clappr/clappr/issues/1300#issuecomment-280971418) on how to bind hls.js playback events.

[2017-06-09 09:49] kslimani commented on #1437
Need a 360° version of it !

[2017-06-09 10:28] Niko78 commented on #1439
merci je vais tester ;-)

[2017-06-09 10:30] leandromoreira commented on #1439
@Niko78 I think if you want to have the latency between the source and the final user you could take the PTS/DTS from the source and compare with final user, or if you want just a rough idea you can [overlay the clock over the video](https://stackoverflow.com/a/12244369/1188680) and compare.

[2017-06-09 10:38] Niko78 commented on #1439
thanks @leandromoreira but I'm not a developer that's why I ask how to

[2017-06-09 11:35] leandromoreira commented on #1439
@Niko78 one easy way is to really have a clock overlay on the video and check source vs final user (player)!

[2017-06-09 14:55] bikegriffith commented on #1438
Default WKWebView user-agent is something like `{AppName}/73 CFNetwork/808 Darwin/16.0.0`.  It can be overridden, however, by the app. I don't think this is worth going down a regex change for Safari detection.  Closing.

[2017-06-09 14:55] #1438 closed

[2017-06-09 16:05] kslimani commented on #1435
You are correct @alexandrevicenzi i was able to reproduce this bug.

I proposed a fix for at least be able to enable/disable CC. The default subtitle is selected by hls.js (_English is default_). It seems there is no api/configurations options to change this yet. (_i may be wrong!_)

BTW thank you for the playlist, it helped me a lot !

[2017-06-09 18:28] alexandrevicenzi commented on #1435
@kslimani I think hls.js doesn't have this option. Testing in [https://video-dev.github.io/hls.js/demo/](https://video-dev.github.io/hls.js/demo/) there's only options to toggle audio and quality, the CC is part of video component I think.

[2017-06-09 19:09] kslimani commented on #1435
@alexandrevicenzi yes, i think too that the switch mechanisms should work directly with video element as hls.js is listening it and is aware of subtitle switch. I will take a look at switch audio plugin to see if i can do something for CC.

[2017-06-12 17:16] ewwink commented on #1436
for chrome you only need to add option `mimeType: "video/mp4",` but it not work in firefox maybe you should try add plugin Flashls.

[2017-06-13 08:21] aaronatmycujoo commented on #1223
I have rolled back and removed the plugins and I am still getting this error. On Chrome 58 on Android. The error is triggered when tapping on the video, seekbar, or ui.

`Uncaught TypeError: Cannot read property 'trigger' of undefined at clappr.js?6ef2:3532`

Clappr version `"clappr": "^0.2.66"`

Is there anything else I can do to debug this?

[2017-06-13 10:44] kslimani commented on #1223
@aaronatmycujoo are you able to reproduce this bug on [Clappr demo page](http://clappr.io/demo/) ?
_(if not, can you provide some code sample or demo page to be able to debug your issue ?)_

[2017-06-13 11:27] aaronatmycujoo commented on #1223
no I'm not able to reproduce on the demo page actually. you can see an example here: https://staging.mycujoo.tv/ch/297. view it on a touch enabled device or chrome devtools' device mode.

[2017-06-13 12:06] kslimani commented on #1223
@aaronatmycujoo my first constatations that player auto-play *seems* to be set to `true` because Javascript console is displaying user consent warning.

I recommend using `autoPlay: !Clappr.Browser.isMobile` in player configuration to avoid player to be in an instable state on page load.

[2017-06-13 14:53] waster opened #1441 "PAUSE event is fired after play finished"
**Browser**: FF 53

**OS**: Ubuntu 17.04

**Clappr Version**: cdn.clappr.io

**Steps to reproduce**:

* Try this code on cdn.clappr.io:
[code]
* Wait video to finish playing.
* "PAUSE!" appears in console.

Not sure this is expected behaviour because in case of VAST plugin it can be unnecessary while using  Events.PLAYBACK_PAUSE and ![vastTracker.setPaused()](https://github.com/dailymotion/vast-cl

[2017-06-13 17:55] kslimani commented on #1435
@alexandrevicenzi i updated #1440 which should now properly handle multiple CC tracks. Could you please test if these changes satisfy your issue ?

[2017-06-13 20:45] kslimani commented on #1441
@waster i think this is the behaviour of html5 video element.
(_the html5_video playback just listen to video element events and propagate them to container_).

In you case, you may want to filter pause event using, for example, this workaround :

[code]

[2017-06-14 13:09] Niko78 commented on #1381
sorry to ask again but in your code, it starts by error message instead of trying to catch stream
I know it is as example but can you tell me how to do to try first to get the stream and if it fails ok display error message with the counter
thanks

[2017-06-14 13:41] kslimani commented on #1381
@Niko78 : of course it is 😄 !

Take a look at player `source` option : it is set to `http://clappr.io/bad_highline.mp4` which is a bad url which return a 404 error on purpose.
(_to immediately display error message to demonstrate error handling_).

Just change it by a "good" source url.

[2017-06-14 13:45] Niko78 commented on #1381
arf sorry my bad :-(

[2017-06-14 16:00] greenkeeper[bot] opened #1442 "An in-range update of uglify-js is breaking the build 🚨"
## Version **3.0.16** of [uglify-js](https://github.com/mishoo/UglifyJS2) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/clappr/clappr/compare/greenkeeper%2Fuglify-js-3.0.16">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uglify-js
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-06-14 16:28] leandromoreira commented on #1381
You can always use the clappr-stats to provide many of the metrics you're trying to calcalute.

[2017-06-15 00:24] greenkeeper[bot] opened #1443 "An in-range update of sass-loader is breaking the build 🚨"
## Version **6.0.6** of [sass-loader](https://github.com/webpack-contrib/sass-loader) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/clappr/clappr/compare/greenkeeper%2Fsass-loader-6.0.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sass-loader
    </td>
  </tr>
  <tr>
    <th ali

[2017-06-20 13:27] andrefilipegsilva opened #1446 "Memory usage w/ multiple Clappr Players (HLS)"
**Browser**: Chrome 58.0.3029.110

**OS**: Windows 10 v1703

**Clappr Version**: 0.2.27

Hi guys,

I've been currently using Clappr to build a video wall, in which will be displayed CCTV streams in HLS format. There will be at maximum 9 streams displayed, which may come from the same source or from a different one.

My problem is that apparently having 9 displayed streams is eating all browser mem

[2017-06-20 13:44] kslimani commented on #1446
@andrefilipegsilva you may consider directly using hls.js library for this project handling your 9 html5 video elements to reduce as much as possible the memory requirements ?

[2017-06-20 14:15] andrefilipegsilva commented on #1446
@kslimani It's possible but I've adapted my code to work with Clappr...

I'm hoping for a solution within Clappr but if there isn't any, I will follow your suggestion...

[2017-06-20 14:24] bikegriffith commented on #1446
@andrefilipegsilva I'd encourage you to review the hls.js config options very carefully.  `maxBufferLength`/`maxBufferSize` are more of suggestions than real limits.  You can use [maxMaxBufferLength](https://github.com/video-dev/hls.js/blob/master/doc/API.md#maxmaxbufferlength) if necessary to cap.

You might also try to limit the resolution/bitrate of each by specifying the `currentLevel` of the

[2017-06-20 14:24] leandromoreira commented on #1446
How did you set `maxBufferLength` @andrefilipegsilva  ?

[2017-06-20 14:41] andrefilipegsilva commented on #1446
@bikegriffith The thing is that it only reaches such amount of memory usage over time, i.e. 5-10-15 minutes. It is mandatory that my project runs across different browsers, so Edge alone is not an option. Increasing memory is a possibility but I'm trying to solve this issue in a programmatic way rather than in a physical one.

I'm gonna try to use the flags you specified and then I'll share the re

[2017-06-20 14:55] bikegriffith commented on #1446
@andrefilipegsilva You need to nest `hlsjsConfig` inside a `playback` dictionary, e.g.:

[code]

[2017-06-20 14:59] andrefilipegsilva commented on #1446
@bikegriffith I've set the `hlsjsConfig` debug property to true without nesting the `hlsjsConfig` inside the playback and it worked... Is it different for the `maxBufferLength` property?

[2017-06-20 15:09] kslimani commented on #1446
@andrefilipegsilva it worked because of "legacy" reason.

For consistency, i recommend using
[code]
like @bikegriffith suggested.

(_For more details, see [this part](https://github.com/clappr/clappr/blob/master/src/playbacks/hls/hls.js#L144) of HLS playback_)

[2017-06-20 15:13] kslimani commented on #1446
BTW, i see lot of people which require to customize hls.js instance with Clappr player. Maybe it would be a nice feature to introduce, for example, an advanced "before attach media" playback event which allow developer to manipulate hls instance before call attachMedia method ?

[2017-06-20 15:21] andrefilipegsilva commented on #1446
Even while setting correctly the `hlsjsConfig` dictionary within the `playback` with the options `maxBufferLength: 5` and `maxMaxBufferLength: 5` it escalates to over 1.5 GB. Any other ideas? I'm kinda stuck...

[2017-06-20 15:44] kslimani commented on #1446
@andrefilipegsilva maybe you could attempt to either use .mp4 sources or directly test with hls.js to determine if the memory (possible leak ?) comes from Clappr or from hls.js. (_because if memory issues comes from Clappr then tuning hls.js will change nothing, or the inverse will point us to the right direction for additional help_)

[2017-06-20 15:52] andrefilipegsilva commented on #1446
I'm gonna switch to 'pure' hls.js and I'll come back with results.

Thanks!

[2017-06-20 16:58] andrefilipegsilva commented on #1446
I've implemented pure hls.js and the results were better (as expected because there's no additional overhead), but the memory still rises overtime (around 15-20 minutes of spectating) to ~ 1GB and up, and it doesn't stop nor decrease significantly.

I've configured HLS with these parameters:

[code]
If you think this is somewhat unrelated to this project I can also ask this question on hls.js foru

[2017-06-20 17:12] kslimani commented on #1446
Well it seems there is [several issues open](https://github.com/video-dev/hls.js/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20leak) at hls.js about memory leak, but it is hard to say if it is related to your problem.

Debug such issue may be hard. One opened issue suggest to use [this technic](https://stackoverflow.com/a/19726918/2774845) to spot the problem. Maybe you could have a try and att

[2017-06-20 19:11] leandromoreira commented on #1446
It's likely to be something on hls.js based on your tests, so I'll label this as wontfix. Thanks

[2017-06-21 09:07] alexvasiliev opened #1447 "http auth"
is it possible to request hls with basic http auth?
i've tried source url like
"http://login:password@blah/playlist.m3u8" but clappr made request like "http://blah/playlist.m3u8" with no http auth header

[2017-06-21 10:17] leandromoreira commented on #1447
@alexvasiliev does it raises any error on console log? can you try to do the same using this url http://video-dev.github.io/hls.js/demo/ ?

[2017-06-21 10:57] alexvasiliev commented on #1447
Yes, it raises 2 error:

1) GET http://blah/playlist.m3u8 401 (Unauthorized)
2) XMLHttpRequest cannot load http://blah/playlist.m3u8. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://blah' is therefore not allowed access. The response had HTTP status code 401.

full stream from wireshark:
GET /blah/playlist.m3u8 HTTP/1.1
Host: blah
Connection: keep-alive

[2017-06-21 11:00] alexvasiliev commented on #1447
how can i add http auth header to clappr hls request?

[2017-06-21 12:05] kslimani commented on #1447
@alexvasiliev you may needs to setup your own custom loader. Please refer to [https://github.com/video-dev/hls.js/blob/master/doc/API.md#xhrsetup](https://github.com/video-dev/hls.js/blob/master/doc/API.md#xhrsetup).

You can maybe also use fetch api  : [https://github.com/video-dev/hls.js/blob/master/doc/API.md#fetchsetup](https://github.com/video-dev/hls.js/blob/master/doc/API.md#fetchsetup)

[2017-06-21 14:14] leandromoreira commented on #1447
About the  `No 'Access-Control-Allow-Origin' ` you can [setup it correctly](https://github.com/clappr/clappr/issues/703).

[2017-06-21 15:22] alexvasiliev commented on #1447
done by custom loader.
quick solution with config for base http auth:
https://pastebin.com/iN8Gi9Fj

[2017-06-21 15:22] #1447 closed

[2017-06-21 15:22] alexvasiliev commented on #1447
ty for quick answer

[2017-06-22 01:17] JeanSauzem opened #1448 "Stream mp3"
Do you have the mp3 stream in the player?

[2017-06-22 13:16] leandromoreira commented on #1448
Hi @JeanSauzem I think clappr does play mp3. I went to http://clappr.io/demo/ and try the following code.

[code]

[2017-06-22 13:47] JeanSauzem commented on #1448
Hi @leandromoreira "http://104.41.45.119:1935/leadlovers/mp3:Central.mp3/playlist.m3u8" Using the following link, the player is only loading

[2017-06-22 14:10] kslimani commented on #1448
@JeanSauzem the demo page is using Clappr version 0.2.66. I think this playlist should work with version 0.2.67 because it use hls.js 0.7.9 which should properly load your playlist.

[2017-06-22 14:18] leandromoreira commented on #1448
[Mp3 doesn't seem to work on W10](https://github.com/video-dev/hls.js#not-supported-yet) though.

[2017-06-22 14:22] kslimani commented on #1448
@leandromoreira you are correct for Window with IE and Edge. But with Chrome it work.

[2017-06-22 14:27] JeanSauzem commented on #1448
But using m3u8 file with a video works, playlist is just the name of the file, the player does not read m3u8 file containing only audio

[2017-06-22 14:34] kslimani commented on #1448
@JeanSauzem i am aware that playlist.m3u8 is manifest file 😸

As explained above, the Clappr demo page is loading the version 0.2.66 of Clappr player (_which does NOT support your audio playlist because it internally NOT use the latest version of hls.js library_).

To make your audio source to work with Clappr, you need to use the version 0.2.67 (wich uses the latest hls.js library version 0.7.9).

[2017-06-22 14:38] JeanSauzem commented on #1448
Thank you @kslimani

[2017-06-23 13:16] hlozancic opened #1449 "HLS level restart after loop"
**Browser**: any browser

**OS**: any os

**Clappr Version**: latest

**Description**:

Clappr will restart HLS level to 0 after loop even if higher level was loaded during video playback. Check fiddle for more info (http://jsfiddle.net/jL66pops/)

**Steps to reproduce**:

* Check the issue here or follow the steps below: http://jsfiddle.net/jL66pops/
* Load any .m3u8 HLS playlist with at least 2

[2017-06-26 21:20] skylord220 commented on #1419
Suffering from similar issue. In my case source video URL was relative to site root (not absolute). Browser converts it to absolute. Then after playback resume HTML5Video.prototype._setupSrc compares elements' and config source URLs and as they differ (relative from config and absolute from element) - replaces elements' one resulting in video restart.

[2017-06-27 08:47] kslimani commented on #1419
@skylord220 can you provide your browser + os name & version and which Clappr version you are using ?

[2017-06-27 09:01] kslimani commented on #1419
@skylord220 : you are correct, i was able to reproduce the issue. Thank you for report ! 👍

[2017-06-27 09:10] kslimani opened #1451 "video restart after pause"
Issue originally reported by @skylord220 [here](https://github.com/clappr/clappr/issues/1419#issuecomment-311185429) (_but i created a new issue for better tracking_).

In html5_playback : video restart after pause if source loaded from relative/absolute uri path

How to reproduce :

* clone the project
* run dev server (npm run start)

Then simply load a video using a relative or absolute uri pat

[2017-06-27 11:11] leandromoreira commented on #1419
due to #1451 we'll close this one

[2017-06-27 11:11] #1419 closed

[2017-06-27 11:13] #1451 closed

[2017-06-27 16:46] caspermouse opened #1453 "Change player source"
Hello, i have one question for you. Is that possible to change params one defined clappr player with ng-click directives which contains url address, image etc of differents video? If it is, how could I do it.

Thanks for any advice.

[2017-06-27 16:57] kslimani commented on #1453
@caspermouse why not using onclick event instead of Angular ng-click ?

[2017-06-27 17:43] caspermouse commented on #1453
I use ng-click because complete project is in Angular. If i use onclick event i still don't know how to change params. Do you have any advice?

[2017-06-27 17:57] kslimani commented on #1453
It should be possible with angulag to run javascript code (in the scope of controller?) to manipulate a Clappr instance. What exactly are you trying to achieve ? (_i am not an expert of Angular_)

[2017-06-27 18:41] caspermouse commented on #1453
Yes, it is possible. I create instance of clarpp player and thats work well. But when i try to forward another params in that player, on second click, he still shows me player with first source information.

[2017-06-27 19:58] lucasrodcosta commented on #711
Hi everyone!

I just started to work on this feature in a new plugin called [clappr-nerd-stats](https://github.com/lucasrodcosta/clappr-nerd-stats).

It's in a initial version, but I hope to improve it in the next weeks.

[2017-06-27 22:13] kslimani commented on #1453
You can change player options using the `configure()` method without destroying player instance.

For example :

[code]

[2017-06-27 22:39] leandromoreira commented on #711
🙏

[2017-06-28 10:43] caspermouse commented on #1453
@kslimani Thanks for advice

[2017-06-28 21:47] andrefilimono opened #1454 "Resize event in Core Plugin"
Hi!
Can I receive a **RESIZE** event in **Core Plugin**?
As I see in documentation it is possible to receive only a **FULLSCREEN** event, but it does not works in iOS.

[2017-06-29 09:33] kslimani commented on #1454
@andrefilimono by "resize", do you mean player resize or window resize ?

There is also a `Events.CORE_SCREEN_ORIENTATION_CHANGED` available on mobile devices.

[2017-06-29 10:11] andrefilimono commented on #1454
@kslimani I mean player resize. I want to get new player size (width, height) when player enters into full screen (out of full screen) or on orientation change.

[2017-06-29 11:22] kslimani commented on #1454
@andrefilimono you should be able to bind current player instance resize event using this trick :

[code]

[2017-06-29 13:09] andrefilimono commented on #1454
Thanks, it works good!

[2017-06-29 14:52] #1454 closed

[2017-07-04 11:11] #1448 closed

[2017-07-07 12:41] Support-Vezca opened #1457 "Javascript error on FireFox prevents loading player"
**Browser**: FireFox 54.0.1 (64-bit)
**OS**: Windows 10
Clappr version as of 07 July 2017 via https://cdn.jsdelivr.net/clappr/latest/clappr.min.js

[error][MediaControl] error on event mediacontrol:hide trigger - TypeError: this.getCurrentContainer(...) is undefined
Stack trace:
O</e.prototype.onMediaControlShow@https://cdn.jsdelivr.net/clappr/latest/clappr.min.js:1:99569
i@https://cdn.jsdelivr.ne

[2017-07-07 12:52] kslimani commented on #1457
@Support-Vezca can you reproduce the error on http://clappr.io/demo/ ?
(_or in the contrary, can you provide a demo page which reproduce the error ?_)

[2017-07-07 14:37] Support-Vezca commented on #1457
@kslimani everything A+ on the demo page. I recently wrapped the iframe with a jquery fadein script in order to show a spinner until the actual iframe page loads (a html page with its own isolated clappr)... now although one would think this should not impact the iframe page as the fade logic is outside of the iframe html page, but it appears it does have an impact on clappr. I just removed the lo

[2017-07-07 14:49] Support-Vezca commented on #1457
Ok, it works with visibility:hidden.

From the look of things, this appears to be an issue with how Firefox instantiates references to elements, ie if they are set to inline style of display:none at load then things go all pear shaped? or is Firefox following standards stringently and all the other browsers are being a little bit more flexible? no idea, but at least its all working.

Many thumbs u

[2017-07-07 17:49] kslimani commented on #1457
A possible workaround may be to set width and height of the i-frame to 0x0 or 1x1 pixel while loading, and then properly resize it when loaded. (_instead of not display_)

[2017-07-11 03:02] ciclanoio opened #1458 "Play Stream https Wowza"
Is it possible to run secure streaming over https?
When playing secure URL from HLS Streaming the video does not run on Clappr, in VLC for testing purposes, work.

Thanks

[2017-07-11 03:24] Craytor opened #1459 "Enter/Exit Full Screen Programmatically"
**Browser**: Safari (iOS 10)

**OS**: iOS 10

**Clappr Version**: 0.2.25

General question - is it possible to enter and exit full screen programmatically? For instance, is there a function I could run to close out of full screen or vise versa?

Something like ``` player.container.exitFullscreen() ``` - I know that isn't a function, but I'm trying to see if the functionality exists.

Thanks!

[2017-07-11 10:53] leandromoreira commented on #1458
@ciclanohost yes, you should be able to play stream over https with clappr (and with almost any other player).

Can you post the streaming you're trying? Maybe you're facing [an issue with your https headers](https://github.com/clappr/clappr/blob/master/doc/TROUBLESHOOTING.md#common-steps-to-verify-issues), mostly [the cors](https://github.com/clappr/clappr/issues/703).

[2017-07-11 11:23] kslimani commented on #1459
@Craytor on mobile device, enter fullscreen of video must be initialized with a user action, meaning a tap or click.

The mediaControl component has a `toggleFullscreen` method. You can experiment it at [demo page](http://clappr.io/demo/) using the following code example :

[code]

[2017-07-11 23:46] Craytor commented on #1459
@kslimani Perfect, thank you - exactly what I was looking for. This should be better documented IMO.

[2017-07-11 23:46] #1459 closed

[2017-07-12 21:21] hijuuijj opened #1461 "M3U support"
Is there any way to open M3U playlists directly via Clappr?
Like this one: http://net1.cope.stream.flumotion.com/cope/net1.mp3.m3u

(the M3U contains the IP/MP3 address)

[2017-07-12 23:09] JohnMorra opened #1462 "How to Play streams URL without extensions"
any chance to play live streams without .m3u8?
for example: http://193.32.36.27:8005

regards John

[2017-07-13 00:48] flavioribeiro commented on #1462
yep you just need to pass the right mimetype to help clappr use the right playback. The HLS playback is expecting `application/x-mpegURL` or `application/vnd.apple.mpegurl`.

refs https://github.com/clappr/clappr/issues/399#issuecomment-98272930

[2017-07-13 13:22] hijuuijj commented on #1462
[code]

I added this code but it doesn't work. What am I doing wrong?
Thanks in advance.

[2017-07-13 13:34] ciclanohost commented on #1458
@leandromoreira  I receive this in logs:
Streaming URL:  https://videos.ciclano.io:1443/demovod/demovod/mp4:sample.mp4/playlist.m3u8
URL PLAYER: [](https://videos.ciclano.io/embed/demovod?m=3246cddb2fd84ca)
or here to print all logs: [](http://developer.ciclano.io/player_ciclano_hash)
[error][hlsjs: unrecoverable network fatal error, evt hlsError, data [object Object] ]

[2017-07-13 13:44] leandromoreira commented on #1462
@hijuuijj you're not passing an hls streaming.

[code]

What kind of content is returned by this url: `mp4`, `mpeg-ts` ??

[2017-07-13 14:04] leandromoreira commented on #1458
@ciclanohost it seems that you're using https (supposed to be at `port 443`) with another port, try to stick with 443 and try it again.

When I tried to get the content from the url you provided (/playlist.m3u8) it didn't work.

[code]

[2017-07-13 14:05] kslimani commented on #1458
* you **can** play an https stream on an http page (_with CORS headers enabled on server_)
* you **cannot** play and http stream on an https page. (_even with CORS, most browsers will block the requests_).

[2017-07-13 14:08] kslimani commented on #1462
sound like icecast audio (audio/mpeg) :

[code]

[2017-07-13 14:12] leandromoreira commented on #1462
Cool @kslimani, @JohnMorra I tried at http://clappr.io/demo/ and it seems to work.

[code]

[2017-07-13 14:17] kslimani commented on #1458
BTW, it is because it is either a self-signed HTTS certificate, or maybe when you configured your server ssl certificate you missed to add the chain certificate.

with curl `-k` (insecure) option flag, it return an hls manifest :

[code]

[2017-07-13 14:19] leandromoreira commented on #1458
Probably @kslimani is right!

[2017-07-13 14:43] hijuuijj commented on #1462
Thank you. Works adding `mimeType: "audio/mpeg",`

[2017-07-13 14:51] #1462 closed

[2017-07-13 15:08] kslimani commented on #1462
@hijuuijj just use curl :

[code]

--> **content-type:audio/aacp**

[2017-07-13 16:53] ciclanohost commented on #1458
@kslimani  Thanks for your help. Yes CORS is enable to *

When I play the URL in an external player like VLC it works. Only when the web player does not run.
I have tested with the certificate issued by wowza and I have the same result.
I also tested on transparent port at 443.

My scenario is:

A web server with geotrust certificate at 80 and https at 443
Wowza server in 1935 and https in 1443
Bo

[2017-07-13 17:04] kslimani commented on #1458
I see. You could configure the ssl certificate only on https port (443) of web server which proxy to wowza port 1935. Then you don't need to configure https on Wowza.

Here an Nginx example configuration :

[code]

[2017-07-13 18:20] JohnMorra commented on #1462
hmmm my url doesnt work with this methods.....

[2017-07-13 18:24] ciclanohost commented on #1458
@kslimani  I rebuilt the test here using just wowza and no longer the web server, using the wowza provided certificate itself:

Page:
https://57aca11f8a004.streamlock.net:9443/tests/index.html

Stream:
https://57aca11f8a004.streamlock.net/demovod/mp4:sample.mp4/playlist.m3u8

I've noticed that if Chrome or Firefox does not work, but Safari runs Clappr.

[2017-07-13 18:52] kslimani commented on #1458
It seems you have an issue with your ssl certificate. The page is hosted on domain streamlock.net but your ssl certificate is *.ciclano.io, ciclano.io which is why it does not work.

[2017-07-13 18:58] kslimani commented on #1462
It seems your stream is mpeg-ts over http ([Cesbo Astra server](https://cesbo.com/en/astra/)), i don't think it is supported by browser.

[2017-07-14 00:28] JohnMorra opened #1464 "Dailymotion live?"
Hi! I cant load stream from dailymotion.
http://stream-15.dc3.dailymotion.com/47/dm/1/x2yclwl/live.isml/events(live-1499294360)/live-audio=128000-video=1260000.m3u8

Im trying with this config but player is not even loading white screen when editing in html. Any ideas?

<script type="text/javascript" src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js"></script>
<script type="text/javascript

[2017-07-14 00:49] leandromoreira commented on #1464
what is the error?

[2017-07-14 06:31] JohnMorra commented on #1464
How i can chceck errors?

[2017-07-14 12:16] kslimani commented on #1464
This Dailymotion manifest URL is "protected", (_i will not detail how_) you probably have a 403 Forbidden error when attempting to load source.

[2017-07-14 13:07] ciclanohost commented on #1458
@kslimani

1) I just informed that I tested with both certificates, both wowza and ours. In any of them I get the error.

2) Thank you I'll keep doing tests.

[2017-07-14 15:27] JohnMorra commented on #1464
source is geo locked as far as i know but for different country i am staying right now.  I don't know about any protection but i used to load this stream before just know i doesn't work

[2017-07-14 17:23] #1464 closed

[2017-07-15 08:39] Abdel-ilah opened #1465 "m3u8 with extension code"
hello developers,
i try to play m3u8 url on clappr, but this url has an extension code after .m3u8
like:
`http://93.174.93.84:8081/live/bein11-hq/chunks.m3u8?nimblesessionid=54038635&wmsAuthSign=c2VydmVyX3RpbWU9Ny8xNS8yMDE3IDc6MTQ6MDcgQU0maGFzaF92YWx1ZT14YjhLWEhUQ3BNUGpNaWhhYVpZY1ZRPT0mdmFsaWRtaW51dGVzPTYwJmlkPTE4OC4xMTQuMTEwLjE4JnN0cm1fbGVuPTE0`

But it work on PotPlayer.exe & VLC
What is this co

[2017-07-15 09:03] kslimani commented on #1465
@Abdel-ilah your stream url is returning a "403 Forbidden" http error code. (_well at least from my location_).

Just go to [Clappr demo page](http://clappr.io/demo/) : open browser dev. tools (_should be **F12** key_) and click on "network tab". Then enter the following javascript code in page and click on "run" button.

[code]

Do you get also a 403 network error ?

[2017-07-15 09:27] Abdel-ilah commented on #1465
Thank you kaslimani
yes, it's work fine
can you try with this please?
`https://7dkwdw.mycloud.to/1/ZEWphKzr2joqPWgt132ihg/0/d/m/o/dqo4mw/hls/360/360.m3u8?e=1500116400`

[2017-07-15 22:23] kslimani commented on #1465
The server for `https://7dkwdw.mycloud.to/1/ZEWphKzr2joqPWgt132ihg/0/d/m/o/dqo4mw/hls/360/360.m3u8?e=1500116400` does not send "CORS" headers in response. This is why it does not work.

Just try your URL on Clappr demo page while having browser dev. tools console open (_you will see the error messages_).

[2017-07-16 06:51] RussellSk opened #1467 "How to force Clappr player to stay fullscreen after change video?"
How to force Clappr player to stay fullscreen after change video?
I write a function that triggered on PLAYER_ENDED event, function loads next video with this `load` method:

    enter code here`enter code here`player.load([{source: 'video_url_exmpl'}], null, true);

But when event was triggered and the new video loaded player cancels Fullscreen mode. I set up option:

    exitFullscreenOnEnd: fal

[2017-07-16 11:05] kslimani commented on #1467
@RussellSk , please note that `playInline` and `recycleVideo` are [playback options](https://github.com/clappr/clappr/blob/master/doc/BUILTIN_PLUGINS.md#playback-configuration). (_and therefore must be passed in 'playback' property_).

The Player `exitFullscreenOnEnd` option is handled by an internal plugin called [end_video](https://github.com/clappr/clappr/blob/master/src/plugins/end_video.js) w

[2017-07-16 13:37] RussellSk commented on #1467
@kslimani Thank you for your reply, but how can I load in HTML5 next video or change video "on the fly" without reloading core of the player and therefore stay in Fullscreen mode? Tell me where to start digging...
Or it is impossible?

[2017-07-16 13:39] Abdel-ilah commented on #1465
Thank you

[2017-07-16 16:39] kslimani commented on #1467
@RussellSk go to [Clappr demo page](http://clappr.io/demo/) and try the following code :

[code]

Please note this code is an ugly trick which *may* let some player components (_like plugins_) in an inconsistent state. This work only if source are in same format (_ie: all source are .mp4 files_).
But should give you some hints to where to start to dig.

[2017-07-16 16:55] kslimani commented on #1467
Another approach could be also to create one or several Playback plugin which can take a list of video as option and play video one after one. (_without using core.load() and working directly with html5 video element_).

[2017-07-16 16:59] towerz commented on #1467
We're working on a change in the internal player structure to prevent destroying the playback in most cases.

Actually, we already have done this partially in our chromecast implementation, and we’ll probably port this back into Clappr this week. We just need to ensure the new behavior won’t break anything.

[2017-07-17 07:27] RussellSk commented on #1467
@kslimani Thank you for your help, your example solve the issue. :)
@towerz How can I contribute to the project, what can I do? If you have some exercises.

Thanks.

[2017-07-17 08:44] aditya0711 opened #1468 "Picture-in-picutre source error issue"
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)

**OS**: FILL WITH YOUR OS (ex: Mac OS 10.11.1, iOS9, android4.5)

**Clappr Version**: 0.2.26

Hey, Im running a custom build of Clappr, and we are working on PiP solution based on earlier implementation of pip done by clappr developers.

Following the old architecture, I created a new container for

[2017-07-17 10:01] RussellSk commented on #1467
@kslimani I'm sorry for asking you again but when I'm using .**m3u8** format, the player plays everytime the same source URL... Without changing, Is there some additional function in Clappr that extract valid url for core?

[2017-07-17 11:25] hijuuijj opened #1469 "How to open this Flumotion M3U8 with Clappr?"
I need to open this Flumotion HLS via Clappr http://rbetis-hls.flumotion.com/rbetis/live/.m3u8
It can be opened without problems via https://www.hlsplayer.net/
It's Crossdomain's issue? do I need a special parameter?

Thanks in advance.

[2017-07-17 11:31] leandromoreira commented on #1469
@hijuuijj because the URL is returning `403 Forbidden`.

![screen shot 2017-07-17 at 8 30 54 am](https://user-images.githubusercontent.com/55913/28266274-4f6cf0b2-6aca-11e7-92ec-de91f1b55284.png)

[2017-07-17 11:50] hijuuijj commented on #1469
403 error is due geo-blocking, right? I tried with TunnelBear VPN before opening this post but I can download the m3u8 file. Have you tried with https://www.hlsplayer.net ?
However I can't open it with Clappr for some reason.

[2017-07-17 12:17] kslimani commented on #1467
@RussellSk

Updated code for hls playback :

[code]

[2017-07-17 12:27] kslimani commented on #1469
@hijuuijj you must understand that player is internally using an [XMLHttpRequest](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest) to download m3u8 file and therefore is affected by server CORS policy.

hlsplayer.net is using flash for video playback and therefore is not affected by CORS policy.

For getting same behaviour, you may wants to force Flash HLS playback in Clappr player

[2017-07-17 13:50] ibarisic05 commented on #1449
+1

[2017-07-17 13:51] Sheby commented on #1449
I have the same problem, any word on this?

[2017-07-17 14:36] hijuuijj commented on #1469
@kslimani I forgot to say that I already tried [Clappr.FlasHLS] and CORS Toggle (for Chrome)
None of them work ... neither from the Clappr demo page.

[2017-07-17 14:55] leandromoreira commented on #1469
@hijuuijj what is the error?

[2017-07-17 15:07] kslimani commented on #1449
It should be possible to partially fix this issue, but keep in mind that it will be only if player is using HJSJS playback. For native playback (iphone for example) i am not sure we can change the default behaviour.

[2017-07-17 15:08] hijuuijj commented on #1469
No error message.. just loading... how to see the error from Clappr?
Grind Player shows this error:

Error:
Message: Security error when loading media
Detail: Cannot load M3U8: crossdomain acces denied:Error #2048

(however I can open the video from https://www.hlsplayer.net. It uses Grind Player too).

[2017-07-17 15:10] kslimani commented on #1469
I remember talked with @towerz about Flash detection is broken in Chrome. (_dunno if fixed yet_).

Could you try my example code with another browser (_For example, Firefox with Flash plugin installed_).

[2017-07-17 16:22] leandromoreira commented on #1469
@hijuuijj this shows that you're not serving the [`/crossdomain.xml`](http://www.adobe.com/devnet/adobe-media-server/articles/cross-domain-xml-for-streaming.html) on your site and I also could not play the stream `http://rbetis-hls.flumotion.com/rbetis/live/.m3u8` on https://www.hlsplayer.net

[2017-07-17 17:05] kslimani commented on #1469
@leandromoreira that is weird, the stream is working for me on demo page with the [javascript example](https://github.com/clappr/clappr/issues/1469#issuecomment-315741519) i provided.

[2017-07-17 20:35] hijuuijj commented on #1469
@kslimani Yes, it works with Firefox... not with Chrome

[2017-07-17 22:21] kslimani commented on #1469
It does not work with Chrome because the Flash plugin detection is currently broken.

[2017-07-18 08:01] hlozancic commented on #1449
Tried without clappr using only HLSJS

http://jsfiddle.net/jL66pops/1/

Same issues... How to configure HLSJS to continue playing loaded level?

[2017-07-18 08:13] kslimani commented on #1449
@hlozancic there is a [`startLevel`](https://github.com/video-dev/hls.js/blob/master/doc/API.md#startlevel) configuration option and a property in HLSJS which allow you to configure default star level. Since Clappr is listening to hls [LEVEL_SWITCH](https://github.com/video-dev/hls.js/blob/master/doc/API.md#runtime-events) event, i think it is possible to create a feature to keep current level and

[2017-07-18 08:17] hlozancic commented on #1449
I'm already using startLevel config... Will try to listen on level_switch and set level manually to higher when switched or something... Will send fiddle later today

[2017-07-18 08:22] kslimani commented on #1449
using startLevel config isn't enough, you have to lisent to LEVEL_SWITH event.

For example, let's suppose you set start level to 1, then video play, and for an XYZ reason player switch to level 0 at end, then on loop video will start from level 1 instead of level 0.

This is why i think a solution is to listen to LEVEL_SWITCH event to store the current level, and set it as startLevel **only** if

[2017-07-18 17:31] Abdel-ilah opened #1470 "How to Play video located on Google drive?"
Hi, i try this but nos not work with my:

`var player = new Clappr.Player({
source: "https://drive.google.com/file/d/0B9triytxOLMnU1RwY0pRbVhqaVk/view?usp=sharing",
mimeType:"video/mp4",
parentId: "#player",`

Thank you for help

[2017-07-18 17:57] UnitedPeace opened #1471 "HLS Live stream captions not working correctly"
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)
All browsers
**OS**: FILL WITH YOUR OS (ex: Mac OS 10.11.1, iOS9, android4.5)
All os
**Clappr Version**: latest, 2.66-2.68

Running a m3u8 live stream with ts encoded captions does not work with clappr, tested on demo page and external. It does work on hls.js demo page https://video-dev.github.io/hl

[2017-07-18 18:09] kslimani commented on #1471
@UnitedPeace can you provide a live stream url where i could reproduce the issue ?

[2017-07-18 19:02] UnitedPeace commented on #1471
https://tental.com/m3u8test/main.m3u8

[2017-07-19 00:01] leandromoreira commented on #1470
This url seems to be an html `Content-Type: text/html; charset=utf-8`

[2017-07-19 01:49] Abdel-ilah commented on #1470
it's possible to play this url?

[2017-07-19 02:08] leandromoreira commented on #1470
@Abdel-ilah this URL seems to generate a dynamic URI to the mp4 file, for instance, your URL resolves dynamically to the example down below, although **this example works** you'll need to figure out how to extract the `mp4` from **your** sharing google drive file.

[code]

[2017-07-19 08:45] kslimani commented on #1471
@UnitedPeace the http server does not send CORS headers in responses, i could not load the manifest with Clappr.

[2017-07-19 09:20] uniquegodwin commented on #1225
+1 Facing the same issue. Please fix this. its a serious bug if the player crashes and freezes when there is no stream. Atleast keep the autoreconnect=true as an option.

[2017-07-19 09:42] kslimani commented on #1225
This issue should be fixed. You should be able to handle [playback error](https://github.com/clappr/clappr/blob/master/doc/PLAYER_ERRORS.md) using event api.

[2017-07-19 11:02] leandromoreira commented on #1225
please @uniquegodwin can you try the @kslimani suggestion?

[2017-07-19 11:04] leandromoreira commented on #1471
Clappr (HLS.js) requires you to send CORS on HTTP response header @UnitedPeace.

[2017-07-19 11:28] uniquegodwin commented on #1225
Sure, I will but how do you force it to replay the same source? By player.play(); or this.play()?

[2017-07-19 11:28] uniquegodwin commented on #1225
or player.load(source);?

[2017-07-19 11:35] leandromoreira commented on #1225
@uniquegodwin the second example at @kslimani link shows, I think, what you want 😃

[2017-07-19 11:44] uniquegodwin commented on #1225
ah ok, didn't notice that. Will try it ...Thanks..

[2017-07-19 11:52] kslimani commented on #1225
@uniquegodwin the player `play()` method  is used to start the source configured in player.

Using the same player instance you can (re)load the same (_or another source_) using the [`configure()`](http://clappr.github.io/classes/Player.html#method_configure) or directly the [`load()`](http://clappr.github.io/classes/Player.html#method_load) method.

If you specify the `source` parameter in object

[2017-07-19 21:14] UnitedPeace commented on #1471
@kslimani @leandromoreira Sorry about that, here is an updated url with cors *

https://www.tental.com/m3u8test/main.m3u8

[2017-07-20 09:42] kslimani commented on #1471
Thank you @UnitedPeace ! I can reproduce the issue with the provided source. I will use it to debug and attempt to fix the issue.

[2017-07-20 18:49] #1471 closed

[2017-07-26 16:59] JeanSauzem opened #1474 "Streaming de video using codec mp3 is audio bad"
var playerElement = document.getElementById("player-wrapper");

var player = new Clappr.Player({
  source: 'http://tv01.logicahost.com.br:1935/tvrionorte/tvrionorte/playlist.m3u8',
  height: 360,
  width: 640
});

player.attachTo(playerElement);

The present video transmission has bad audio in the Clappr player

[2017-07-26 17:36] leandromoreira commented on #1474
Hi @JeanSauzem I couldn't test your stream =( what are the characteristics of this issues?

[2017-07-26 18:06] kslimani commented on #1474
@JeanSauzem the problem is not related to Clappr. It comes from either the encoder or the reception (_if live tv channel_).

[2017-07-27 09:02] PreDeToR opened #1475 "Clappr.Events.PLAYER_TIMEUPDATE"
Hi Guys

It seems this event doesn't trigger for playback on iOS devices.
Is there anyway to enable it or should I be looking at another event?

Regards
Danie

[2017-07-27 09:30] alimohammed opened #1476 "Error with subtitle if one of lines is empty."
Hi Guys

I'm using clappr for my website and there's a problem with subtitle.
Clappr won't view subtitle if the subtitle text is empty like the example below
From srt file:

[code]

as you see at **151** there was no text so whenever srt parser come to this line all subtitles after this line won't appear.

you can find a copy of subtitle file here: [Subtitle file](http://esite-iq.com/clappr/subtit

[2017-07-27 10:02] areeb111 commented on #1476
I have the same issue

[2017-07-27 10:58] kslimani commented on #1476
If you are using "externals tracks" feature, it is handled by the browser. Clappr only create the proper [`<track>` element(s)](https://developer.mozilla.org/en/docs/Web/HTML/Element/track). So i don't think it is related to Clappr. (_you should get the same behaviour even without Clappr_).

I am not an SRT expert, but i think you must not add additional blank lineq. This [script](https://gist.git

[2017-07-27 11:40] alimohammed commented on #1476
@kslimani I'm using Clappr-subtitle as plugin, and I tried another media player and it's skipped the blank line and show the next subtitle.
I'll try to put the same issue to Clappr-subtitle repo.

[2017-07-27 12:02] PreDeToR commented on #1475
@kslimani sorry, it seems the problem is more targeted to hls live streams, where its not triggering the TimeUpdate events.

Any ideas what I can try?

[2017-07-27 16:50] kslimani commented on #1476
@alimohammed AFAIK, SRT format is not supported by Clappr player, so it may be an issue with clappr-subtible external plugin. (_are you talking about [this one](https://github.com/JMVTechnology/Clappr-Subtitle) ?_)

Also, WebVTT subtitles support has been added recently in Clappr latest version.

[2017-07-27 19:35] alimohammed commented on #1476
@kslimani OK I'm going to try the latest version with webvtt.
Thank you for your reply.

[2017-07-27 21:26] areeb111 opened #1477 "Closed captions button does not show up & no default track available"
**Browser**: Version 59.0.3071.115 (Official Build) (64-bit)
**OS**: Win 10 - 64 Bit
**Clappr Version**: 0.2.71

Hi,
I have tested the closed captions feature with Arabic WebVTT subtitles and i got the following issues:

1. "CC" button is hidden when i have checked the CSS props with developer tools i found that is caused by `display: none`, When removing this `none` value it's working fine (Check

[2017-07-27 21:39] asalas1994 opened #1478 "Error al cargar streaming http, contenido bloqueado"
Tengo un problema al cargar streaming en clappr, sale el siguiente error clappr.min.js:1 Mixed Content: The page at 'https://XXXXXXXX.com' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://iphone.rtpa.stream.flumotion.com/rtpa/tv-iphone/main.m3u8?sd=10&rebase=on'. This request has been blocked; the content must be served over HTTPS.

He leído algunos artículos sobre

[2017-07-27 22:56] hijuuijj commented on #1478
Este canal funciona perfectamente en photocall.mooo.com

[2017-07-27 23:43] leandromoreira commented on #1478
@asalas1994 I'll need to answer you in English mostly because most of the clappr's users can read and write in English.

You need to make both HTTP or both HTTPS (actually your site can be http and streaming can be https)

[2017-07-27 23:54] kslimani commented on #1477
By default, CC is set to disabled. There is no "autoselect" or "selected by default" feature implemented yet. (_so default: true has no effect. Thought it should be possible to implement such feature. I will try to have a look_).

About CC button not showing, could you try to add the `crossOrigin` parameter ? :

[code]

[2017-07-28 00:02] kslimani commented on #1478
@leandromoreira is right : you can load an https video source from an http page, but you can't load an http video source from an https page (_it will be automatically blocked by browser_).

[2017-07-30 16:16] hijuuijj opened #1479 "Is there any way to open this M3U8 via Clappr?"
http://livecdn1.news.cn/cncen/manifest.m3u8

It can be opened using Android/iOS devices, Microsoft Edge and Native HLS Playback for [Chrome](https://chrome.google.com/webstore/detail/native-hls-playback/emnphkkblegpebimobpbekeedfgemhof) or [Firefox](https://addons.mozilla.org/en-US/firefox/addon/native-hls/).
Can I skip the crossdomain?

[2017-07-30 16:31] leandromoreira commented on #1479
@hijuuijj please try to follow the guideline https://github.com/clappr/clappr/blob/master/doc/BEFORE_OPEN_AN_ISSUE.md so we can try to help you 😃

[2017-07-30 16:49] hijuuijj commented on #1479
Nice. Cors plugin solved the problem.
I have found the original source too: http://livecdn1.news.cn/www/cncen.html

Some of your links of "common steps to verify issues" doesn't work, like "hls.js demo page"

http://streambox.fr/mse/demo/
http://streambox.fr/mse/hls.js-0.7.9/demo/

[2017-07-31 01:46] yudiastira opened #1480 "FlasHLS locate .swf to local domain"
Hello sir,

FlasHLS doesn't locate .swf to baseUrl.
Here my code :
[code]
When i view console network tab, it's request url to http://localhost/[number].swf
Not to http://localhost/dist/[number].swf

Thank you before

[2017-07-31 06:43] kslimani commented on #1480
Indeed, i can reproduce the bug on demo page. 👍

Please @yudiastira could you try your code with Clappr version 0.2.69 and report if it is working ?

[2017-07-31 07:00] kslimani commented on #1480
It seems that the `"data"` property rendered `<object>` element is not filled with proper assets path.
It may be related to [this commit](https://github.com/clappr/clappr/commit/6f18eaaa4e3cea670ef293747ee402db20e468c6#diff-0f8ba69a22926775b13e364cd114913bR32) -  @towerz what do you think ?

[2017-07-31 08:38] PreDeToR commented on #1475
UPDATE: I did get the onTimeUpdate event to trigger.
Thanks for the help.

[2017-07-31 08:38] #1475 closed

[2017-07-31 08:54] nontonto commented on #1480
0.2.69 is request to http://localhost/809981e5b09d5336c45d72d0869ada2a.swf
not to http://localhost/dist/809981e5b09d5336c45d72d0869ada2a.swf

[2017-07-31 19:36] GuangJianLee opened #1481 "Why didn't my clappr player control the fullscreen in iframes"
var playerEl = document.getElementById("player");
    var player = new Clappr.Player({
    	source: "$id",
    	height:"480",
    	width:"1000",
    	autoPlay: true,
      position: 'top-right'
});

    player.attachTo(playerEl);

[2017-08-01 01:13] GuangJianLee commented on #1481
#
![20170801091218](https://user-images.githubusercontent.com/3849139/28805000-7c8c3096-7699-11e7-8d6b-69d1727fa53a.png)
When the HLS streaming is broadcast live, there is no full screenbutton

[2017-08-01 08:22] kslimani commented on #1481
Hello, @GuangJianLee in order to help you we need you to provide some informations :

* Which version of Clappr player are you using ?
* Which OS and Browser names and versions ?
* Can you reproduce the bug on Clappr [demo page](http://clappr.io/demo/) ?
* If not, can you provide a demo page ?

See also [this guide](https://github.com/clappr/clappr/blob/master/doc/BEFORE_OPEN_AN_ISSUE.md).

[2017-08-01 14:15] towerz commented on #1480
@kslimani actually, the commit didn't change the asset path, just added a new parameter.

I just found out the cause, the swf path is being defined before setting `this._baseUrl`.

[2017-08-04 19:05] firofame opened #1483 "m3u8 not working"
[code]

why is this code not working?

[2017-08-04 21:14] UnitedPeace commented on #1483
Because your has security to block requests from other websites, otherwise known as cross origin policy.

[2017-08-04 21:16] UnitedPeace commented on #1481
It is likely you have embed the clappr player in an iframe and did not add the allowfullscreen="true" tag to the iframe.

[2017-08-04 21:17] firofame commented on #1483
what about this source:
http://smumcdnems03.cdnsrv.jio.com/jiotv.live.cdn.jio.com/Star_Vijay/Star_Vijay.m3u8

[2017-08-04 21:25] UnitedPeace commented on #1483
That one uses the same security.

[2017-08-04 21:28] firofame commented on #1483
any idea how this is done:
tv-live.in/wp-content/uploads/tv-online/Channel/India/Channel/Star%20Vijay-l1.php

[2017-08-04 23:11] leandromoreira commented on #1483
@firofame it's a security feature on the browsers, you must [setup the CORS headers](https://github.com/clappr/clappr/issues/703) in your CDN / server (the nodes which serve your stream [.m3u8]), that's why it works in the last example you provided:

![screen shot 2017-08-04 at 8 04 58 pm](https://user-images.githubusercontent.com/55913/28990112-96b9fff2-7950-11e7-9cd0-9fa3424af2e1.png)

And when

[2017-08-05 02:49] firofame commented on #1483
is it normal that the link is still working using vlc, ffmpeg, and browser plugins?
eg: https://chrome.google.com/webstore/detail/native-hls-playback/emnphkkblegpebimobpbekeedfgemhof

is there any workaround CORS, since i dont have access to the server.

[2017-08-05 03:08] leandromoreira commented on #1483
@firofame you can use the `flashls` playback (as shown in the code below) but then you might have another issue which is related to `crossdomain.xml` file. Anyway, I think the service / CDN you use to stream must have the option to change HTTP response headers.

[code]

[2017-08-05 03:49] firofame commented on #1483
@leandromoreira Thank you so much, i was stuck at this for almost 2 wreaks now.

fixed it with a simple WordPress plugin: https://wordpress.org/plugins/flowplayer5/

[2017-08-08 22:43] mostafa6765 opened #1484 "plugin support problem"
**Browser**: Chrome Version 60.0.3112.90 (Official Build) (64-bit)

**Clappr Version**: 0.2.71

**No plugin support**:

* first step
[code]
* that time no result found . that mean when i add any plugin not working anything . empty browser.
* I was expecting X but instead it shows Y

[code]

[2017-08-08 23:20] leandromoreira commented on #1484
Hi @mostafa6765 can you post your entire example? including the headers?

[2017-08-09 00:59] mostafa6765 commented on #1484
solved. thanks for quick response.

[2017-08-09 01:34] #1484 closed

[2017-08-09 14:37] alexvasiliev opened #1485 "feature screenshot"
Is there any method, that i can use to get a screenshot of current video source(with original video resolution, not current player size) from clappr?

[2017-08-09 15:33] thiagopnts commented on #1485
clappr doesn't have any methods for that, but you can achieve that by drawing the video element to a canvas and use `canvas.toDataURL()`[1] to get an image

[1] https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL

[2017-08-09 16:11] alexvasiliev commented on #1485
ty for quick answer

[2017-08-09 16:11] #1485 closed

[2017-08-10 08:29] Johnpraveenkumar commented on #1483
Hai @firofame did you solved your issue?....i am having same problem.

[2017-08-10 09:08] firofame commented on #1483
@Johnpraveenkumar i couldn't solve it. I think using flashls is the solution. please post a sample code if you manage to solve it.

there is no CORS issue when implementing in native. i successfully implemented the code in android and published the app without any issues.

[2017-08-11 08:14] nk576 opened #1487 "Why Did Clapper is not showing M3U8 Stream in Firefox Browser !"
**Browser**: Firefox Version 40.0

**OS**: Window 10

**Clappr Version**: 0.2.25 (LATEST)

M3U8 Stream in Clapper is  working perfectly in Google Chrome, Microsoft Edge, Android Browser....

But not working for Firefox Browser !

I am using Latest Version of Clapper...

Kindly, Help me to Fix it

[2017-08-11 08:26] kslimani commented on #1487
Hello @nk576 ,

Is _"Firefox Version 40.0"_ a typo error ? (Latest version of Firefox on Windows should be something like 54 or greater) : if you really use version 40, i suggest you to upgrade version.

Otherwise, have you tried your .m3u8 manifest on [Clappr demo page](http://clappr.io/demo/) ?

[2017-08-11 09:10] nk576 commented on #1487
![2017-08-11_1408](https://user-images.githubusercontent.com/30923481/29207221-c109d6da-7e9e-11e7-8115-bb07cab292a5.png)

[2017-08-11 09:20] nk576 commented on #1487
Yes, Firefox Browser was outdated.... was not auto updating ! (Showing Upto Date)

Thanks Alot for Up Helping

New One is 55.0.1

![2017-08-11_1418](https://user-images.githubusercontent.com/30923481/29207577-1b50b4a0-7ea0-11e7-9231-98b35a8f4fe0.png)

[2017-08-11 10:35] kslimani commented on #1487
@nk576 did Firefox upgrade solved your issue ?

[2017-08-11 10:49] nk576 commented on #1487
yes.. done

thanks

[2017-08-11 10:53] #1487 closed

[2017-08-15 00:03] deepch opened #1488 "Auto seek Clappr"
seek worked only loaded video?
I can use seek not load video?

[2017-08-15 01:05] kslimani commented on #1488
If you want to "auto seek" video on load, take a look at the `autoSeekFromUrl` player option.

[2017-08-15 01:22] deepch commented on #1488
I tried it but I could not use it.

[2017-08-15 01:27] deepch commented on #1488
var player2 = new Clappr.Player({source: "http://171.25.233.50:8080/api/v1/stream/test/nvr/hls/1502715600/7200/index.m3u8?t=120",

I add ?t=120 and autoStartLoad: true,

not working on hls?

[2017-08-15 01:55] kslimani commented on #1488
@deepch i think that `t` query parameter must be on page url, not on source url.

[2017-08-15 08:27] deepch commented on #1488
So I tried the same and the same does not work.

http://ipeye.ru/test2.html?t=200

[2017-08-15 11:53] kslimani commented on #1488
@deepch : thank you for providing demo page! I can confirm there is a little bug with player. It seems that playback is trying to seek video too soon. It is strange because it was working before.

In the meantime that feature is check and eventually fixed, please try the following workaround :
_(or adjust to your needs.)_

[code]

[2017-08-16 17:20] GuangJianLee commented on #1481
Clappr is http://cdn.jsdelivr.net/gh/clappr/clappr@latest/dist/clappr.min.js
OS  windows 7   Browser is chrome 59.0.3071.115
I'm sorry I forgot.My player is in the iframe, I've checked the relevant issues, it's like the iframe can't be full screen and this is a question of js?

[2017-08-16 22:37] kslimani commented on #1481
@GuangJianLee if Clappr player is loaded from an iframe, you must set the iframe [`allowfullscreen`](https://developer.mozilla.org/en/docs/Web/HTML/Element/iframe) attribute to true like @UnitedPeace suggested.

[2017-08-17 01:54] leandromoreira commented on #1481
[code]

[2017-08-17 12:19] GuangJianLee commented on #1481
Sorry, I also joined allowfullscreen= "true", but the problem is still the same. It turned out that my player was nested below two iframe. Then the parent iframe and the child iframe are set with allowfullscreen= "true" to display the full screen button. @UnitedPeace ，@kslimani @leandromoreira Thank you!

[2017-08-18 15:32] #1481 closed

[2017-08-18 17:20] #1046 closed

[2017-08-18 17:20] #1139 closed

[2017-08-18 17:20] #1161 closed

[2017-08-18 17:20] #1194 closed

[2017-08-18 17:20] #1227 closed

[2017-08-18 17:20] #1229 closed

[2017-08-18 17:20] #1233 closed

[2017-08-18 17:20] #1234 closed

[2017-08-18 17:20] #1238 closed

[2017-08-18 17:20] #1248 closed

[2017-08-18 17:20] #1393 closed

[2017-08-18 17:20] #1436 closed

[2017-08-18 17:20] #1437 closed

[2017-08-18 17:20] #1446 closed

[2017-08-18 17:20] #1469 closed

[2017-08-18 17:20] #1470 closed

[2017-08-18 17:20] #1479 closed

[2017-08-18 17:20] #1483 closed

[2017-08-18 17:30] tjenkinson commented on #1437
Will forever be a mystery

On 18 Aug 2017, at 19:20, Leandro Moreira <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #1437<https://github.com/clappr/clappr/issues/1437>.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/clappr/clappr/issues/1437#event-1212261610>, or mute the thread<htt

[2017-08-20 16:06] m0n1sh commented on #1483
@firofame  Did you solve the issue, if yes please reply.

[2017-08-20 16:08] firofame commented on #1483
No

[2017-08-20 16:12] m0n1sh commented on #1483
please connect here https://www.facebook.com/monishkumarmv

[2017-08-20 16:15] m0n1sh commented on #1483
i have a solution but it had some issues so i need to discuss.

[2017-08-20 16:24] m0n1sh opened #1490 "i tried iframing a source it work fine in some sites,but when i iframed it. I get "example domain error""
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)

**OS**: FILL WITH YOUR OS (ex: Mac OS 10.11.1, iOS9, android4.5)

**Clappr Version**: 0.2.25

**Steps to reproduce**:

* first step
* then second step
* I was expecting X but instead it shows Y

Did you try to reproduce this issue at http://cdn.clappr.io/

ps: you can attach images, logs or whateve

[2017-08-21 10:46] SAMYEL06 opened #1491 "Example with local m3u8 please ? can't make it work by my own.."
Hello,

Just for a little question.. I've been trying to use Clappr on Wordpress with a local file (m3u8) from my desktop but it doesn't seem to work.. I use wordpress online, just so you know.

Can you please tell me if playing from desktop is possible, and if yes, give me an example ?

[clappr media="file:///C:/Users/Sam/Desktop/test/test.m3u8" buttoncolor=#87ff7a seekbarcolor=#8c90ff] that's  w

[2017-08-21 12:42] SAMYEL06 commented on #1491
And now, the player doesn't show anymore, even with a valid adress..

[2017-08-21 18:28] RobertBozic opened #1492 "How to start play audio file (mp3) from some position"
Is it possible to use  autoSeekFromUrl player option
with mp3 audio source?

Is there any option to start play audio file from some position
e.g. 120 seconds?

var player = new Clappr.Player({
  source: 'http://sample.com/test.mp3',
  poster: 'http://sample.com/test.jpg',
  mimeType: 'audio/mp3',
  hideMediaControl: false,
  height: 360,
  width: 640
}); #

[2017-08-21 18:46] leandromoreira commented on #1491
@SAMYEL06 can you try to https://github.com/clappr/clappr/blob/master/doc/TROUBLESHOOTING.md#common-steps-to-verify-issues ?

[2017-08-23 01:10] ciclanoio opened #1493 "how to reduce delay to display video after click in start play"
I'm trying to improve the user experience of the delay to start the video display. Usually with Clappr on our side it takes up to 10 seconds for the video to start. In JW we were able to configure this to start immediately after starting.

**Clappr Version**: last

[2017-08-23 01:20] leandromoreira commented on #1493
@ciclanohost what kind of stream are you using? hls, dash, mp4... can you provide a link to one of these streams?

If you go the [demo page](http://clappr.io/demo/), you'll see that from the moment you click on the play to the start of the video is almost instantaneously.

[2017-08-23 10:04] elhampour opened #1494 "Before request event"
i am in need of before request event for every ts part in hls format, how can i achieve this ?

[2017-08-23 11:48] shanka12 opened #1495 "autoPlay not working on android browsers."
**autoPlay:true** not working on android browsers. Can anyone help me?

[2017-08-23 13:15] kslimani commented on #1494
Clappr is internally using hls.js library for HLS source playback. You should take a look at their [API event](https://github.com/video-dev/hls.js/blob/master/doc/API.md#runtime-events).

_Note that for some mobile devices, it is the native html5 video element which is used (instead of hls.js) and you may not be able to achieve it in this scenario._

[2017-08-23 13:20] kslimani commented on #1495
On mobile devices, html5 video element require a user action (_a screen touch_) for play video. Only way to autostart video on mobile device is to mute audio.

[2017-08-23 15:16] shanka12 commented on #1495
Im using the auto play for click function. I tried mute audio. its not working. first  im loading the image of the video. when click on image player will load. its works on desktop.
here is my code.

$('.dev-vid-thumb').on('click', function() {
        var vid = $(this).data('vid-id');
        var pid = $(this).data('p-id');
        $.ajax({
            url : 'https://api.vimeo.com/videos/'+vid+'?

[2017-08-23 15:18] chrisprog20 opened #1496 ".m3u8 does not play in IE 11"
**Browser**: IE 11

**OS**: Windows 7

**Clappr Version**: 0.2.71
(loaded from https://cdn.jsdelivr.net/gh/clappr/clappr@latest/dist/clappr.min.js)

The clappr player does not load the .m3u8 in IE 11.
This is as it does not load the swf-File from the cdn-Server and tries to load it from the root directory of the localhost. Applying the property "baseUrl" in the Clappr.Player initialization does no

[2017-08-23 16:35] kslimani commented on #1495
This code cannot work on mobile. The player (_ie: the video element_) must be created **before** user click on button.

To achieve this you needs to do the following :

* Create Clappr instance using a "mocked" source (_see example code_)
* In Clappr playback configuration enable the [recycleVideo](https://github.com/clappr/clappr/blob/master/doc/BUILTIN_PLUGINS.md#playback-configuration) option
*

[2017-08-23 17:02] leandromoreira commented on #1495
👏 👏 👏 👏 👏  bravo @kslimani

[2017-08-24 04:25] shanka12 commented on #1495
Great! this is works. thank you @kslimani

[2017-08-24 06:18] elhampour commented on #1494
yes i have found it.

var player = new Clappr.Player({
            source: "494f6d4f-7900-4356-8b79-73b6fa02ccc5-master.m3u8",
            parentId: "#player",
            playback: {
                hlsjsConfig: {
                    maxBufferSize: 5,
                    xhrSetup: function (xhr, url) {
                        console.log(url);
                        url = url.replace('http://v1'

[2017-08-24 08:17] chrisprog20 opened #1497 "Feature request: poster image by frame second"
Hi folks,

our editors use clappr to publish videos. As they want posters on their video they make a screenshot of the video, load it up and apply then the file path of it to the Clappr.Player poster property.
As this takes a lot of time for multiple videos it would be quite convenient if they could just enter a frame second number (e.g. 3) and this number then is used to show the frame second of

[2017-08-24 10:53] #1494 closed

[2017-08-24 10:53] #1495 closed

[2017-08-25 16:14] matheusrufca commented on #1051
@paunadeu Hello Pau, did you succeed on playing DRM protected streaming on Clappr?

[2017-08-25 21:07] leandromoreira commented on #1051
@matheusrufca are you asking in regard of hls streaming or DASH?

[2017-08-25 21:12] matheusrufca commented on #1051
@leandromoreira Better if HLS. I'm testing Clappr on SmartTVs (Tizen, WebOS) and Clappr had better results playing HLS over DASH.

[2017-08-25 22:31] leandromoreira commented on #1051
@matheusrufca for HLS I think you're going to wait, there is an [open ticket](https://github.com/video-dev/hls.js/issues/510) for this though.

[2017-08-28 22:14] towerz commented on #1497
Hi @chrisprog20, this seems to be a nice feature for the poster plugin. Thanks for the idea.

My only concern is that in order to show the frame corresponding to the second of the video, the player should make some requests to access the video metadata and then render it to a image. This could be costly for processing, and perhaps shouldn't be used for production environments. But I think it could

[2017-08-29 08:30] kslimani commented on #1497
Implementing such feature on player side may lead to heavy costs (_especially on server side_).

I think a better approach could be to create a micro service application which automatically (pre-)generate thumbnails and serve them as static image files (possibly with caching). It could also generate an image at regular interval for live streams. And serve a default placeholder image if thumbnails

[2017-08-29 08:43] delonglimin opened #1498 "how can i play flv and m3u8? I cannot find some docs about this. thank you"
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)

**OS**: FILL WITH YOUR OS (ex: Mac OS 10.11.1, iOS9, android4.5)

**Clappr Version**: 0.2.25

**Steps to reproduce**:

* first step
* then second step
* I was expecting X but instead it shows Y

Did you try to reproduce this issue at http://cdn.clappr.io/

ps: you can attach images, logs or whateve

[2017-08-29 09:09] chrisprog20 commented on #1497
@towerz:
Thank you for your answer. It was more a suggestion from my site. Unfortunately I did not had any idea to realize this - but it is good to learn some approaches on that. Unfortunately I am not able to provide this feature at the moment - maybe in future, but currently I am sorry that I have no time left to do that.

[2017-08-29 09:11] chrisprog20 commented on #1497
@kslimani:
Thank you also for your suggestion: I like the idea of the microservice to reduce processing costs.
Unfortunately I have currently no time left to do that - maybe in future.

[2017-08-29 11:25] delonglimin opened #1499 "I found that flv has been replaced by f4v but swfpath donnot work, always find from the root of server"
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)

**OS**: FILL WITH YOUR OS (ex: Mac OS 10.11.1, iOS9, android4.5)

**Clappr Version**: 0.2.25

**Steps to reproduce**:

* first step
* then second step
* I was expecting X but instead it shows Y

Did you try to reproduce this issue at http://cdn.clappr.io/

ps: you can attach images, logs or whateve

[2017-08-29 11:53] maxlapshin commented on #1480
Hi. We also have this problem.

[2017-08-29 14:10] towerz commented on #1497
@chrisprog20 I agree with @kslimani about having a server side solution. This seems to be an ideal solution.

But I still like the idea of having a plugin for extracting some video thumbs on the client side, but only for publishing environments, where an editor wouldn't need to upload the video to choose a poster image. As I said, this shouldn't be used for production/delivery environments, but it

[2017-08-29 14:35] eutychus commented on #1497
There are a few ways to accomplish this... what we do is launch a clappr player with an event for pause, get the timecode, then fetch the fragment back from the server from the source file... using a command line like this:

ffmpeg -ss __FLOAT_OFFSET_IN_SEC__ -i __SOURCEFILE__ -frames 1 -f image2 -q:v 2 __OUTFILE.JPG__

Our client can then approve the snapshot or continue on.

We capture from the

[2017-08-29 14:53] chrisprog20 commented on #1497
@towerz: What do you think about @eutychus approach?
I like it: You just provide the snapshot yielded by
ffmpeg -ss FLOAT_OFFSET_IN_SEC -i SOURCEFILE -frames 1 -f image2 -q:v 2 OUTFILE.JPG

where the editor only provides FLOAT_OFFSET_IN_SEC and SOURCEFILE

[2017-08-30 03:23] delonglimin opened #1501 "I think this maybe e bug"
![qq 20170830112042](https://user-images.githubusercontent.com/8324872/29853956-a477e8dc-8d75-11e7-8b06-e991be6dbc63.png)

[2017-08-30 08:21] kslimani commented on #1501
Duplicate of #1480.

[2017-08-30 08:23] kslimani commented on #1496
Duplicate of #1480.

[2017-08-30 10:30] #1496 closed

[2017-08-30 10:30] #1501 closed

[2017-08-30 11:19] Niko78 opened #1502 "live + dvr issue"
clappr 0.2.72

when during a live + dvr, the source stops, I wait 10s to stop the player so the play button appears in the player
if I click on it, I'm now inside dvr but instead of reading from the beginning of dvr it plays only the last few seconds, is it normal ? + I can see the text "back on live" and if I click on it, it plays last seconds with "live" mark while it is not.

any ideas ?
thx
[d

[2017-08-31 14:15] #1480 closed

[2017-09-01 13:12] matheusrufca opened #1503 "Plugins option"
Hi,
just a silly question, what's the difference between set plugins as array and set `playback` attribute

[code]
and
[code]

[2017-09-01 13:55] kslimani commented on #1503
@matheusrufca i think there is different syntax for historical reason and to maintain backward compatibility. You should not specify plugin type anymore as it is now properly handled in core.
(_ie: use the first syntax_).

[2017-09-01 13:57] matheusrufca commented on #1503
Thanks @kslimani!

[2017-09-01 13:57] #1503 closed

[2017-09-03 00:39] hijuuijj commented on #1340
I have the code:

`<script src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js"></script>
<div id="player"></div>
<script>var player = new Clappr.Player({
source: "http://www.stream.com/stream.m3u8",
parentId: "#player",
height: "100%",
width: "100%",
autoPlay: true,
});
</script>`

Where to add this code?

`player.on(Clappr.Events.PLAYBACK_ERROR, function(error) {
      console.log(error);

[2017-09-03 03:43] leandromoreira commented on #1340
[code]

[2017-09-03 11:19] kslimani commented on #1340
@hijuuijj you can also use the `events` player configuration property to bind events.

Example :
(_you can try this code on [demo page](http://clappr.io/demo/)_)

[code]

Also, more error handling examples are available in [documentation](https://github.com/clappr/clappr/blob/master/doc/PLAYER_ERRORS.md).

[2017-09-04 15:33] mokoshalb commented on #522
Using it here also: [livestream.mokoshalb.com](livestream.mokoshalb.com)

[2017-09-04 17:55] #1336 closed

[2017-09-06 14:29] hey68you commented on #1366
I'm getting the same sort of issue by doing the following:
when i open this URL on mobile iOS Safari browser or in device simulation mode (MacOSX Chrome or Safari): **non-cdn** [http://clappr.io/](url)

But if I open the CDN url everything is working fine (video playback working): [http://clappr.io/demo/](url)

The problem is also happening for me on my personal project even using version  **0.2.6

[2017-09-06 17:08] Feodorov commented on #1366
I have the same issue only when I set `chromeless: true`. If I set `false` - it works fine. Chrome 60 on Safari, clappr@0.2.73. Reproducible if I switch to iPhone 6 Plus in devtools. Though, if choose iPad - it works fine. I think that it might be somehow connected with screen size...

My current options are:
[code]

[2017-09-06 17:24] Feodorov commented on #1366
https://github.com/clappr/clappr/blob/master/src/components/core_factory/core_factory.js#L37 - here we create `MediaControl` and fail during setup: https://github.com/clappr/clappr/blob/master/src/components/core/core.js#L69 - because we try to access an instance of container.
But container is set later, in https://github.com/clappr/clappr/blob/master/src/components/core_factory/core_factory.js#L3

[2017-09-07 06:14] hey68you commented on #1366
Confirmed: setting chromeless to false works (no error)

[2017-09-11 12:08] JeanSauzem opened #1506 "does not reproduce as sharing on linkedin"
**Browser**: Chrome Version 60.0.3112.113
**OS**: MAC 10.12.5
**Clappr Version**: 0.2.26

https://videos.ciclano.io/embed/station

when I share this link on LinkedIn, it does not reproduce within linkedin, even by configuring meta tags

below this meta tags configuration:

[code]

have specific settings to be able to play on linkedin?

[2017-09-11 19:03] anasenechal opened #1507 "Gray Rectangle appears in live mode of clappr component"
**Browser**: Google Chrome Version 60.0.3112.113

**OS**: Mac OS 10.12.6 (MAC OS Sierr)

**Clappr Version**:

**Steps to reproduce**:

The player shows gray rectangles instead of the player buttons. Help!!!!!!!

![screen shot 2017-09-11 at 15 26 57](https://user-images.githubusercontent.com/17802556/30291835-9bc5e164-9723-11e7-9977-646a37efc0a9.png)

[2017-09-11 19:58] leandromoreira commented on #1506
Hi @JeanSauzem did you notice any issue or console log? I suspect it might be related to `CORS` or some `iframe` security.

[2017-09-11 20:45] hijuuijj opened #1508 "Stream not working (Dailymotion)"
I'm tyring to play this stream (l'Equipe) with Cors, https, flasHLS. None of them seems to be working. It works fine opening the stream natively.

http://stream-01.ix7.dailymotion.com/29/dm/3/x2lefik/live-4.m3u8

Any ideas?

[2017-09-11 20:52] leandromoreira commented on #1508
@hijuuijj when I tried to play this on the demo page it returned a `403` page and it doesn't have the `CORS` headers too.

![screen shot 2017-09-11 at 5 48 58 pm](https://user-images.githubusercontent.com/55913/30296189-ab7ee0ba-9719-11e7-934f-00549ae6d32b.png)

However when you `curl` on the terminal:

[code]

The server probably is looking at the `User-Agent` to define this.

[2017-09-12 13:31] hijuuijj commented on #1508
Another live stream without error 403 and not playable with Clappr (playable with https://www.hlsplayer.net)

http://stream-15.dc3.dailymotion.com/48/dm/3/x3m6nld/live-4.m3u8

[2017-09-12 21:26] leandromoreira commented on #1508
I tried again the URL you informed at [clappr demo page](http://clappr.io/demo) and it still raises the errors.

![screen shot 2017-09-12 at 6 25 29 pm](https://user-images.githubusercontent.com/55913/30349069-f184efae-97e7-11e7-8921-5a943703bdbf.png)

[2017-09-12 21:36] hijuuijj commented on #1508
I wonder why GrindPlayer can open the stream.

[2017-09-13 01:06] leandromoreira commented on #1508
what its request and see what are the headers... and its behaviors, is it a flash-based player?

[2017-09-19 12:43] matheusrufca opened #1510 "Subtitle changing not working"
Idk if is a Clappr issue

**Browser**: Chrome, Opera, Tizen
**OS**: Windows 10, Tizen
**Clappr Version**: 0.2.71

**Steps to reproduce**:
* first step
Init clappr with following settings and HLS source
[code]

Added buttons to change subtitle
[code]
Code is working good, I debugged many times, also tried with `setTimeout`. If I manually set `textTrack.mode` to hidden on console works.

I was expec

[2017-09-19 12:53] kslimani commented on #1510
@matheusrufca latest version of Clappr *should* handle subtitles and automatically display a button in mediacontrols when subtitles are available.

Take a look at [playback config documentation](https://github.com/clappr/clappr/blob/master/doc/BUILTIN_PLUGINS.md#playback-configuration).

[2017-09-19 13:32] matheusrufca commented on #1510
Hi @kslimani , thanks for your message.

I changed Clappr version to 0.2.73 and nested `externalTracks` config inside `playback` options but didnt solve nor show subtitles button.
Am I missing something?

![image](https://user-images.githubusercontent.com/8710641/30594805-be1ce2c8-9d25-11e7-84b2-d405757c337d.png)

[2017-09-19 13:47] kslimani commented on #1510
Oh, i see, i think this is because external track support has been added only for html5_video playback (_ie: .mp4 source_). It seems it is not implemented (yet) for HLS source.

[2017-09-19 14:10] matheusrufca commented on #1510
Hmm, thanks. what is weird is subtitles are working and when I set to hide via console works too.
But would be nice a native player handler for changing subtitles on streaming.
I'm running out of time now, but I can contribute in near future on this feature.

[2017-09-19 14:38] kslimani commented on #1510
There is an internal plugin in Clappr to handle subtitles (feature added [here](https://github.com/clappr/clappr/pull/1440)) - but currently, hlsjs playback supports only subtitles which are embeded in manifest. _(external track support has not been aded yet for hls, only for mp4 source)_

For example, test with [source](https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8) in clappr [D

[2017-09-21 11:15] momipnd commented on #1465
http://oasisiptv.com:6969/live/skype/QvfhlC9dxz/4699.m3u8
I run it with clapper player.  The issue is I can play the m3u8 URL, but when i will play it multiple it stops. Only this URL play form one device. I want to play multiple.

[2017-09-21 14:56] Abdel-ilah commented on #1465
for play it on multi devices you should ask the IPTV provider for activate re-streaming option, you need more $$

[2017-09-21 15:05] leandromoreira commented on #1465
@Abdel-ilah  can we close this issue?

[2017-09-21 15:06] Abdel-ilah commented on #1465
Yes boss

[2017-09-21 17:21] #1465 closed

[2017-09-24 13:36] Thor77 commented on #1491
You have to upload that file (including the ones it refers to) to a remote location somehow.

[2017-09-27 07:31] shaharmor opened #1512 "Extract hls.js from Clappr"
Hey,

I was wondering if it will be somehow possible to extract hls.js from Clappr so that we can use a different version of hls.js when needed.

The main reason for that is that updates for hls.js takes a long time before reaching Clappr, and some of the fixes are crucial for us.

[2017-09-27 11:26] leandromoreira commented on #1512
We're working to achieve this :D @vagnervjs @towerz have more information this idea too.

[2017-09-30 06:07] #1275 closed

[2017-09-30 20:18] gualterb opened #1513 "Como se crean estas direcciones. How to create this links"
http://photocall.tv/cl.php?vid=a3live-lh.akamaihd.net/i/a3shds/geoa3series_1@122775/master.m3u8

Estoy buscando el modo de poder generar urls así, como debo configurar clappr.

http://photocall.tv/cl.php?vid=

Saludos

[2017-09-30 21:29] kslimani commented on #1513
This page is a simple PHP script which generate the following html content :
_(`vid` GET query parameter as source url)_

[code]

_PS: you should always post in english (as far as possible), so more people can help you._

[2017-09-30 21:34] gualterb commented on #1513
and how can I do to generate it. is there any place to download it? I do not know the code

[2017-10-01 10:20] kslimani commented on #1513
Here a "fast and dirty" example :
_(please note this is out of scope of Clappr)_

**cl.php :**
[code]

[2017-10-01 10:32] tjenkinson commented on #1513
You should also json_encode($url) the URL before echoing it so that it if it contains '"' for example it is escaped properly and doesn't break the JavaScript

On 1 Oct 2017, at 12:20, kslimani <notifications@github.com<mailto:notifications@github.com>> wrote:

Here a "fast and dirty" example :
(please note this is out of scope of Clappr)

cl.php :

<title>PHOTOCALL.TV - Streaming</title>
<meta nam

[2017-10-04 04:57] aditya0711 opened #1515 "iOS 11 container.click / container.dblclick event not triggered on tap."
**Browser**:
Safari/Chrome/Firefox Browsers

**OS**: iOS 11

**Clappr Version**: 0.2.27

**Steps to reproduce**:

player.getPlugin("click_to_pause").disable();
Clappr.Log.setLevel(0);

if the player(container) is tapped, the click is not registered. need to hold the tap for a few seconds for the tap event to be triggered.

Did you try to reproduce this issue at http://cdn.clappr.io/
Yes.

The clic

[2017-10-05 10:04] vaydich opened #1516 "Is there a version for angular 2?"
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)

**OS**: FILL WITH YOUR OS (ex: Mac OS 10.11.1, iOS9, android4.5)

**Clappr Version**: 0.2.25

**Steps to reproduce**:

* first step
* then second step
* I was expecting X but instead it shows Y

Did you try to reproduce this issue at http://cdn.clappr.io/

ps: you can attach images, logs or whateve

[2017-10-05 21:27] leandromoreira commented on #1516
Clappr as is it's a JS library that can be incorporated into react, angular or others but we don't provide an Xjs version of it here.

[2017-10-05 21:27] #1516 closed

[2017-10-10 00:57] edemir206 commented on #930
Hi,

I'm facing the exact same issue, i'm using NGINX + RTMP module and clappr.

My stream has EXT-XDISCONTINUITY and after this the player just starts trying to get the same 27.ts and 28.ts over and over again.

#EXT-X-DISCONTINUITY
#EXTINF:1.001,
/conteudo/hls/9t8huwb_recordall/27.ts
#EXTINF:9.992,
/conteudo/hls/9t8huwb_recordall/28.ts
#EXT-X-DISCONTINUITY

Does anyone know a solution for this ?

[2017-10-13 06:28] TinkoLiu opened #1517 "Using flv.js for HTML5 flv decoding?"
flv.js works by transmuxing FLV file stream into ISO BMFF (Fragmented MP4) segments, followed by feeding mp4 segments into an HTML5 <video> element through Media Source Extensions API.

This porject can be found here [https://github.com/Bilibili/flv.js/](https://github.com/Bilibili/flv.js/)

[2017-10-13 08:32] leandromoreira commented on #1517
Thanks, @TinkoLiu I think one or we can make a playback (like [dash](https://github.com/clappr/dash-shaka-playback)) that plays `.flv` :D

[2017-10-14 15:06] gualterb opened #1518 "Why not working on android"
Hello!
Not working on android, on windows, linux and windows not problem.

http://live-tv.cf/video.php?vid=http://a3live-lh.akamaihd.net/i/a3hds/antena3_1@35248/master.m3u8

Code of php file
`<title>Streaming</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="http://www." type="image/x-icon" />
<body style="margin:0">
<script src="https://c

[2017-10-14 15:29] leandromoreira commented on #1518
does it show any logging error message?

[2017-10-14 15:42] gualterb commented on #1518
No, blank page

[2017-10-14 16:19] leandromoreira commented on #1518
can you try to debug the android looking at the console tab? https://developers.google.com/web/tools/chrome-devtools/remote-debugging/

[2017-10-15 06:44] gualterb commented on #1518
Hello! I am not an android user, but a friend testing in chrome if it works. it does not work in the default browser.

[2017-10-15 13:11] leandromoreira commented on #1518
We can't really help you if we don't have any logging info 😢

[2017-10-16 22:31] hijuuijj opened #1519 "Another stream not working with Clappr"
I wonder how https://www.hlsplayer.net (GrindPlayer) can play this stream: http://grupomac-lh.akamaihd.net/i/004rss0k8_1@301782/master.m3u8

I've noticed that there is an extra process during the playback, maybe it give you some clue: http://grupomac-lh.akamaihd.net/crossdomain.xml

Should Clappr generate a crossdomain.xml?

[2017-10-16 22:40] leandromoreira commented on #1519
@hijuuijj clappr can't generate the file (and actually host it) `crossdomain.xml` this needs to in your server.

Clappr can't play this playlist `http://grupomac-lh.akamaihd.net/i/004rss0k8_1@301782/master.m3u8` because it is returning `403`

[2017-10-16 23:01] hijuuijj commented on #1519
Have you tried the stream from https://www.hlsplayer.net?
Would be interesting to know how crossdomain.xml loads

[2017-10-16 23:21] leandromoreira commented on #1519
This file is required if you're using `flash` based player otherwise you shouldn't need it. http://www.adobe.com/devnet/adobe-media-server/articles/cross-domain-xml-for-streaming.html

[2017-10-17 00:28] hijuuijj commented on #1519
I know. I'm trying to figure out how hlsplayer.net can play it.

Another [stream](https://content-aeuf2.uplynk.com/channel/7a16e3d5ffd0413ba4d8ac89688ed7cd/f.m3u8?ct=c&ad.locationDesc=vh1_channel&ad.cust_params=_fw_ae=c123b11aa670647408778a3b81a21d70&_vmn_ar=true&expand=simulcast_standard&ad.kv=_fw_ae,c123b11aa670647408778a3b81a21d70,_vmn_ar,true,_fw_vcid2,82125:vh1_97c98de42e2249649f7b8ed38b07cc8

[2017-10-17 06:34] hashtvm07 opened #1520 "Video getting messed up while clappr playing HLS video with HTML5"
**Browser**: Chrome (Chrome Version 61.0.3163.100)

**OS**: Windows 10 (Pro)

**Clappr Version**: 0.6.12

I have implemented HLS Player with the help of Clappr.
When chrome plays video using HTML5 instead of flash, video gets messed up after every few minutes.

If anyone have come across the same issue, please help.

[2017-10-17 09:42] leandromoreira commented on #1520
Hi, @hashtvm07 these things usually are tied to either your input stream (codec, camera) our your encoder/packager generating the HLS.

You can find some tools to check your stream health https://github.com/clappr/clappr/blob/master/doc/TROUBLESHOOTING.md#common-steps-to-verify-issues .

[2017-10-17 11:21] ilimaan commented on #1152
Hello @
I've the same issue. How did you fixed it for your case?
@leandromoreira : Can you tell me which function should I unquote?

Thanks,

[2017-10-17 11:38] leandromoreira commented on #1152
@ilimaan I think that is the `'ltrgHeUptt()'` function.

[2017-10-17 12:42] ilimaan commented on #1152
Look at the code at top. 'ltrgHeUptt()' is not a function. It's only the result of the obfuscation.

[2017-10-17 13:01] leandromoreira commented on #1152
Anyway the string `'ltrgHeUptt()'` is not a valid source.

[2017-10-17 13:03] ilimaan commented on #1152
Yes, but player should get right source at load. That code is only obfuscated code.
The same source : <?php echo($gethttptitle . "()"); ?> works fine on jwplayer.

[2017-10-17 13:55] leandromoreira commented on #1152
@ilimaan do you have the error on console?

[2017-10-17 13:59] ilimaan commented on #1152
Which console?
How to debug the player to get more information about the error?

Thank you,

[2017-10-17 16:35] leandromoreira commented on #1152
On Chrome.

[2017-10-17 19:26] contra opened #1522 "HLS mimetypes case sensitive?"
Just hit this issue - for the HTML5 mimetype list, the type for m3u8 is `application/x-mpegurl` but the FlashHLS and HLS canPlay functions both check for exactly `application/x-mpegURL`

If you provide `application/x-mpegurl` as the content type it will fail to return true from canPlay, which shouldn't be the case as it works fine for the HTML5 mimetype checking.

[2017-10-18 01:35] leandromoreira commented on #1522
@contra Clappr does respect the order of the playbacks, external first and then internal, therefore I think if you added `FlasHLS` it'll be used as a hls.

[2017-10-18 02:14] contra commented on #1522
@leandromoreira Ticket doesn't have anything to do with play orders - really as simple as `mimeType: 'application/x-mpegurl'` not working when it should

[2017-10-18 08:14] kslimani commented on #1522
A simple fix could be to convert mimetype to lowercase and compare with lowercase value [here](https://github.com/clappr/clappr/blob/master/src/playbacks/hls/hls.js#L576).

[2017-10-18 09:51] leandromoreira commented on #1522
sorry @contra I misread.

[2017-10-19 14:45] casolorz opened #1523 "Is this the player used by Globo in Brazil? It has issues playing videos on the Android System WebView."
**Browser**: Any Android browser that uses the Android System WebView, so not Chrome or Firefox.

**OS**: Android 5 to 8.

**Clappr Version**: Don't know, whatever Globo uses, assuming that is what they use.

**Steps to reproduce**:

Go to https://globosatplay.globo.com/sportv/ao-vivo/3180413/ for example and try to play a video using a browser based on the Android System WebView.

[2017-10-23 17:38] lovablegce commented on #1483
@firofame Did you solve the issue?

[2017-10-23 17:41] lovablegce commented on #1483
@leandromoreira Do you have any idea how to get the encryption keys which are provided in the live streaming?
Sample: http://sklktcdnems05.cdnsrv.jio.com/jiotv.live.cdn.jio.com/AXN_HD/AXN_HD_1200.m3u8?jct=NNXpstYnCQSaMw46OvZodQ&pxe=1508777679&st=AQIC5wM2LY4SfczJUsPeNpQK-WxTgD1o9I3YMroM17eybG0.*AAJTSQACMDIAAlNLABQtNTA0NjQzOTU5NTkwODkzMzk3MQACUzEAAjI4*

whatever present after m3u8 is keep on changin

[2017-10-23 18:32] leandromoreira commented on #1483
It's explained here https://developer.apple.com/library/content/technotes/tn2288/_index.html

[2017-10-27 10:23] ilimaan commented on #1152
There is no error in console. [You can see it here.](https://ibb.co/k5DDO6).
And if I replace var player = new Clappr.Player({
                    source: '<?php echo($gethttptitle . "()"); ?>',
                    parentId: '#player',
                    preload: 'auto',
                    autoPlay: true,
                    width: '640px',
                    height: '360px'

[2017-10-30 15:47] bikegriffith commented on #1515
Noticed this as well. Would be curious if anyone has a workaround or thoughts on the root cause.

[2017-11-02 16:23] hijuuijj opened #1529 "M3U8: Audio and video out of sync..."
Recently, videos and audio are out of sync... it affects as the video progresses.
Has been any change in Clappr? I have no problems with other players such JW Player or GrindPlayer.

[2017-11-02 16:27] tchakabam commented on #1529
Hey, can you provide a test stream where you observe the issue? :)

[2017-11-02 16:49] hijuuijj commented on #1529
Any stream, like this: http://hlsackdn_gl8-lh.akamaihd.net/i/hlsdvrlive_1@81183/master.m3u8

[2017-11-02 16:53] tchakabam commented on #1529
What browser and OS are you using? :)

[2017-11-02 17:42] hijuuijj commented on #1529
Chrome 62.0.3202.75 (Build oficial) (64 bits)
Windows 10

[2017-11-02 19:10] leandromoreira commented on #1529
@hijuuijj did you test on https://video-dev.github.io/hls.js/demo/ ?

[2017-11-05 22:04] JohnMorra opened #1530 "RTMP?"
Hello!

I cant to find any script working with rtmp sources. I was trying everything but not even one is working, any ideas ? : (

[2017-11-06 00:13] leandromoreira commented on #1530
Take a look at https://github.com/video-dev/clappr-rtmp-plugin

[2017-11-06 00:35] JohnMorra commented on #1530
cool but its not working for me :( Should i just copy my link to " source:" and thats it ? i copied to my server and player not even showing. just blank white page hmmmm

[2017-11-06 00:37] JohnMorra commented on #1530
aha, also i checked with your wordpress plugin and its not working either player doesnt start. I have checked with few sample links

[2017-11-06 06:52] flavioribeiro commented on #1530
@JohnMorra can you please redirect your questions on RTMP playback to the [rtmp plugin](https://github.com/video-dev/clappr-rtmp-plugin)?

[2017-11-06 06:52] #1530 closed

[2017-11-06 21:27] nexobm93 opened #1531 "HLS stream error: No 'Access-Control-Allow-Origin' header is present"
i'm trying to load m3u8 stream, doesnt work.
start=LIVE&end=END

Any ideea why?

[2017-11-06 23:23] leandromoreira commented on #1531
did you try to inform the `mimeType` since Clappr can't infer from the URL you provided?

[code]

[2017-11-07 06:42] nexobm93 commented on #1531
Same with mimeType :(.

I used other webplayers with HLS support and everything is ok. This type of m3u8 doesn't work, all the rest are ok.
The error (CONSOLE)

[2017-11-07 09:01] kslimani commented on #1531
@nexobm93 hints are in the error message : the server which serve the manifest does not send CORS headers in the HTTP response; Therefore it is the reason why HLS.JS is failing to download it.

For more details, please check [this link](https://github.com/clappr/clappr/issues/703#issuecomment-160936968).

[2017-11-08 13:02] hijuuijj commented on #1529
It seems to be a bug, possibly Chrome and/or nvidia drivers

[2017-11-08 13:34] leandromoreira commented on #1529
@hijuuijj double check your master input.

[2017-11-08 18:12] eedi1 commented on #1483
@m0n1sh @firofame @lovablegce any one has solution plz contact eedi@gmail.com thanks

[2017-11-10 08:03] alex4buba commented on #1198
Trying to disable the full screen option, tried passing &fs=0 on the end of the URL but no luck.
Tried also with the code below, it is ignored, Any other suggestion?

var player;
	function onYouTubePlayerAPIReady()
	{
		player = new YT.Player('ytplayer',
		{
			height: '80',
			width: '320',
			frameborder: '0',
			fs: '0',
			videoId: YTclip
		});
	}

[2017-11-10 09:09] phonerave commented on #1483
bro anyone got solution

[2017-11-10 13:58] matheusrufca opened #1533 "PLAYBACK_PLAYBACKSTATE event not triggering when user play/pause"
**Browser**: Chrome 61.0.3163.100 (Official Build) (64-bit)
**OS**: Windows 10
**Clappr Version**: 0.2.77

**Steps to reproduce**:

1. Go to [http://clappr.io/demo/](http://clappr.io/demo/)

2. Add the follow lines:
[code]
3. Play and pause video

**Expected**
Show playback state on console when user play or pause video.

[2017-11-11 15:28] Lethea commented on #1483
For this kind of stream that protected by header referer
you cant play this directly from your website

you need to restream that via ffmpeg headers

[2017-11-15 17:56] doroszukb opened #1534 "Audio and video synchronization"
Hello
There are still issues with audio and video synchronization.
Here the log stream is still playing correctly:

[log] > attachMedia
webvtt-parser.js:161 [log] > media source opened
webvtt-parser.js:161 [log] > loadSource:https://ott.smsnet.pl/~0d9251a4b115385cc63815b4b36fbf08/1001/pl.m3u8?archive=0
webvtt-parser.js:161 [log] > trigger BUFFER_RESET
webvtt-parser.js:161 [log] > manifest loaded,3

[2017-11-15 18:44] leandromoreira commented on #1534
Did you check your source? sometimes it's the video stream source that is the main problem. https://github.com/clappr/clappr/blob/master/doc/TROUBLESHOOTING.md#common-steps-to-verify-issues in the last step there are some tools you can use to check that.

[2017-11-16 00:28] doroszukb commented on #1534
http://ott.smsnet.pl/~0d9251a4b115385cc63815b4b36fbf08/1064/pl.m3u8?archive=0
The link in vlc uncoded plays correctly.
in clappr plays bad and log is ....

[log] > attachMedia
webvtt-parser.js:161 [log] > media source opened
webvtt-parser.js:161 [log] > loadSource:http://ott.smsnet.pl/~0d9251a4b115385cc63815b4b36fbf08/1064/pl.m3u8?archive=0
webvtt-parser.js:161 [log] > trigger BUFFER_RESET
webvtt-

[2017-11-16 00:41] doroszukb commented on #1534
As I remove the audio from this stream, the playback is correct. Coded and uncoded is correct.

[2017-11-16 00:59] leandromoreira commented on #1534
are you able to reproduce the same behavior here?

[2017-11-16 08:18] doroszukb commented on #1534
Same result. Wrong play with errors:
Parsing Error: PAC did not start with ADTS header, offset: 36
Parsing Error: PAC did not start with ADTS header, offset: 6
Parsing Error: PAC did not start with ADTS header, offset: 158
.....
But in vlc all is ok.

[2017-11-16 10:56] leandromoreira commented on #1534
@doroszukb the fact that it does play on `vlc` doesn't mean necessarily that your stream is correct or that hls.js is doing something wrong.

I'm trying to run on my vlc and now I'm getting lots of 404.

[2017-11-16 12:22] doroszukb commented on #1534
All links are unfortunately encrypted and secured. I have prepared one link:
http://79.175.208.18/~0d9251a4b115385cc63815b4b36fbf08/1086/pl.m3u8?archive=0
Please try

[2017-11-16 12:33] leandromoreira commented on #1534
I played the `http` version and the vlc output was:

[code]

[2017-11-16 12:34] leandromoreira commented on #1534
I could play it but at the same time, it showed some errors on the console that probably VLC was able to recover.

[2017-11-16 12:40] doroszukb commented on #1534
This is a tv stream prepared online.
I add in addition to the beginning of each chunk PAT and PMT.

[2017-11-16 12:44] doroszukb commented on #1534
May

[2017-11-16 12:48] doroszukb commented on #1534
The same effect. I will try to look at this.

[2017-11-16 12:49] leandromoreira commented on #1534
@doroszukb can you send me two decrypted TS (in sequence)?

[2017-11-16 12:57] doroszukb commented on #1534
[TS.zip](https://github.com/clappr/clappr/files/1478573/TS.zip)

[2017-11-16 13:03] doroszukb commented on #1534
[TS-ALL-bitrate.zip](https://github.com/clappr/clappr/files/1478589/TS-ALL-bitrate.zip)

[2017-11-16 13:30] doroszukb commented on #1534
I corrected stream.
https://79.175.208.18/~0d9251a4b115385cc63815b4b36fbf08/1086/pl.m3u8?archive=0
Now in vlc only
gnutls error: Certificate does not match "79.175.208.18"

[2017-11-16 13:35] doroszukb commented on #1534
[TS-ALL-bitrate.zip](https://github.com/clappr/clappr/files/1478673/TS-ALL-bitrate.zip)
last decrypted TS

[2017-11-16 14:01] leandromoreira commented on #1534
Hey @doroszukb you can check if your stream is okay by using `ffprobe`:

[code]

It printed out some errors are you can see.

When I check the video, it seemed okay:

[code]
I strongly recommend you to look at your encoder and disable `scene-cut` and keep the `gop` (keyframe) at a constant rate.

[2017-11-16 14:10] A-Thop commented on #1483
Hey, i got a solution, all you need to do is like the following.
Add `http://thoptv.com/public/full.php?url=` before that jio link.

Example-1:
[http://thoptv.com/public/full.php?url=http://ssrigcdnems01.cdnsrv.jio.com/jiotv.live.cdn.jio.com/History_HD/History_HD_800.m3u8](http://thoptv.com/public/full.php?url=http://ssrigcdnems01.cdnsrv.jio.com/jiotv.live.cdn.jio.com/History_HD/History_HD_800.m3u

[2017-11-16 14:12] doroszukb commented on #1534
In trascoder GOP seting is:
Mode - Dynamic
Size - 24
B-Pictures - 5
Hierarchical - on
These settings give you a very good picture.
However, clappr has a problem with AAC decoding.
i will look ffprobe.

[2017-11-16 14:32] doroszukb commented on #1534
Ffprobe does not bring anything new. The problem is with AAC.

[2017-11-16 15:32] leandromoreira commented on #1534
GOP mode shouldn't be fixed?

[2017-11-16 15:38] doroszukb commented on #1534
Can be fixed. I checked, it does not solve the problem.

[2017-11-16 16:58] leandromoreira commented on #1534
* double check the audio frequency for every bitrate
* try to use a single bitrate master playlist

PS: all this with fixed gop 1s (or 30fps), no scene-detect,

[2017-11-16 17:13] doroszukb commented on #1534
1 . The audio frames are exactly the same in all bitrate.
2 . I checked for one bitrate, same bad.
PS. My soft cope with all GOP settings as the video stream contained Closed GOP.

[2017-11-16 17:59] leandromoreira commented on #1534
you might need to open an issue on hls.js repo this is probably an issue there.

[2017-11-16 18:13] doroszukb commented on #1534
Thank you for your help. I will move to hls.js repo.
Best Regads
Janusz Doroszuk

[2017-11-16 22:53] hijuuijj opened #1535 "Stream playable with Video.js... not playable with Clappr..."
Is there any way to play this stream with Clappr? http://live2-free-mediaset.secure.footprint.net/Content/HLS/Live/Channel(CH08HA)/index.m3u8

Video.js player can play it: http://ver.hol.es/vjs.php?vid=live2-free-mediaset.secure.footprint.net/Content/HLS/Live/Channel(CH08HA)/index.m3u8

[2017-11-17 00:09] leandromoreira commented on #1535
Have already checked if it's not your source stream? anyway you should open this issue on hlsjs github repo.

https://video-dev.github.io/hls.js/demo/?src=http%3A%2F%2Flive2-free-mediaset.secure.footprint.net%2FContent%2FHLS%2FLive%2FChannel(CH08HA)%2Findex.m3u8&enableStreaming=true&autoRecoverError=true&enableWorker=true&dumpfMP4=false&levelCapping=-1&defaultAudioCodec=undefined

[2017-11-17 00:10] #1535 closed

[2017-11-17 00:58] leandromoreira commented on #1535
@hijuuijj I didn't mean it in a bad way ;P it's seriously to open an issue on hls.js github since it happens with the playback too, clappr behind the scenes uses hls.js. Thanks.

[2017-11-17 20:28] mohsinworld commented on #1483
@A-Thop Can you please teach me the technique of getting token? So I can play with Clappr player with my website logo and link? Thanks

[2017-11-18 02:37] A-Thop commented on #1483
@mohsinworld I can't share the secret of our work. But i can provide you, an embed code of player with your own logo and link for free. If you want more than that you need to contact us on our Facebook page via [https://fb.me/THOPNETWORK](https://fb.me/THOPNETWORK)

[2017-11-18 06:51] mohsinworld commented on #1483
@A-Thop, You are not active on Facebook, can you give me a better way to contact you?

[2017-11-18 12:41] A-Thop commented on #1483
@mohsinworld I am not sure, when you tried to contact me, But I will check my Facebook Page Every Hour to engage with my clients. Feel Free to contact me. [https://fb.me/THOPNETWORK](https://fb.me/THOPNETWORK)

[2017-11-20 12:47] vmcreations commented on #1483
i have all jio tv link with my attach ment of server but not working in jw player
for eg like this
http://50.160.135.172:8080/jio/playlist.m3u8?url=http://ssrigcdnems01.cdnsrv.jio.com/jiotv.live.cdn.jio.com/Star_Sports_HD_2/Star_Sports_HD_2_800.m3u8
this is examample

this is the model that not work in  jwplayer or other website player
but work in the  mx player

[2017-11-22 06:52] eedi1 commented on #1483
vmcreation how i can contact you

[2017-11-22 14:17] eedi1 commented on #1483
i needtro talk

[2017-11-22 16:15] vmcreations commented on #1483
Okk talk

[2017-11-22 19:15] eedi1 commented on #1483
need jio soultion

[2017-11-23 01:46] vmcreations commented on #1483
No bro iam using Thopu tv

[2017-11-23 04:27] ProjectAdrian commented on #1483
@vmcreations
how do u get the links?
http://50.160.135.172:8080/jio/playlist.m3u8?url=http://ssrigcdnems01.cdnsrv.jio.com/jiotv.live.cdn.jio.com/Star_Sports_HD_2/Star_Sports_HD_2_800.m3u8

[2017-11-23 04:32] mohsinworld commented on #1483
I went to THOP tv

[2017-11-23 04:33] vmcreations commented on #1483
That's not working

[2017-11-23 04:35] ProjectAdrian commented on #1483
@vmcreations
what is the working link pls?

[2017-11-23 04:39] vmcreations commented on #1483
I dont have iam using thoputv php

[2017-11-23 04:39] mohsinworld commented on #1483
@ProjectAdrian Check this link http://thoptv.com/partners/TUGUstreamTV/Embed.php?channel=Zing

You can change channel name to get all working like replace Zee_Cinema in Zing it will show Zee Cinema. Add Star_Sports_HD_1 after this http://thoptv.com/partners/TUGUstreamTV/Embed.php?channel= [http://thoptv.com/partners/TUGUstreamTV/Embed.php?channel=Star_Sports_HD_1] I can give you all the link if yo

[2017-11-23 04:41] vmcreations commented on #1483
http://thoptv.com/partners/VMcreations/Embed.php?channel=Star_Sports_HD_1

[2017-11-23 04:43] ProjectAdrian commented on #1483
does it work on mx player?

[2017-11-23 04:45] mohsinworld commented on #1483
No, it's work with iframe.

[2017-11-23 04:48] ProjectAdrian commented on #1483
is there a way to play on mx player?

[2017-11-23 04:49] mohsinworld commented on #1483
Then talk to @A-Thop

[2017-11-23 04:49] vmcreations commented on #1483
Nooo

[2017-11-25 18:27] alwayzgame opened #1536 "unable to play m3u8 on pc works on mobile"
trying to play this m3u8

https://sonyhdslive-lh.akamaihd.net/i/LIVELINEARCHANNELFOOD_2@320047/index_1000_av-p.m3u8?sd=10&rebase=on&id=AgBnBYVjfCj1pTi0GVqEo9PHhokeqLZq8b7C40ita8wg5vwIhDBDNby41GAK8%2fQY1M8tp56Yraa0Dg%3d%3d&hdntl=exp=1511720376~acl=%2fi%2f*~data=hdntl~hmac=b857fc67abac0df031a89d76cd07ecf0453051189661d6656fbd0f3fb0c88920

doesnt work on pc but when i change user agent to mobile it wo

[2017-11-25 20:55] leandromoreira commented on #1536
Please follow the [basic instruction](https://github.com/clappr/clappr/blob/master/doc/TROUBLESHOOTING.md#common-steps-to-verify-issues) and if the error persists, please paste the error logging (through chrome inspector window)

[2017-11-25 20:59] hijuuijj commented on #1536
"Access Denied" using user agent and usa proxy.