[2016-03-09 14:28] leandromoreira commented on #870
yes, bery soon!

[2016-03-09 14:29] #870 closed

[2016-03-09 15:37] GeorgySerga opened #877 "Infinite loop when src is empty or is not provided on load."
**Browser**: Chrome Version 49.0.2623.87 (64-bit)

**OS**: Ubuntu 14.04

**Clappr Version**: 0.2.38

**Steps to reproduce**:

* Open demo clappr page in text editor and erase the `src` or just leave empty quotes.
* Open demo page in the browser
* Check the CPU in task manager (the `loop()` function starts infinitely).

Actually there is a second problem -- intense error function, the `noise()` sho

[2016-03-10 02:05] ieworks commented on #868
This issue is caused by the audio sample rate . The audio sample rate is 22050 Hz, It seems like that the video element can not support this rate. When I resample the audio as 44100 Hz or 38000 Hz , The clappr play the stream fluently.

[2016-03-10 12:07] leandromoreira commented on #868
@ieworks hi can you try to run this here http://dailymotion.github.io/hls.js/demo/ ? it might be a restriction of hls.js

[2016-03-10 12:40] Tkamiya commented on #808
Sorry for my late reply...
And thank you, I confirmed it works properly.

[2016-03-10 12:50] Tkamiya opened #878 "Playback resolution setting"
Hello,

I want to know how do I use "100%" value as resolution setting.
Currently, I'm using "640x360" as player resolution.
It looks like good in my laptop side but if I access via my smartphone, then the playback area is protruded.

The webpage is below.

http://thinkourfuture.ddns.net/wowza/wowza5/

[2016-03-10 13:33] #808 closed

[2016-03-10 14:01] Det20 commented on #827
What can i do in mobile mode? AutoStart doesn't work. If i set Chromeless to true the Player never start. Set useHardwareVideoDecoder to true or false doesn't change this. What can i do remove Controlbar?

[2016-03-10 14:34] leandromoreira commented on #827
@Det20

you can't do anything for this particular "issue" on [mobile](https://www.aerserv.com/why-does-video-autoplay-on-mobile-devices-not-work/) you can't use `autoStart` neither `player.play()` on your js **it must be an user gesture**.  Unless you put a button or something then on the `click` event you trigger `player.play()`

[2016-03-10 14:46] leandromoreira opened #880 "Clappr is not playing when clicked/touched with chromeless: true"
**Browser**: All

**Clappr Version**: 0.2.38

**Steps to reproduce**:

* go to cdn.clappr.io
* then set `chromeless: true` try to click/touch to play
* I was expecting Clappr start to play but instead it didn't

**Notice also that a mini play icon is shown**

[2016-03-10 14:49] tjenkinson commented on #880
I thought that was a feature so that you could programmatically control the playback without the user being able to change it.

Not sure about the play button though.

[2016-03-11 18:28] towerz commented on #878
Hi, @Tkamiya.

Clappr supports setting "100%" to its dimensions. You just need to embed the player using:
[code]
The only restriction is that you have to set the parent element dimensions. Otherwise the player will always compute its size to 0x0.

I checked the webpage you mentioned, and the parent element (`<div id="player">`) has no explicit size. It currently computes to 660x360 because it cont

[2016-03-11 18:36] towerz commented on #880
@tjenkinson actually this is related to mobile. Since there's no autoplay support on most mobile devices, there should be a way to allow the player to work chromeless, but still being able to play through user interaction.

[2016-03-11 19:06] tjenkinson commented on #880
@towerz I agree mobiles not supporting play without user interaction causes issues. But I don't think we should allow user interactions in chromeless because developers might have code that depends on the user not being able to interact with the player.

Or chromeless could be changed so user interaction is allowed, but then there could be a separate option 'disableUserInteraction'? It's just that

[2016-03-11 19:34] ronag opened #885 "Flashing White Square"
Sometimes when changing sources for the player one can see a flashing white square.

[2016-03-11 20:31] leandromoreira commented on #885
@ronag how are you changing sources? (through `load` or ...)

[2016-03-11 20:50] towerz commented on #880
@tjenkinson I think you're right. Perhaps we should add this option `disableUserInteraction` you suggested.

My idea for that option, in order to keep backwards compatibility, is to have a default value set to `!Browser.isMobile` when the option is not set. This option should only work when `chromeless` is set to true.

What do you think?

[2016-03-11 20:59] ronag commented on #885
`load`

[2016-03-11 21:05] leandromoreira commented on #885
@ronag I did that on cdn.clappr.io (using Chrome) with both mp4 and hls and it seems nice, [here's the example](https://sendvid.com/vbra9ay9)

[2016-03-11 22:32] towerz commented on #885
@ronag from your code snippet I could assume you are using React. Is that right?

If so, how did you wrap the player to work inside React virtual DOM rendering? Could you share more info about this?

I'm asking this because I believe the white square you are referring to is the poster play button when it renders and perhaps the icon font is still not ready or its font-face has been removed from DO

[2016-03-12 00:09] ronag commented on #885
@towerz: I'm using virtual-dom widgets:

[code]

[2016-03-12 00:51] #862 closed

[2016-03-12 01:32] tjenkinson commented on #880
@towerz that sounds good to me

[2016-03-12 23:17] ronag opened #886 "Chromeless Shows "Play" Icon"
Even though I have set `chromeless: true` the play icon is displayed.

[2016-03-12 23:24] ronag opened #887 "hlsjs retry manifest get"
Not sure if this is in clappr or hlsjs. But if it takes the server a long time to respond to the manifest (m3u8) request then the request gets cancelled and is never re-tried.

I would like to automatically retry the requests after a timeout. Any advice on how to achieve this?

[2016-03-12 23:29] ronag commented on #886
Also the buffering/loading animation is shown...

[2016-03-13 02:13] leandromoreira commented on #887
https://github.com/clappr/clappr/issues/813

[2016-03-13 10:35] ronag opened #888 "img webp support"
I see no reason why img playback shouldn't work with webp?

[2016-03-13 10:49] ronag opened #889 "img bpg support"
http://bellard.org/bpg/

[2016-03-13 11:19] ronag commented on #886
Not a problem with master version.

[2016-03-13 11:19] #886 closed

[2016-03-13 11:21] ronag opened #892 "How to change poster"
How do I change the poster of an already created player?

[2016-03-13 11:21] ronag commented on #888
Closing in favour of PR.

[2016-03-13 11:21] #888 closed

[2016-03-13 11:21] ronag commented on #887
Closing in favour of PR.

[2016-03-13 11:21] #887 closed

[2016-03-13 11:27] ronag opened #893 "How to disable loading animation?"
How to disable loading animation?

[2016-03-13 12:58] ronag commented on #813
@shaharmor: Where did you find the code you posted? Somewhere the `_recoveredDecodingError` and `_recoveredAudioCodecError` needs to be reset when it should try again or if it successfully recovered...

[2016-03-13 13:00] shaharmor commented on #813
You can look at an example here: https://github.com/dailymotion/hls.js/blob/master/demo/index.html#L623-L642

[2016-03-13 13:59] leandromoreira commented on #893
You can provide a spinner with no code at all, this will replace the current [spinner](https://github.com/clappr/clappr/blob/master/src/plugins/spinner_three_bounce/spinner_three_bounce.js).

[code]

[2016-03-13 17:09] DavidVentura opened #894 "How to get the buffer length on live HLS video?"
I need to synchronize images with the video but I must adjust depending the buffer length on live video. On slow networks it might be 3s (it takes 12s to download each 15s segment) while on fast networks it might be 14s (takes 1s to download each 15s segment)

Do you expose an interface to get this?

[2016-03-13 17:15] DavidVentura opened #895 "Log: TypeError: this.core is undefined clappr.min.js:8:21076 every 5 seconds"
**Browser**: Firefox 44.0.2
**OS**: Debian Linux

**Clappr Version**: "latest" from repo at March 13
**Steps to reproduce**:
- Load a player with an HLS source (  source: "https://site/hls/movie.m3u8" )
- Let video play
- receive TypeError: this.core is undefined clappr.min.js:8:21076 every 5 seconds

Did you try to reproduce this issue at http://cdn.clappr.io/. **Yes, it doesn't happen here**

[c

[2016-03-13 17:17] leandromoreira commented on #895
@DavidVentura can you enable logs and then paste the logs in here:

[code]

You should see debug logs at FF console.

[2016-03-13 17:19] DavidVentura commented on #895
First few errors. Note that the video PLAYS and works well
[code]

[2016-03-13 17:33] leandromoreira commented on #894
@DavidVentura I don't know if I quite understood you but you can fine tune the size of the live/vod buffer for HLS:

The default playback [loads configurations](https://github.com/clappr/clappr/blob/master/src/playbacks/hls/hls.js#L50), it relies on [hls.js](https://github.com/dailymotion/hls.js/blob/master/API.md):

[code]

The [flash playback](https://github.com/clappr/clappr/blob/master/src/pla

[2016-03-13 17:40] leandromoreira commented on #895
Thanks @DavidVentura I tried to reproduced here (MacOS, FF 44.0.2) but I couldn't ;(

Can you try to debug to stop at the point where this `undefined` error occurs? once we know the piece of the code and the context me might fix it.

[2016-03-13 17:41] DavidVentura commented on #894
I meant to get the 'current' buffer size. When playing live HLS video you download chunks of the video, depending on network speed/etc your buffer is of a different size. So you are 'behind' the live stream by a certain time, I need to know the length of the buffer.

[2016-03-13 17:44] leandromoreira commented on #895
@clappr/core can we map "clappr.min.js:8:21076" back with .map ?

[2016-03-13 17:51] leandromoreira commented on #894
I don't think there is a way to access that =/ for live events what we did was:

1. get the images from [RTMP](https://github.com/jbochi/live_thumb) (therefore faster than hls)
2. getting an image for each 10s segment (this makes easy the "right" position)
3. adjusting the "live" timestamp between server and client

[2016-03-13 18:04] DavidVentura commented on #894
I was using 'bitdash' player before, it had access to this. How does this player know when it runs out of buffer?

[2016-03-13 18:15] leandromoreira commented on #894
We need to look at the playbacks hls.js and flashls looking for events, I guess they offer this.

[2016-03-13 18:46] DavidVentura commented on #894
hls.js shows it as "last buffer" here http://dailymotion.github.io/hls.js/demo/ .. I'm not sure how I would go about exposing this through clappr directly

[2016-03-13 18:51] tjenkinson commented on #894
https://github.com/tjenkinson/clappr-markers-plugin/issues/3 might be useful.

[2016-03-13 18:53] tjenkinson commented on #894
And this https://github.com/clappr/clappr/pull/825

[2016-03-14 15:37] #893 closed

[2016-03-15 09:36] its27 commented on #844
I had to remove the HLS.js test link above, I can setup another test if required though.

[2016-03-15 12:08] leandromoreira commented on #844
@its27 it's using one version behind the latest!

[2016-03-15 12:45] mikeevstropov opened #896 "Android Chrome issue (HLS VoD)"
**Browser**: Chrome 46+
**OS**: Android 3, 4, 5, 6
**Clappr Version**: 0.2.38
**Steps to reproduce**:
* just follow to any player on http://warnerfilm.ru/ (sorry for ad in player)
* as example http://warnerfilm.ru/online/bagrovyj-pik

Did you try to reproduce this issue at http://cdn.clappr.io/
- no (access-control-allow-origin)

Hi, i cant play my stream on Android with Chrome Browser.
But it's w

[2016-03-15 13:47] #896 closed

[2016-03-15 16:02] tjenkinson commented on #871
I think this is fixed now.

[2016-03-15 16:02] #871 closed

[2016-03-15 16:06] tjenkinson commented on #869
There currently isn't an option for this.

I think there should be a new `disableKeyboardShortcuts` option, which will be forced to `true` when `allowUserInteraction` is `false` (https://github.com/clappr/clappr/issues/880#issuecomment-195545710)

[2016-03-15 18:58] DavidVentura commented on #805
I'm experiencing this.. and it seems to download the (cached) file every time the live hls segment finishes (so, every 5 seconds). The problem is that all text on-screen flashes when new fonts are loaded (at least on firefox 44.0.2)

![vmware1](https://cloud.githubusercontent.com/assets/3650670/13790324/a92e0864-eac6-11e5-84de-d4315cf7ee27.png)

[2016-03-16 15:03] GeorgySerga opened #897 "Is there a way to play .ts file without .m3u8?"
**Browser**: Chrome 49, Firefox 45.

**OS**: Ubuntu 14.04

**Clappr Version**: 0.2.38

Hi. I try to play '.ts' videos through http progressive download. The player doesn't recognize source without the mimetype, and I did try "video/MP2T" (not working, "browser doesn't support..." message), "application/x-mpegURL" (no errors, works on Android phone, extremely high cpu usage), "video/mp4"(no errors,

[2016-03-16 16:18] kolpax opened #898 "Controls icons load but never appear"
**Browser**: Chrome Version 49.0.2623.87 (64-bit)

**OS**: OSX 10.11.3 (15D21)

**Clappr Version**: 0.2.38

When loading a page with clappr I do not see the controls icons. I can still click on their spaces and play/pause/other but the SVG icons do not appear. I can see in the Network dev tools that `sprite.svg` loads correctly.
I am using clappr inside of a CycleJS component, the source looks kin

[2016-03-16 17:48] bikegriffith commented on #898
I've struggled with this with my React app as well.  2 things come to mind:
1. Check your console to make sure there are no cross-origin errors for the font face
2. You may want to hack around and make sure the Player icon font is added to your <head> manually ... when you tear down the DOM nodes for the player, it seemed to confuse it

[code]

[2016-03-16 18:03] tjenkinson commented on #805
Confirmed this is happening in firefox 45.0

[2016-03-16 18:08] tjenkinson commented on #805
It's whenever the `dvr_controls` plugin renders. When the render happens the element is wiped and then the text is re-added. I think when the text element is removed, firefox is removing the font from memory because it thinks it doesn't need it anymore.

[2016-03-16 18:17] towerz commented on #898
@kolpax @bikegriffith we are working in an updated version of the media control/poster that do not rely on font rendering, instead using inline svgs for the icons. I believe this will be added in the next clappr release.

[2016-03-16 18:20] tjenkinson commented on #805
@towerz will this be fixed in the next version of the media control you're working on, or shall I look into it?

[2016-03-16 18:22] towerz commented on #805
@tjenkinson since the media control won't use these icon fonts, this behavior will be fixed as well.

[2016-03-16 18:33] tjenkinson commented on #805
:+1:

[2016-03-16 18:45] bikegriffith commented on #898
@towerz would love to know if that helps with the total minified bundle download size ... that's one of our current concerns

[2016-03-16 20:37] towerz commented on #898
@bikegriffith it probably won't reduce the total minified bundle size, because it will add the svg source directly to the media control template, but it will reduce the total download size  (and perhaps the the inline css size), because no font will be added to either the controls or the poster. The svg files we use are really small, and they will be minified as well.

Even if it doesn't reduce th

[2016-03-17 13:22] leandromoreira commented on #770
can we close this one?

[2016-03-17 13:31] tjenkinson commented on #770
No I'd forgotten about this but it still happens.

If you start a stream then throttle the network in chrome's dev tools, let it stall for a while, then unthrottle it so it resumes it still shows as being at the live point.

[2016-03-17 16:37] DavidVentura commented on #805
What's needed to finish the media control? Issues/etc? Can you link them here?

[2016-03-17 19:32] #846 closed

[2016-03-17 20:04] ronag opened #899 "Retry m3u8"
Event with https://github.com/clappr/clappr/pull/890

Clappr doesn't retry manifest requests:

![screen shot 2016-03-17 at 21 02 32](https://cloud.githubusercontent.com/assets/3065230/13859457/d1a75e94-ec83-11e5-9d4b-b8a56ea74bdc.png)

Instead the request is cancelled after 10 seconds without retrying.

[2016-03-17 22:20] ronag commented on #897
No, this is not really possible since browsers don't support mp2t. The reason m3u8 is because that is handled by hls.js which rewraps the mp2t files into mp4. However, it will only do that together with m3u8. You would need to somehow modify hls.js to get this to work. Or just generate a single entry m3u8 file...

[2016-03-18 08:45] Tkamiya commented on #878
Hi towerz,

Thank you for your information.
I added your information to parent element.
I can see it works properly on my laptop.
But if I access via my smartphone, then player is still protruded like attached picture file.
You can see the red selected area in this picture file.

![screenshot_2016-03-18-17-40-00](https://cloud.githubusercontent.com/assets/15607238/13872869/c02bf3d4-ed30-11e5-8f48-

[2016-03-18 11:16] ronag commented on #899
Can be configured using `hlsjsConfig`

[2016-03-18 11:16] #899 closed

[2016-03-18 18:04] towerz commented on #878
@Tkamiya it seems you have changed the player container correctly, but your responsive style is not resizing it to the right size.

I ran the chrome inspector simulating a Nexus 5X, and the player container is sized to 660x360, instead of being resized to fit the viewport width (411px in my test).

![screenshot 2016-03-18 14 58 03](https://cloud.githubusercontent.com/assets/989801/13887444/7db1f26

[2016-03-19 03:01] me-vlad opened #900 "[HLS] incorrect container dimensions after exit fullscreen mode"
**Browser**: Firefox 45.0 on Fedora 23 x86_64, Firefox 45.0.1 on Windows 10 x86_64, Firefox 44.0 on Mac OS X  10.9 Mavericks

**Clappr Version**: 0.2.38 - 0.2.40  with hlsjs and flashls playbacks

**Steps to reproduce**:

* open   http://cdn.clappr.io/ with Firefox browser and change source to http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8
* click play, then fullscreen button and exit full

[2016-03-19 18:59] towerz commented on #900
@me-vlad actually, this is not a bug. You set the player size to occupy 100% of its parent dimensions.

Since the player container style in the test page only has a minimum width, the player container will fill the entire parent height, and use the minimum width (320 px, I think).

If you set the player width/height to fixed values, it will resize correctly.

[2016-03-19 19:10] me-vlad commented on #900
@towerz on cdn.clappr.io player has fixed width and height values
This issue related only for Firefox, I cant reproduce it on Chrome, IE, Edge etc.

[2016-03-19 21:23] towerz commented on #900
@me-vlad I see, sorry about that, I just got the error here. It seems to be either a problem with the player `destroy` method or with the `fullscreenchange` event listeners. I'm still trying to isolate the problem.

If you load the test page using the source in the query string (http://cdn.clappr.io/?src=http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8), the problem does not seem to happen.

[2016-03-19 21:31] towerz commented on #900
I just found what happens exactly. The problem occurs only when loading through the `run` button in the test page. It's actually related to how the player behaves when two instances are embedded in a page, after one of the instances is destroyed. The event listeners responsible for handling the fullscreenchange event are destroyed and no other listener is registered.

To reproduce the problem:
- c

[2016-03-19 22:00] towerz commented on #805
@DavidVentura it was already developed, we only needed some tests before merging this to Clappr itself. We had implemented this in our closed source player, and only needed to backport the changes.

There was no open issue in the Clappr project, but you can check these commits I just pushed and see whether this will work for you.

[2016-03-19 23:16] me-vlad commented on #900
@towerz  may be I missed something but I cant log fullscreen events on cdn.clappr.io adding

[code]

[2016-03-20 02:14] me-vlad opened #901 "[FlasHLS] missing play event after starting paused LIVE stream"
**Browser**: ANY w/ flash support (reproduced on chrome, firefox)

**Clappr Version**: 0.2.39 - 0.2.40 (works fine with 0.2.38)

**Steps to reproduce**:

* enable flashls playback, add LIVE (not VOD) hls source
* start playing, click on pause then click on play button
* stream resumed (end PLAYER_PLAY event fired) just after second click on the player

Reproduced at http://cdn.clappr.io/

config t

[2016-03-20 03:12] towerz commented on #900
@me-vlad actually, the `MEDIACONTROL_FULLSCREEN` event is triggered by the media control when the user activates fullscreen. It's not triggered on the player object, so the right way to do this is
[code]
But even doing this, the exit fullscreen event won't be triggered when pressing ESC.

[2016-03-20 04:07] towerz commented on #900
@me-vlad I just pushed a change including the PLAYER_FULLSCREEN event. Now you can just do this:
[code]
b3a2468 solves the problem you reported. Please let me know if it works for you

[2016-03-20 04:43] towerz commented on #901
@me-vlad I managed to reproduce the error, but I believe the problem only occurs when stopping the video, not pausing. Your test stream does not have DVR enabled (at least for Clappr minimum DVR duration).

The problem was caused by the manifest loaded event being caught only on the first play. After stopping the video and then starting it again, the event is triggered but no longer listened by th

[2016-03-20 12:41] ronag opened #902 "currentTime inaccurate"
I'm not sure whether this is a general issue, an issue with hlsjs or with clappr.

What I'm trying to do is to find the frame number currently being displayed. However, I've noticed that current time is somewhat inaccurate and is off by a few frames in either direction. I've tried different offset and rounding correction strategies without success.

Does anyone have any comments on the accuracy of

[2016-03-20 14:05] me-vlad commented on #900
@towerz  thanks, it works on firefox, i'll test master build with other browsers

[2016-03-20 14:11] me-vlad commented on #901
@towerz indeed this issue related only for live streams w/o DVR, for DVR enabled streams it worked f.e. with
http://b028.wpc.azureedge.net/80B028/Samples/a38e6323-95e9-4f1f-9b38-75eba91704e4/5f2ce531-d508-49fb-8152-647eba422aec.ism/Manifest(format=m3u8-aapl-v3,audio-only=false).m3u8

https://github.com/clappr/clappr/commit/6fde7d05f79cf6c4f370a391af2af848dc7dc84c fixes this issue, thanks, Bruno

[2016-03-20 14:24] me-vlad opened #903 "icons: mediacontrol styling option regression after switching to svg icons"
**Browser**: ANY

**Clappr Version**: git master https://github.com/clappr/clappr/commit/6fde7d05f79cf6c4f370a391af2af848dc7dc84c

**Steps to reproduce**:

* install clappr from latest git (after https://github.com/clappr/clappr/commit/d6d47b6db6e53d3f2b00fda71e72e3ee2c823bc1)
* add to player config
[code]
* buttons (controlbar buttons ,poster play icon) styling not changed

[2016-03-23 13:07] nextlivetv opened #904 "DVR preload"

[2016-03-23 21:56] towerz commented on #903
@me-vlad thanks for reporting. I just pushed 	a15861a which should fix this regression. Please let me know if this works for you.

[2016-03-23 23:02] me-vlad commented on #903
@towerz  just tested with  a15861a - svg fill color still #010101
Also I think poster plugin needs to be changed for big play button color styling.

[2016-03-24 14:39] towerz commented on #903
@me-vlad agreed. The poster controls should follow the media control styling.

About the svg fill color, the actual color is being set through css. You can ignore this attribute, since browsers always override these attributes with the values defined through css. You can check this in the path element style in the browser inspector.

I just pushed a small fix in the fullscreen style (12aa33a), it

[2016-03-24 17:35] me-vlad commented on #903
@towerz testd on https://github.com/clappr/clappr/commit/f45bfe2d196a0c0b2ab42f361470fd26e4b12aa4

big play button (poster plugin), fullscreen control and volume control, HD indicator, play/pause - styling fixed
stop button - #010101

[2016-03-24 19:53] towerz commented on #903
Nice catch, @me-vlad, I forgot to check the play/stop toggle. Just pushed the fix.

[2016-03-24 19:54] towerz commented on #903
If everything is ok, I'll add some tests for this regression before closing the issue.

[2016-03-24 20:18] me-vlad commented on #903
@towerz stop button fixed for me, thanks

[2016-03-26 14:09] nextlivetv commented on #904
maxMaxBufferLength: 120
in
clappr.js --v ar Hls = function ()

[2016-03-26 14:09] #904 closed

[2016-03-28 08:24] juiyout opened #907 "Cannot read property 'start' of undefined when playing HLS stream"
**Browser**: Chrome 49.0.2623.87 (64-bit)

**OS**: Mac OS 10.11.3

**Clappr Version**: 0.2.40

**Steps to reproduce**:
A-1. Go to http://dailymotion.github.io/hls.js/demo/

A-2. Load http://104.199.166.147:15922/cameras/56e1aff06b570587043404ef/streams/0/playlist.m3u8

A-3. The HLS stream plays correctly.

B-1. Go to cdn.clappr.io

B-2. Paste the following code
[code]

B-3. The UI would be stuck a

[2016-03-28 09:15] cowai commented on #885
I get the same thing _sometimes_ in firefox. It's the animation "bubbles" which sometimes are square. (A simple page refresh can fix it sometimes.)

[2016-03-28 12:02] me-vlad commented on #907
@juiyout  I think something wrong with your stream
Try to turn on debug in clappr adding to your player config
Clappr.Log.setLevel(0);
I see in console lots of messages like
[code]

While playing you stream with ffplay I see repeating messages like
[code]

[2016-03-29 11:11] mikeevstropov commented on #839
@jasonbodily
[code]
Put it before create Clappr object.
Maybe it will be helpfull.

[2016-03-29 16:13] tjenkinson commented on #902
This might have been fixed with this: https://github.com/dailymotion/hls.js/releases/tag/v0.5.15

Do you still have the issue if you run with a build of master now? Make sure you `npm update` first to get the latest version of hlsjs.

[2016-03-29 16:57] tjenkinson commented on #892
[code]
should work.

(`configure()` lets you change options after instantiating the player.)

[2016-03-29 18:04] #869 closed

[2016-03-30 07:54] Marcin666 opened #911 "Fullscreen event not fired on ExitFullscreen?"
**Browser**: Firefox 45

**OS**: Win 10 x64

**Clappr Version**: 0.2.40

Player config:

[code]
Next i try to bind an event when user enters FS:

[code]
This is fired only on EnterFullscreen.

Then i try to bind an event to get info on exit fullscreen mode:

It tried:

[code]
or many more approches from this Git - nothing get's fired when i exit fullscreen.

[2016-03-30 14:19] mikeevstropov opened #912 "VoD stream not playing from start (iframe)"
**Browser**: Chrome 49.0.2623.87 (64-bit)
**OS**: Linux Mint 17.1 x64, Win7 x64
**Clappr Version**: 0.2.38 - 0.2.40

I put my clappr to iframe with a link bar.
When i load the url from a link bar inside iframe the clappr is starts from random segment.
How to force playing from start?
<a href="http://www.zimagez.com/zimage/2016-03-3020-51-56.php">
  <img src="http://www.zimagez.com/miniature/2016-0

[2016-03-30 14:49] leandromoreira commented on #912
@mikeevstropov did you tried to use the master/head version? @towerz did solve this problem, I think.

[2016-03-30 15:01] towerz commented on #912
@leandromoreira it was fixed in a local branch only. I'll push the fix to master.

[2016-03-30 15:03] mikeevstropov commented on #912
@towerz Sorry, what i can do now?

[2016-03-30 15:17] #903 closed

[2016-03-30 15:17] #901 closed

[2016-03-30 15:18] me-vlad commented on #900
ref: https://github.com/clappr/clappr/issues/911

[2016-03-30 15:26] towerz commented on #912
@mikeevstropov actually this is a bug on the query string parser, which reads a timestamp like `?t=5m10s` from the query string and automatically seeks to the corresponding position.

There was a problem with some of its checks, that wouldn't limit to check only the query string portion of the url. So if your iframe url contains a string in this format, it would try to parse it as well. Another pr

[2016-03-30 15:31] mikeevstropov commented on #912
@leandromoreira @towerz Thank you all!!! I will try it now.
And yes, i have «host» parameter for query...

[2016-03-30 16:23] leandromoreira commented on #912
please @mikeevstropov if you see it's fixed tell us or close it here :)

[2016-03-30 16:26] mikeevstropov commented on #912
@leandromoreira Ok.

[2016-03-30 19:51] mikeevstropov commented on #912
@leandromoreira @towerz Issue was solved =) You saved my life!!!

p.s. For build i just write "npm install" and "webpack". What happend with icons?
<a href="http://www.zimagez.com/zimage/2016-03-3102-45-16.php">
  <img src="http://www.zimagez.com/miniature/2016-03-3102-45-16.php" />
</a>

[2016-03-30 20:03] towerz commented on #912
@mikeevstropov glad to know =]

About the icons, we moved from a icon font based solution to rendering the icons directly using SVG. There were some issues related to using icon fonts that we wanted to get rid of, such as blurry icons when using a number of browsers in Windows, with either font smoothing enabled or not. Sometimes the icons would disappear completely, requiring to perform a forced

[2016-03-30 20:09] mikeevstropov commented on #912
@towerz Ok.
But i do it right? Just download master-zip -> 'npm install' -> 'webpack'.
[code]

[2016-03-30 20:09] #912 closed

[2016-03-30 20:52] towerz commented on #912
@mikeevstropov yes, you can do it that way.

[2016-03-30 20:57] towerz commented on #911
@Marcin666 actually, you should use the `PLAYER_FULLSCREEN` event. The fullscreen event on the container will be deprecated soon, and it isn't included in the docs anymore.

Try this:
[code]

[2016-03-30 20:58] towerz commented on #901
Anytime! :+1:

[2016-03-31 00:16] bikegriffith opened #913 "Should the most recent release (0.2.41) really have been 0.3.0?"
Just curious about what mandates a minor version bump and wanted to open it for discussion.

To me, the change from the Poster font the the svg icons is a significant enough undertaking that it should be bumped (I did some things with the Poster typeface in plugins that I *think* will need reworked).

I understand it's your call ultimately, but I'd really like to know how you think about versions

[2016-03-31 00:35] towerz commented on #913
@bikegriffith we didn't consider bumping a minor version with this change because there were no significant or breaking API changes. All poster/media control changes were in their internal implementation and did not change their function, just the way buttons are rendered within those components.

We don't actually recommend simply overriding templates/styles in the built-in plugins. Instead of do

[2016-03-31 08:41] Marcin666 commented on #911
Still nothing. This event is not fired at all even on going fullscreen.

[2016-03-31 13:06] leandromoreira commented on #911
cool @Marcin666 can we close this one?

[2016-03-31 16:06] bikegriffith commented on #913
@towerz it wasn't really that big of a deal ... I mentioned it actually here https://github.com/clappr/clappr/issues/898 as just a workaround I was doing.  I guess I just need to disable my workaround :)

I look forward to the future changes!

Closing this down...

[2016-03-31 16:06] #913 closed

[2016-03-31 19:10] towerz commented on #900
Closing this issue, since 0.2.41 includes this fix.

[2016-03-31 19:10] #900 closed

[2016-03-31 19:12] towerz commented on #898
This has been fixed in 0.2.41, but feel free to reopen if this issue is still happening.

[2016-03-31 19:12] #898 closed

[2016-04-01 11:36] jussike opened #917 "HLS: seeking is broken after changing live mode to vod on the fly"
***1 Upvote*** Environment:
FF 45, Chrome 49.0.2623.87, others. **Only Safari works as expected.**
Linux, Windows, OS X
Latest Clappr

Steps to reproduce:
* Provide a HLS-livestream (without #EXT-X-ENDLIST)
* Start playback
* Update your livestream to VOD (#EXT-X-ENDLIST as last line)
* Wait until Clappr detect VOD mode
* Try to seek near of end

What happened:
* The player allows you to try to se

[2016-04-01 12:05] leandromoreira commented on #917
Thanks @jussike can you try to reproduce this steps at http://dailymotion.github.io/hls.js/demo/ ?

[2016-04-01 15:27] jussike commented on #917
Yep, I tried.
The dailymotion demo player has this or related bug.
Total duration hasn't been refreshed, so forward seeking was hard.
However, I can keep the seek pointer on 100% when total duration raised quite fast. Seeking is possible after that.

I just noticed that this behaviour can be reproduced on live mode too.
If I seek backwards on live mode and after a while, trying to seek forward to

[2016-04-01 17:24] alouane opened #918 "Seek bar not selectable for hls on android"
Is there a problem with hls streams(dvr type- 6hours of storage) when using android webview?
The progress bar is not selectable, I c'ant go back, it works well on web desktop

[2016-04-01 17:32] leandromoreira commented on #918
@alouane we use pure video tag for android therefore if can or can not offer support for DVR.

@clappr/core

I think hls.js (video tag + MediaSource) supports that, I'm in favor of rolling hls.js before than HtmlVideo5, what do you think?

[2016-04-01 17:35] leandromoreira commented on #917
@jussike thanks :) I suggest that you open an issue there, providing all the details to reproduce this bug (and close this one) and if you can send them a PR @mangui is a great developer!

[2016-04-01 17:53] alouane commented on #918
Ok, can you specify the link of your hls.js, so i can test it.
Is there a way to force use of capprl hls plugin on Android instead of native HLS of Android devices?

[2016-04-01 18:18] towerz commented on #918
@alouane you can force clappr to try using hls.js instead of a simple html5 video tag. It's not guaranteed it will work or be activated at all, it depends on browser/webview support for MSE.

To try using hls.js for android you can try this:
[code]

[2016-04-01 18:19] towerz commented on #918
@leandromoreira I agree, we can change the default playback priority to include hls.js before the default html5 video playback.

[2016-04-01 18:28] alouane commented on #918
@towerz PERFECT! it's working, very smooth! Thanks

[2016-04-01 18:28] leandromoreira commented on #918
https://github.com/clappr/clappr/commit/295acc7ad28571fe24cf7268baf40c56c593c16c

[2016-04-01 18:29] #918 closed

[2016-04-02 14:52] alouane opened #919 "Get Bandwidth value during hls streaming"
Is there any way to display the bandwidth value during hls streaming?
If yes, how to add a component beside volume or full screen buttons?

[2016-04-02 15:01] me-vlad commented on #919
@alouane m.b. you need something like Clappr Level Selector Plugin?
https://github.com/clappr/clappr-level-selector-plugin

[2016-04-02 15:07] #919 closed

[2016-04-05 06:19] ronag opened #925 "Player Timeline Too Wide"
When a clip is loaded in the played, a small timeline (with indicator or current position) is displayed below.

However, as the timeline is as wide as the window, it's difficult to see whether you are exactly at the start or beginning.

I think the timeline needs to be squeezed a bit horizontally so that you have a small margin on each side.

[2016-04-05 06:20] ronag opened #926 "Display Frame Number"
In the player we currently see time as MM:SS. We would like to be able to see the frames as well. E.g MM:SS:FF.

Is this even possible?

[2016-04-05 11:51] 3dd13 opened #927 "Question: custom MediaControl and custom Playback communication"
### What I want to do

add a button to MyMediaControl which should trigger a method in MyHtml5Video

### Current Way

right now, inside MyMedieControl I can do this by

    this.container.playback.myPlaybackMethod()

### Question

is it the best practice way ?
should I also add a custom MyPlayer which builds an interface in between instead ?
or should I actually add a listenTo (and trigger) mechan

[2016-04-05 13:52] leandromoreira commented on #927
@3dd13 you could provide your own media control.

[code]

Or you could do a plugin like [Level selector](https://github.com/clappr/clappr-level-selector-plugin) which [includes itself within the existent media control](https://github.com/clappr/clappr-level-selector-plugin/blob/master/src/main.js#L83).

@clappr/core We need to provide examples about how to write your own media control.. anyway, do

[2016-04-05 19:15] towerz commented on #927
@3dd13, your call to `this.container.playback.myPlaybackMethod()` is correct.

In Clappr, data flow is defined this way: components that broadcast data or inform conditions to unknown receivers should trigger events, and components that must interact with other elements within their own scope should call methods. Calling methods for known references to other components is the recommended way.

Abo

[2016-04-05 19:29] leandromoreira commented on #926
did you mean like the FPS?

[2016-04-05 19:39] towerz commented on #925
@ronag are you referring to the seek bar? It was designed this way, but it's not a big problem since the user can drag the scrubber to both start/end positions, even if the mouse cursor leaves the player bounds. This drag behavior will work even on fullscreen.

[2016-04-05 19:40] tjenkinson commented on #917
I just tested this with https://github.com/clappr/clappr/commit/4fcbf2d502c0f4697c96ddefdd41676ee58ccc87 and it seemed to work fine.

[2016-04-05 19:45] ronag commented on #926
@leandromoreira: I mean fractional seconds converted into frame numbers, e.g. 0.4 @ 25fps = 00:00:01

[2016-04-06 03:04] towerz commented on #839
@mikeevstropov @jasonbodily the `extend` function has been recently fixed on 638965bc4523ae583710f7b94ee6b616e995832a. It was also added as a helper to the `MediaControl` class, so you can now do something like:
[code]

[2016-04-06 07:16] jussike commented on #917
I just tested with release 0.2.47 and the bug still appears.
Demo video: https://db.tt/Khq69XVr

Seems that problem is HTMLMediaElement.seekable has wrong range and HTMLMediaElement.duration didn't updated correctly.

On live-mode (and after-live -mode), durationChange-event fired often but the value is near of current time, instead of single duration change -event to final full duration.

Could y

[2016-04-06 07:49] mikeevstropov commented on #839
@towerz Wow! Thank you! We can close this issue.

[2016-04-06 10:26] tjenkinson commented on #917
Thanks for the demo. It sounds like this is a hlsjs issue with something about your stream.

What is the duration and size of each of your chunk files?

I'd suggest creating the same video on the hlsjs demo page, and open an issue with hlsjs, including the entire log that it prints to the console. Then paste a link to this issue in it as well so they will be linked.

[2016-04-06 10:36] #927 closed

[2016-04-06 10:36] 3dd13 commented on #927
thanks guys ~

[2016-04-06 10:40] jussike commented on #917
Thanks for the suggestion. I just got it working and i'm testing more and preparing the fix.

[2016-04-06 10:49] tjenkinson commented on #917
:+1:

[2016-04-06 12:26] #839 closed

[2016-04-06 13:47] DavidVentura opened #930 "Lots of requests per second to the same .ts files"
**Browser**: Chrome/Firefox

**OS**: Linux

**Clappr Version**: latest from cdn

**Steps to reproduce**:

When playing video I get lots of request for the same files yet the video doesn't seem to play (plays, finishes a segment, gets stuck for 1-2 segments, plays a single segment... )
Did you try to reproduce this issue at http://cdn.clappr.io/: Yes, same thing

Playing the m3u8 file on mpv/vlc wo

[2016-04-06 15:41] #917 closed

[2016-04-06 17:01] leandromoreira commented on #930
@DavidVentura jsdelivr is hosting an old version of Clappr, can you provide the stream for testing?

[2016-04-07 14:42] gamtiq opened #932 "Several typos in Architecture wiki page"
There are the following typos in [Architecture wiki page](https://github.com/clappr/clappr/wiki/Architecture):

[2016-04-07 16:25] leandromoreira commented on #932
Thank you @gamtiq  :smile: . You can directly (while logged in in github) edit and create PR to solve this issue.

[2016-04-07 19:07] gamtiq commented on #932
Fixed.

[2016-04-07 19:07] #932 closed

[2016-04-08 01:26] leandromoreira commented on #932
Thank you so much @gamtiq :)

[2016-04-08 08:56] juiyout commented on #907
@me-vlad
You are right! Interestingly, hls.js ignores the occasional missing files and plays the streams through even though some gaps here and there. Wonders why clappr wouldn't replicate this behavior.

Thank you so much for giving me this pointer. Closing now.

[2016-04-08 08:56] #907 closed

[2016-04-08 12:05] alouane opened #933 "Clappr integration with ionic issue"
I have an issue with running clappr video player inside an ionic app (android):
Adding this line:
 `<script type="text/javascript" src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js">`
triggers this error:

This error happens also on a web browser
Any help?

[2016-04-08 14:03] leandromoreira commented on #933
Try to test using http://cdn.clappr.io/latest/clappr.js instead of jsdelivr

[2016-04-08 14:04] leandromoreira opened #934 "Jsdelivr is not updated"
^

[2016-04-08 14:37] alouane commented on #933
Didn't work, I have got the same problem. As you know, ionic is using angularjs, so I'm wondering if there is some incompatibility between clappr and angular
I had a similar problem with videojs + angular, but fortunately I found a working directive to run videojs.
Now I'm trying to get a solution for crappl.
Our clients prefer Clappr than any other video player

[2016-04-09 00:46] leandromoreira commented on #933
Thanks @alouane can you provide more info? (like the line where this error occurs) Because I couldn't find any place on clappr which has `srcEvent`

[2016-04-09 02:33] towerz commented on #933
@alouane are you using any external plugins? Can you provide any test URL so we can try to reproduce the problem on a web browser?

[2016-04-09 02:34] towerz commented on #934
Perhaps we should try submitting a PR with at least the latest version.

[2016-04-09 02:44] towerz commented on #880
Closing the issue, there are no more needed changes to fix this behavior.

[2016-04-09 02:44] #880 closed

[2016-04-09 10:23] alouane commented on #933
Hi, after some debugging I found the source of the problem (It's not an angular incompatibility problem, but it's related to an ionic tag, somethings happens when I add this tag ` **<ion-side-menu-content>**)`.
See bellow my test:
1- I install a fresh ionic app by taping: `ionic start ClapprTest tabs`
2- I add this script : `<script type="text/javascript" src="https://cdn.jsdelivr.net/clappr/lates

[2016-04-09 10:26] #933 closed

[2016-04-09 18:31] mikeevstropov opened #935 "How to detect FlasHLS?"
**Browser**: Yandex Browser 16.4.0.6115 beta (64-bit)
**OS**: Linux Mint 17.1
**Clappr Version**: 0.2.47

I want to know when FlasHLS automatically activated.
Can someone show me method or property?
Thank you.

p.s. And this browser always throwing exception with FlasHLS.
[code]

[2016-04-09 19:11] tjenkinson commented on #934
https://github.com/jsdelivr/jsdelivr/pull/10939

[2016-04-09 19:38] towerz commented on #934
@tjenkinson there's only one problem with changing the package manager from github to npm. Currently, our npm package includes the player source as well as dist files. In jsdelivr docs, they recommend only adding files that are used in production environments.

[2016-04-09 19:41] tjenkinson commented on #934
@towerz doesn't it only pick the files from the dist folder though?

[2016-04-09 19:44] towerz commented on #935
@mikeevstropov you can check whether the FlasHLS supports your source by using the static `canPlay` method. It's used when loading the most suited playback for a given source.
[code]
This will check whether flash is installed, etc. One detail is that in Clappr, the default HLS priority is using hls.js (with MSE), the native video tag, and when all else failed, FlasHLS.

About this error, it's an e

[2016-04-09 19:46] towerz commented on #934
I'm not sure if jsdelivr takes the "files" filter into account when using npm. Let's wait for a response on that issue, to see how it behaves with it.

[2016-04-09 19:53] mikeevstropov commented on #935
@towerz Thank you for answer!
Maybe we have other(dirty) way without query on server?

[2016-04-09 20:33] mikeevstropov commented on #935
I found! It's so simple...
[code]

[2016-04-09 20:35] #935 closed

[2016-04-09 20:40] towerz commented on #935
@mikeevstropov I didn't understand what you really wanted at first, you want to check whether or not the player loaded the media source using FlasHLS, not if it would load using it prior to initializing the player. Yes, this check you discovered is actually right, and will work if you need to check for other types of playback as well.

About the static check I mentioned (`canPlay`), it doesn't mak

[2016-04-09 21:11] mikeevstropov commented on #935
@towerz Okay. I understood about `canPlay`.
The main reason for the search is the problem with buffering.
I placed a banner to the player. It's look like a preroll. When user clicks to "play" the player has start buffering and show ad. Second click on the "close ad" the player will hide banner and starts playing.
[code]
But `player.pause();` is not working when the Clappr uses FlasHLS plugin.

[2016-04-09 21:35] towerz commented on #935
@mikeevstropov I see, but there's one detail about pausing HLS streams. Is it a live stream or VoD?

With live streams, Clappr will only support pausing when the stream has DVR support. This means that your stream needs to have a duration longer than a given threshold set. The default threshold for minimum duration needed to be considered supporting DVR is 1 minute. You can configure this setting

[2016-04-09 21:39] mikeevstropov commented on #935
@towerz
I use VoD stream. And trouble with `pause()` only on FlasHLS plugin.

[2016-04-09 22:12] towerz commented on #935
No, it can't. It seems to be a bug on the FlasHLS playback, or FlasHLS itself. I'll open another issue related to this problem so we can sort this out. Thanks, @mikeevstropov

[2016-04-09 22:15] mikeevstropov commented on #935
@towerz Ok. Thank you too! Now I can catch the error.

[2016-04-09 22:22] towerz opened #936 "[FlasHLS] Inconsistent state when pausing immediately after calling play"
When discussing some details on how to detect whether FlasHLS is enabled for a given source, @mikeevstropov discovered that calling `player.play(); player.pause()` doesn't work correctly.

I tried checking on http://cdn.clappr.io and the playback seemingly tries to pause before loading the source, instead of delaying it. I ran the following code:
[code]
And instead of interacting, I ran the follow

[2016-04-10 10:02] tjenkinson commented on #934
It's updated now http://cdn.jsdelivr.net/clappr/latest/clappr.js

Just waiting to hear back about our asset names changing https://github.com/jsdelivr/jsdelivr/pull/10944

[2016-04-10 11:20] tjenkinson commented on #934
If the file names don't change (ie assets) then it will automatically update, otherwise one of their guys will manually check and merge the automatic pr's at their end.

It's still using GitHub not npm. There was a bug which they've now fixed.

[2016-04-10 11:20] #934 closed

[2016-04-11 20:16] primoitt83 opened #939 "Question about Firefox"
**Browser**:  Firefox 38

**OS**:  Linux Ubuntu 12.04

**Clappr Version**: latest

**Video**: http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8

**Video**: http://techslides.com/demos/sample-videos/small.ogv

Hello,

I'm trying test some videos in http://cdn.clappr.io/ and got some messages on console.

TypeError: Function.prototype.toString called on incompatible object clappr.min.js:3:17405

[2016-04-11 20:45] mikeevstropov commented on #936
When `player.play` is calling after CONTAINER_LOADEDMETADATA event, it works correctly.
[code]

[2016-04-12 00:05] leandromoreira commented on #939
@primoitt83 we've changed some JS libraries and one of them break the compatibility with Firefox older than 39.

@clappr/core do you think we should investigate this?

[2016-04-12 19:04] towerz opened #941 "Source fallback not working"
When loading multiple sources, the fallback behavior is not working properly. Instead of going through the list in search of valid playbacks, the first playback is being returned instead.

This can be reproduced with the following example, on http://cdn.clappr.io, with the dash plugin (https://cdn.jsdelivr.net/clappr.dash-shaka-playback/latest/dash-shaka-playback.js):
[code]
The first invalid sour

[2016-04-12 19:08] #941 closed

[2016-04-13 00:32] towerz commented on #939
@leandromoreira @primoitt83 it seems to be related to an issue on lodash that's already been fixed. Apparently, the offenders are lodash.result and lodash.uniqby. Both have been updated to version 4.3.0, but it probably wasn't included on Clappr 0.2.47.

I tested with Firefox on http://cdn.clappr.io (Clappr 0.2.47) and the same problem occurred, while testing on the same browser with current maste

[2016-04-13 01:00] leandromoreira commented on #939
@primoitt83 can you test it against current master ? (then we can close it)

[2016-04-13 10:33] PNixx commented on #939
**Browser**: Firefiox 45.0.1
**OS**: Mac OS 10.11.4
**Clappr Version**: 0.2.47
**Video**: Any non-work address

Hello.
Event `Clappr.Events.PLAYER_ERROR` doesn't work, I try `PLAYBACK_ERROR` but it has not given the results.
![2016-04-13 13 25 44](https://cloud.githubusercontent.com/assets/1117351/14490549/7d94ba98-0184-11e6-966a-e8340f994d57.png)

[2016-04-13 11:43] primoitt83 commented on #939
@leandromoreira I will do it as soon as possible!

@towerz thanks man!!!

[2016-04-13 13:07] primoitt83 commented on #939
Hello again!

No luck!

TypeError: Function.prototype.toString called on incompatible object clappr.min.js:3:17405

ReferenceError: Clappr is not defined qualidade.html:65:10

O método getPreventDefault() não deve mais ser usado. No lugar, use defaultPrevented.

This is what i did it.

Download version 1419c45

https://github.com/clappr/clappr/archive/1419c451428d2b0f2fa23b37ab6a4d2c37b6f2ec.zip

[2016-04-13 13:20] leandromoreira commented on #939
@primoitt83 can you test using this dist? This is the latest build http://www.filedropper.com/dist

Usually you could:

1. git clone https://github.com/clappr/clappr.git
2. npm install
3. npm run release
4. use dist/ folder

[2016-04-13 13:31] primoitt83 commented on #939
@leandromoreira even using the dist,zip you uploaded i got the same error

TypeError: Function.prototype.toString called on incompatible object clappr.min.js:3:17423

ReferenceError: Clappr is not defined qualidade.html:65:10

O método getPreventDefault() não deve mais ser usado. No lugar, use defaultPrevented.

I'll try git method that you mentioned.

Thanks

[2016-04-13 14:45] primoitt83 commented on #939
I've tryed git method and good news!!

Everything is working properly now on Firefox 38!!

Here's my results:

OGV - works!
WEBM - works!
MP4 - works!
FlasHLS - works!
HLS - doesnt work. Probably old Firefox is not compatible. Firefox 45 and Chrome 34 works fine

You Clappr's guys rock!!!

Thank you so much for help me out!!

Cheers!  :+1: :D

[2016-04-13 15:09] gamtiq commented on #677
Version 0.2.47 still has this bug. It seems that the bug was brought back by c805ffa

[2016-04-13 16:49] leandromoreira commented on #939
Thank you @primoitt83 soon we'll post a new version.

[2016-04-13 16:49] #939 closed

[2016-04-13 19:16] FDiskas commented on #677
I see that there is no tests written. :D
https://github.com/clappr/clappr/commit/736138a5f8b01bde61d9bacfc5bc70b0555aaa50
So why we returning to the same bug twice?

[2016-04-13 19:38] towerz commented on #677
@FDiskas you are welcome to submit a PR and add proper tests if you wish.

[2016-04-13 19:43] FDiskas commented on #677
It's not my bussines

[2016-04-14 09:16] iongion commented on #497
In the current clappr - PlayerInfo.playbackPlugins is empty, where did the plugin registry go ?

[2016-04-14 12:52] iongion commented on #497
For the most recent clappr `latest` I have managed to arrive here:

[code]

There are no errors, the flow seems correct, it creates the correct m3u8 playback plungin but there is nothing played, **what am I missing** ?

(I try to avoid use of lodash that is why you have those ugly for loops)

[2016-04-14 13:29] leandromoreira commented on #497
I tested at http://cdn.clappr.io/ and `player.core.playerInfo.playbackPlugins` is working, the [loader component](https://github.com/clappr/clappr/blob/master/src/components/loader/loader.js#L85) is responsible to manage all plugins `player.loader.playbackPlugins || player.loader.containerPlugins`

No, they're by instance.

Did you add it to `Clappr.Player` constructor? If yes, after you try to pl

[2016-04-14 14:04] towerz commented on #497
@iongion it seems you are only missing a call to `render()` when instantiating `this._playback`.

Try changing the `play()` method to something like this:
[code]

[2016-04-14 14:33] iongion commented on #497
@towerz Thank you so much for answer - I have added the element as you instructed but still I am unable to see any video being displayed:

I am testing against a local mp4 or m3u8 and the screen is always black, as below

![image](https://cloud.githubusercontent.com/assets/867609/14531452/aa302158-025d-11e6-8ac3-131c06e2ad30.png)

When I use m3u8 the src gets trasformed into the blob url you see i

[2016-04-14 15:24] towerz commented on #497
@iongion actually, this code is working properly, but there are some small issues with this approach. In order to make your playback proxy work, you have to actually proxy the inner playback methods (play, pause, seek, etc) and some of its properties, as well as bubbling up the playback events.

A working example would look like this:
[code]
I would suggest instead of doing this, to create an empt

[2016-04-14 15:44] iongion commented on #497
Ok @towerz, I will follow the new guideline but first I need to:

1) Understand what UICorePlugin is and how it works
2) Keep KeemotionVideoHashSource plugin with only canPlay class method and hashToURL - but then who calls hashToURL ?

Is this an up to date UICorePlugin that I can use as example ?
https://github.com/clappr/clappr-level-selector-plugin/blob/master/src/main.js

[2016-04-14 16:30] ronag opened #943 "Jank/Glitch in HLS playback"
**Browser**: Chrome Version 49.0.2623.87 (64-bit)

**OS**: OS X El Capitan

**Clappr Version**: http://cdn.clappr.io/

**Steps to reproduce**:

* Use [files.zip](https://github.com/clappr/clappr/files/219539/files.zip)
* Play using http://cdn.clappr.io/. There is a jank/glitch in playback around the 5 second mark.
* Play using http://dailymotion.github.io/hls.js/demo/. There is no jank/glitch.

Q:

[2016-04-14 17:02] ronag commented on #925
@towerz: Well, I would say there are problem with the design since you cannot click to the start, only drag...

[2016-04-14 17:09] tjenkinson commented on #943
This is probably this:
https://github.com/dailymotion/hls.js/issues/351

[2016-04-14 20:04] tjenkinson commented on #835
This warning has gone now. Maybe it was in a dependency update

[2016-04-14 20:04] #835 closed

[2016-04-14 20:12] towerz commented on #925
@ronag I don't think of this as a problem. The seekbar click is not really precise, specially for longer videos, since it has to map the click offset to a duration percentage. Dragging the scrubber is the option that's more precise, so it would be used more often when the user wants to seek to a given time.

Additionally, the media control as well as its style can be overridden, so if you need to

[2016-04-14 20:14] tjenkinson opened #946 "Hls playback error being triggered, but hlsjs still recovers"
**Clappr Version**: master

If you start a hls stream then set the internet to disconnected in dev tools, the playback will stall, and then:

[code]

Then if you turn the internet back on playback resumes fine.

Should these errors really be happening if it still recovers?

Also because this error event happens it is causing the loading indicator to be removed.

[2016-04-14 20:25] leandromoreira commented on #946
We could change them for warnings! But after x times I think we really need to trigger PLAYER_ERROR

[2016-04-14 20:26] tjenkinson commented on #946
I'm submitting a PR in a minute. The path changed slightly in the commit @towerz made.

[2016-04-14 20:26] leandromoreira commented on #946
it shouldn't recovery after x times

[2016-04-14 21:30] towerz commented on #946
Thanks @tjenkinson, we missed non-fatal errors on our solution.

[2016-04-14 21:31] #946 closed

[2016-04-16 19:36] ronag opened #951 "reliable frame stepping?"
Any suggestions on how to implement reliable frame stepping?

[2016-04-16 21:42] tjenkinson commented on #951
The html5 video element doesn't provide a way to get the media frame rate, or frame number, which would make this difficult.
If you know the frame rate you should be able to calculate the time that corresponds to the frame you want and be able to seek to it though.

Hlsjs might be able to provide the frame rate because it operates at a lower level but I don't think it does this currently.

[2016-04-17 07:46] ronag commented on #951
I do know the framerate in advance. However, using hisjs it doesn't step reliably, sometimes it gets stuck on a frame and need an extra 3-4ms to show the correct frame.

I was thinking about something like trying to seek a little ahead, using some event see if the frame has changed (currentTime?) and then continue until it has stepped.

[2016-04-18 08:41] tchakabam commented on #951
yeah that's because you don't control the decoding process framewise when using MSE or plain HTML5 media playback.

I have an experimental player that does the video decoding "in software" i.e in JavaScript itself, and thus one can play or step through a video frame-by-frame.

Let me know if you are interested.

[2016-04-18 12:06] alouane opened #952 "Visualizing Sound"
Is there a way to visualize hls audio streaming equalizer when playing the audio, something like: https://dzone.com/articles/exploring-html5-web-audio ?

[2016-04-18 12:28] leandromoreira commented on #952
I think @flavioribeiro has already opened one issue for this.

[2016-04-18 15:51] PooriaFarhad commented on #581
and how to use VTT file for them?
is it possible to use VTT file across https://github.com/tjenkinson/clappr-thumbnails-plugin ?

[2016-04-18 15:53] tjenkinson commented on #581
@PooriaFarhad it doesn't at the moment but it might be possible to add this support. Please can you open an issue [here](https://github.com/tjenkinson/clappr-thumbnails-plugin/issues) and provide an ecample VTT file?

[2016-04-18 16:15] cowai opened #953 "State of hls.js in Safari on OS X"
Hi,

Is it time to enabe hls.js as default in Safari on OS X?

[2016-04-18 17:41] alouane commented on #952
Hi, I'm trying to create a simple canvas with animation, but I have this problem, can you help me? How I can get a HTMLMediaElement from clappr object?
I have this code:
 `audio = document.getElementById('Clappr_ID');
canvas = document.getElementById('EquializerAnimation');
	ctx = canvas.getContext('2d');
	source = context.createMediaElementSource(audio); `
And I'm getting this error: `Failed to e

[2016-04-18 19:27] cowai commented on #953
Seems it's not entirely stable yet: https://github.com/dailymotion/hls.js/issues/9

[2016-04-18 21:15] towerz commented on #952
@alouane actually Clappr does work with the audio tag. There's a playback used for audio, but the Clappr element is not the playback tag. Instead, it wraps around the playback tag.

You could try something like this:
[code]

[2016-04-18 22:03] alouane commented on #952
Hi thanks for you answer, but I got this error:
`Cannot read property 'getCurrentPlayback' of undefined`
probably getCurrentPlayback() is called when the player object is steal undefined
Is there a way to call getCurrentPlayback after Clappr/player is initiated

[2016-04-18 22:46] alouane commented on #952
Ok, I fixed the problem, I was calling `var player = new Clappr.Player(..)` right after `<script type="text/javascript" src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js"></script>`, So I moved the player initialization to the bottom right after <body> tag and it worked! Thanks again +1

[2016-04-18 23:45] towerz commented on #497
@iongion about what I said, there's only one detail that's wrong. Since you only need to switch sources, there's no need to create a UICorePlugin. Instead, you should create a CorePlugin.

A CorePlugin (and UICorePlugin) is a plugin type that has access to the player core element. This means it has read/write access to the player state, containers and the whole player UI.

The simplest example of

[2016-04-18 23:55] #952 closed

[2016-04-19 11:33] ibreakstuff93 opened #954 "IE11 on Windows 10 change playback url using javascript not working"
**Browser**:  IE 11.162.10586.0

*OS**: Windows 10

**Clappr Version**: 0.2.47

**Steps to reproduce**:

Step 1: Create javascript function as follows:
[code]
Step 2: call javascript function to change url:
When a user clicks a button on the page, the javascript is executed with the url present, e.g:
[code]
This works in all browsers (including on iOS and Android (well done guys! :+1: ) but sadly

[2016-04-19 12:36] tjenkinson commented on #954
Confirmed. Great username by the way you've lived up to it :P

[2016-04-19 16:11] alouane opened #955 "Add Element at top of Clappr"
Juste wandering, is there a way to add an element or component (e.g., canvas or image) at top of clappr like the player-poster div, other than using manuel positioning by css?

[2016-04-20 10:07] iongion commented on #497
Modified a bit your suggestion and mine, it works perfectly:

[code]

I will return with more info when I tackle the custom json playlist feature, once again, thank you for your big support!

[2016-04-20 11:23] leandromoreira commented on #497
I think u can remove this constructor.

[code]

[2016-04-20 12:10] iongion commented on #497
Indeed :) :+1:

[2016-04-20 14:18] kolpax opened #956 "Play past end when using HLS"
When playing HLS and there is a drift between the playlist and the information in the TS files, the player can end up playing past the total duration.

Clappr uses the video elements to determine the current time, but HLS for determining the duration. HLS.JS internally uses the m3u8 playlist for duration, while the video element uses the last fragments PTS.

Normally the drift can be quite small,

[2016-04-20 14:23] tjenkinson commented on #956
Yes it uses the duration that hlsjs reports because the duration reported by the video tag is incorrect when chunks are removed from the start of the playlist for a sliding window dvr stream. The duration reported by the video tag always increases.

Can you provide a bit more information on the specific issues you are having?

[2016-04-20 14:41] kolpax commented on #956
Our playlist (generated by ffmpeg) for some reason has a slightly different duration than the video files (also generated by ffmpeg).

We have added frames to the `base/utils/formatTime()` function as it is needed for our product.

We noticed that when playing a (non-live) HLS stream until the end, the current time was displayed as 00:12:24 (MM:SS:FF) while the duration was displayed as 00:12:21.

[2016-04-20 14:49] tjenkinson commented on #956
So the duration in your playlist is shorter than the video files?

Is the rest of the video actually frame accurate when you seek around?

One solution would be to make sure that the current time can never go above the duration in the ui, but this won't fix the underlying issue.

[2016-04-20 14:56] kolpax commented on #956
Yes it seems the playlist is shorter, or the PTS inside of the video files is somehow wrong, but other than creating an issue on FFMPEGs issue tracker there's not much I can do about that.

Seeking does seem to be frame accurate which means it gets the correct duration from somewhere. I will try to look at how seeking works.

[2016-04-20 14:59] kolpax commented on #956
`seekTime = this.hoverPosition * this.duration`
That was not useful :)

[2016-04-20 15:03] tjenkinson commented on #956
Ok. So I think the root problem is probably that your stream is invalid with the durations not matching. I think maybe hlsjs could not add the video that isn't covered in the playlist to the video tag, but really you need to fix the issue with your encode with ffmpeg.

We could add a check to cap current time at the reported duration though as it looks weird to display it.

The demo stream on the

[2016-04-20 15:06] tjenkinson commented on #956
The seek happens [here](https://github.com/clappr/clappr/blob/master/src/playbacks/hls/hls.js#L118).

`this.playableRegionStartTime` will always be 0 for a vod playlist as chunks aren't removed from the beginning.

[2016-04-20 15:12] bikegriffith commented on #956
We're noticing other issues with hls.js relying on the m3u8 for segment times. Perhaps it's worth taking it up there to consider using the .ts timestamps rather than m3u8.  It's worth noting however that the HLS spec does suggest the m3u8 timestamps on the EXTINF should be accurate.

[2016-04-20 15:16] kolpax commented on #956
I will try to investigate why the playlist timestamps are incorrect. I'm not a fan of capping the current time.

I think it would be great to use the .ts timestamps in general though.

[2016-04-20 15:19] bikegriffith commented on #956
@kolpax you might check the timing of the audio and video streams separately - that's the source of discrepancy for us (they PTS/DTS value are independently timed within a segment and the EXTINF can only report 1).

[2016-04-20 15:22] tjenkinson commented on #956
Yes it might be worth creating an issue with hlsjs. At the moment the only way it looks like we can get the duration is from the [level details](https://github.com/dailymotion/hls.js/blob/master/API.md#level-details), and this comes from the playlist.

You can also get durations of [fragments](https://github.com/dailymotion/hls.js/blob/master/API.md#fragment), which might be directly from the ts f

[2016-04-20 15:27] kolpax commented on #956
@bikegriffith Ah thanks, I'll take a look.

@tjenkinson You are absolutely right. The TPS from TS won't be available until the last fragment is loaded.

[2016-04-20 16:47] bikegriffith commented on #939
@leandromoreira @towerz Any idea when you'll release a new version with this fix?  Thanks for all you do!

[2016-04-20 19:06] bikegriffith commented on #939
As I spoke, my Firefox updated itself to 45.0.2 and the issue is now fixed.

[2016-04-20 19:33] leandromoreira commented on #939
We're doing it right now @bikegriffith :)

[2016-04-21 00:16] me-vlad opened #958 "[FlasHLS] error on event playback:bitrate trigger w/ level selector plugin enabled"
**Browser**: All (tested on Chrome and Firefox)

**Clappr Version**: 0.2.48

**Steps to reproduce**:

* open http://cdn.clappr.io/ with Firefox browser and change source to http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8
* enable Level Selector Plugin http://cdn.jsdelivr.net/clappr.level-selector/latest/level-selector.min.js
* click play, open browser console
* you can see a message:
**[err

[2016-04-21 01:05] leandromoreira commented on #958
Thanks @me-vlad

[2016-04-21 01:38] leandromoreira commented on #958
It seems that is an issue with LevelSelector

[2016-04-21 01:51] leandromoreira commented on #958
For some odd reason the `levelchanged` is being called before `fragmentloaded`

[2016-04-21 01:52] leandromoreira commented on #958
I'll fix but I think we should investigate this further maybe it's something new with FlashHLS.

[2016-04-21 01:53] #958 closed

[2016-04-21 02:38] me-vlad commented on #958
FlasHLS was updated to 0.4.4.21 before Clappr 0.2.48 was released
https://github.com/clappr/clappr/commit/2ae87904020f885c0fffa5c26fc23e731e9f8979

[2016-04-21 02:58] leandromoreira commented on #958
Yeah , maybe we were doing wrong.

[2016-04-21 13:34] ronag opened #961 "Cannot Build With Custom hls.js?"
I'm trying to build clappr with a modified hls.js version. I've made sure that hls.js is built and the dist files are updated.

I add the git url to package.json

`"hls.js": "git://github.com/nxtedition/hls.js.git#07d2ab580c32e7fd280602746c9b645ddeece215"`

and then try to build, `npm i & npm run release`,

However, I get the following error:

[code]

Any ideas what's going on here?

[2016-04-21 13:45] tjenkinson commented on #961
Clappr (webpack) builds hlsjs as part of the build process. In hlsjs's "package.json" it says the `main` entry point is `./lib/index.js`. This folder does not exist in the version checked out from GitHub, but it does in the versions on npm.

A simple fix would be to remove "lib" from your `.gitignore` file, and then commit it.

[2016-04-21 16:01] #961 closed

[2016-04-22 08:44] ibreakstuff93 commented on #954
Thanks - i do try :) Any ideas how long it might take to resolve?

[2016-04-22 09:06] GraphicSound opened #962 "Mobile browsers can't receive events while playing HLS"
Failed: iOS 9.1 safari, WECHAT internal browser...

Succeeded: desktop browsers, mobile Chrome, mobile firefox...

**Clappr Version**: latest/clappr.min.js

We can receive Clappr.Events.PLAYBACK_FRAGMENT_LOADED and other events on desktop browsers, mobile Chrome and mobile firefox while playing HLS audio streams. But we can't receive any of them on iOS 9.1 safari, WECHAT internal browser.

BTY: WE

[2016-04-22 09:33] tjenkinson commented on #962
@GraphicSound this is because native hls is used on those devices, not hlsjs, and these events are not available from the native player.

[2016-04-22 09:38] GraphicSound commented on #962
@tjenkinson OMG, so how can we force it to use hlsjs? Especially for safari, it is too arrogant on playing hls, lol.

[2016-04-22 09:42] tjenkinson commented on #962
@GraphicSound hlsjs requires MediaElement support in the browser to work, and I don't think this is supported by many mobile devices yet. Also for desktop safari hlsjs is still in beta so won't be enabled for that browser at the moment.

[2016-04-22 09:49] GraphicSound commented on #962
@tjenkinson Oops, so the final answer is clappr does not suit our needs? There are many live video streaming sites in China at this moment, and they support most browsers, how can they even do this?!!!

[2016-04-22 09:53] tjenkinson commented on #962
@GraphicSound the hls streams should still work with the native players in mobiles, you just won't be able to get the detailed events that hlsjs provides. If you need those kind of events I think you might need to provide a native application and handle hls yourself inside that, or have a look to see if the html5 video element will provide these events for hls streams, but I don't think it's in th

[2016-04-22 09:59] GraphicSound commented on #962
@tjenkinson Yeah, u r right. Maybe we just need to seek for another solution for our goal instead of sticking to hls detailed events. I'm gonna close this issue. Thanks, man, u just helped a lot!

[2016-04-22 10:00] tjenkinson commented on #962
No problem. If you manage to get the events from the video tag somehow please let us know!

[2016-04-22 10:00] #962 closed

[2016-04-22 12:05] leandromoreira commented on #962
@GraphicSound hls.js (the one with events you want) [is already used as best effort](https://github.com/clappr/clappr/blob/master/src/components/loader/loader.js#L50), as @tjenkinson just said: it will see if it's supported or not based on the Browser/Device (it'll fallback for video tag). If you were able to force people to use chrome or firefox then it'd fine.

[2016-04-22 17:44] #955 closed

[2016-04-22 18:01] alouane opened #963 "How to get AudioBufferSourceNode from Clappr Element"
As you know if you want to decode Audio Data, createMediaElementSource() is not working on mobile devices, However createBufferSource() method is working properly. So I'm asking how we can get an AudioBufferSourceNode from Clappr Player.

I can do something like:
 `player = new Clappr.Player(..);
audioSource = player.core.getCurrentPlayback().el; // here I get a MediaElementAudioSourceNode
source

[2016-04-22 18:58] mak999 commented on #500
hi ! Can you help me playing m3u8 file with clappr ?

http://urtmpkal-f.akamaihd.net/i/077zoqxzy_1@130091/index_3_av-p.m3u8

thanks

[2016-04-22 23:18] lordcris commented on #930
This happens for me as well ( Chrome on Arch linux)
I'm using wowza with DVR enabled.

![untitled](https://cloud.githubusercontent.com/assets/5624859/14757208/91a59670-08f9-11e6-8408-59e19b08b219.png)

[2016-04-23 00:23] leandromoreira commented on #930
@lordcris can you try to reproduce this error at http://dailymotion.github.io/hls.js/demo/ ?

[2016-04-23 09:08] lordcris commented on #930
I can't.
It works fine on http://dailymotion.github.io/hls.js/demo/
Using clappr this issue presents itself once I try and and click on random point on the timeline.
If you give me an exact time I will be happy to provide you with a testing stream.

[2016-04-23 14:53] leandromoreira commented on #930
@lordcris while using the https://cdn.jsdelivr.net/clappr/latest/clappr.min.js does any errors happens?

[2016-04-24 10:40] lordcris commented on #930
yes, they do.
I've made a test page http://testing.atanassov.net/
Once the video is playing you have to click on the timeline back and forth multiple times and the "HD" indicator will start flashing and the player will start downloading the same segments over and over again.

[2016-04-24 12:55] leandromoreira commented on #930
@lordcris I think the player is canceling the request and issuing a new request, it looks legit.

One thing I've noticed was that your master playlist seems to be malformed, all bitrates qualities are pointing to the same quality (1080p), making the adaptation stream not work properly. For instance you have a 426x240 pointing to a 1080p and so forth.

[code]

[2016-04-24 13:33] lordcris commented on #930
Great catch!
I fixed the malformed playlist but unfortunately the error keep appearing.

![screenshot from 2016-04-24 16-32-38](https://cloud.githubusercontent.com/assets/5624859/14767894/482284e4-0a3a-11e6-84ff-2d1ccc27125b.png)

[2016-04-24 14:25] leandromoreira commented on #930
I could reproduce it here:

[code]

[2016-04-24 14:29] leandromoreira commented on #930
It seems that the player is falling on a non-fatal error on hls.js and it's retrying forever (or at least many and many times) to recover.

[2016-04-24 14:33] leandromoreira commented on #930
The hls.js error is a non-fatal "fragLoopLoadingError"

[2016-04-24 14:42] leandromoreira commented on #930
I could reproduce it on hls.js demo page http://dailymotion.github.io/hls.js/demo/ I think this is not a clappr's problem and maybe not even a hls.js problem, it seems like a problem on your stream.

@mangui what are you thoughts on this problem:

**hls.js keeps retrying to download the same .ts files over and over again.**

Steps:

1. go to http://dailymotion.github.io/hls.js/demo/ and try to pla

[2016-04-24 15:02] lordcris commented on #930
I see. It's a stream generated using wowza media server. Do you think it's related?

[2016-04-24 15:09] leandromoreira commented on #930
I think it's because if I never faced such thing and if you use a stable stream of hls (http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8) you probably will not be able to reproduce the same error. (I could not)

What's the source are you using to generate this hls? (rtmp, mp4... is it in your hand? can you run a mediainfo or any other tool to help understand the problems with this input??)

[2016-04-24 15:19] DavidVentura commented on #930
I get this error on a livestream, playlist generated by nginx-rtmp. Other
players (such as mpv) can play the .m3u8 playlist just fine and they don't
complain about it being malformed

On 24 April 2016 at 12:09, Leandro Moreira <notifications@github.com> wrote:

--
*Stack* is the new term for "I have no idea what I'm actually using".

[2016-04-24 16:18] leandromoreira commented on #930
@DavidVentura it's hard to compare one player with another, for instance VLC plays almost anything it can, it "ignores" errors and even intelligently guesses things to make the video

If we're able to reproduce this issue and we think this is a playback problem, we should open an issue on hls.js project. What do you think?

[2016-04-24 17:15] lordcris commented on #930
this is the mediainfo of the file

mediainfo Youre.the.Worst.S01E10.Fists.and.Feet.and.Stuff.1080p.WEB-DL.DD5.1.H.264-NTb.mkv
General
Unique ID                                : 184771822280485480539114549867318716125 (0x8B01C22FBC7F258E96D767597725A6DD)
Complete name                            : Youre.the.Worst.S01E10.Fists.and.Feet.and.Stuff.1080p.WEB-DL.DD5.1.H.264-NTb.mkv
Format

[2016-04-24 17:58] leandromoreira commented on #930
Try to add a gop for each 30 frames `-g 30 -r 30` instead of 48.

[2016-04-25 16:08] irongomme opened #964 "Volume mobile display"
When player width is below 320px, the volume control in the mediacontrol bar is just an single ugly bar.

This is visible on cdn.clappr.io by setting width to 240 for example.

[2016-04-26 02:35] leandromoreira commented on #964
We didn't develop the UX and UI for mobile but it's in the plans.

[2016-04-26 16:05] DavidVentura commented on #930
Can you test with this stream?
https://plataforma.especificosba.com.ar/hls/test.m3u8

[2016-04-26 18:04] DavidVentura commented on #930
Looks like it has something to do with the hls.js version being used.
https://github.com/dailymotion/hls.js/issues/407#issuecomment-214815377

Can you upgrade hls.js to 0.6.1 on clappr?

[2016-04-26 18:31] leandromoreira commented on #930
@DavidVentura nice catch :) I don't know since it's a [pre-release build](https://github.com/dailymotion/hls.js/releases/tag/v0.6.1) I don't feel comfortable, what do you think @clappr/core ?

[2016-04-26 20:24] tjenkinson commented on #930
I agree @leandromoreira I don't think we should use the pre release because it's not been as well tested as the major version. It sounds like a bug though so @mangui might be able to backport the fix into v0.5.x if you create an issue with hlsjs.

the other option is that you build clappr manually with 0.6.x by updating the package.json before you `npm update`.

[2016-04-27 03:01] towerz commented on #964
@leandromoreira actually, there's a small bug on the volume control style. When the volume control is hidden, there's still a single bar from the segmented control which is still visible, but stretched vertically.
![screenshot 2016-04-26 23 56 41](https://cloud.githubusercontent.com/assets/989801/14840450/cf8057be-0c0a-11e6-987f-31f6a07ef849.png)

When hovering on the icon and displaying the contr

[2016-04-27 03:06] #964 closed

[2016-04-28 14:39] irongomme opened #965 "Double Tap fullscreen on chrome android"
In addition to #391 , i've got a trouble with double tap on chrome android :
- With the fullscreen mediacontrol => No problems , it works as expected
- With double tap, the player disapear, and i have to reload the page

I've tried it too on cdn.clappr.io, and the result in a little bit different but i think this is the same issue, something with the 100% width and height. We can see the browser t

[2016-04-29 21:50] mikeevstropov opened #967 "Where is MEDIACONTROL_READY event?"
If i want append custom button to mediacontrol,
I doing it after CONTAINER_LOADEDMETADATA event is fired:
[code]
But if i use FlasHLS plugin, it is not working.
How i can be sure when mediacontrol bar loaded?

[2016-04-29 22:46] mikeevstropov commented on #967
Not pure way but MEDIACONTROL_PLAYING event will fire after mediacontrol is ready.

[2016-04-29 22:46] #967 closed

[2016-05-08 21:07] tjenkinson commented on #843
Hi @marinbgd if https://github.com/clappr/clappr/pull/979 is merged you should then be able to do
[code]

[2016-05-08 21:10] tjenkinson commented on #805
Think this is fixed now please reopen if you still have issues

[2016-05-08 21:10] #805 closed

[2016-05-08 22:21] #877 closed

[2016-05-08 22:23] #826 closed

[2016-05-08 22:23] #954 closed

[2016-05-09 09:02] ibreakstuff93 commented on #954
Can i just check i've understood correctly, we can only use the stop() and pause() events when using html5 playback, load() isn't supported?

[2016-05-09 09:04] tjenkinson commented on #954
@ibreakstuff93 `load()` is still supported and should work.

[2016-05-09 12:20] ibreakstuff93 commented on #954
@tjenkinson thank you for clarifying! I've just tried it again, but i'm still getting an error message in IE11. It's moved a few lines however this time...

![image](https://cloud.githubusercontent.com/assets/16917874/15112861/d470e0ee-15e8-11e6-8707-e9913b1755e7.png)

[2016-05-09 12:25] tjenkinson commented on #954
@ibreakstuff93 have you built master containing the fix?

Try this: https://cdn.rawgit.com/tjenkinson/215c450e27f2dc99efaf3d9e53fe1406/raw/756fdbf6f06744714a03456a08926db502a20fb7/clappr.js

[2016-05-09 12:30] ibreakstuff93 commented on #954
![image](https://cloud.githubusercontent.com/assets/16917874/15113089/19eb7c8c-15ea-11e6-8419-664eafc7bfcd.png)

Thanks working now :+1:

[2016-05-09 15:40] ibreakstuff93 commented on #954
Sorry for my stupid question, but will this fix get rolled up into the next release? (sorry, i'm still a newbie to github)

Otherwise, I have AES128 encrypted HLS playing back reliably accross all modern browsers, apple, and android! :+1: You guys are the greatest.

[2016-05-09 15:43] tjenkinson commented on #954
@leandromoreira did a release earlier so it should be there now. It's not updated on [the cdn](https://cdn.jsdelivr.net/clappr/latest/clappr.min.js) yet but that should happen at some point soon.

[2016-05-09 19:33] tjenkinson opened #981 "What is the 'is()' method for on Player?"
What is the [`is()` method](https://github.com/clappr/clappr/blob/master/src/components/player.js#L319) on `Player` used for?

It isn't used in Player and seems like a strange place for it to be.

Can it be removed?

[2016-05-09 21:03] leandromoreira commented on #981
@thiagopnts I blame you for that :P do you remember why is this? I think we can safely remove this.

[2016-05-09 23:12] thiagopnts commented on #981
it was being used in the normalizeSources method, I guess to handle string and ids sources
https://github.com/clappr/clappr/commit/0d557e1acf9534d25cc0717838aa9c90f7db367d

[2016-05-09 23:16] #843 closed

[2016-05-10 13:48] shaharmor opened #986 "Parameters are undefined causing ReferenceError"
This line: https://github.com/clappr/clappr/blob/master/src/playbacks/hls/hls.js#L75
parameters `evt` & `data` are not defined.

[2016-05-10 14:00] #986 closed

[2016-05-10 14:16] ibreakstuff93 opened #988 "Google Analytics - does anyone have more details about what metrics clappr can provide via GA?"
Seeking more information around the Google Analytics integration and what metrics you can actually get from Clappr in to Google?

If anyone has a GA guide specifically for use with Clappr that would be a big help, or some example reports produced in google to show the kind of things that can be done.

Thanks.

[2016-05-10 19:06] leandromoreira commented on #988
I think the [GA plugin provided on Clappr is not working good](https://github.com/clappr/clappr/blob/master/src/plugins/google_analytics/google_analytics.js), we should create an external plugin for it.

Follow the (readme to configure it.)[https://github.com/clappr/clappr#google-analytics-plugin]

In theory we're sending events: ["{macro dimension ex:Video}", "{Event ex: Play}", "{video source ex

[2016-05-11 12:02] Luc3as opened #990 "Stream playing on Firefox not working"
**Browser**: Firefox 46.0.1

**OS**: Windows 7/8/8.1/10

**Clappr Version**: 0.2.25  latest from https://cdn.jsdelivr.net/clappr/latest/clappr.min.js

**Steps to reproduce**:

when opening our stream from camera in firefox http://vps.tntel.sk/nemsova.html  nothing happens I just get black screen and loading gif in the middle
![image](https://cloud.githubusercontent.com/assets/6381468/15180236/9939

[2016-05-11 13:49] leandromoreira commented on #990
Hi @Luc3as it seems that this problem could be:

1. A problem in your HLS generation (or even the source of it, your camera, your rtmp stream...), I downloaded a single .ts file and ran a checking tool (mediainfo single.ts) it printed lots of errors `E: File read error`
2. A problem with [hls.js](http://dailymotion.github.io/hls.js/demo/) (which is the playback we use to play hls) but I hardly bel

[2016-05-11 17:26] #409 closed

[2016-05-11 17:28] leandromoreira commented on #451
if it's still a problem we'll reopen it.

[2016-05-11 17:28] #451 closed

[2016-05-11 17:28] #469 closed

[2016-05-11 17:29] #470 closed

[2016-05-11 17:30] leandromoreira commented on #460
Since we jumped into hls.js we can reopen that if it's necessary.

[2016-05-11 17:30] #460 closed

[2016-05-11 17:30] #474 closed

[2016-05-11 17:30] #494 closed

[2016-05-11 17:32] leandromoreira commented on #963
@alouane do you want to use the video tag element?

[2016-05-11 17:33] AndCycle commented on #451
the problem is based on you can't mix http and https content,
cause by clapper is currently still hosted on http://cdn.clappr.io/latest/clappr.js ,
just be sure not to do assumption on protocol.

[2016-05-11 17:53] leandromoreira commented on #451
@AndCycle Thank you very much !!!!

[2016-05-11 17:53] leandromoreira commented on #709
still a problem?

[2016-05-11 17:55] leandromoreira commented on #665
I assume this is fixed with hls.js

[2016-05-11 17:55] #665 closed

[2016-05-11 17:56] #503 closed

[2016-05-11 17:56] #902 closed

[2016-05-11 17:56] leandromoreira commented on #726
still a problem?

[2016-05-11 17:57] #552 closed

[2016-05-11 17:58] #523 closed

[2016-05-11 17:58] #530 closed

[2016-05-11 18:00] #544 closed

[2016-05-11 18:00] leandromoreira commented on #562
still a problem?

[2016-05-11 18:00] #563 closed

[2016-05-11 18:01] #663 closed

[2016-05-11 18:01] #655 closed

[2016-05-11 18:02] leandromoreira commented on #573
still a bug?

[2016-05-11 18:02] #588 closed

[2016-05-11 18:03] #574 closed

[2016-05-11 18:06] #609 closed

[2016-05-11 18:07] leandromoreira commented on #681
is this still an issue?

[2016-05-11 18:08] #734 closed

[2016-05-11 18:09] #755 closed

[2016-05-11 18:09] #756 closed

[2016-05-11 18:10] #777 closed

[2016-05-11 18:10] alouane commented on #963
Hi @leandromoreira, thanks for asking, this bug actually comes from chromimum browser: [link](https://bugs.chromium.org/p/chromium/issues/detail?id=419446) Besides, after I read many articles, I understood that it's impossible to convert a MediaElementAudioSourceNode (not working on chromimum ) to an AudioBufferSourceNode to fix this bug [link](https://groups.google.com/a/chromium.org/forum/?fromg

[2016-05-11 18:10] #779 closed

[2016-05-11 18:13] leandromoreira commented on #963
ohh @alouane that depends on the playback, if you want to dig that info you can try to https://github.com/dailymotion/hls.js

[2016-05-11 18:15] #782 closed

[2016-05-11 18:16] #792 closed

[2016-05-11 18:27] alouane commented on #963
Yeah, I want to get/see the equalizer when playing an hls streaming (like a radio streaming), but in your example, it juste read streaming inputs, Clappr does it, and works fine in mobile devices (android chrome and chromium) but the problem is even if I use this hls.js, it want get the byte frequency in order to draw the equalizer by canvas for android, I guess it is impossible!, I think I will j

[2016-05-11 18:30] leandromoreira commented on #963
I see for that level of information I also guess it's impossible. :) thank you !!!!

[2016-05-11 18:30] #963 closed

[2016-05-11 22:38] #813 closed

[2016-05-11 22:39] #840 closed

[2016-05-11 22:40] #844 closed

[2016-05-11 22:41] #851 closed

[2016-05-11 22:56] #853 closed

[2016-05-11 22:57] #856 closed

[2016-05-11 22:57] #857 closed

[2016-05-11 23:05] leandromoreira commented on #860
@lordcris it's working fine, I tested with:

[code]

Are you still facing this issue?

[2016-05-11 23:06] leandromoreira commented on #868
ping @ieworks

[2016-05-11 23:09] #878 closed

[2016-05-11 23:11] leandromoreira commented on #885
can we @clappr/core do anything?

[2016-05-11 23:11] #892 closed

[2016-05-11 23:22] #911 closed

[2016-05-11 23:28] leandromoreira commented on #895
is still happening @DavidVentura ?

[2016-05-12 06:29] lordcris commented on #860
Yes I do.
It works with mp4 files, but it doesn't with m3u8 (hls stream)
On Thu, 12 May 2016 at 02:06, Leandro Moreira <notifications@github.com>
wrote:

[2016-05-12 10:29] leandromoreira commented on #860
@lordcris I just tested at http://cdn.clappr.io/ with hls and it worked too:

[code]

[2016-05-12 10:32] #925 closed

[2016-05-12 10:33] #943 closed

[2016-05-12 10:34] #951 closed

[2016-05-12 10:34] #897 closed

[2016-05-12 10:37] leandromoreira commented on #930
I suppose we'll migrate when makes sense :)

[2016-05-12 10:37] #930 closed

[2016-05-12 10:37] Luc3as commented on #990
there were some bug in the hls.js
https://github.com/dailymotion/hls.js/issues/439#issuecomment-218720232

how soon is possible to implement new hls.js version in latest clapper from cdn ?

[2016-05-12 10:40] leandromoreira commented on #990
@Luc3as it really depends on delivr cdn also we need to wait an official hls.js release to include it on clappr.

[2016-05-12 10:41] leandromoreira commented on #990
https://github.com/dailymotion/hls.js/issues/439

[2016-05-12 10:47] FDiskas commented on #681
:sheep: :it:

[2016-05-12 11:56] lordcris commented on #860
Are you testing on an Iphone?

go here:
http://testing.atanassov.net/

click one of the buttons on the bottom ex "page 1"
it starts playing frome sec 0 instead from 15.
if you exit the video and press it again it goes to 15.
but the first time it always start from 0.

[2016-05-12 12:27] djevo1 opened #991 "Clappr restarting from earlier timepoint"
**Browser**: Chrome Latest

**OS**: Mac 10.8.5

**Clappr Version**: 0.2.25

**Steps to reproduce**:

*Connect player to wowza HLS stream
- hit play
- Wait a few minutes

Did you try to reproduce this issue at http://cdn.clappr.io/

We are using clappr and we have noticed that every 10 minutes it seems to skip back to a point earlier in the stream. We are using wowza media server hls with no DVR en

[2016-05-12 13:09] leandromoreira commented on #991
thanks @djevo1 can you reproduce this same behavior on http://dailymotion.github.io/hls.js/demo/ ?

[2016-05-12 13:11] leandromoreira commented on #860
sorry @lordcris I tested on desktop.

[2016-05-12 14:42] towerz commented on #860
@leandromoreira AFAIK there's no parameter for setting a startup time, but there's a parameter called `autoSeekFromUrl` which enables parsing the query string for the parameter `t` you mentioned.

[2016-05-12 14:50] djevo1 commented on #991
Appears to work fine on there.

[2016-05-12 14:52] leandromoreira commented on #991
Thanks @djevo1 we'll check this.

[2016-05-12 15:57] me-vlad commented on #726
HD indicator works with latest clappr on  cdn.clappr.io

[2016-05-12 15:57] #726 closed

[2016-05-12 16:14] lordcris commented on #860
can I use "autoSeekFromUrl" for different times, without reloading the page?
I'm using player.seek(X) to create time markers to different points in the video.
It works well on Desktop and Android, but on iOS it goes to sec 0 the first time.

[2016-05-12 16:28] leandromoreira commented on #860
@lordcris IMO the `player.seek(x)` should work.

[2016-05-13 12:18] ibreakstuff93 commented on #988
That's great. Thank you!

[2016-05-13 12:18] #988 closed

[2016-05-13 20:08] lordcris commented on #991
I had a similar problem when using the DVR option.
I increased the durations of the chunks of the dvr stream from 1500ms to 10000ms and now it's working fine.

[2016-05-15 16:22] FDiskas commented on #655
:arrows_counterclockwise: so this problem is solved?

[2016-05-15 23:03] leandromoreira commented on #655
@FDiskas can you check it again? we release a tons of fixes, several related to size and css.

[2016-05-16 14:25] FDiskas commented on #663
:statue_of_liberty: Oh yeah - now its fixed. Am I right?

[2016-05-16 14:37] FDiskas commented on #655
:eggplant: The video is displaying that there is a Live video not a record. Then I try to unhide the status bar - it pauses the video. Then I press the fullscreen it displays the native video player not a clappr. Then I go back from the fullscreen there is no clappr video at all. Only the white screen of jsbin website.

[2016-05-16 14:40] FDiskas commented on #681
Yes the problem is still here.

[2016-05-16 18:06] leandromoreira commented on #655
Thanks @FDiskas

[2016-05-16 20:20] towerz commented on #681
We can't reproduce the issue on any other android device we have.

Probably the device is reporting the video duration incorrectly, and the player interpreted the wrong duration as in a live video:
[code]
Since we can't reproduce the problem reported and seemingly it only happens in a specific device, we'll close this issue. If someone else is able to reproduce the issue and can work on a fix for

[2016-05-16 20:20] #681 closed

[2016-05-17 06:45] FDiskas commented on #655
Samsung galaxy s5 - imposible cant enter the fullscreen. By double tap - got blank page
![bs_realdroid_mobile_samsung galaxy s5-4 4-1080x1920](https://cloud.githubusercontent.com/assets/468006/15313446/03d68632-1c14-11e6-8e87-daa83297b47a.jpg)

[2016-05-17 09:16] Mindvelopers opened #994 "Dynamicaly change player language"
Hi,
I need to load the player in different languages, like changing de "live" info to another languages.
Is this possible?

[2016-05-17 21:24] leandromoreira commented on #994
That's a solid feature :) thanks @Mindvelopers

Provide i18n

[2016-05-18 11:52] iongion opened #995 "Cannot receive metadata without playing"
In my use cases I need to process the metadata before considering the player "usable".
So, I do the following, with `autoplay=false`:
[code]

But then the browser shows an exception:
[code]

And further investigating this error shows everytime one does:
[code]

Then how should the proper handling be done, with proper event handling ?
[code]

But it manifests with the same error:
[code]

How can I

[2016-05-18 18:11] leandromoreira commented on #995
@iongion this error `...The play() request was interrupted by a call to pause().` is [related to chrome >= 50](https://bugs.chromium.org/p/chromium/issues/detail?id=593273) but this exception usually doesn't stop the playback.

[2016-05-18 18:31] leandromoreira commented on #995
We rely on [video tag loadedmetadata event](https://developer.mozilla.org/en-US/docs/Web/Events/loadedmetadata). I don't know if I clearly understood you but you could:

[code]

[2016-05-19 07:44] iongion commented on #995
Yes, you are right, it was an m3u8, hence no metadata due to how hls.js works

[2016-05-19 07:44] #995 closed

[2016-05-19 12:05] iongion opened #996 "Custom UICorePlugin - unable to inject into the MediaControl"
Now, using the DVR plugin as inspiration, I've managed to have this:

The template - *PlaybackControl.html*
[code]

The logic *PlaybackControl.js*
[code]

But this:
[code]
Does not seem to be working, due to the fact that:
[code]
is empty.

How should I get it to display in the control bar ?

[2016-05-19 15:16] iongion commented on #996
Managed to have a working second version:

[code]

Is this correct ? Will I have weird behavior such as multiple renderings when containers change ?

[2016-05-20 00:37] leandromoreira commented on #996
it looks right. Maybe you could avoid to re-render multiple times but that's for later. :)

Nope, it'll re-render itself. It should be work.

You can use `seek` (this.mediaControl.seek) for this, using `currentTime + 5` and `currentTime - 5`

[2016-05-20 08:06] waster opened #997 "List of events for GA"
Hello,

I suggest to add Google Analyitcs option to Clappr which can specify list of events to be tracked, because in some cases maybe not all events are wanted to be tracked, e.g. in case of audio only sources. Is it possible?

With regards, Andrey.

[2016-05-20 09:33] waster opened #998 "Indicator is still showing if audioOnly is true"
**Browser**: FF 46
**OS**: Ubuntu 16.04
**Clappr Version**: 0.2.51

Here is the code I tested on http://cdn.clappr.io:

[code]
Source is the URL to the variant playlist of HLS with ts-segments with audio only stream.

I see that play button indicator is still showing while playing.

[2016-05-20 09:43] waster commented on #998
I also tested with the following multiple streams (with and without 'audioOnly:true'):

[code]
In this case bubbles spinner is showing infinitely while stream is playing.

[2016-05-20 12:12] leandromoreira commented on #997
Maybe the best thing to do is to create a separated GA plugin.

[2016-05-20 12:42] waster commented on #997
Totally agreed with separate GA plugin, thanks!

[2016-05-20 17:41] leandromoreira commented on #998
Hey @waster I tried this code bellow at cdn and it works just fine, what is the problem are you facing?

[code]

[2016-05-20 17:44] leandromoreira commented on #998
And if you want to pass multiple sources you should use `sources: ['hls', 'mp4']` but keep in mind that when you pass multiple `sources` they will be used as [fallback (like video tag)](https://github.com/clappr/clappr/blob/1419c451428d2b0f2fa23b37ab6a4d2c37b6f2ec/src/plugins/sources.js) not as different bitrate options.

[2016-05-20 19:33] waster commented on #998
Sure, I understand and use multiple sources exactly as fallback, please check this code:

[code]
See screenshot:
![issue](https://cloud.githubusercontent.com/assets/2188440/15439349/97dd8234-1ee1-11e6-9103-dba5da0d22e1.png)

Also please check this sources:

[code]
See attached screenshot:
![issue2](https://cloud.githubusercontent.com/assets/2188440/15439800/10c04b54-1ee3-11e6-9cb4-57bb126a521e.png

[2016-05-23 01:22] Mindvelopers opened #1000 "HELP! Black screen, audio playing."
**OS**: Windows 10

**Clappr Version**: 0.2.25

Sometimes this player dont reproduce the video, but audio keep working.

As you see: All black, no media-control, nothing.
https://i.gyazo.com/efb9847e42dab177915f6d17ede9e4b7.png

I'm working with m3u8 files
Console:
https://gyazo.com/ec70be48093d33e29f820a845fea603f

It is in Portuguese, but I think this plugin is from brazilian guys xD
https://gya

[2016-05-23 13:39] leandromoreira commented on #1000
Can you?

1. Re-test it using this source http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8 ?
2. Re-test with your url using this http://dailymotion.github.io/hls.js/demo/ ?
3. can you turn on the logs
[code]

[2016-05-23 13:43] leandromoreira commented on #981
I think we can remove it safety

[2016-05-23 14:30] thiagopnts commented on #981
Yeah, I don't think we're using it anywhere anymore

[2016-05-23 14:31] thiagopnts commented on #1000
1000th issue 🎉

[2016-05-23 15:00] towerz commented on #998
Confirmed the bug, will push a fix soon.

[2016-05-23 16:15] leandromoreira commented on #1000
- 1000 issues (47 opened)
- 2831 commits
- 183 releases
- 37 contributors

[2016-05-23 17:34] waster commented on #998
Great! Thanks for the quick response.

[2016-05-23 17:52] towerz commented on #998
dc569a1d63afa09a132718e46e62454ba0219550 fixes this issue, could you please test against it?

[2016-05-23 19:59] waster commented on #998
hm, I did the following to generate dist directory:

[code]
All dist files were generated sucessfully, but now I have errors in the console while opening my test page that worked before:

[code]
Did I forgot to do something?

[2016-05-23 20:16] leandromoreira commented on #998
@waster what version are you using of npm? also try to run `npm run release`

[2016-05-23 20:21] waster commented on #998
Here are versions were used to build. `npm run release` did not help too.
[code]
What version of npm is compatible to build clappr?

[2016-05-23 20:23] leandromoreira commented on #998
@waster I think it's not a problem related to clappr itself but some libraries that we use and their dependencies, I'm using:
[code]

[2016-05-23 20:25] waster commented on #998
Sure, will try with higher version.

[2016-05-23 20:26] tjenkinson commented on #998
@waster @leandromoreira it's a bug in the change I added I'm looking into it at the moment.

[2016-05-23 20:26] leandromoreira commented on #998
And you still can use `npm start` and you'll have access to a local release 😄

[2016-05-23 20:28] waster commented on #998
@tjenkinson no problem, will wait for fix...8)
@leandromoreira thanks for the hint!

[2016-05-23 21:50] waster commented on #998
I've built from sources again using npm  with `npm run release` and with clappr.js it does not work if `player.load()` and then `player.play()` are calling:

`ReferenceError: startPlay is not defined`

[2016-05-23 22:00] tjenkinson commented on #998
Wow today is going so smoothly...
I blame @towerz for that one :P

Should be fixed with https://github.com/clappr/clappr/commit/0087b8cf2de96a3326018f06a8d048a49a9a817f

[2016-05-23 22:22] waster commented on #998
It plays now, thanks. @towerz but unfortunately I'm still seeing the problems with indicator:

1. WIth `audioOnly: true` there is no play indicator after loading the player with first init source. However `play() `and `load()` methods works fine with multiple or standalone m3u8(s). However loading bubbles are not still hiding with source with `mimeType: 'audio/mp3'`.

2. Without `audioOnly: true`

[2016-05-24 00:10] Mindvelopers commented on #1000
I think this is the "mediasource" error.
But this just happens for some people and just some times.
Now everything works fine, but this happens a lot of times with live stream.

[2016-05-24 01:50] leandromoreira commented on #1000
@Mindvelopers maybe this could be related to the hls stream generated by your end point.

[2016-05-24 19:08] tjenkinson commented on #998
@waster can you provide an example where it doesn't work I just tried and it seemed fine for me.

[2016-05-25 20:24] waster commented on #998
Sure, will try to prepare and example ASAP.

[2016-05-25 20:30] waster opened #1002 "Send cookies through html5 playback (withCredentials)"
Hello,

Is it possible to pass withCredentials option for the xhr for the HTML5 playback? I need to send cookie with the request.

For hls.js playback I know it is possible with hlsjsConfig.

With regards, Andrey

[2016-05-25 23:56] leandromoreira commented on #1002
You can pass all the options like you do for hls.js
[code]

[2016-05-26 06:16] waster commented on #1002
@leandromoreira thanks. I know that, but should it work for the HTML5 playback devices (Android, etc)? I checked the test page with `xhr.withCredentials = true` on Android and it does not work.

[2016-05-26 10:59] waster commented on #998
Ok, I prepared the [example page](http://hlsserverdev.hostingradio.ru:8080/audio/clappr/latest/) with the latest generated clappr.min.js where you can see the problems:

1. Play indicator is not showing although player was initialized with source.
2. Click on the "Click to play" link and you'll see that bubbles are showing all the time although stream is playing fine.

As you can see I pass two so

[2016-05-26 12:20] leandromoreira commented on #1002
This code I passed to you only works when clappr choses [hls.js playback](https://github.com/clappr/clappr/blob/master/src/components/loader/loader.js#L50), since it's the first playback of the list it should be the chosen but the device/browser also need to [support the expected capabilities](https://github.com/dailymotion/hls.js/blob/7b5d6c9bc90dbc54f92faf9e298bd43dbc5ed7d9/src/hls.js#L31) and y

[2016-05-26 12:23] tjenkinson commented on #1002
@leandromoreira in terms of a standard html5 video though I think adding a new clappr option which would allow the user to set the `crossorigin` attribute on the video tag might work.

https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_settings_attributes

[2016-05-26 12:23] leandromoreira commented on #1002
If you want to send cookies through different domains maybe we'll need to set http://www.quackit.com/html_5/tags/html_video_tag.cfm

[2016-05-26 12:26] tjenkinson commented on #1002
I think it should be a clappr option but the default should remain as not adding the tag at all as it does reduce security a bit

[2016-05-26 12:26] leandromoreira commented on #1002
that's a solid feature !!!

[2016-05-26 12:32] leandromoreira commented on #1002
I'd name this param (and refactors other related to html5) to either:

[code]

[2016-05-26 12:36] leandromoreira commented on #1002
@waster would this solve your problem?

[2016-05-26 14:21] waster commented on #1002
@leandromoreira I totally agree that it can be very handful feature to have html5Сonfig option as in the same way as hlsjsConfig. BTW, is there any way to pass flashls options too?

[2016-05-26 14:57] leandromoreira commented on #1002
@waster I think in case of [flash](https://github.com/mangui/flashls) it uses the [crossdomain.xml](http://www.adobe.com/devnet/adobe-media-server/articles/cross-domain-xml-for-streaming.html) file

[2016-05-26 14:59] waster commented on #1002
@leandromoreira yes I agree, I mean the way to pass other flashls options like `hls_startfromlevel`, hls_live_flushurlcache, etc

[2016-05-26 15:00] waster commented on #1002
oops sorry for closing...8)

[2016-05-26 15:00] leandromoreira commented on #1002
@waster I'll leave this open since it's a feature request!

[2016-05-26 15:01] waster commented on #1002
@leandromoreira sure, I closed it accidentally

[2016-05-26 15:04] leandromoreira commented on #1002
@waster I think you can pass almost all the [parameters to flashls](https://github.com/clappr/clappr/blob/master/src/playbacks/flashls/flashls.js#L77) as well although it's not the best use. (we should rely on either a common `hlsConfig` or `flasHLS: options`)

[2016-05-26 15:11] #996 closed

[2016-05-26 15:16] iongion opened #1003 "Unable to run istanbul-mocha tests when referencing clappr"
Using clappr *0.2.52*

The command I use to start the tests:
[code]

But they suddenly stop running with:
[code]

Which looks as if babel is not being used.
My *.babelrc* has nothing special:

[code]

Do you have any ideas why this happens ?

[2016-05-26 15:40] ibreakstuff93 commented on #997
I think a separate GA plugin would be great. Analytics are the key to content providers making money, and with GA being free - it would be great to exploit it for what it's worth! :)

[2016-05-26 16:46] waster commented on #1002
@leandromoreira I tried to pass `logDebug: true` to the Clappr options directly and it works, thanks! I think the more convenient way for is to use `flasHLS: options` for the specific flashls options.

[2016-05-26 18:01] thiagopnts commented on #1002
this kind of parameter could be standardized in the player constructor instead of having `hlsjsConfig`, `flashHLS`, `html5Config` etc, so you just pass something like `playbackConfig` and then the playback grabs and uses as it needs

[2016-05-26 18:15] leandromoreira commented on #1002
I like thiago's idea:

[code]

[2016-05-26 18:55] tjenkinson commented on #998
@waster I never had the issue with the loading indicator going away but there were a few other problems which are fixed in some pending pull requests. Once they're merged fingers crossed it's sorted!

[2016-05-26 19:06] leandromoreira commented on #1002
https://github.com/clappr/clappr/pull/1007

[2016-05-26 19:56] waster commented on #998
@tjenkinson I hope it will be fixed with sources plugin, so did you check example page I provided?

1. There is no play indicator even source was loaded initially.

![test clappr latest - mozilla firefox_001](https://cloud.githubusercontent.com/assets/2188440/15588027/062f6800-239d-11e6-9610-55551ff024d9.png)

2. Bubble indicator is not hidden after clicking on "Click to play".

![test clappr late

[2016-05-26 20:05] tjenkinson commented on #998
I had the play issue but not the loading indicator issue. Everything was working fine for me running the same code on the clappr demo page with my fixes merged.

Please can you try with this build so we can check we're using the same versions?
https://rawgit.com/tjenkinson/24105d6b6f3d10ad2a4eb67c04868edb/raw/beda69f3a93ff5ee2412e59d1de0b1121b7f9904/clappr.js

[2016-05-26 20:19] waster commented on #998
I tried your version and also build the latest min.js and it seems that everything is fine with indicator now. Great! I used clappr version generated before your messages about sources plugin fixes.

[2016-05-26 20:21] tjenkinson commented on #998
Great! I'll close this then :)

[2016-05-26 20:21] #998 closed

[2016-05-26 21:59] #1002 closed

[2016-05-27 11:40] iongion commented on #1003
In fact, just running the tests with babel-node

[code]

Showing that the loader is unable to import clappr as ES6 module, what can be done ?

[2016-05-27 13:41] leandromoreira commented on #863
For the SVGS https://www.sitepoint.com/tips-accessible-svg/

[2016-05-27 13:49] leandromoreira commented on #863
An real example https://www.paypal-engineering.com/2014/09/05/introducing-an-accessible-html5-video-player/

[2016-05-27 13:54] leandromoreira commented on #994
We already did that for [NoOp playback](https://github.com/clappr/clappr/blob/25aeabc7430da8d285cf7b61b282608e228e5c0b/src/playbacks/no_op/no_op.js) (when the browser can't play the video) we might need to join the solutions.

[2016-05-27 14:22] iongion commented on #1003
Apparently, it happens due to the fact the the babel transpiler does not transpile anything in node_modules so clappr's main.js is not transpiled, that is why the import error.

In the end, the mocha command is altered a bit:
[code]

So that it bootstraps using a file where babel compiler is registered and its settings configured.
[code]

Now, the pain is still not over as the first problem I foun

[2016-05-27 14:35] leandromoreira commented on #1003
@tjenkinson and @towerz are pretty skillful in these subject.

[2016-05-27 19:21] oyeanuj commented on #679
@bikegriffith I am very curious to see how Clappr works within React, so any gist or sample repo would be super helpful. Any thoughts or experience with React and Clappr together would be helpful as well (I am trying to decide what player to use for my audio and video needs and Clappr seems great if it works well in React).

[2016-05-27 21:07] tjenkinson commented on #1003
@iongion I haven't looked at this in detail but I presume you're trying to run our tests during your build process?

I'm not sure why you need to do this. I think the general assumption is that dependencies that you pull from npm should already have been tested and work, and therefore if there are tests they should already all pass.

Y

[2016-05-27 21:10] tjenkinson commented on #1003
@iongion I haven't looked at this in detail but I presume you're trying to run our tests during your build process?

I'm not sure why you need to do this. I think the general assumption is that dependencies that you pull from npm should already have been tested and work, and therefore if there are tests they should already all pass.

I.e I think you should test your own app code, but not worry abo

[2016-05-29 14:23] iongion commented on #1003
@tjenkinson - I see it is deeper than meets the eyes. Well, this is my workflow, I have a react/redux application and I am following best practices described here http://redux.js.org/docs/recipes/WritingTests.html#components

Now, I have a simple react component in which I wrap the Clappr player:

[code]

According to the Redux guide on how to test React components, I need to have something like t

[2016-05-29 14:33] iongion commented on #1003
I could mock Clappr and pass it as a dependency to the MediaPlayer as a static member, something like ```MediaPlayer.concreteImplementation = Clappr;``` - but that would be absolutely horrible :D as I would need to invent DI for my app and a bootstrapping sequence and all the java apartus, I do not need that stuff - I still hope it is an ES6 import/loader problem

[2016-05-29 20:47] tjenkinson commented on #1003
@iongion I understand it's because the source we push to npm is es6. I think really our source should be es5 (http://mammal.io/articles/using-es6-today/) because I don't think developers that install an npm package today should be expected to do something to it before it can be required into their own application.

@towerz can we not point `main` property in `package.json` to `./dist/clappr.js`? T

[2016-05-30 08:35] iongion commented on #1003
@tjenkinson That would be awesome! I have put a question on Babel's Slack channel and the guys there also mentioned this, that the published npm should be ES5.

What do you think about the discussion here ?

http://stackoverflow.com/questions/29738381/how-to-publish-a-module-written-in-es6-to-npm

They are discussing of keeping your code as is but in pre-publish you actually build and that is what

[2016-05-30 10:56] tjenkinson commented on #1003
@iongion I think we should point to the built es5 Clappr.js file, instead of creating a lib folder with all the files converted individually.

This is because with the files converted it still isn't valid es5 as webpack does some magic to make it valid es5 when it builds, like tracing import paths from our fake root, and converting imports of asset files to imports of generated modules which expor

[2016-05-30 11:40] iongion commented on #1003
@tjenkinson As long as they are not the ES6 files, it is good :+1: - Perfect!

[2016-05-30 11:45] tjenkinson commented on #1003
@iongion I think they will still need to be valid or you'll have issues.

I would presume that
[code]
for example would throw an error because it will probably look for "icons" in the wrong place, and I think it will fail trying to require an svg.

[2016-05-30 11:55] iongion commented on #1003
In case where ttf files or svg icons must loaded, couldn't they use a relative path ?
```var playIcon = require('./icons/01-play.svg');```

[2016-05-30 11:59] tjenkinson commented on #1003
@iongion yes they would need to but we use webpack which handles all this for us.

After webpack
[code]

would essentially become this:

[code]
which is now valid es5.

If we just transformed the src directory es5 then we would get

[code]

which is still invalid.

[2016-05-30 12:22] iongion commented on #1003
But what is playIcon - isn't it an internal asset of Clappr ? Should devs be able to import it ? It is only if you want other devs to import it.

The problems that I faced while swithcing main script to .`/dist/main.js` are *window* and *navigator* that are used as globals in the `dist/clappr.js`

I try to use this to see if I can get over the issues with something like this https://www.npmjs.com/

[2016-05-30 12:33] tjenkinson commented on #1003
@iongion [`playIcon`](https://github.com/clappr/clappr/blob/master/src/plugins/poster/poster.js#L12) gets set to the url of the actual svg file during the webpack build process, as webpack converts the code to es5, but also handles assets, css, and other things like the paths from root.

You can see this in the webpack config files [here](webpack-base-config.js) and [here](webpack-config.js).

Fro

[2016-05-30 12:51] iongion commented on #1003
@tjenkinson I understood you from the first place, it happens the same in my projects, the final version of valid JS is the one webpack outputs. And yes, you are right about the entry point.

A little reporting of what I have done:

1) Modified `package.json` of **clappr** to specify main script as `./dist/clappr.js`
2) Changed the `bootstrap.js` file of the test runner to this:

[code]

And it is

[2016-05-30 13:16] tjenkinson commented on #1003
@iongion I agree I think mocking out like you did there would work, but Clappr being able to run in node would be better so you don't need to mock the browser.

I've just had a look in the code and there aren't too many places where `window` is actually used, so it might be possible to make it still run if `window` is undefined.

*Sidenote if https://github.com/clappr/clappr/pull/1008 gets merged

[2016-05-30 13:22] iongion commented on #1003
Awesome @tjenkinson - whenever you guys are ready, be careful, it is not only **window** as global, in clappr you also use navigator on its own and getComputedStyle .. at least these I've identified

[2016-05-30 13:29] tjenkinson commented on #1003
@iongion yes after I wrote it I was thinking and some of the project also relies on dom events so it might be a bit less feasible and mocking the browser might be the best way.

We could maybe provide a nice method though to set a new window instance?

E.g.
[code]
where `Clappr.window`defaults to `window` if it exists. Then anywhere where `window` is accessed directly would be changed to retrieve

[2016-05-30 13:39] tjenkinson commented on #1003
Untested
[code]

[code]

[code]

When you import Clappr to use you would do.

[code]

[2016-05-30 13:49] iongion commented on #1003
Looks legit - global variables are Always bad :D

[2016-05-31 11:47] iongion opened #1009 "Keyboard handler exposed to the outside world"
Can you make it so that **_Kibo_** is available to the outside word ?

Currently I am using a tiny and beautiful library called **MouseTrap** from [this link](https://github.com/ccampbell/mousetrap), but investigating a little inside Clappr, I found the Kibo module, while it is not as flexible as MouseTrap, it does the job and will offer the possibility to not need any other libraries when creatin

[2016-05-31 12:42] mpaolino opened #1010 "Unable to rewind in HLS Live streams"
I can't rewind in any live HLS stream.

**Browser**: Chrome Version 51.0.2704.63 (64-bit), Firefox 46.0.1

**OS**: Ubuntu 14.04 x86_64, up-to-date.

**Clappr Version**: Latest stable, https://cdn.jsdelivr.net/clappr/latest/clappr.min.js

**Steps to reproduce**:

* Create the following example in http://cdn.clappr.io/:

[code]

You might have to use another stream, this one worked for me.

The slid

[2016-05-31 12:55] tjenkinson commented on #1010
@mpaolino I just tried your example and the contents of the playlist was
[code]

which is only 30 seconds long. How much DVR are you expecting?

[2016-05-31 13:10] mpaolino commented on #1010
Yes ABC stream has only 30 seconds but I also tested it with 30m on my own stream, result is the same it doesn't allow me to rewind at all, I cannot click and drag the slider.

[2016-05-31 13:21] tjenkinson commented on #1010
@mpaolino can you paste the contents of your 30m playlist, or a URL to it? I just tested with one of ours which is a few hours long and it seemed to work fine.

[2016-05-31 14:22] mpaolino commented on #1010
@tjenkinson, I found the cause, it was a combination of edge case and a problem between the chair and the keyboard.

The issue was that clappr does not work with < 1min DVRs.

I don't have the 30m playlist, but I just streamed again and generated around 6m playlist, only then started consuming the stream and it worked. Here is the playlist:

https://gist.github.com/mpaolino/143021d914850329ac55da7

[2016-05-31 14:28] tjenkinson commented on #1010
@mpaolino thanks! There is a `hlsMinimumDvrSize` option that should work for you, it appears it got missed out of the documentation.

It is the duration in seconds before seek becomes enabled.

So
[code]

should enable seeking immediately after hlsjs has decided that it's happy with the duration in the playlist.

[2016-05-31 14:57] mpaolino commented on #1010
@tjenkinson thanks for the info on that parameter, works a little better now. The fastest I could get rewind working was ~30secs (with ``hlsMinimumDvrSize`` <= 30). This can be closed if you like as its a hlsjs limitation.

[2016-05-31 15:04] tjenkinson commented on #1010
@mpaolino you should be able to tweak that as well using the hlsjs config by setting the `liveSyncDurationCount` to a lower number. It represents how many chunks from the end of the stream the live point is. I'd recommend 2 or more otherwise people might hit buffering if they reach the end of the last chunk before the next one has arrived.

https://github.com/clappr/clappr/blob/master/src/playback

[2016-05-31 15:16] mpaolino commented on #1010
![](http://replygif.net/i/159.gif)

[2016-05-31 15:23] #1010 closed

[2016-05-31 16:11] leandromoreira commented on #1009
I think this is fair and solid! thoughts @clappr/core ?

[2016-05-31 18:36] towerz commented on #1009
@leandromoreira that would be cool. 👍

[2016-05-31 19:48] towerz commented on #1003
@tjenkinson I agree with you, the main entry should point to dist/clappr.js. This way whoever uses the clappr npm package would be able to do so without needing to resort to a transpiler.

However, I disagree that we should drop the `baseUrl` parameter. In my opinion, it is a cleaner way to dynamically determine the assets path without depending on webpack or using global variables. Since it does

[2016-05-31 20:55] thalleshmm commented on #538
Apparently Safari and Edge don't support DVR streaming with Clappr.

@towerz proposed an unofficial solution, which is forcing the plugin hlsPlayback to load. But it didn't do for me.

This issue was closed last year. Is there any workaround by now?
Any official way of forcing Flash or HLS playback?

Versão 9.0.3 (11601.4.4)
Mac OS X El Capitain 10.11.3
Clappr 0.2.25
Tested on cdn.clappr.io

[2016-05-31 22:52] waster opened #1012 "Handling network errors loading manifests and fragments"
Hello,

I'm trying to handle errors during load of network manifest or fragments but can't find a proper way to do it with onError event or PLAYBACK_ERROR. I tested it with non-existent manifest URL and it seems that network error does not trigger corresponding event because of trying to perform startLoad hls.js method:
[code]
Even more in general how can I implement fallback sources strategy of p

[2016-05-31 23:57] framerate commented on #679
@bikegriffith  👍

[2016-06-01 00:53] leandromoreira commented on #1012
@waster I think we already do that https://github.com/clappr/clappr/blob/master/src/playbacks/hls/hls.js#L142 and you can fine tune for more tries https://github.com/clappr/clappr/blob/master/src/playbacks/hls/hls.js#L51

[2016-06-01 01:35] leandromoreira commented on #538
@thalleshmm is right

[code]

[2016-06-01 01:37] leandromoreira opened #1013 "Playback plugins are not respecting the order of preference"
Go to cdn.clappr.io and type:

[code]

Pause and you'll see "html5_video" instead of "hls"

[2016-06-01 01:37] leandromoreira commented on #538
https://github.com/clappr/clappr/issues/1013

[2016-06-01 01:37] leandromoreira commented on #538
#1013

[2016-06-01 02:48] towerz commented on #1013
@leandromoreira the problem is not actually the playback priority. If you change the playback to `Clappr.FlasHLS` instead, it will override the playback properly.

The problem is related to an explicit check in the HLS playback `canPlay` method:
[code]
Removing the `!Browser.isSafari` would fix this behavior, but I don't recommend since the HLS playback does not behave well on Safari.

[2016-06-01 03:21] #1013 closed

[2016-06-01 08:24] waster commented on #1012
Yes, as I see it retries two times with 404 by default for now, but then stopped with `cannot start loading as manifest not parsed yet` in startLoad method and did not throw any error to handle.

[2016-06-01 09:22] remijulien opened #1014 "Clappr 0.2.52 breaks Streamroot integration"
**Browser**: 51.0.2704.63

**OS**: MacOS X 10.11.5

**Clappr Version**: 0.2.52

**Steps to reproduce**:

Upgrade to Clappr 0.2.52 breaks integration with Streamroot
https://github.com/streamroot/clappr-streamroot-playback

It was working with Clappr 0.2.51.

According to the 0.2.52 changelog  it doesn't seem that breaking changes in the interface were released. Are there other changes that we shou

[2016-06-01 10:06] tjenkinson commented on #1014
@remijulien I've submitted a PR https://github.com/streamroot/clappr-streamroot-playback/pull/2

We marked some variables and methods as private in that release.

[2016-06-01 12:04] leandromoreira commented on #1012
@waster ohh that's something we need to check, also [hls.js just released a new version](https://github.com/dailymotion/hls.js/releases/tag/v0.5.33) with some fixes regarding the error recover.

[2016-06-01 12:26] thalleshmm commented on #1013
@towerz Am I doing something wrong? I tested on both Chrome and Firefox, and they were able to use the Flash playback. In Safari though, playback is still HTML.

![captura de tela 2016-06-01 as 09 18 47](https://cloud.githubusercontent.com/assets/6493006/15709248/158a5648-27da-11e6-9e14-9b842f23d2a9.png)

OSX 10.11.3 (15D21)
Safari 9.0.3 (11601.4.4)

[2016-06-01 14:38] #1014 closed

[2016-06-01 16:41] towerz commented on #1013
@thalleshmm Could you share the URL you have used on your test? I tried doing the same with @leandromoreira's sample and it worked correctly for me.
[code]

[2016-06-01 19:16] thalleshmm commented on #1013
@towerz I'm using 'http://streaming50.sitehosting.com.br:1935/thalles/thalles/playlist.m3u8?DVR'.

That doesn't seem to be the problem, anyway. I've also tried with the default sample on the CDN, and I just tried copying the code you just posted.

![captura de tela 2016-06-01 as 16 08 04](https://cloud.githubusercontent.com/assets/6493006/15722430/19841d80-2814-11e6-8107-dc3dcfba2a63.png)

I just

[2016-06-01 19:47] towerz commented on #1013
@thalleshmm the FlasHLS playback checks whether or not the Flash plugin is installed. Could you try running this on your Safari javascript console?
[code]

[2016-06-02 10:38] 569934390 opened #1015 "hls play error Uncaught TypeError: Cannot read property 'call' of undefined"
when i use the original clapper.min.js it's ok to play hls,
but when i use npm run release to generate my own clapper.min.js then it's throw error as the title

it seems that the hls.js lib  can't execute right so hls can't play .
i want to know how you guys to package the clappr.min.js ,why i use the original file can work fine ,
but use my own generate file can't work.

@leandromoreira ,can you

[2016-06-02 14:44] #1009 closed

[2016-06-02 19:39] towerz commented on #1015
@569934390 we don't do anything other than `npm run release`, bumping version and deploying on CDN.

How are you building Clappr? What's your node version? Could you provide more info so we can investigate this issue?

[2016-06-02 20:54] framerate commented on #1015
So crazy, I just rebuilt a new project using clappr and am seeing this same glitch! It worked fine in my other app yesterday, (and is still working!)

I'll report back if I figure out why. (I'm not building my own, just including from npm)

[2016-06-02 20:57] framerate commented on #1015
Got it.

Yesterday I got `0.2.52`. Today I got `0.2.53` which is throwing this error for me. Rolling back a minor point fixed it and HLS videos are playing for me.

Does that help @towerz ?

[2016-06-02 21:12] towerz commented on #1015
Both `0.2.52` and `0.2.53` include hls.js updates, so it could be related to updating the playback underlying library. I can't reproduce with the cdn version, but I'll try to build a project from scratch to isolate this problem.

What version of nodejs are you using, @framerate? We noticed that using earlier versions of nodejs could cause some build issues.

[2016-06-02 21:14] framerate commented on #1015
6.2 but I am not directly building it. I just install it and include it but
the whole thing is built with webpack afterwards
On Jun 2, 2016 2:13 PM, "Bruno Torres" <notifications@github.com> wrote:

[2016-06-02 21:18] derrod commented on #1015
I'm using the release from github and I get the same error. `0.2.52` works.
I'm also getting the error with the cdn version.

[2016-06-02 21:26] leandromoreira commented on #1015
I just tested on cdn using and it work just fine (Chrome 50.0.2661.102, MacOSX), what browser OS's are you testing?

[code]

[2016-06-02 21:49] tjenkinson commented on #1003
@iongion I have been thinking of this again and actually think maybe creating a stub of Clappr in your tests would be the best way.

Like I said at the beginning you should be able to assume that Clappr will work as documented and that there won't be any incompatible changes to the api between minor versions, so stubbing it should be fine. If I had a project which used twitter for example I would

[2016-06-02 22:04] derrod commented on #1015
Firefox 46.0.1 and Chrome 52.0.2743.19 dev-m (64-bit) on Windows 8.1.

[2016-06-02 22:51] framerate commented on #1015
Chrome `Version 51.0.2704.63 (64-bit)`

[code]

[2016-06-02 22:58] leandromoreira commented on #1015
I could reproduce using FF 46.0.0.1

[2016-06-02 23:00] leandromoreira commented on #1015
[code]

[2016-06-02 23:21] ggarnier commented on #679
@oyeanuj We've been using Clappr with React for a while, and we intend to release it as open source. I don't have a snippet to show right now, because our code is very specific for our project. I'll post something here as soon as I have some time.

[2016-06-03 05:40] iongion commented on #1003
Yes, it sounds good, but you still must declare as main script a compiled version if clappr, not the es6

[2016-06-03 08:24] tjenkinson commented on #1003
Great. That change has already happened in the version that was released yesterday :)

[2016-06-03 08:53] ZAZmaster commented on #1015
Has this issue too. Browser Chrome 51.0.2704.63 m and FF 46.0.1 on Windows 7

[2016-06-03 13:18] iongion commented on #1003
Awesome, closing this, you guys are amazing and Github really needs a discussion facillity so much and not issues. Great work!

[2016-06-03 13:18] #1003 closed

[2016-06-03 14:47] tuannvm commented on #1015
Also had this. Switching back to 0.2.52 fix the problem.

[2016-06-03 16:46] tjenkinson commented on #1015
Can someone provide steps to reproduce this error? I haven't managed to get it yet.

[2016-06-03 17:24] tjenkinson commented on #1015
Nevermind I got the error now.

It seems to happen when it leaves this line

![image](https://cloud.githubusercontent.com/assets/3259993/15787084/278f309a-29b8-11e6-9564-241ea2b9a505.png)

and comes back to

![image](https://cloud.githubusercontent.com/assets/3259993/15787109/54eccd7c-29b8-11e6-90b9-47cb6afbc31e.png)

[2016-06-03 17:46] leandromoreira commented on #1015
@mangui just released a new version https://github.com/dailymotion/hls.js/releases/tag/v0.5.34 we can try to see if it fixes this bug.

[2016-06-03 18:12] bikegriffith commented on #679
@oyeanuj @framerate @ggarnier I wrote up a few notes on using Clappr with React if you'd like to give it a read ... let me know if this is useful. https://medium.com/@bikegriffith/using-clappr-with-reactjs-14a338e3451f

[2016-06-03 18:22] framerate commented on #679
Very similar to what I've been doing! But I like how you're handling prop changes, mine is still barebones. Thanks!

[2016-06-04 02:50] kevin2o commented on #626
Was this implemented? I love the player, but I have playlists with multiple audio tracks and I can't find an option to change the track.

[2016-06-04 03:43] leandromoreira commented on #626
@kevin2o it was not ;/ but I still think it's a solid feature

[2016-06-04 03:50] kevin2o commented on #626
@leandromoreira Thanks for the update. Yeah, too bad. Clappr is by far the smoothest player I've used, but my problem is that the playlists I use have multiple audio tracks and English is not default.

[2016-06-04 12:28] thalleshmm commented on #1013
@towerz it wasn't installed. I'm sorry, my bad, I failed to notice it. Once I installed Adobe's Flash Player, FlasHLS was able to detect it and ran.

[2016-06-05 12:00] Mordinoid opened #1016 "Stream keeps loading."
**Browser**:  Chrome Version 50.0.2661.102(or any), Firefox Version 46.0.1(or any),

**OS**: Windows 7,8,10

**Clappr Version**: Can`t see which one is it. :/ But should be latest.

**Steps to reproduce**:

* Click on play button
* It just loads and nothing happens.

 Hello. Sorry for my english in advance. I tried to find a solution of my problem, but it was nowhere to be found. I am using your p

[2016-06-05 12:37] leandromoreira commented on #1016
Hi @Mordinoid try to use the previous version, it seems we have [a bug happening with the latest](https://github.com/clappr/clappr/issues/1015).
[code]

[2016-06-05 13:29] Mordinoid commented on #1016
Thank you so much, it worked! I`ll be closing this now.

[2016-06-05 13:29] #1016 closed

[2016-06-05 16:33] sjlu commented on #758
#572

On the other hand, for apps that are inline and/or part of a UIWebView, can we have an option to append `webkit-playsinline="true"` to the video?

[2016-06-05 21:31] me-vlad commented on #758
Option for `webkit-playsinline `  looks useful

Also (not related to this issue) may ne we can add parameter to the video tag that allows AirPlay for older iOS devices
`x-webkit-airplay="allow"`
https://developer.apple.com/library/ios/documentation/AudioVideo/Conceptual/AirPlayGuide/OptingInorOutofAirPlay/OptingInorOutofAirPlay.html

[2016-06-06 07:02] #1015 closed

[2016-06-06 22:50] me-vlad commented on #1015
Hi,
same error "Cannot read property 'call' of undefined" can be reproduced on cdn.clappr.io with dash-shaka-playback plugin (https://cdn.jsdelivr.net/clappr.dash-shaka-playback/latest/dash-shaka-playback.js)

test config

[code]

Debug log:

[code]

[2016-06-06 23:11] leandromoreira commented on #1015
@me-vlad I think [now it's working](https://github.com/clappr/dash-shaka-playback/commit/d783be3139a0d660056c6a7c3517bf9dbff54616), can you test?

[2016-06-06 23:34] me-vlad commented on #1015
@leandromoreira

property 'call' of undefined error fixed, but the streams not starting with  dash-shaka-playback 2.0.6-beta
Same stream plays with dashjs reference player
http://dashif.org/reference/players/javascript/v2.1.1/samples/dash-if-reference-player/index.html

Browser info
Google Chrome 51.0.2704.79 (64-bit) on Fedora 23

[2016-06-06 23:56] leandromoreira commented on #1015
@me-vlad I could not reproduce this bug while using the latest shaka =/
I tested with this source `//storage.googleapis.com/shaka-demo-assets/angel-one/dash.mpd` can you do the same? Also if it's possible give me the mpd uri so I'll be able to reproduce.

[2016-06-07 00:08] me-vlad commented on #1015
@leandromoreira  sure , my test stream was in config posted above
http://b028.wpc.azureedge.net/80B028/Samples/a38e6323-95e9-4f1f-9b38-75eba91704e4/5f2ce531-d508-49fb-8152-647eba422aec.ism/Manifest(format=mpd-time-csf).mpd

same issue with //storage.googleapis.com/shaka-demo-assets/angel-one/dash.mpd

Debug:

[debug][dash_shaka_playback] playback:levels:available [Object, Object, Object, Object, O

[2016-06-07 00:16] leandromoreira commented on #1015
@me-vlad I'm still unable to reproduce it locally, I might published the wrong version, can you check with master build? `npm run release`

http://s33.postimg.org/f2icr4lin/Screen_Shot_2016_06_06_at_9_12_53_PM.png

[2016-06-07 00:51] me-vlad commented on #1015
@leandromoreira  strange, but stream not starts for me with latest version of the plugin downloaded from
https://raw.githubusercontent.com/clappr/dash-shaka-playback/master/dash-shaka-playback.js
same issue with my own build
http://stream.studio360.tv/player/clappr-dev/dash-shaka-playback.js

Also tested on Chromium 51.0.2704.63  Fedora 23 (64-bit)

![2016-06-07 03-41-04](https://cloud.githubuserc

[2016-06-07 02:53] leandromoreira commented on #1015
@me-vlad I'll try to see if I can reproduce it here later ... but it's strange though.

[2016-06-07 08:37] dakora1310 opened #1018 "how to seek player"
Hello, pls help me.
I load  new source and then I need seek video to 2 minutes.
My code
loadSours: function (sources) {
       seconds = 120;
       this.camControl.load( sources );
       this.camControl.seek(seconds);
       this.camControl.play();
}

But seek does not work

[2016-06-07 19:35] iongion commented on #926
@leandromoreira - This should be implemented using a timer and using the normal Clappr events for playback to know when to suspend/resume the timer. You start the timer and then you read the current timestamp from the video - with this and knowing the framerate(you need it, it cannot be guessed from the video easily, for example in HLS streams you cannot, so to have a generic solution, find a way

[2016-06-07 19:41] leandromoreira commented on #1015
@me-vlad can you retry using this snippet (I still can't do it on my side)

[code]

[2016-06-07 19:42] leandromoreira commented on #926
@iongion I'm doing a [stats plugin for clappr](https://github.com/leandromoreira/clappr-stats/blob/master/index.js#L133) which will inform the FPS by X seconds, is that helpful?

[2016-06-07 19:44] iongion commented on #926
@leandromoreira allow milliseconds update rate - seconds is too much in many cases

[2016-06-07 19:45] iongion commented on #926
@leandromoreira I saw you try to perform some framerate detection, please also allow it to be passed from outside for a better more imperative control, especially in the m3u8 playback

[2016-06-07 19:48] leandromoreira commented on #926
@iongion you're right, thanks!

[2016-06-07 19:51] leandromoreira commented on #926
I couldn't understand =/ can you provide an example?

[2016-06-07 19:55] iongion commented on #926
@leandromoreira - `_fetchExtras` at line 120, while it works, if browsers support it, it would be nice to allow users to pass the frame rate as configuration option to the plugin and use that instead of the detection's - in this case you would also cover the cases when frame rate cannot be detected. Because there are a lot of of stats that can be computed on the frame-rate, a better control would

[2016-06-07 20:09] leandromoreira commented on #926
Yes, how about something more "dynamic"?

[code]

I think this could let users to update certain values instead of passing it statically at initialization, what do you think?

[2016-06-07 20:10] iongion commented on #926
@leandromoreira absolutely much better :dancer:

[2016-06-07 20:45] leandromoreira commented on #926
done https://github.com/leandromoreira/clappr-stats/blob/master/index.js#L119 feedbacks are welcome

[2016-06-07 21:00] me-vlad commented on #1015
@leandromoreira  your sample works with autoPlay: true
after changing it to false - playback not starts after clicking on the play button.

Also if I use autoPlay: true after stopping the stream player starts buffering (screenshot in attachment)

![2016-06-07 23-54-33](https://cloud.githubusercontent.com/assets/222185/15874450/e0b310f4-2d0b-11e6-872c-291be75b0b7f.png)

Debug log:

[debug][dash_sha

[2016-06-07 21:17] jdmswong opened #1020 "Does Clappr support IE9?"
It's not included in the compatibility table, does this mean is isn't supported?

[2016-06-07 21:56] leandromoreira commented on #926
@iongion I'm thinking now that both functions can offer you the same final result, ins't? I mean, you also use `onReport` callback to change/add metrics. Maybe, we should have only one.

[code]

[2016-06-07 21:58] leandromoreira commented on #1020
We don't support it officially but the play does the best effort to play on most browsers.

[2016-06-08 00:32] leandromoreira commented on #1015
@me-vlad I'm looking into it.

[2016-06-08 00:55] leandromoreira commented on #1015
Thanks @me-vlad 👍  I'll publish a new version tonight.

[2016-06-08 03:24] Mindvelopers opened #1021 "Cant load M3U8 just on clappr"
I'm using Clappr because it's amazing, but a problem occurred when I finally got my streaming servers and tried to live stream :(
http://i.imgur.com/NtP0pJa.png

As you can see I cant play it :( I tried on flowplayer, video.js and jwplayer and it works nice...

My clappr config:
[code]

[2016-06-08 03:29] leandromoreira commented on #1021
Can you:
* check your [cors headers at your servers](https://github.com/clappr/clappr/issues/703)
* try to run it on [hls.js demo page](http://dailymotion.github.io/hls.js/demo/)
* try to run it on [flashls. demo page](http://www.flashls.org/latest/examples/chromeless/)

[Very often these kinds of error](https://github.com/clappr/clappr/issues/990) are related to your input (rtmp, upd ...) or the

[2016-06-08 03:34] Mindvelopers commented on #1021
Tried everything you send.
It works on every flash player, but not on hls.js player's.
Could this problem be on my server? need to activate something to work on html5? I'm using wowza...

[2016-06-08 03:52] leandromoreira commented on #1021
@Mindvelopers it could be:
* try to use `$ mediainfo file.ts` over one .ts file of this stream (the links I provided show you how)
* check if you enabled CORS headers at your server `$ curl -v http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8 >> /dev/null` check if the output has something like:

Access-Control-Allow-Origin: *

[2016-06-08 05:11] askkaz commented on #1015
just had the same issue - using 0.2.52 until the new version is live

[2016-06-08 07:29] waster commented on #1012
Hellp, any news about that issue?

[2016-06-08 12:06] remijulien opened #1022 "Cursor jitter in DVR playback"
B**Browser**: Chrome 51.0.2704.84

**OS**: Mac OS X 10.11.5

**Clappr Version**: 0.2.54

**Steps to reproduce**:

* launch this [test page ](http://streamroot.test.s3.amazonaws.com/3rdparty/clappr/clappr-level-selector.html)  It is latest clappr with latest level-selector plugin loading an MBR HLS stream with a 5 minute DVR playlist.

* move the playback cursor back to enter the DVR buffer (e.g. 1

[2016-06-08 12:12] tjenkinson commented on #1022
@remijulien I don't think this is a bug.

Each chunk in the playlist is 2 seconds, so every 2 seconds 2 seconds is suddenly added at the end and 2 seconds removed from the beginning. This means the playhead will move forwards during the 2 seconds and then jump back again.

[2016-06-08 12:38] remijulien commented on #1022
This makes sense, it is really just a design choice for the progress bar, so I'll let you guys decide what to do with that.

I have checked the implementation on [ hls.js demo page](http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fwowza.streamroot.io%2Fliveorigin%2FSample-live.smil%2Fplaylist.m3u8%3FDVR&enableStreaming=true&autoRecoverError=true&enableWorker=true&levelCapping=-1&defaultA

[2016-06-08 12:59] leandromoreira commented on #1012
@waster can you build from master and test it again?

[2016-06-08 13:23] waster commented on #1012
Tested with the current master. Unfortunately problem still remains. I added the following code to the player config :

[code]

And tried to load non-existent 404 manifest. Still no error event after two retries and console messages are:

[code]

[2016-06-08 13:41] leandromoreira commented on #1012
Thanks @waster I'm gonna take a look at this later.

[2016-06-09 00:14] Mindvelopers commented on #1021
Hi, the CORS were enabled, but the problem was on the Access-Control-Allow-Origin: * xD
Thanks a Lot! How can I buy you a beer?

[2016-06-09 03:06] #1021 closed

[2016-06-09 03:07] leandromoreira opened #1024 "Create sections to make README better to read"
And also add a troubleshooting to solve some cases like this https://github.com/clappr/clappr/issues/1021#issuecomment-224768906

[2016-06-09 12:39] deonio opened #1025 "can play iptv without transcoding video"
udp stream to m3u8 playlist:

ffmpeg \
-i udp://xxx.x.xx.xx:1234 \
-c:v copy \
-c:a aac -strict -2 \
-ac 2 \
iptv.m3u8

this playlist clappr not play
in console -> TypeError: this is undefined
if i play this playlist in vlc player - play ok

ffmpeg \
-i udp://xxx.x.xx.xx:1234 \
-c:v libx264 \
-c:a aac -strict -2 \
-ac 2 \
iptv.m3u8

this playlist clappr play ok

ffmpeg generate this error
[h264 @

[2016-06-09 17:28] leandromoreira commented on #1025
@deonio we fixed this problem some time ago, can you please try to use the "fixed" uri until jsdelivry updates to latest.

https://cdn.jsdelivr.net/clappr/0.2.54/clappr.min.js

[2016-06-09 18:05] deonio commented on #1025
I used the last three versions:
0.2.52
0.2.53
0.2.54

now 0.2.54

I see the following errors
[debug][hls] playback:levels:available Array[1]
log.js:67[debug][hls] playback:fragment:loaded Object
blob:http%3A//xxx.ru/5ac0682f-16b1-482c-86ed-3dd512e00960:6 Uncaught TypeError: Cannot read property 'contiguous' of undefined

[2016-06-09 18:06] tjenkinson commented on #1025
Related: https://github.com/dailymotion/hls.js/issues/485

[2016-06-09 18:28] deonio commented on #1025
i do not know what to do
edit src/demux/tsdemuxer.js	-> lines 362-    };		 +    }.bind(this);
clappr.js there are no such lines

[2016-06-10 01:03] leandromoreira commented on #1012
I confirmed @waster I [opened an issue on hls.js](https://github.com/dailymotion/hls.js/issues/491) to see if this is intentional or not.

[2016-06-11 15:47] samcarmex opened #1026 "Problems loading HLS streamed by Adobe FMS 5 in Chrome"
Chrome 51.0.2704.84 m (64-bit)
Windows 7 64 Bit
Clappr Version: 0.2.25
1. Stream a HLS livestream from an instance of Adobe Media Server 5
2. Attempt to play .m3u8 source inside Clappr in Chrome browser

Obviously the stream is expected to buffer and play without break. Instead, Chrome loads the initial few seconds of the live stream, plays it, freezes, then buffers infinitely without anything fur

[2016-06-11 22:28] samcarmex commented on #1026
To add to above - I have since linked to previous Clappr build 0.2.52 and it works perfectly on desktop.
I've seen a couple of mentions of possibly this same bug so feel free to close if the issue is already well known.

Lastly, accessing this test player on an Android device (Nexus 5, Chrome), I can audibly hear the segments overlapping/glitching. What can be causing this? What sort of buffer rul

[2016-06-12 02:50] #990 closed

[2016-06-12 02:59] leandromoreira commented on #1026
It's already know :) thanks a lot!

I'd for you to go to our [troubleshooting guide](TROUBLESHOOTING.md), very often these glitching/overlapping are related either to your input or segmentation (mostly PTS) and some cases, mostly for mobile, some devices might behave very different from other similar device :(

[2016-06-12 02:59] leandromoreira commented on #1026
The troubleshooting is in another branch https://github.com/clappr/clappr/blob/split_readme/TROUBLESHOOTING.md (yet to be merged)

[2016-06-13 17:48] widestreamio opened #1029 "Cant play live from adobe encoder just on clappr"
I have a live stream service. And all works fine, but, it has one problem.
I can play things streamed by xsplit, but not by adobe encoder.
It's like a strange thing, and, unfortunately, I cant find any answer for this :/

I'm using wowza (paid), here some prints of my configuration.
http://i.imgur.com/WQZLbfy.png
http://i.imgur.com/k31df5d.png

Log message:
http://i.imgur.com/RNsTnxZ.png

Works fi

[2016-06-13 18:03] leandromoreira commented on #1029
@widestreamio usually these errors are related to your configs on segmentation (the server that will generate hls/dash) or the input (rtmp/udp) I'd say go to [troubleshooting](https://github.com/clappr/clappr/blob/master/doc/TROUBLESHOOTING.md) very often this is related to missaligned PTS or even lack of keyframes (or misconfigured keyframes)

[2016-06-13 18:20] keyndark opened #1030 "HLS how to change audio track (language)"
HLS how to change audio track (language)? Thanks.

[2016-06-13 19:44] widestreamio commented on #1029
Do you stream with adobe flash live encoder?
Do you know some website that I can test live streaming with clappr?

[2016-06-13 20:15] leandromoreira commented on #1029
@widestreamio
1) Yes, we use lots of encoder one of them being http://www.adobe.com/br/products/flash-media-encoder.html you might double check your configs http://help.adobe.com/en_US/FlashMediaLiveEncoder/3.1/Using/WS5b3ccc516d4fbf351e63e3d11c104babd5-7fe0.html  I'd also would suggest https://obsproject.com/
2) I don't know if I understood you but you can test clappr at http://cdn.clappr.io/

[2016-06-13 20:16] leandromoreira commented on #1030
@keyndark are you using HLS, mp4 or other?

[2016-06-13 23:46] widestreamio commented on #1029
1) nothing on the configs.
2) i was talking about a website that I can live stream, but one with clappr.
I am persisting on clappr, because I made 6 different designs with clappr, it was a lot of work. :/
Is there another place that I can talk with you and after, post the resolution here?

[2016-06-14 00:14] me-vlad commented on #1029
@widestreamio  please try to disable low-latency stream option in your wowza app config.

[2016-06-14 00:30] leandromoreira commented on #1029
@widestreamio I don't know if I really understood again but https://streamroot.readme.io/docs/clappr is working with clappr.

Do you want a page to show the player? do you want a service to stream live? (like wowza or amazon?)

[2016-06-14 01:36] widestreamio commented on #1029
@me-vlad Tested! But nothing happens :(
@leandromoreira What I want is something like twitch, that I can stream with adobe encoder and see if the problem is on my server, or the player can't read some codecs, well, can this be something about codecs?

[2016-06-14 01:42] leandromoreira commented on #1029
@widestreamio as I said to you we use clappr as our live player (for hls) and that's okay, https://streamroot.readme.io/docs/clappr offers what you want, I think Azure and Amazon too both you'll spent a little amount of money. But you'll be able to test. Or if you are skilled with docker you can use this solution https://github.com/brocaar/nginx-rtmp-dockerfile

[2016-06-14 02:33] widestreamio commented on #1029
I dont know how to use that streamroot :O
A friend of mine told me this is a codec problem, can it be?

[2016-06-14 02:57] leandromoreira commented on #1029
@widestreamio yes, it could be, but there are tons of details behind this "issue" that's why I point you to https://github.com/clappr/clappr/blob/master/doc/TROUBLESHOOTING.md guide you can try to read the guide from streamroot I think they can help you.

[2016-06-14 03:01] widestreamio commented on #1029
The problem is, i'm out of time xD, is it really possible to make this work on hls.js/clappr, should I continue trying?
I tested everything on troubleshooting, works on flashhls, but not on hls.js :(

[2016-06-14 03:09] leandromoreira commented on #1029
@widestreamio yes several companies are using hls.js :) I searched this http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/live-streaming-wowza.html

[2016-06-14 03:16] widestreamio commented on #1029
How can I get in contact with you? It's difficult to explain by comments.
I can find an answer and post it here later.

[2016-06-16 08:13] kungfu315 commented on #1026
and, icon play and icon loading center not working, no show when stop. test in chrome 64 bit win 10. firefox is ok.

See test player here:
http://trnsmt.tv/admincpanel/testoclappr.html

[2016-06-16 08:59] samcarmex commented on #1026
The main source (m3u8) is a live stream between 8.00 - 14.00 GMT. Outside of those hours we would like the player to fall back to audio stream (has been added to that test player as another source). However, when the live .m3u8 is not available, the player tries to buffer infinitely and never falls back to the audio source. Have I configured the sources wrong or is this a bug?

[2016-06-16 10:07] kungfu315 commented on #1026
i try live .m3u8 http://125.235.29.16/livetv/keeng.m3u8 but icon play center no show when stop

[2016-06-16 14:08] ibreakstuff93 opened #1031 "Feature Request - way to update gaAccount after player is declared?"
Would you consider adding a way to update gaAccount info, after the player has been declared?

Similar to for example player.load('some_url');

but instead:

player.gaAccount('ga_accountid');

It would really help on a project i'm working on :)

[2016-06-16 14:57] leandromoreira commented on #1031
@ibreakstuff93 we're reworking the GA plugin :D but I think you can already do that if you use the `player.configure({source: 'newurl', gaAccount: 'blablalba'})` method

[2016-06-17 22:31] SYugel opened #1032 "Failure to seek to any frame but a keyframe in MOV files."
**Browser**: Chrome Version  51.0.2704.84 (64-bit)

**OS**: MAC OSX 10.9.4

**Clappr Version**: 0.2.47

**Steps to reproduce**:
- Load an MOV file into the clappr player.
- Then attempt to seek to a specific location in the file either using the scrub bar or calling the seek command on the player directly.
- I was expecting the player to seek to that exact time in the file, but instead it attempts

[2016-06-18 18:02] widestreamio commented on #1029
@leandromoreira This is fixed, but I found another problem, sometimes, the player doesn't start... it just dont load the video... and the log says nothing, what can this be?

[2016-06-20 08:52] ibreakstuff93 opened #1033 "Is their a consistent playback event, when video starts, regardless of playback format?"
**Browser**: Multiple

**Clappr Version**: 0.2.54

Is their a consistent event that notifies when a video playback has started, regardless of format or if the content is Live or VoD, and on any device?

Also, is there an event that indicates a buffering event? If not, it would be great if it could be added?

Thanks

[2016-06-20 12:47] shaharmor opened #1034 "New release"
***1 Upvote*** Any chance to release a new version? We are looking for the latest hls.js

[2016-06-20 13:08] leandromoreira commented on #1034
👍

[2016-06-20 13:16] leandromoreira commented on #1033
Yes, we even build [a plugin for stats](https://github.com/leandromoreira/clappr-stats) where you can use or learn how to use these events.

1. [`PLAYBACK_PLAY_INTENT`](http://clappr.github.io/classes/Events.html#event_PLAYBACK_PLAY_INTENT) happens when the user hits play.
2. [`PLAYBACK_PLAY`](http://clappr.github.io/classes/Events.html#event_PLAYBACK_PLAY) happens when the playback is starting to

[2016-06-20 14:18] shaharmor commented on #1034
@leandromoreira will it be today?

[2016-06-20 14:31] leandromoreira commented on #1034
done ! https://github.com/clappr/clappr/releases/tag/0.2.56

[2016-06-20 14:31] #1034 closed

[2016-06-22 20:41] thalleshmm opened #1038 "Ad Plugin"
Hello everyone.

Is there any plans to develop an Ad Plugin, with optional pre, mid and post-roll ads?

Is there any known team working on that?

Thank you

[2016-06-22 20:55] leandromoreira commented on #1038
Yes, specifically DFP (google one) but we still don't have time for it. Feel free to create a plugin 😄

[2016-06-23 03:25] leandromoreira commented on #1018
@dakora1310 I think you can use `autoSeekFromUrl: true` and then `/?t=100`

[2016-06-23 03:27] leandromoreira commented on #1026
@samcarmex

How are you setting this up?

[2016-06-23 03:29] leandromoreira commented on #1032
@SYugel when you try to do the same using only the video tag does it works as expected?

[2016-06-23 04:56] samcarmex commented on #1026
@leandromoreira

See test player source - is that correct or do I need to use some sort of plugin to have it fall back?
http://trnsmt.tv/admincpanel/testoclappr.html

[2016-06-23 11:10] salmanmanekia opened #1041 "Is a varaible with similar values to m3u8 file supported ?"
Hi,

I am new to clappr but would it be possible to pass a variable to Clappr.Player source key. Such that the variable is similar as a m3u8 file would be
[code]

[2016-06-23 13:32] leandromoreira commented on #1026
@samcarmex ohh I think you're doing right but the way Clappr works is different than what you expect, the [fallback plugin](https://github.com/clappr/clappr/blob/master/src/plugins/sources.js) works as in video tag, you inform some and Clappr will chose the first that works.

In your case you'll probably need to listen to [PLAYER_ERROR](http://clappr.github.io/classes/Events.html#event_PLAYER_ERRO

[2016-06-23 13:33] leandromoreira commented on #1041
@salmanmanekia not it's not, you can however server this "variable" as a static file.

[2016-06-23 15:46] mkozlov1 opened #1043 "Get current playing fragment sequence number"
Hi.

How to get a current playing fragment sequence number?

[2016-06-23 16:13] paunadeu opened #1044 "Audio mute randomly on iPad iOS 9, and other minor issues."
**Browser**: iPad Cordova [Safari, i think]

**OS**: iPad iOS 9

**Clappr Version**: 0.2.56

**Steps to reproduce**:
- Play a video
- Wait a few minutes (randomly, 5-20 minutes)
- Audio mute and unmute, 2-3 times every 10-15 seconds. If you refresh all go fine.
- Note that audio controls don't work, and when have autoplay enabled, the iOS play button appairs in center. Have any workaround for this

[2016-06-23 17:02] paunadeu commented on #1044
2016-06-23 18:22:31.053 AppName[1885:1361443] Apache Cordova native platform version 4.1.1 is starting.
2016-06-23 18:22:31.055 AppName[1885:1361443] Multi-tasking -> Device: YES, App: YES
2016-06-23 18:22:31.110 AppName[1885:1361443] Using UIWebView
2016-06-23 18:22:31.112 AppName[1885:1361443] [CDVTimer][handleopenurl] 0.100970ms
2016-06-23 18:22:31.115 AppName[1885:1361443] Unlimited access to

[2016-06-23 17:03] leandromoreira commented on #1043
We're using hls.js as base to play hls therefore you can subscribe to [`Hls.Events.FRAG_LOADED`](https://github.com/dailymotion/hls.js/blob/master/API.md#runtime-events):

[code]

player.core.getCurrentPlayback().on(Clappr.Events.PLAYBACK_FRAGMENT_LOADED, function(frag) {
console.log(frag.sn)
});

[2016-06-23 17:05] leandromoreira commented on #1044
@paunadeu did you try to follow the [common steps to solve issues](https://github.com/clappr/clappr/blob/master/doc/TROUBLESHOOTING.md#common-steps-to-verify-issues)?

[2016-06-23 19:13] salmanmanekia commented on #1041
@leandromoreira do you mean writing this variable to a file and then pointing to the file ?

[2016-06-23 19:38] leandromoreira commented on #1041
@salmanmanekia yes, serving the file (static) at the same domain would be ideal.

[2016-06-23 20:29] SYugel commented on #1032
@leandromoreira
It does work as expected when you play the video in the video tag. I have included a link to a codepen that shows the behavior.  However you will have to serve the video contained in the bugContent.zip above using an apache server to see it.

If you then attempt to seek to a time in the video it correctly seeks to that time.  You can use the frames.csv file also contained in the bu

[2016-06-23 21:12] leandromoreira commented on #1032
Thanks I'll check this later!

[2016-06-24 03:28] Hezhenli commented on #933
Thanks @alouane can you provide more info? I also encountered this problem.

[2016-06-24 06:48] 569934390 opened #1046 "the sound button can’t control voice"
in ios os,use safari browser,the sound button can't control the voice up or down!
@leandromoreira ,is that normal? or maybe some settings to do?

[2016-06-24 09:01] mkozlov1 commented on #1043
Clappr.Events.PLAYBACK_FRAGMENT_LOADED fired on fragment loading, not on fragment play.

![frags](https://cloud.githubusercontent.com/assets/5320093/16333290/28b05188-3a03-11e6-95a6-b8b160471b96.PNG)

[2016-06-24 12:33] alouane commented on #933
Well, as I said, the error comes out when you add this tag `<ion-side-menu-content>`.
Juste delete it, and everything should work properly
But in may case, I didn't delete this tag, since that error is not blocking the app, and I needed this tag
Cheers

[2016-06-24 13:32] leandromoreira commented on #1043
@mkozlov1 you're right, looking at the hls.js API:

  - `Hls.Events.FRAG_LOADED`  - fired when a fragment loading is completed
    -  data: { frag : fragment object, payload : fragment payload, stats : { trequest, tfirst, tload, length}}
  - `Hls.Events.FRAG_PARSING_INIT_SEGMENT` - fired when Init Segment has been extracted from fragment
    -  data: { id: demuxer id, moov : moov MP4 box, codecs :

[2016-06-24 14:23] Hezhenli commented on #933
Thanks @alouane， I needed this tag too. But I found the when add tag <ion-side-menu-content>. The onContentTap function in ionic.bundle.min.js will execute more than one time. And at the first time,it is right. Can we do something to stop it?

[2016-06-24 14:28] leandromoreira commented on #1046
It's not normal, if it's not working it's probably a bug. I'm gonna try to check this later! Thanks @569934390

[2016-06-24 14:36] alouane commented on #933
I'm afraid no, are you getting some consequences with that error?

[2016-06-24 14:40] leandromoreira commented on #1046
@569934390 I just tested with iphone 6s (ios 9.3.1) with http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8 (at cdn.clappr.io) and it works just as expected, I mean you control the volume up or down by using the usual buttons.

[2016-06-25 05:21] Hezhenli commented on #933
HI @alouane，I think I found another way to solve this problem. I used another component instead `<ion-side-menu-content>`. [angular-snap](http://jtrussell.github.io/angular-snap.js/) working well. And the error never comes out. The example is follow [Left and right side drawers](http://plnkr.co/edit/iB8VfD?p=preview)

[2016-06-25 05:24] Hezhenli commented on #933
HI @alouane, My page code is as follows
[code]

[2016-06-25 13:16] alouane commented on #933
nice work! glad that you made it. Here's a useful directive for clappr integration with angular: [https://github.com/Defina-se/angular-clappr](url)

[2016-06-27 09:17] paunadeu opened #1051 "DRM and HLS-AES support"
Hello,
It's any plan to implement a DRM and HLS-AES support? Our content provider (Mediapro) require it for a sports broadcasting.

BuyDRM, Verimatrix or EZDRM is most used and are welcome.

If any developer can develop this we can speak for sponsor this function.

Regards.

[2016-06-27 13:27] leandromoreira commented on #1051
@paunadeu we use hls.js as a playback for HLS and it supports `AES-128 decryption (AES-128 mode)` not DRM though. Maybe @mangui might be interested, anyway I think you should open this ticket at https://github.com/dailymotion/hls.js maybe someone can take this!

[2016-06-27 15:02] mkozlov1 commented on #1043
Greate, frag_changed is that what i need.

But proper code is
player.core.getCurrentPlayback()._hls.on('hlsFragChanged', function(event, object) {
  console.log(object.frag.sn);
});

[2016-06-27 17:11] leandromoreira commented on #1043
lol @mkozlov1 I'll close this one, okay?

[2016-06-27 21:18] thalleshmm commented on #1038
Will do xD Thanks anyways

[2016-06-28 05:53] mkozlov1 commented on #1043
@leandromoreira yep!

[2016-06-28 08:04] siddhesharolkar commented on #411
HI, I am trying to implement network error handling.
I tried with :
player.listenTo(player, Clappr.Events.PLAYER_ERROR, function() { console.log("ERROR!") });
player.listenTo(player, Clappr.Events.PLAYBACK_ERROR, function() { console.log("playeback ERROR!") });
container.on(Clappr.Events.CONTAINER_ERROR, function() { alert('$$==>CONTAINER_ERROR'); });

but none of this working for me.
I am playing

[2016-06-28 08:59] ibreakstuff93 commented on #1033
Thanks @leandromoreira :+1:

[2016-06-28 09:29] paunadeu commented on #1051
Ticket opened at HLS.js project. Thank you Leandro for your quick answer.
BTW, have you example of integration of AES-128 with Clappr?
We are using Clappr in a IPTV Application that's used by a hundreds persons.

Best regards,
Pau.

[2016-06-28 09:32] paunadeu commented on #1044
Track #0 - Duration: 9.6 s, First PTS: 5989.586422 s, Last PTS: 5999.186422 s
Track #1 - Duration: 9.599999 s, First PTS: 5989.565422 s, Last PTS: 5999.165421 s

Can be this the problem? The difference between video and audio track.

Regards,

[2016-06-28 09:58] siddhesharolkar opened #1052 "events not working if m3u8 file dont have end tag ["#EXT-X-ENDLIST"]"
HI, I am trying to implement network error handling.
I tried with :
player.listenTo(player, Clappr.Events.PLAYER_ERROR, function() { console.log("ERROR!") });
player.listenTo(player, Clappr.Events.PLAYBACK_ERROR, function() { console.log("playeback ERROR!") });
container.on(Clappr.Events.CONTAINER_ERROR, function() { alert('$$==>CONTAINER_ERROR'); });

but none of this working for me.
I am playing

[2016-06-28 10:24] #1043 closed

[2016-06-28 12:32] leandromoreira commented on #1051
I think you can just enable on your server and that's it! No need to extra config.

[2016-06-28 12:35] leandromoreira commented on #1052
@siddhesharolkar can you explain what kind of errors are you expecting to catch from `PLAYER_ERROR` ? What steps you followed to raise a error?

[2016-06-28 12:40] leandromoreira commented on #1044
What iOS are you testing against? So I can test it here with http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8 .

[code]

Very often these differences in between bitrates causes this kind of errors you're describing, although in this case it seems a very small but anyway if you are able to see the same problem while running http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8 it might be a

[2016-06-28 12:40] waster commented on #1012
Hello @leandromoreira , I tested it with current clappr and it seems that onError event is not triggering still with the same hlsjs warn. BTW, Is it posible to display different messages for different errors via clappr API?

[2016-06-28 12:40] #1033 closed

[2016-06-28 12:41] leandromoreira commented on #411
@siddhesharolkar please don't double comment if you already opened an issue. https://github.com/clappr/clappr/issues/1052

[2016-06-28 13:10] siddhesharolkar commented on #1052
Hi leandromoreira,

Thanks for quick response.
I have downloaded clappr.js version - 0.2.56.
I have created sample HTML file :

[play.txt](https://github.com/clappr/clappr/files/337048/play.txt)

When i run this file i am able to get only "Inside PLAYER_PLAY event!" in console.
I have tried by putting invalid file source, still no error handled like 404.
I tried with editing .m3u8 file with invali

[2016-06-28 14:05] leandromoreira commented on #1012
@waster we wont fix that, this is [an issue on hls.js](https://github.com/dailymotion/hls.js/issues/491).

You can create a plugin to show your own errors, you then listen to PLAYER_ERROR and show them at the screen, we already do that when we can't play a given playback https://github.com/clappr/clappr/blob/master/src/playbacks/no_op/no_op.js

[2016-06-28 14:16] leandromoreira commented on #1052
@siddhesharolkar for some of the errors we'll try to recover (for instance 404) [there is an open issue about this problem.](https://github.com/clappr/clappr/issues/1012)

Abou the events you can:

[code]

[2016-06-28 14:53] ewwink opened #1053 "handle error, failover m3u8"
can clappr failover to another .m3u8 when first source error?

[2016-06-28 16:39] paunadeu commented on #1044
Hello,
I can't play nothing with http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8

404 Error from here.

Regards

[2016-06-28 16:42] paunadeu commented on #1044
I'm using iOS 9.3.2, on iPad Air 2 WiFi, Cellular.
Thank you for your help Leandro!

Big hug.

[2016-06-28 16:45] leandromoreira commented on #1053
@ewwink you can do that by your own listening the `PLAYER_ERROR` event.

[2016-06-28 16:46] paunadeu commented on #1053
To another m3u8 or another source. It's good to implement. Can I try to implement like a param in constructor and do a pull request? Or only Leandro can to this?

[2016-06-28 17:12] ewwink commented on #1053
@leandromoreira how to do that?

[code]
I also tried below but still not work
[code]

[2016-06-28 20:49] ewwink commented on #1053
I think `Clappr.Events.PLAYER_ERROR` will not fired if the server return other than HTTP 200 status code because there is no exception handler (`xhr.onerror`) in `function loadInternal()` and the script will be halted.

is `_events2.default.ERROR` linked to `Clappr.Events.PLAYER_ERROR` ?

[2016-06-28 22:32] ewwink commented on #1053
found temporary solution

[code]

[2016-06-28 22:41] leandromoreira commented on #1053
@ewwink some of the network failures are not being handled correctly I already opened an issue on https://github.com/dailymotion/hls.js/issues/491

[2016-06-28 22:41] leandromoreira commented on #1053
https://github.com/clappr/clappr/issues/1012

[2016-06-28 22:46] ewwink commented on #1053
OK thank you very much.

[2016-06-28 22:46] #1053 closed

[2016-06-29 13:15] me-vlad opened #1054 "[flasHLS] JFYI - flashls v0.4.4.22 is here"
https://github.com/mangui/flashls/releases/tag/v0.4.4.22

[2016-06-29 14:14] leandromoreira commented on #1054
feel free to do a PR :)

[2016-06-29 15:27] siddhesharolkar commented on #1052
Hi Leandro,
Thanks for your help. I am able to add temporary solution for this issue.
I really appreciate for your valuable help. Thanks once again.

[2016-06-29 15:27] #1052 closed

[2016-06-29 17:37] marcoczen opened #1055 "Unable to Play Video When Image/Logo Clicked"
Guys, I am new to clappr.

A. I am looking to have a mp4 video play when a logo is clicked in a jquery dialog box.

My code is as as follow;
`<div id="player">`
  `<a id="clapprplayer" style="display:block;width:470px;height:280px" ><img src="logo-video.png" /a> `

              <script>
               var player = new Clappr.Player({source:"<?php echo $moviesrc ?>",
                  parentId: "#

[2016-06-29 17:55] leandromoreira commented on #1055
I think you could just use a `poster` instead.

[code]

The second error screen (`"Your browser does not support the playback of this video"`) usually happens when you pass a invalid `source`.

[2016-06-29 18:02] marcoczen commented on #1055
Thank you leandromoreira .

I try now with the poster option.
Also,

Can the source parameter below accept a php code,i.e. a dynamic source  ?

source: "<?php echo $moviesrc ?>",

[2016-06-29 18:18] leandromoreira commented on #1055
@marcoczen you can mount the way you want, I think the problem relies on your php rendering, what's the browser final code? can you open the page and copy and paste the final page (the one accessed through the page on browser).

[2016-06-29 18:23] leandromoreira commented on #1055
if your browser outputs this `source:"<?php echo $moviesrc ?>",` it'll never work, since it's not valid html or js!

[2016-06-29 18:25] jfairley commented on #679
Here's how we interact with Clappr (slimmed down for clarity).

[code]

We also have much more in our config, bind to many other Clappr.Events, and programmatically play/pause/seek/etc, but taking that step isn't difficult once you have this set up.

[2016-06-29 18:32] marcoczen commented on #1055
Leandro,

This is the html code from Firefox -> View Page Source;

`div id="webplayers">`

[code]
</div>

[2016-06-29 18:37] leandromoreira commented on #1055
Clappr needs hints to know what playback it'll use, you either can pass a source with an extension (http://example.com/example.mp4...) or you can hint by providing an extra parameter [`mimeType`](https://github.com/clappr/clappr/blob/master/doc/BUILTIN_PLUGINS.md#add-mimetype-for-extension-less-url).

[code]

[2016-06-29 18:39] marcoczen commented on #1055
Holy crap that worked !!! There is no more that error message " "Your browser does not support the playback of this video" ..

[2016-06-29 18:41] leandromoreira commented on #1055
Great, can I close this one @marcoczen ?

[2016-06-29 18:43] marcoczen commented on #1055
Now, i can see the "images/logo-video3.png" with 3 dots in the centre.
And when i click that image, the clappr  player appears and the video can play.

![clappr3](https://cloud.githubusercontent.com/assets/20210990/16464360/67bacb0c-3e6c-11e6-937a-f57d2cbbcf7c.png)

[2016-06-29 18:46] marcoczen commented on #1055
The autoloop plays fine. Only when i fullscreen, the player disappears

[2016-06-29 18:48] leandromoreira commented on #1055
@marcoczen you can customize and [instrument the default player with some config options](https://github.com/clappr/clappr/blob/master/doc/BUILTIN_PLUGINS.md), you can also check if any [external plugin](https://github.com/clappr/clappr/blob/master/doc/EXTERNAL_PLUGINS.md) servers to you also checks if you read the [troubleshooting](https://github.com/clappr/clappr/blob/master/doc/TROUBLESHOOTING.

[2016-06-29 18:49] #1055 closed

[2016-06-29 18:49] marcoczen commented on #1055
Ok thanx a lot

[2016-06-29 20:00] marcoczen opened #1056 "Clicking FullScreen at bottom right of clappr player causes Video to DISAPPEAR but Audio is still playing"
Guys,

1. Thanks to @leandromoreira i managed to get clappr playing on our web app.
2. The issue now is that as the video is playing , when we click the bottom right fullscreen button, the clappy player / video disappears but the audio is still playing.
3. I have closed all my open windows to see if the clappy player had gone to any rear window but that is not the case.
4. I have taken 3 screensho

[2016-06-29 20:10] marcoczen commented on #1056
Update: if you the http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8 as source the problem still persists - i.e., click the full screen button, the video disappears but audio is till playing.

[2016-06-29 21:56] leandromoreira commented on #1056
@marcoczen I'm sorry but I could not reproduce this at our CDN http://cdn.clappr.io/?src=http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8 I tested with Chrome Version 51.0.2704.106 and Firefox 47 both using MacOSX

[2016-06-30 02:59] marcoczen commented on #1056
Hi Leandro...

1. Browser     -> Desktop. The web app is for desktops primarily.
2. Access URL -> U mean if i can click on the link above ? Yes.
3. Any idea about  Firebug ( [debug][t] 1:resize Object { width=874, height=0} );

[2016-06-30 03:03] leandromoreira commented on #1056
That's the problem when you resized for fullscreen you just set height to 0.

I can't reproduce that here.

[2016-06-30 03:07] marcoczen commented on #1056
So is there any css trick to override the height ? The video must still be playing bcos you can hear the audio...

[2016-06-30 03:41] leandromoreira commented on #1056
I really can't say to you, I mean when I go to http://cdn.clappr.io/?src=http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8  using firefox it works so I think it must be something on your code, maybe iframe issue (if you're using iframes) or even a css that doing that (by js)...

[2016-06-30 07:56] marcoczen commented on #1056
Leandro,

1. IFrames - Yes, iframes is being used.
2. CSS / JS - Is there anything i can do to ensure clappr css or js has the priority ?

[2016-06-30 14:56] leandromoreira commented on #1056
@marcoczen you might need to check the iframe fullscreen options and restrictions http://www.allowfullscreen.com/iframe there are tons of other options.

[2016-06-30 15:28] marcoczen commented on #1056
Leandro,

I clicked into the iframe (  on the jquery DialogBox ) and was able to get the player to go full screen ( not full fullscreen to the edge of the monitor )  but about an inch away ... So this confirms its an iframe problem ?

[2016-06-30 17:28] leandromoreira commented on #1056
@marcoczen I really don't know, this should work.
[code]

[2016-06-30 18:36] marcoczen commented on #1056
Leandro ...

IT WORKED ....  Adding allowfullscreen to the iframe tag allowed the fullscreen to work properly ...

THANKS !!!! PLS ADD THE TAG "wontfix-butiwillstillgetittoworkfor you"

[2016-06-30 18:37] marcoczen commented on #1056
Is there a paypal account we can make a contribution too ?
:-)

[2016-07-01 03:27] skeleton9 opened #1057 "Any way to use audio tag for HLS audio-only live stream"
For a HLS audio-only live stream, I added the audioOnly hint, it ends up using video tag, which will lead to fullscreen on mobile devices.

Any way to make it use a audio tag instead?

[2016-07-01 05:56] waster commented on #1057
I have the same question. What is the proper way to include audio tag as it can be played inline on iPhone (4 < iOS < 10)?

[2016-07-01 13:53] waster commented on #1012
@leandromoreira did you close this bug because it will be automatically fixed when corresponding hls.js 491 issue corrected?

[2016-07-01 14:10] leandromoreira commented on #1012
@waster yes :D I also referenced some nice peeps that would able to work around that.

Is it okay to close this one?

[2016-07-01 14:53] mattLummus commented on #988
@leandromoreira regarding this statement: "we should create an external plugin for it." Do you have an status on this idea? I would also point out that we are using Mixpanel to track play data and it would be nice to be able to at the least fork an external plugin and swap out the consumer

[2016-07-01 16:27] leandromoreira commented on #988
@mattLummus I'm planing to do that (GA plugin) my first step was to do a [stats plugin](https://github.com/leandromoreira/clappr-stats) so we can have data to send out.

Are GA and Mixpanel using the same API? if yes, it's okay otherwise I'd say to create two different plugins.

I didn't start it yet mostly because I'm struggling with the usage of GA for sending video metrics, I'm trying to see a

[2016-07-01 16:51] leandromoreira commented on #1057
@clappr/core I think it does make sense to use `<audio>` when we have `audioOnly` marked but `options` is out of reach at `canPlay` method. Could we add a pseudo-mimetype?

[code]

But then people should be obliged to use this specific mime-type.

[2016-07-01 17:01] mattLummus commented on #988
@leandromoreira Their API's are fairly similar. For example, via [Mixpanel's documentation](https://mixpanel.com/help/reference/tracking-an-event):
[code]

[2016-07-01 17:36] tjenkinson commented on #1057
Or we could make 'get tagName()' return 'audio' and getPlaybackType() return PLAYBACK.AOD in the video playback if the audioOnly option is set?

This makes sense to me because the actual file (and therefore mime type) is still technically a video.

[2016-07-01 17:49] #1056 closed

[2016-07-01 18:16] waster commented on #1012
@leandromoreira ah, sure, we can close this for now. I hope hls.js will fix that issue soon.

[2016-07-01 18:56] waster commented on #1057
I'm not sure that HLS specification allows to use `<audio>` with the m3u8 containing TS segments , but it's ok to use ADTS AAC segments. As I see, hls.js supports it.

[2016-07-01 19:06] waster commented on #1057
hmm, though in HLS draft:
[code]

[2016-07-01 19:21] leandromoreira commented on #1057
I tried to use `<audio src="hls"></audio>` it worked just fine on Safari.

[2016-07-01 19:35] waster commented on #1057
Oh, excellent. So if it does not contradict the HLS specification, I definitely agree with enhancement to use `<audio>` tag if `audioOnly` options was set and may be some additional option like `explicitAudio`.

[2016-07-01 19:42] tjenkinson commented on #1057
That's interesting I just assumed the audio tag could play video but would be good to find that written in a spec somewhere.

[2016-07-01 19:50] waster commented on #1057
Yes , I tried to find in HLS/HTML5 specs too, but found for HTML5 [here](https://developer.apple.com/library/safari/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/AudioandVideoTagBasics/AudioandVideoTagBasics.html#//apple_ref/doc/uid/TP40009523-CH2-SW1) now:

`The only difference between the <audio> and <video> tag attributes is the option to specify a height, width, and poster image

[2016-07-01 20:14] leandromoreira commented on #988
It'd be nicer to have them as an array of percentages `[25,50,75,100]` and then convert them to GA events `['view_25p', 'view_50p']`.

We could send buffer time, how many seeks, pauses (and pause times) using the `stats plugin` but this also could lead you to overuse your GA account. How would you expect to use this data? (an event, hit... or use it as a multi dimension) Because you can send a sin

[2016-07-01 20:21] towerz commented on #1057
There was once a suggestion of unifying both HTML5 playbacks into a single one (#466), but the issue was closed.

I think something like what @tjenkinson suggested would solve the problem. I'd suggest using an `audioOnly` flag under `playback` options and the `get tagName()` property on would return `<audio>` or `<video>` depending on that flag.

[2016-07-01 20:28] tjenkinson commented on #1057
@towerz I think the payback type should be Playback.AOD as well?

[2016-07-01 20:28] tjenkinson commented on #466
I missed this before.

I agree I think just having the one playback would make sense as well given they are so similar.

[2016-07-01 20:30] #1012 closed

[2016-07-01 20:36] towerz commented on #1057
@tjenkinson indeed

[2016-07-01 20:43] #1054 closed

[2016-07-02 14:02] nesale commented on #1057
We use hls for audio only. This problem annoys us too. I hope you can find a decision.

[2016-07-02 15:47] #981 closed

[2016-07-02 16:09] towerz commented on #1046
@569934390 the player volume bar controls the output volume of the `video` tag itself. It doesn't tie into any system-wide volume control.

The volume of the `video` tag on iOS cannot be controlled using JavaScript, thus setting the volume through JavaScript calls or interacting with the volume bar doesn't have any effect. In fact, that's why the default media control implementation doesn't even s

[2016-07-02 16:37] towerz commented on #1044
@paunadeu when you say `Note that audio controls don't work` what did you mean? The default media control implementation doesn't show audio controls, because the `video` tag does not allow changing the volume through javascript (see [here](https://developer.apple.com/library/safari/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/Device-SpecificConsiderations/Device-SpecificConsideratio

[2016-07-04 13:11] cowai commented on #994
I also need to translate "Back to live" somehow.

[2016-07-04 14:55] tjenkinson commented on #994
@clappr/core https://github.com/i18next/i18next looks like it might be a good library to use

[2016-07-04 15:01] leandromoreira commented on #994
@clappr/core I'd say for us to use a simpler solution (since we don't have that much of messages) https://github.com/clappr/clappr/commit/fe9d2af3ffb9b07ab024b3c92a0fa8576225f858 what do you think?

[2016-07-04 15:09] tjenkinson commented on #994
@leandromoreira that looks good to me :)

In the future it could be rewired without changing its api if we needed something more advanced as well.

[2016-07-04 15:22] leandromoreira commented on #994
@tjenkinson I updated with some tests if @clappr/core is okay with that I'll try to replace the texts with the plugin. :)

[2016-07-04 15:40] leandromoreira commented on #994
thanks @tjenkinson https://github.com/clappr/clappr/commit/9d59fe75ae41db6c77ba8c28450eacfa89df0904

[2016-07-04 15:42] tjenkinson commented on #994
:beer:

[2016-07-04 15:44] tjenkinson commented on #994
I think allowing the user to enhance the defaults instead of having to override them all might be useful as well, but it's always something that could be added at a later date if needed :)

https://github.com/clappr/clappr/commit/fe9d2af3ffb9b07ab024b3c92a0fa8576225f858#commitcomment-18115415

[2016-07-04 15:46] leandromoreira commented on #994
I like that too @tjenkinson I'm just looking to see how we merge things on clappr (I think it's `extend`)

[2016-07-04 15:51] tjenkinson commented on #994
@leandromoreira I think `merge` might be better in this case as it seems the difference between this and `extend` is that `merge` is recursive.

I think if we `extend` then if a user want's to override a specific phrase in a language they'd still have to include the rest of that language as well.

http://stackoverflow.com/a/19966511/1048589

[2016-07-04 17:28] leandromoreira commented on #994
@tjenkinson how about we start this way https://github.com/clappr/clappr/commit/345ef23078b636484d2013b08a7d9528cbaff4d6 and then we change after if we need.

[2016-07-04 17:44] leandromoreira commented on #994
@tjenkinson https://github.com/clappr/clappr/commit/ed497ed6dd62ad4679ab2aca66cf64481542c16d how about now?

[2016-07-04 17:50] tjenkinson commented on #994
:beers: sorry for being really picky! :P

[2016-07-04 17:53] leandromoreira commented on #994
YOU HELPED A LOT!!! Thanks for suggestions, they were all so great! Please continue to be "picky" :P

[2016-07-04 19:12] cowai opened #1060 "Simple example on how to add a custom button"
Hi,
Is it possible to extend the media control just to add a simple button,
With a custom text and a custom function being fired when clicked?

Anyone want to help me write an example?

[2016-07-04 19:31] leandromoreira commented on #1060
I think we already did that here (aka on the issues) but it'd better if we add this to the samples @towerz is working on that 💃

[2016-07-04 20:58] #1057 closed

[2016-07-04 21:19] #994 closed

[2016-07-05 07:26] skeleton9 opened #1062 "stop live HLS stream on Chrome, the play button won't show up"
**Browser**: 51.0.2704.103 (64-bit)

**OS**:  Mac OSX 10.10.4

**Clappr Version**: 0.2.58

It works fine on Safari and Firefox on the same machine.

**Steps to reproduce**:
1. play a HLS live video on http://cdn.clappr.io/
2. stop the video
3. the controls are hidden, and the play button won't show up
![Play button not show up](http://ww4.sinaimg.cn/large/66093f85jw1f5j1e5jzxgj20j80bu40t.jpg)

BTW

[2016-07-05 08:14] cowai commented on #994
Wow, this was fast :) Works great :)

[2016-07-05 08:57] tobiasandersen opened #1063 "Seeking past duration with live hls"
When setting a seek point past the available duration in a hls stream the current time will automatically jump back to the beginning. I would expect it to stay and wait for that position to become available in the live stream.

Is this a clappr issue or hlsjs?

[2016-07-05 09:01] tjenkinson commented on #1063
Hlsjs. We [pass it on](https://github.com/clappr/clappr/blob/master/src/playbacks/hls/hls.js#L112-121).

Please check if it happens with the latest hlsjs version on http://dailymotion.github.io/hls.js/demo/ first and then open an issue there. If you open dev tools on that page the video tag is assigned to the global `video` variable.

[2016-07-05 13:37] leandromoreira commented on #1044
can we close this @paunadeu ?

[2016-07-05 14:41] paunadeu commented on #1044
Quote from towerz:
Are you providing a custom media control implementation that displays volume controls for iOS?
No.

I haven't iPad Pro :-( but i think that's different than Air. I haven't URL because use Wowza with Secure Token.

[2016-07-05 15:09] tobiasandersen commented on #1063
Ok thanks!

[2016-07-05 15:09] #1063 closed

[2016-07-05 15:10] tobiasandersen opened #1065 "Getting buffer progress in chunks"
On the [hlsjs demo page](http://dailymotion.github.io/hls.js/demo/), buffering is shown in chunks, like this:
![buffer-progress](https://cloud.githubusercontent.com/assets/3599069/16589411/534891a2-42d3-11e6-923b-4e897ca85b58.png)
I want to implement this in clappr, but when looking at `player.progress ` I only get an object with: `{ start, current, total }`. I would expect an array, looking somet

[2016-07-05 16:58] #1062 closed

[2016-07-05 17:57] leandromoreira commented on #1022
@clappr/core are we going to make this jitter less noticeable?

[2016-07-05 18:00] towerz commented on #1065
@tobiasandersen currently this is not possible, the progress event filters the buffer containing the current position.

I'll mark this as a enhancement, so we can think of a better way to provide these buffer positions.

[2016-07-05 18:22] tjenkinson commented on #1022
I'm not really sure of a nice way to do it.

[2016-07-05 18:54] tjenkinson commented on #1022
I'm going to look into adding an option which will interpolate the duration of the last chunk from 0 to it's duration as time progresses, and reduce the duration of the 1st chunk as time progresses if the playlist is not of type EVENT. Will see how it goes!

[2016-07-05 20:14] mattLummus commented on #988
@leandromoreira So getting back to work on our analytics integration today I feel like I have a little more clarity. To me events triggering the report probably seems more helpful than setting an interval.

I.e., instead of reporting every 5 seconds or so,  I want to generate the report at appropriate times. Notably, when a video ends on a full playthrough, the source is changed, or when the playe

[2016-07-05 21:13] leandromoreira commented on #988
Now I'm thinking about the API. The way people are going to use this plugin. I think the plugin implementation will be easier than the stats.

WIP \/ (I'm working on it)
[code]

Do you mean to track the `load`? (changing source) and `destroy` ? (playing being removed)

[2016-07-06 07:43] shaharmor opened #1067 "CDN hosted assets"
Hi,

I see that all assets of all versions are hosted at `cdn.clappr.io/{VERSION}`.
Is it production usable?

edit:
I now see that is has no SSL...

edit2:
I also see that not all files in all version are hosted there... which makes it not usable.
Found out that `//cdn.jsdelivr.net/clappr/` hosts all files in all version, so we'll use that.

edit3:
So, i also tried `npmcdn.com`, but apparently the

[2016-07-06 11:28] leandromoreira commented on #1067
Hi @shaharmor we point everybody to use https://github.com/clappr/clappr#cdn (aka https://cdn.jsdelivr.net/clappr/latest/clappr.min.js or a specific version https://cdn.jsdelivr.net/clappr/0.2.56/clappr.min.js)

`cdn.clappr.io` should never be used.

`npmcdn.com` I didn't know about this cdn but anyway you can still use the official.

[2016-07-06 11:38] tjenkinson commented on #1067
I'm not sure why the `?inline=1` is necessary.

https://github.com/clappr/clappr/blob/master/src/playbacks/base_flash_playback/public/flash.html#L1

Looks like @towerz committed this so might know?

[2016-07-06 14:25] shaharmor opened #1068 "Clappr hlsjs options are being overridden"
**Clappr Version**: 0.2.58

**Steps to reproduce**:
* try to override hlsjs config like this:
[code]
* see that hls.js logs are not enabled

Did you try to reproduce this issue at http://cdn.clappr.io/? no

The issue is because after this commit: https://github.com/clappr/clappr/commit/88c87836da24a4af7f378cd9dd736ef20f358bb5 the config was changed from `hlsjsConfig` to `playback`, which in its ow

[2016-07-06 18:45] enbplas11 commented on #551
@jfairley @dviramontes @flavioribeiro
Good, how building custom HLSPlayer for clappr from mangui/flashls.?

[2016-07-06 19:10] towerz commented on #1068
Indeed, thanks @shaharmor

[2016-07-06 19:23] towerz commented on #988
I'd suggest some small changes to the proposed options:
[code]

[2016-07-06 19:36] towerz commented on #1068
I only changed the container options to be copied over a new object, so it will work properly. Still need to change a little bit of the code to make it easier to test, but it's working ok after the change.

[2016-07-07 18:46] Sarabveer opened #1071 "How to use Multiple Plugins"
**Browser**: Chrome/51.0.2704.103

**OS**: Windows 8.1 Pro x64

**Clappr Version**: 0.2.58

How do I use multiple plugins?

I currently have this:
[code]

But how can I add:
[code]

There is nothing documented on using multiple plugins.

[2016-07-07 20:17] leandromoreira commented on #1071
@Sarabveer you can just add this new one to the list, we dropped the key array config to a simple array. aka.

[code]

[2016-07-07 20:18] Sarabveer commented on #1071
hmm, doesnt seem to be working

[2016-07-07 21:10] leandromoreira commented on #1071
@Sarabveer it should be working, please let us know if there are errors/bugs though.

[2016-07-07 21:25] Sarabveer commented on #1071
For some reason, it stops the chromecast icon from showing, and the level selector never shows up. How can I enable debug mode on Clappr.

[2016-07-07 21:43] #1071 closed

[2016-07-07 23:27] leandromoreira commented on #1071
@Sarabveer so LevelSelector is not working?

[2016-07-07 23:28] Sarabveer commented on #1071
Nope

[2016-07-08 01:30] leandromoreira commented on #1071
@Sarabveer doesn't the LevelSelector works with latest clappr?

[2016-07-08 01:31] Sarabveer commented on #1071
did for me me, even when i used cdn.clappr.io. Does it work on live HLS streams?

[2016-07-08 01:48] leandromoreira commented on #1071
it should!

[2016-07-08 01:48] leandromoreira commented on #1071
if that's the case open an issue on that plugin

[2016-07-08 11:54] ronag commented on #1068
@towerz: Could we get a release on this? We need the hlsjs debug logs and as it is now we're unable to enable it...

[2016-07-08 11:58] gamtiq opened #1072 "Attempt to load new video leads to TypeError: setting a property that has only a getter"
**Browser**: at least Chrome 51.0.2704.103 and Firefox 47.0.1

**OS**: Windows 7

**Clappr Version**: master (0.2.58)

**Steps to reproduce**:

* start video play;
* after some time try loading and playing another video;
* it is expected that another video should be played but instead the video is not started.

Did you try to reproduce this issue at http://cdn.clappr.io/ - yes

There is the follow

[2016-07-08 12:38] leandromoreira commented on #1068
I think we should fix this first https://github.com/clappr/clappr/issues/1072 then release.

[2016-07-08 14:27] #1072 closed

[2016-07-09 16:57] sjlu commented on #758
ping @towerz

With support from iOS Safari 10, can we add this in?

https://developer.apple.com/library/prerelease/content/releasenotes/General/WhatsNewInSafari/Articles/Safari_10_0.html

[2016-07-09 22:48] towerz commented on #758
@me-vlad @sjlu about AirPlay, I'm developing this as a [standalone plugin](https://github.com/towerz/clappr-airplay-plugin). I'm still lacking an icon for enabling this, but it's nearly done.

[2016-07-10 23:43] ewwink commented on #1067
I use https://cdnjs.com/libraries/clappr it hosted by cloudflare

[2016-07-11 01:36] thiagopnts commented on #1067
@tjenkinson I remember this being some IEsomething quirkness

[2016-07-11 10:24] leandromoreira commented on #1067
ie9=11

[2016-07-12 07:06] giaule opened #1074 "Not work for googlevideo"
<script type="text/javascript" src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js"></script>
<div id="film-player"></div>
    var playerElement = document.getElementById("film-player");
    var player = new Clappr.Player({
        source: "https://r6---sn-a5mlrn76.c.docs.google.com/videoplayback?requiressl=yes&id=a1f82da9e8bedfbb&itag=22&source=webdrive&ttl=transient&app=texmex&ip=118.69.18

[2016-07-12 11:10] Kornflexx opened #1075 "How to set cookies"
Hi :),

I need to pass jsessionid cookie in the headers of the request.

I tried that:

`hlsjsConfig: {
    xhrSetup: (xhr) => {
         xhr.withCredentials = true;
         xhr.setRequestHeader('Cookie', "JSESSIONID=" + jsessionid);
    }
}`

But it doesn't work :

How can I perform this operation properly ?

[2016-07-12 13:23] leandromoreira commented on #1074
Hi @giaule the source needs to be a valid video (being hls, mp4 among others) I tried to see the content of this video:

[code]

And I couldn't because it seems to be protected, anyway if the video is a valid but doesn't have a extension you need to inform clappr what is this video by using `mimeType: 'videomimetype'`, please be aware that `'videomimetype'` needs to be a valid known mime type (lik

[2016-07-12 13:27] leandromoreira commented on #1075
Hi @Kornflexx I think you can try to set the cookie (a special header) 👍

[code]

source: [mozilla cookie](https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie)

[2016-07-12 13:54] Kornflexx commented on #1075
It doesn't seems to work :(.
I use clappr in a desktop web app (with electron: chrome engine embed)

[2016-07-12 14:27] leandromoreira commented on #1075
@Kornflexx maybe you need to figure out a way to set cookie within this electron engine. (how to send cookies, persist..)

[2016-07-12 14:42] leandromoreira commented on #1075
@Kornflexx  this might help you https://github.com/electron/electron/blob/master/docs/api/session.md

[2016-07-12 14:42] Kornflexx commented on #1075
Ok I used that: https://www.npmjs.com/package/electron-cookies
When I print document.cookie jsessionid is in it. But I still have the same issue (401 unauthorized from distant api).

[2016-07-12 14:52] shaharmor opened #1076 "Incorrect buffer events with autoplay"
When `autoplay` is true, there buffer start event is not called when it should.
This also causes the spinning wheel to not appear on initial load.

The line that is responsible for "starting" the buffer event is this: https://github.com/clappr/clappr/blob/master/src/playbacks/html5_video/html5_video.js#L180
But if autoplay is true, instead of calling the `.play` function like normal playback, this

[2016-07-12 15:02] tjenkinson commented on #1076
@shaharmor I think this might be a sightly different issue because

- `play()` is never called when `autoPlay` is `true`. Is the same issue present for a standard mp4 with autoPlay?
- `_setupHls()` also doesn't trigger playback to start. It just configures hlsjs. The reason playback starts after `_setupHls()` has completed is because the `autoplay` attribute is on the video tag. We could always ca

[2016-07-12 15:07] shaharmor commented on #1076
@tjenkinson I didn't check mp4.

Regarding this line you sent: https://github.com/clappr/clappr/blob/master/src/playbacks/html5_video/html5_video.js#L279
it will be called the `playing` is emitted, but the issue i'm talking about it the **initial** buffer-start event.

In normal conditions i expect `CONTAINER_STATE_BUFFERING` to be called as soon as the initial loading starts (when the first reque

[2016-07-12 15:08] shaharmor commented on #1076
Btw, this also means that if autoPlay is true, no spinning/loading gif will be shown when loading starts, which is also a problem no?

[2016-07-12 15:12] shaharmor commented on #1076
I still think that calling `.play` is the right way, (Maybe only for hls playback).
Btw, in flash, you do call `this.play()`.
Why not call `.play` directly instead of using the `autoPlay` property of the video tag?

[2016-07-12 15:13] tjenkinson commented on #1076
@shaharmor yes I remember now the reason is to handle devices like ios which require user interaction before they will actually start loading. If `_loadStarted` is set to `true` immediately if `autoPlay` is `true` then on ios the user will be stuck with the loading indicator forever until they tap the player.

I tried to explain it in the comments here
https://github.com/clappr/clappr/blob/master/

[2016-07-12 15:17] shaharmor commented on #1076
Yeah i understand that different devices have different behavior, but as it is right now, the `autoPlay` mode is missing a call to `this._handleBufferingEvents();`, so we should either add it manually or find a better way of triggering it

[2016-07-12 15:20] tjenkinson commented on #1076
@shaharmor I'm not sure if calling `this._handleBufferingEvents()` will make a difference at that point though. My guess will be that it will stay in the non-buffering state like it is now because `_loadStarted` will still be `false`. Worth a try though.

[2016-07-12 15:21] shaharmor commented on #1076
I tested it but changing this line:
`this.options.autoPlay && this._setupHls()`
with this:
`this.options.autoPlay && this.play()`

And it fixes all my issues 😄

Didn't check IOS though