[2020-07-06 07:04] Ghaias-Spica opened #1941 "Clappr events - stopPropagation"
Is there any way to stop the actual event propagation of clappr events as we do in javascript event, something like event.stopPropagation()?

[2020-07-09 01:46] sphinx33 opened #1942 "HLS livestream failover with event/error when chunklist stalls"
**What do you want to do with Clappr?**
I'd like to programmatically switch the (hls live) source of the player, as soon as the chunklist doesn't return new segments for a certain amount of time.

In detail: After I stop my encoder (or it loses connection), Wowza Streaming Engine delivers the "last" chunklist for some time before it gets removed and the player triggers an error (404). There is no

[2020-07-11 21:45] SxtBox opened #1943 "Clappr Vod Problem on Different Servers"
Hello,
I have a problem with the player for vod play
or the player has a problem or I did not make the settings correct

the problem is, in some servers work mp4 and some not

TEST Player https://demo.kodi.al/Streaming/AIO_Vendors/Test_Embed_Video_Player_API/

Clappr Problem [VOD]
http://62.171.188.48/test_vod/E_Type_Here_I_Go_Again.mp4
http://62.171.188.48/test_vod/E-Type%20-%20Here%20I%20Go%20Ag

[2020-07-12 00:16] leandromoreira commented on #1943
I went to the demo page and it seem that it's all working just fine:

http://clappr.io/demo/#dmFyIHBsYXllckVsZW1lbnQgPSBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicGxheWVyLXdyYXBwZXIiKTsKCnZhciBwbGF5ZXIgPSBuZXcgQ2xhcHByLlBsYXllcih7CiAgc291cmNlOiAnaHR0cDovLzYyLjE3MS4xODguNDgvdGVzdF92b2QvRV9UeXBlX0hlcmVfSV9Hb19BZ2Fpbi5tcDQnLAogIHBvc3RlcjogJ2h0dHA6Ly9jbGFwcHIuaW8vcG9zdGVyLnBuZycsCiAgbXV0ZTogdHJ1ZSwKICBoZWlnaHQ

[2020-07-12 05:14] SxtBox commented on #1943
i see it works very well
the problem is that the player does not work in HTTPS Protocol
I tried it on http and it works
if you have the player at https also get from https server to http vod server
the output is https://url.mp4
[https://ibb.co/zRYtqjc](url)

[2020-07-12 14:20] leandromoreira commented on #1943
@SxtBox which url will cause problem when used as HTTPS?

[2020-07-12 17:03] SxtBox commented on #1943
if player is in https domain
see the difference

default code from your player
http http://albdroid.al/test_vod/
https https://demo.kodi.al/Streaming/AIO_Vendors/Test_Embed_Video_Player_API/test_vod/

[2020-07-12 18:09] leandromoreira commented on #1943
It's working BUT you might be facing [an mixed content issue](https://developer.mozilla.org/en-US/docs/Web/Security/Mixed_content/How_to_fix_website_with_mixed_content), this there's nothing to do with clappr. You can read about it on provided link.

<img width="963" alt="image" src="https://user-images.githubusercontent.com/55913/87253421-5d9a2680-c451-11ea-9758-0c601201cd2e.png">

[2020-07-12 18:25] SxtBox commented on #1943
i will look into this problem, thank you very much for the time you lose with me.

[2020-07-15 07:22] MohammaedAlani opened #1944 "Stop Video Live"
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)
chrome 83.0.4103.116 (Official Build) (64-bit)

**OS**: FILL WITH YOUR OS (ex: Mac OS 10.11.1, iOS9, android4.5)
Windows and macOS

**Clappr Version**: 0.4.0

**From Console Error**:
[warn][hlsjs: non-fatal error occurred]
{evt: "hlsError", data: {…}}
data:
buffer: 0.07487199999999916
details: "buff

[2020-07-19 07:46] #1922 closed

[2020-07-19 18:11] #1931 closed

[2020-07-20 17:57] hijuuijj opened #1946 "Audio Selector Plugins"
Do any of these plugins work or definitely not?

https://github.com/snaptv/clappr-audio-selector-plugin
https://github.com/PreDeToR/clappr-audio-track-selector-plugin

[2020-07-25 14:19] #1923 closed

[2020-07-29 15:06] fabioricali opened #1947 "Icecast on Safari 13.1.1, multiple load"
**Browser**: Safari 13.1.1

**OS**:  Mac OS Catalina 10.15.5

**Clappr Version**: 0.3.8

**Steps to reproduce**:

* first step: go to http://clappr.io/demo/#dmFyIHBsYXllckVsZW1lbnQgPSBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicGxheWVyLXdyYXBwZXIiKTsKCnZhciBwbGF5ZXIgPSBuZXcgQ2xhcHByLlBsYXllcih7CiAgc291cmNlOiAnaHR0cHM6Ly9zdHJlYW0yLnhkZXZlbC5jb20vYXVkaW8xczMtOC9zdHJlYW0vaWNlY2FzdC5hdWRpbycsCiAgbWltZVR5cGU6ICd

[2020-07-30 15:01] kenfouo commented on #1556
I have the same problem; in fact i want the video to preload 3 seconds after the player initializes.
I used all the preloads without success.

any help would be welcome thank you

[2020-07-31 18:20] TroyDota opened #1948 "How do you run the rebuilder"
**What do you want to do with Clappr?**
I want to rebuild with code ive changed for my use case.

**What have you tried so far?**
`npm i && npm run build`
https://pastebin.com/u8Lv7KFS

[2020-07-31 23:57] joaopaulovieira commented on #1948
Hi @TroyDota !

Apparently is one problem with one of dev dependencies. It's fixed now on the latest commit.

Can you try again with this fix?

Thanks!

[2020-07-31 23:57] #1892 closed

[2020-08-01 07:49] TroyDota commented on #1948
:+1: thanks

[2020-08-01 07:52] TroyDota commented on #1948
@joaopaulovieira on an unrelated issue the builder did not build a min js?

[2020-08-01 08:06] TroyDota commented on #1948
Also when running the rebuilder it builds with changes i made in plugins but not changes i made in core?

[2020-08-01 08:16] TroyDota commented on #1948
![image](https://user-images.githubusercontent.com/49777269/89097538-15cb4700-d3e0-11ea-9275-a19606b83731.png)
it seems to build parts twice,

[2020-08-01 08:18] TroyDota commented on #1948
[clappr.js.zip](https://github.com/clappr/clappr/files/5010014/clappr.js.zip)
is what it compiled.

[2020-08-01 10:43] #1924 closed

[2020-08-01 17:04] joaopaulovieira commented on #1948
I ran the build without changes and I cannot to reproduce your case. Did you check that your custom build is not actually inserting `HTML5Video` twice?

[2020-08-03 13:37] sapolio opened #1949 "Autoplay problem."
Hi!
I am trying to automatically play the HLS stream.
(version 0.2.97
autoPlay: true
mute: true)
Playback does not start automatically on android. But it starts well on the latest version of Clappr.
Please tell me what exactly is the difference so that I can come up with a workaround without switching to the new version?

[2020-08-06 02:05] asheroto commented on #1056
For some reason the clappy player controls for full screen do not show up in Firefox mobile unless you add this.  Thanks!

[2020-08-06 23:01] joaopaulovieira commented on #1947
Hi @fabioricali ! I couldn't reproduce the reported behavior. Did you make tests with the Clappr latest version too? Is this the only stream with the reported problem or you catch the same behavior on other streams?

[2020-08-06 23:11] joaopaulovieira commented on #1946
Seems those projects haven't had updates in a while. I don't believe they are compatible with the current version of Clappr.

[2020-08-06 23:13] joaopaulovieira commented on #1944
Hi @MohammaedAlani  can you share the media you used when this error occurred?

[2020-08-06 23:14] #1943 closed

[2020-08-06 23:21] joaopaulovieira commented on #1896
Hi @Infrox can you share the media you used when this error occurred?

[2020-08-06 23:21] MohammaedAlani commented on #1944
I'm sorry this not public, but on Vlc it work perfectly no error no stop.

[2020-08-06 23:50] joaopaulovieira commented on #1910
Hi @DanieleSuppo73 !

Doing some tests I noticed that the `video element` is not returning the `duration` property as soon as its state changes to `READY`. We need further investigation but it appears to be a bug.

To solve it momentarily, if you delay the call to the `getDuration` method a bit, the answer will come correctly.

An example of how to do it: http://clappr.io/demo/#dmFyIHBsYXllckVsZW1

[2020-08-07 00:06] joaopaulovieira commented on #1914
Hi @hijuuijj !

You can disable the `ErrorScreen` plugin and listen to `ERROR` event to do it.

One example:
[code]
Run this code above on `http://clappr.io/demo` and force a error via console on developer tools:

[code]

This stops Clappr and shows an alert.

[2020-08-07 00:08] joaopaulovieira commented on #1917
Closing this issue because as @kslimani  said, this is not a bug but the expected behavior

[2020-08-07 00:08] #1917 closed

[2020-08-07 00:09] #1919 closed

[2020-08-07 00:12] joaopaulovieira commented on #1944
Can you reproduce the problem with some other media that we can use for testing?

[2020-08-07 13:55] #1925 closed

[2020-08-08 12:24] #1921 closed

[2020-08-08 12:24] #1911 closed

[2020-08-08 23:22] CodeBradley opened #1950 "How can I play my Live Stream automatically using Clappr once the transmux is completed and the URL exists?"
**What do you want to do with Clappr?**

**tl;dr** I want to figure out how to automatically play a live stream once it's started using React/Clappr.

I would like to stream from OBS to an RTMP Ingest server, transmux it to HLS (m3u8) using FFMPEG (Node Media Server) and then once the transmux is complete and the file/url exists automatically start playing the video in my browser using autoPlay/mu

[2020-08-11 19:27] asheroto opened #1951 "Clappr won't play HLS stream"
Hello,

I've been trying to get my HLS stream to work.  If I upload a .m3u8 file to my server and set Clappr's source to it, I can stream it fine, but when using PHP to stream the file, it fails.

VLC plays it and hls.js plays it, but Clappr does not.

Does Clappr check the filename to see if it's a m3u8 file or ts file?  Or does it check the header?

Headers I am using:
[code]
m3u8 file:
`header(

[2020-08-11 19:44] asheroto commented on #1951
Updated

[2020-08-11 19:44] #1951 closed

[2020-08-15 12:47] pedrofurtado opened #1952 "How to upgrade the HLS.js version in Clappr 0.13.x?"
I need to upgrade the hls.js version used in latest clappr 0.13.x version. How can I do that?

[2020-08-15 12:51] pedrofurtado commented on #1952
@joaopaulovieira @leandromoreira @jhonatangomes If you guys could clarify how can I do this (the steps, I mean), it will be awesome 🎉 🤝

[2020-08-16 08:19] #1929 closed

[2020-08-17 12:37] pedrofurtado commented on #1952
I think the steps is these below. Is that correct?

1 - Fork the repo
2 - Edit the file https://github.com/clappr/clappr/blob/0.3.13/package.json#L52, changing version of hls.js
3 - Edit the file https://github.com/clappr/clappr/blob/0.3.13/package.json#L3, changing version of clappr
4 - Run npm run release
5 - Use dist/clappr.js inside project

Right?

[2020-08-17 15:12] kslimani commented on #1952
To rebuild Clappr with latest hls.js version, clone Clappr repository and create a local branch using tag version (for example 0.3.13) :

[code]

Then you can use `npm` or `yarn` to change hls.js dependency version. _(and install dev. dependencies)_

Finally you can use `npm run build` to compile unminified version, or `npm run release` to compile minified version.

[2020-08-17 15:47] pedrofurtado commented on #1952
@kslimani Thanks for feedback! I will test here these steps that you described 🎉

[2020-08-20 16:08] asheroto commented on #1942
I am interested in this, too.  If I skip around 5+ times on an HLS stream the chunklist seems to fail.  Need it to reload the source file when this happens.

Thanks for details @sphinx33

[2020-08-20 17:23] asheroto commented on #1942
@sphinx33 , interested to see if version 0.4.0 works for you.  Try using it instead of the one through jsdelivr cdn.  I'm not a dev for clappr, just another user.

[2020-08-20 20:22] asheroto opened #1953 "HLS stream stuck on loop loading fragment"
**The Problem**:
When playing an HLS stream that has a minor issue (present in ffprobe), Clappr continues to try to load the same fragment over and over and does not move on.  It continues indefinitely.  It gets stuck on that fragment and doesn't move forward.

Is there a variable I'm missing on the config???

**Browser**:
Chrome 84.0.8417.135

**OS**:
Server 2019

**Clappr Version**:
0.4,0

**Ste

[2020-08-21 00:55] asheroto commented on #1953
**Update**

It's definitely because the stream had warnings such as

`start time for stream x is not set`

I know getting a more valid conversion is ideal, but is there any way I can detect that this loop is occurring and resume or reload the video?

[2020-08-24 16:23] Jaikant commented on #1885
Thanks @kslimani for this! But I just wish it was simpler to get the HLS instance than writing an entire plugin for it ...

[2020-08-26 15:07] fabioricali commented on #1947
Hi, I just made a video showing the problem. I have noticed however that it does this with all shoutcast and icecast audio streams.

[https://www.youtube.com/watch?v=FVCVTc3UDF8](https://www.youtube.com/watch?v=FVCVTc3UDF8)

[2020-09-02 04:53] asheroto commented on #1953
Bump

[2020-09-02 04:56] asheroto opened #1954 "How Can I Change the Height of the Media Controls?"
**What do you want to do with Clappr?**
I want to make the media control bar slightly bigger so that when mobile users are tapping the full screen button, they don't accidentally skip to the end of the video (which I have done several times).  So I just need to raise the height of the media control by 20% or so to make the full screen button more accessible.

**What have you tried so far?**
Resear

[2020-09-02 04:58] asheroto commented on #1953
In summary, how can I force Clappr to skip a fragment that it gets stuck on?  Or is this a bug that needs to be fixed internally?  I found that some streams have a bad fragment, I just need Clappr to skip over that instead of retrying dozens of times.  :-)

Thanks!

[2020-09-02 09:55] leandromoreira commented on #1953
@asheroto I don't think clappr can help you on this =(

For error handling you can read https://github.com/clappr/clappr#how-to-handle-player-fatal-errors (there is a retry mechanims in there)

I think you're facing media/ingest/transcode issues (as stated by your ffmpe/ffprobe output) https://github.com/clappr/clappr#common-steps-to-verify-issues

[2020-09-02 09:59] leandromoreira commented on #1954
I think you can learn from previous issues like this specific one https://github.com/clappr/clappr/issues/1787 or  more https://github.com/clappr/clappr/issues?q=custom+media+controls

[2020-09-02 11:36] kslimani commented on #1953
@asheroto : Clappr player internally use the hls.js library for hls playback.

Can you reproduce your issue on [hls.js demo page](https://hls-js.netlify.app/demo/) ?

If the is the case, you may want to report the issue on the [hls.js library repository](https://github.com/video-dev/hls.js).

[2020-09-03 01:32] #1953 closed

[2020-09-04 23:00] banagale commented on #1939
I also am seeing that `autoplay: true` has no effect on a react embedded player.

In my case I'm using it in an effect hook.

I worked around this by just doing a `player.play()` immediately after `let player = new Clappr.Player(options);`

[2020-09-05 07:26] shanka12 opened #1956 "Encrypted HLS stream not playing - no demux matching with content found"
I got below error when I try to play encrypted hls stream. What I'm doing wrong?

UI:message: "There was a problem trying to load the video."title: "Could not play video."__proto__: Objectcode: "hls:mediaError_fragParsingError"description: "hls error: type: mediaError, details: fragParsingError"level: "FATAL"origin: "hls"raw:details: "fragParsingError"fatal: truefrag: t {_url: "https:/domain.net/5

[2020-09-05 16:24] hijuuijj opened #1957 "Listen to TV as radio?"
Is there any way (or plugin) to change a Live TV to Radio mode?
I'd like to listen to Live TV while the mobile screen is off.

[2020-09-08 06:18] shanka12 commented on #1956
I fixed this issue. it was issue with hls encryption.

[2020-09-08 06:18] #1956 closed

[2020-09-11 02:45] #1940 closed

[2020-09-11 10:07] Niharika098 opened #1958 "Write a proxy over Clappr player"
**What do you want to do with Clappr?**

Hi
I want to know what is the approach to write a proxy over clappr.

I am planning to implement a mid-stream CDN switcher to use the best CDN based on performance and for this, the approach I thought would be to intercept the request from clappr using a proxy, fetch the content from cdn of my choice and give the response back to clappr.

**What have you tr

[2020-09-11 10:10] phillipseamore commented on #1958
1) Is the only logical solution and will work with any player.

[2020-09-11 11:00] Niharika098 commented on #1958
Sorry for me being naive but how do I run a http server locally on the client side using plain javascript

Also can you kindly explain a bit about why you feel the other approaches are not logical. Since they tend to achieve the same thing as well.

[2020-09-11 12:36] phillipseamore commented on #1958
Sorry, read your post too fast! You certainly won't run it locally, you'd run it centrally.

[2020-09-12 20:16] #1941 closed

[2020-09-13 00:35] joaopaulovieira commented on #1860
Hi! I opened a [PR on @clappr/core](https://github.com/clappr/clappr-core/pull/38) which I think solves this issue. Feel free to discuss the solution on the PR (:

[2020-09-15 10:36] colinox opened #1959 "Safari through drawImage capture screenshots failed"
chrome、firefox through drawImage can get the screenshot,  Safari through drawImage capture screenshots failed! Please help to solve thank you

[2020-09-17 09:57] asheroto commented on #1896
Works for me in Chrome for Android as of 0.4.0

[2020-09-18 19:38] asheroto opened #1960 "Somebody forgot to update npm with 0.4.0....."
npm still has 0.3.13 as the latest version: https://www.npmjs.com/package/clappr
thus
jsdelivr.com still has 0.3.13.

me needs 0.4.0 on cdn plz!

👍

Thanks guys!

[2020-09-18 19:48] kslimani commented on #1960
I think (but i may be wrong ?) that 0.4.x use a new package namespace : https://www.npmjs.com/package/@clappr/core

[2020-09-19 01:19] asheroto commented on #1960
Ahh that looks right.  Thanks!

[2020-09-19 01:32] asheroto commented on #1960
Reopened... srry... tested Clappr-core but it's truly only the core of Clappr.  I want the official release. :-D

[2020-09-19 12:28] kslimani commented on #1960
What do you mean by "only" ? this package is (to my knowledge) the official release for 0.4.x

Please note that several playback plugins have been splitted from core player; You need to also include them if required. (take a deeper look of the [readme file](https://github.com/clappr/clappr-core#plugins))

[2020-09-19 12:34] kslimani commented on #1960
For example, for HLS playback it should be something like :

[code]

[2020-09-19 17:32] joaopaulovieira commented on #1947
Hi @fabioricali, I reproduce the behavior in Safari 13.1.2 on **clappr-core** after I saw the video you uploaded.

In the `HTML5Playback` _stop_ method, we remove the `src` attribute from the current element and call the _load_ method to end the stream fetch. You can see this code here: https://github.com/clappr/clappr-core/blob/8f3253c36d66fe295e6be0321e5a8fd5241d28fa/src/playbacks/html5_video/ht

[2020-09-19 20:42] joaopaulovieira commented on #1671
Hi @ctaity!

Running [hlsjs-playback](https://github.com/clappr/hlsjs-playback) locally, I was not able to get any information when I tried to access via `data.details.programDateTime`. On the other hand, when I accessed via `fragments[0].rawProgramDateTime` it always returned the expected (even when the m3u8 have the EXT-X-DISCONTINUTY tag).

Would it be possible for you to share one media with t

[2020-09-19 21:39] joaopaulovieira commented on #709
Closing since we have no update on that. If anyone has any news about it, please open the issue again (:

[2020-09-19 21:39] #709 closed

[2020-09-19 21:47] joaopaulovieira commented on #991
Does this behavior still occur?

[2020-09-19 21:53] joaopaulovieira commented on #1025
Does this behavior still occur?

[2020-09-19 21:55] joaopaulovieira commented on #1136
Any updates?

[2020-09-19 21:58] joaopaulovieira commented on #396
Closing because the project was broken down into smaller projects and the remaining code is only for generating packages.

[2020-09-19 21:58] #396 closed

[2020-09-19 23:49] ctaity commented on #1671
Yes, the hls tag is #EXT-X-PROGRAM-DATE-TIME, https://tools.ietf.org/html/draft-pantos-http-live-streaming-12#section-3.4.5
The tag retain the timestamp when the streaming started, and is useful to do some thigs in live streaming.

[2020-09-20 14:57] joaopaulovieira commented on #1671
Yes, is true that this data is very useful for many things but your report (as I understand it) is that the Clappr currently cannot get this data via `fragments[0].rawProgramDateTime` when there is also another `#EXT-DISCONTINUTY` tag in the `m3u8` and that it would be possible to get this data in this case via `data.details.programDateTime`, correct?

However, reference `data.details.programDateT

[2020-09-20 15:31] joaopaulovieira commented on #1914
@hijuuijj Was that the behavior you wanted?

[2020-09-21 05:18] ziddey opened #1961 "HLS stream loops if autoPlay set to true"
**Browser**: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.42 Safari/537.36

**OS**: Windows 10 2004 x64

**Clappr Version**: 0.3.13 + level selecter + chromecast plugin (all @latest via jsdelivr cdn)

**Steps to reproduce**:

* set `autoPlay` to `true`
* play hls stream (hlsjs)
* I was expecting the stream to stop at the end instead of looping (

[2020-09-21 06:25] ziddey commented on #1961
Narrowed down the culprit to the clappr chromecast plugin. Closing this issue.

[2020-09-21 06:25] #1961 closed

[2020-09-21 10:50] fabioricali commented on #1947
Hi @joaopaulovieira , there is a way to overwirte the stop method? So I try some solution?

[2020-09-21 11:34] joaopaulovieira commented on #1947
Yes, it's possible. One example:

http://clappr.io/demo/#dmFyIHBsYXllckVsZW1lbnQgPSBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicGxheWVyLXdyYXBwZXIiKTsKCmNsYXNzIEN1c3RvbUhUTUw1UGxheWJhY2sgZXh0ZW5kcyBDbGFwcHIuSFRNTDVWaWRlbyB7CiAgZ2V0IG5hbWUoKSB7IHJldHVybiAnaHRtbDUnfQogIHN0b3AoKSB7CiAgICBhbGVydCgnc3RvcCBidXR0b24gY2xpY2tlZCEnKQogICAgc3VwZXIuc3RvcCgpCiAgfQp9Cgp2YXIgcGxheWVyID0gbmV3IENsYXBwci5QbGF5ZXIoewogIHNvdXJ

[2020-09-21 12:01] joaopaulovieira commented on #1960
Hi @asheroto! As @kslimani said, the package name has changed (is `@clappr/player` now). We have an example in the README of the package URL on the JSDelivr CDN (https://github.com/clappr/clappr#clapper-usage)

Just an adjustment in relation to the example of @kslimani did: The default package of Clappr already includes the `hlsjs-playback`. We decided to do this to maintain the same behavior as t

[2020-09-21 12:44] fabioricali commented on #1947
thank you 👍

[2020-09-21 23:03] asheroto commented on #1960
Ah okay, thank you for that info!

[2020-09-21 23:03] #1960 closed

[2020-09-21 23:36] ctaity commented on #1671
The bug occurs, when the encoder (nginx - rtmp) has a discontinuty and put the tag  #EXT-PROGRAMDATETIME, in the middle of the manifest.

XXX
XXX
XXX
XXX
XXX
#EXT-PROGRAMDATETIME
XXX
XXX
XXX

when the tag is in the top of the manifest, works well.

When this occur, fragments[0].rawProgramDateTime is undefined. I think the case 2 is better to fix this bug.

[2020-09-22 12:23] d0n0t commented on #1826
can we something about it? for CORS

[2020-09-23 04:39] #1954 closed

[2020-09-26 11:24] blacktrash opened #1964 "Demo still loads pre 0.4.x architecture?"
http://clappr.io/demo/ loads
https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js
and not
https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js

[2020-09-26 11:26] blacktrash commented on #1964
Certainly the scripts differ which can lead to [confusion](https://github.com/clappr/hlsjs-playback/issues/4#issuecomment-698995834) ;-)

[2020-09-26 14:28] joaopaulovieira commented on #1964
Wow! I forgot to update when I made the release `0.4.0`, my fault. 🤦

It's updated now. Thank you!

[2020-09-30 23:48] pcandido opened #1965 "Error code catalog"
Hello,

I have been working on an error handling policy on a product built on top of Clappr. I'd like to know if there is some kind of catalog of error codes that I can use to document, prevent, and properly handle those errors.

This is an example of an event received from event PLAYER_ERROR:

[code]

I believe I should use the code `html5_video:4` as the error identifier. In this case, I just ne

[2020-10-01 06:04] asheroto opened #1966 "Subtitles in Clappr HLS"
**What do you want to do with Clappr?**

I want to use SRT or VTT subtitles in Clappr.

**What have you tried so far?**

I've tried using https://mydomain.com/subtitles/123.vtt,https://mydomain.com/video/123.m3u8  in "source" but can't get it to work.  I know the files are correct.  What's the format to load subtitles with the full URL specified while using m3u8 (HLS) thanks!

[2020-10-01 07:09] asheroto opened #1967 "Failed to execute Start on TimeRanges"
**Browser**:
Chrome Version 85.0.4183.121 (Official Build) (64-bit)

**OS**:

Server 2019 / Win 10

**Clappr Version**:

0.4.1 (latest)

**Steps to reproduce**:

I have a script that saves the time of the video and then resumes that time.  On version 0.4.0 it works fine, but on 0.4.1 I get the following error...

![image](https://user-images.githubusercontent.com/49938263/94778457-e9558c00-038a-11

[2020-10-04 12:36] kslimani commented on #1949
I think latest "autoplay" modifications for 0.2.x was [this PR](https://github.com/clappr/clappr/pull/1681/files) and [this PR](https://github.com/clappr/clappr/pull/1432/files).
_(just did an autoplay keyword research in merged pull requests)_

[2020-10-04 20:27] volkankoc opened #1968 "Dynamic Player Create and Control"
I want to create clapper players and control them as much as the data in an array. How can I do it

[2020-10-04 20:50] kslimani commented on #1968
Just create player instances and store them in an array ? (i am not sure to understand what you are trying to achieve)

[2020-10-11 23:09] #1948 closed

[2020-10-14 14:30] banagale commented on #1810
@towerz Hey, would you please consider posting your type file? This would be a useful addition to this project.  Related request: #1899

[2020-10-15 10:26] d0n0t commented on #1513
how to do it properly. im doing it but page broke in php.

[2020-10-15 23:58] banagale commented on #1153
This stumped me for a bit. 

To fix this on create-react-app, just copy the `38861cba61c66739c1452c3a71e39852.ttf` file to the `/public/fonts` directory. Then make sure you set the `baseUrl:` option for clappr to the path of the deployed folder.

For example:

[code]

This seems to be the only odd-end for the npm use of clappr in create-react-app.  This has been set for some time, but I would reco

[2020-10-21 15:12] hijuuijj opened #1969 "Play with 30 second delay"
I have a stream that always freezes during 30 seconds. After this time the video continues and does not stop again..
The stream allows go back up to 1:30 minutes.

How to start the video 30 seconds delay?

Thank you in advance.

[2020-10-24 13:45] feddynventor opened #1970 "Very slow buffering and weird requests"
As you can see in the attachments why the plugin requests the playlist so much frequently? And then why my segments that are 5 seconds long take 15 seconds to download?
![image](https://user-images.githubusercontent.com/62469018/97083359-b1e7a180-160f-11eb-9779-3d2fc29fc606.png)

[2020-10-26 22:00] just-tom opened #1971 "Usage with Nuxt.js"
Hi all,

Wondering if anyone has successfully used Clappr (+ plugins) with Nuxt.js in SSR mode?

I have Clapper (0.4.1) Installed and trying to use as an import in my vue component:

`import Clappr from '@clappr/player'`

This works fine when navigating to the page using the nuxt-routing etc, but if I refresh the page containing this vue component I get the error Window is not defined.

Any help w

[2020-10-28 16:35] Bubblesphere commented on #1454
@kslimani How is this done in 2020? `Mediator` does not exists

[2020-10-28 23:42] kslimani commented on #1454
@Bubblesphere

Simply listen to core resize event in bindEvents() method. For example :

[code]

[2020-10-30 15:51] Bubblesphere opened #1972 "0.4.14 broken on IE"
**Browser**: IE11

**OS**: W10

**Clappr Version**: 0.4.14 (https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js)

**Steps to reproduce**:

* Go to http://clappr.io/demo/
* play the video
* Check the console. There's this error
![image](https://user-images.githubusercontent.com/8861575/97726888-17231300-1aa6-11eb-94cb-a72c4c1b5882.png)

This issue does not happen when I use 0.3.13

[2020-10-30 17:31] ofrzeta opened #1973 "No closed captions from HLS live stream"
**Browser**: 68.12.0esr (64-bit)

**OS**: CentOS

**Clappr Version**: 0.4.1

**Steps to reproduce**:

Closed captions embedded in an HLS live stream don't work. No CC button is shown. It does work with the same stream on Clappr 0.3.12.
Test stream is https://cdn.techcast.com/test/_definst_/amlst:caption-test/playlist.m3u8
I tried to make it work with the hlsjs-playback.min.js

Did you try to repro

[2020-10-30 19:09] Bubblesphere commented on #1973
You might find useful information [here](https://github.com/clappr/hlsjs-playback/issues/4)

[2020-10-30 21:12] ofrzeta commented on #1973
So so .. :) It doesn't really solve the problem but at least provides some pointers to debug, so thanks!

[2020-10-31 00:23] joaopaulovieira commented on #965
I cannot reproduce the reported behavior. Is this still a problem?

[2020-10-31 00:27] joaopaulovieira commented on #991
Closing due to inactivity. If the problem persists, we reopen.

[2020-10-31 00:27] #991 closed

[2020-10-31 00:33] joaopaulovieira commented on #1025
Closing due to the impossibility of reproducing the bug and inactivity. In case any new evidence appears we reopen.

[2020-10-31 00:33] #1025 closed

[2020-10-31 00:35] joaopaulovieira commented on #1136
Closing due to inactivity. If the problem persists, we reopen.

[2020-10-31 00:35] #1136 closed

[2020-10-31 00:52] joaopaulovieira commented on #1959
Can you show what you trying to do with the drawImage and Clappr? You can use the clappr.io/demo to show (:

[2020-10-31 00:52] #1964 closed

[2020-10-31 01:26] joaopaulovieira commented on #1967
Can you share the media and the script to reproduce the problem? You can use clappr.io/demo to do this (:

[2020-10-31 01:38] joaopaulovieira commented on #1969
I think is one problem with the stream, no? Maybe one investigation to understand why the video freezes after 30 seconds is a better approach.

The problem occur when playing the stream in another Player too?

[2020-10-31 01:41] hijuuijj commented on #1969
Hi João Paulo. Unfortunately the streams stopped working. Thank you anyway.

[2020-10-31 01:41] #1969 closed

[2020-10-31 01:57] joaopaulovieira commented on #1971
I've never used Nuxt.js but I think this problem is because Clappr is being built before the DOM reference exists. Your component loaded via SSR need to use a placeholder instead of the Clappr Player and when it's loaded on the client-side (when exists the DOM reference), Clappr will have what it needs to start correctly.

[2020-11-01 03:14] joaopaulovieira commented on #1966
Hi @asheroto, I think [this PR](https://github.com/clappr/clappr-plugins/pull/23) should fix your problem.

[2020-11-01 03:17] joaopaulovieira commented on #1973
Hi @ofrzeta, I think this PR should fix your problem.

[2020-11-01 03:26] joaopaulovieira commented on #1972
Hi @Bubblesphere! I don't have a Windows PC and remote work makes access to company devices more difficult. Can you help with this problem, guys? @jhonatangomes @leandromoreira @towerz

[2020-11-01 04:32] joaopaulovieira commented on #864
Hi people, I created one [queue plugin](https://github.com/joaopaulovieira/clappr-queue-plugin) to play videos in sequence. It's not finished yet (I'll create the API to manipulate the video queue dynamically) but already works if the queue is configured at Clappr init.

Instead of use/update the Clappr architecture to handle multiple containers, the plugin manages the queue and it's responsible t

[2020-11-01 11:38] leandromoreira commented on #1972
me neither :(

[2020-11-01 12:02] kslimani commented on #1972
I think this error is due to IE 11 [does not support Array.from](https://caniuse.com/?search=array.from). Line 8641 of clappr-core esm bundle is :

[code]

If i remember correctly, there is (was ?) a module loading polyfills to handle this issue.

[2020-11-01 12:14] kslimani commented on #1972
I remembered wrong, there is no support for "Array.from" method in [polyfills](https://github.com/clappr/clappr-core/blob/master/src/base/polyfills.js) module.

Also i am curious why IE11 is using the esm.js file ? maybe something related to Rollup bundler ?

Also, IE11 will be officialy end of life next year.

[2020-11-01 12:32] kslimani commented on #1973
😉 https://github.com/clappr/clappr-plugins/pull/23

[2020-11-03 09:25] asheroto commented on #1966
Thank you so much @joaopaulovieira
I will check it out!!!!

[2020-11-04 15:49] Denjjo opened #1974 "I want to modify clappr ui"
I want to give the playlist
<img width="852" alt="Screenshot 2020-11-04 at 9 05 40 PM" src="https://user-images.githubusercontent.com/73953633/98133305-6f617700-1ee3-11eb-9820-1bc872040332.png">

**Describe the solution you'd like**
Please describe the desired behavior.

**Describe alternatives you've considered**
Please describe alternative solutions or features you have considered.

[2020-11-04 19:17] joaopaulovieira commented on #1974
Hi @Denjjo. For one custom UI, you can create your own Media Control plugin. You can see how the current media control plugin works on the [player-plugins repo](https://github.com/clappr/clappr-plugins/blob/master/src/plugins/media_control/media_control.js).

We have one example for build one plugin too in the [Wiki](https://github.com/clappr/clappr/wiki/Our-first-plugin).

[2020-11-04 23:08] winie opened #1975 "Loading picture is showing twice"
**Browser**: All, but tested with Firefox 82.0 (64-Bit)

**OS**: Kubuntu 20.04

**Clappr Version**: 0.4.1

**Steps to reproduce**:

* Create image with transparent background and transparent elements in image
* Set image as poster in `Player` constructor.
* Open website with clappr player and you see the poster image twice (different sizes)

Did you try to reproduce this issue at http://cdn.clappr

[2020-11-04 23:11] winie commented on #1975
It should be named in the ´Known issues`

[2020-11-05 05:28] komato3huk opened #1976 "Pip module"
Hi.
Module PiP support?
In last version module not compateble

[2020-11-05 07:01] Denjjo commented on #1974
thanks for this and I start working if I have a new issue with that I will tell you

[2020-11-05 13:18] asheroto commented on #1966
@joaopaulovieira Looks like this will work for me, but how can I get that PR's clappr-plugins.js to be part of the clappr source code?

[2020-11-05 15:15] joaopaulovieira commented on #1966
We will merge this PR on `clappr-plugins` and release a new version of `clappr-player` using this updated version of `clappr-plugins`.

If you need it ASAP, you can fork the branch of the PR on `clappr-plugins`, generate one build, and fork `clappr-player` too and apply your custom build of `clappr-plugins` on it.

[2020-11-08 02:43] #1946 closed

[2020-11-12 15:28] Psoz commented on #522
Does Clappr have some kind of license? I'm trying to add clappr on a site that sells clothes.
I can't find any information related to licenses.

[2020-11-12 19:39] leandromoreira commented on #522
@Psoz https://github.com/clappr/clappr/blob/dev/LICENSE

[2020-11-12 21:21] asheroto commented on #1966
Looking forward to the merge

[2020-11-13 07:51] Lethea opened #1977 "Hls Vod Playback Ts Load Quickly more than %50, then can't get the remaining part of video"
**Browser**: Chrome 86

**OS**:  Windows

**Clappr Version**: Latest

**Steps to reproduce**: video from wowza vod, the default hls js get the ts file slowly,
ie : in 2 minutes it took 40 of 100 different ts , and when needed getting the remaining 60 ts part by part , however clappr hls js take the 50 different ts in 1 minute, when close the finish 50, it cant get the 51 52 53 .. it stops to play

[2020-11-15 12:25] shankar-bavan commented on #1494
@elhampour Is this method works on iphone?

[2020-11-19 02:44] asheroto commented on #1966
@joaopaulovieira how do I generate a build?  Sorry, I'm a n00b when it comes to GitHub and JS builds.

[2020-11-19 20:10] joaopaulovieira commented on #1966
We finally generate the release with the fix. You can validate on Clappr demo now: http://clappr.io/demo/#dmFyIHBsYXllckVsZW1lbnQgPSBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicGxheWVyLXdyYXBwZXIiKTsKCnZhciBwbGF5ZXIgPSBuZXcgQ2xhcHByLlBsYXllcih7CiAgc291cmNlOiAnaHR0cHM6Ly9iaXRkYXNoLWEuYWthbWFpaGQubmV0L2NvbnRlbnQvc2ludGVsL2hscy9wbGF5bGlzdC5tM3U4JywKICBwb3N0ZXI6ICdodHRwOi8vY2xhcHByLmlvL3Bvc3Rlci5wbmcnLAogIG11dG

[2020-11-19 20:35] asheroto commented on #1966
Works!  Score!

[2020-11-19 20:58] asheroto commented on #1966
Is there any way to specify the VTT or SRT file with an M3U8 (HLS)?  Or must you specify it within the M3U8 file only?

[2020-11-19 21:58] nelson777 opened #1978 "Supported subtitles formats"
I would like to know which subtitle formats are accepted by Clappr.

I've made it work with .vtt format. I also tried sub and srt, but it didn't work. Do I have to use only .vtt format ?

In order to make it work I used playback.externalTracks option like this:

	playback: {
		externalTracks: [
			{ lang: 'en', label: 'Test1', src: '<host>/assets/subtitles/test1.vtt', kind: 'subtitles', default: t

[2020-11-19 23:48] kslimani commented on #1978
I think it uses browser video element capabilities. So if subtitle format is supported by browser, it should work.

[2020-11-20 01:35] nelson777 commented on #1978
As stated [here](https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/Adding_captions_and_subtitles_to_HTML5_video#HTML5_and_Video_Captions) there is .vtt support only.

Are there any other way ? In the negative case, are there any plans to incorporate support for other subtitles format ?

[2020-11-20 13:58] kslimani commented on #1978
I don't know about other format. It seems that major browsers tend to [support the vtt format](https://caniuse.com/webvtt).

[2020-11-21 14:20] inglesuniversal opened #1979 "Feature request: Play YouTube Playlist in background mode"
It would be amazing if NOT only one video from YouTube could play in safari or mobile chrome when played in the background, but playing an entire playlist while being inside a different app would by a phenomenal user experience.

Is this possible?

Best regards

[2020-11-21 18:12] joaopaulovieira commented on #1966
Clappr accepts the two approaches.

To use an external subtitle, you need to use the [`playback.externalTracks`](https://github.com/clappr/clappr-core#externaltracks) option. Example:

[code]

Or you can specify into the `.m3u8` manifest as the media example used in my previous comment.

It's possible to use the two approaches together too. Just play one media with the subtitles defined in the `.m

[2020-11-24 05:08] asheroto commented on #1966
Got it, thanks so much!

[2020-11-24 05:08] #1966 closed

[2020-11-25 14:25] fmpoffice opened #1980 "How make Video viewing function？Video Test? Play 30 seconds before the video？"
How to make Play 30 seconds before the video？
I want registered users of the site to be able to play the full video, while other users can only play the video for 30 seconds。

[2020-11-27 14:50] sapolio opened #1981 "Can't disable closed cations"
**Browser**: chrome 87

**OS**: mac os 10.15.5

**Clappr Version**: 0.4.2

Can't disable closed cations on HLS Live ))
[Your demo](http://clappr.io/demo/#dmFyIHBsYXllckVsZW1lbnQgPSBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicGxheWVyLXdyYXBwZXIiKTsKCnZhciBwbGF5ZXIgPSBuZXcgQ2xhcHByLlBsYXllcih7CiAgc291cmNlOiAiLy9saXZlLXN0cmVhbXMuY2RudmlkZW8ucnUvc21pbHMvYnVubnlfcGxheWxpc3QubTN1OCIsCiAgcG9zdGVyOiAnaHR0cDovL2NsYX

[2020-11-27 16:10] winie commented on #1975
Do you need more information?

[2020-11-27 20:48] joaopaulovieira commented on #1975
Hello @winie
Yeah, this is really odd behavior. We need to fix it.

[2020-11-28 19:48] Hrishikesh-K commented on #1477
Hey @kslimani I seem to be facing the same issue as @areeb111 in the opening post. My CC button has display set to none. Enabling that manually works well. What am I doing wrong?

As you said, `crossorigin` might help, but, I'm loading subtitles from my own website. I still added the attribute, but, that didn't help. The CC button stays hidden.

This is my config:

[code]

The live demo can be che

[2020-11-28 20:55] Hrishikesh-K opened #1982 "Player fails to restart playback once"
**What do you want to do with Clappr?**

I'm using a simple HLS video and using Level Selector plugin. The video plays fine and all. However, after the video ends, there's a black screen that shows the big play button again. Clicking on that button gives HLS4 error with a reload button below it and clicking on that button loads the video again just fine.

There's a demo on my website: https://v2--

[2020-11-29 03:53] asheroto opened #1983 "seek fails on Android Mobile HLS"
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)
Applies to Android Mobile (1) Firefox, (2) Chrome, (3) Chromium relatives

**OS**:
Android 10

**Clappr Version**:
0.4.2

**Steps to reproduce**:
Define a var to the Clappr player, then use the ".seek" command and try to skip to a particular point in the video.  Fails on any HLS stream, haven't trie

[2020-11-29 10:52] blacktrash commented on #1983
That's related to `autoPlay`, not `seek`. `autoPlay` is not allowed on mobile devices unless the video is muted (`mute` option).

[2020-11-29 11:51] blacktrash opened #1984 "hls error 4 on replay attempt"
**Browser**: any browser I've tried so far

**OS**: any I've tried so far

**Clappr Version**: 0.4.2 / latest, regression in this aspect from 0.4.1

**Steps to reproduce**:

* go to http://clappr.io/demo/#dmFyIHBsYXllckVsZW1lbnQgPSBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicGxheWVyLXdyYXBwZXIiKTsKCnZhciBwbGF5ZXIgPSBuZXcgQ2xhcHByLlBsYXllcih7CiAgc291cmNlOiAnaHR0cHM6Ly90ZXN0LXN0cmVhbXMubXV4LmRldi94MzZ4aHp6L3g

[2020-11-29 19:18] asheroto commented on #1983
I think so too, but seek doesn't work even after a video is playing and I try to call it.

[2020-11-30 21:01] SxtBox commented on #1152
AT $httpurl = "http://url link add ? at end";

EXAMPLE
$httpurl = "https://example url/playlist.m3u8?";
![Screenshot_ 2020-11-30 _ 21-58-46](https://user-images.githubusercontent.com/60861585/100664176-903cb100-3357-11eb-9f0d-1b7c976bacf1.png)

or add extra field
$extra_field = "?";
$httpurl = "https://example url/playlist.m3u8".$extra_field;

[2020-12-01 16:46] qutub11 opened #1985 "Clappr in php"
Can you please tell me how can i add clappr to my php file. Basically my php generates url, but i want when url generates it should play in clappr. is that possible with clappr ?

Below is my code, can you please add clappr to it.

<?php
// usage main.php?c=123
$input = $_GET["c"];
if (!$input){
   exit("Channel ID not found");
}
$channel_meta = JsonfromURI("https://catalogapi.mee.com/v1/channel/$

[2020-12-01 17:21] kmlhsn opened #1986 "API Filter is not working"
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)
Firefox 83.0

**OS**: FILL WITH YOUR OS (ex: Mac OS 10.11.1, iOS9, android4.5)
Windows 10
**Clappr Version**: 0.3.8

**Steps to reproduce**:

1. Go to "http://clappr.io/"
2. Click on "hamburger menu"
3. Click on "Documentation"
API Filter not working. it can not filter API from List. and Text box sh

[2020-12-02 10:44] TheGreatestZenMaster opened #1987 "Field of view seems really zoomed in in comparison to 360 videos on YouTube. Is it possible to adjust the FoV?"
**What do you want to do with Clappr?**
I want to zoom out the field of view a bit further as it feels too zoomed in.

[2020-12-03 13:41] streamdev99 opened #1988 "Passing external tracks from an array"
Hello all, I am trying to get some vtt subtitles into my player. But due to the way we integrate it, I have the subtitles information in a JS array, as below:

`0:
label: "eng"
lang: "eng"
src: "https://<host>/<subtitle>.vtt"`

I create the player like this:

`var playerElement = document.getElementById("player");

	var player = new Clappr.Player({
		source: durl,
		autoPlay: true,
		width: "100%"

[2020-12-03 14:24] streamdev99 commented on #1988
OK, I sorta fixed it, it turned out to be something like this issue:
https://github.com/clappr/clappr/issues/1477

But like the last commenter, even setting crossdomain: 'anonymous', the CC button would not show. So I am manually showing by CSS now, it's ugly but it works

[2020-12-04 09:27] Hrishikesh-K commented on #1984
Exactly the same case as my issue here: https://github.com/clappr/clappr/issues/1982. So, it seems I'm no the only one.

[2020-12-04 10:50] Hrishikesh-K commented on #1873
No solution for this yet? :(

[2020-12-16 14:12] sapolio opened #1990 "Mediator alternative"
i'm adapting my youtube playback to clappr@0.4.2. I used to use Mediator to find out when the player size changed.
Do I have a chance to listen to Events.CORE_RESIZE from the playback?

[2020-12-16 14:55] kslimani commented on #1990
Since Mediator has been removed, i am not sure you can still use this trick anymore. The playback base component is (if i remember correctly) unaware of core.

A possible workaround (but require some work) may be to refactor your plugin as an ui core plugin and manage the custom YT playback instance internally. For example, take a look at the [chromecast plugin](https://github.com/clappr/clappr-ch

[2020-12-17 22:14] alaxicsmith commented on #1984
I'm having the same issue, too.

[2020-12-18 16:53] kslimani commented on #1984
I could reproduce the issue, i proposed a fix in Clappr core.

[2020-12-19 08:51] #1952 closed

[2020-12-19 08:51] #1957 closed

[2020-12-19 08:51] #1942 closed

[2020-12-20 01:08] joaopaulovieira commented on #1980
Hi @fmpoffice, can you explain more detailed this idea?

If I understand you correctly,  you need to stop the video after x seconds. Clappr has methods to get the [current position](https://github.com/clappr/clappr-core#-playergetcurrenttime) and the [video duration](https://github.com/clappr/clappr-core#-playergetduration), so you can just calculate the played time and do whatever you want when r

[2020-12-20 20:06] joaopaulovieira commented on #1958
Hi @Niharika098, any Clappr component is possible to extend and add/modify what you want.

In your approach, your switcher returns the CDN endpoint to get the video source, right?

If yes, I think one plugin to do the request to your switcher and handle with sending the video source for the Playback resolves.

For this approach, you need:
* The `CDN Switcher Plugin` listen to one `play` event to i

[2020-12-20 20:53] joaopaulovieira commented on #1965
Hi @pcandido. You can check how we build one error object [here](https://github.com/clappr/clappr-core/blob/master/src/base/error_mixin/error_mixin.js) but essentially, the error object has the respective parameters:

### `origin`

### `scope`

### `level`

### `raw`

### `code`

### `description`

### `UI`

For playback errors like the `html5_video:4`, you need to search on the playback error doc

[2020-12-20 20:55] joaopaulovieira commented on #1950
Keep it open.

[2020-12-20 20:58] CodeBradley commented on #1950
I believe I solved this but don't have the code on this PC, if anyone's interested just lmk and I'll find my old PC and grab the solution.

[2020-12-21 06:46] Hrishikesh-K opened #1991 "Caption toggle problems"
**Browser**: Chrome 87, Firefox 84

**OS**: Windows 10, Android 10

**Clappr Version**: 0.4.2

**Steps to reproduce**:

* Visit: https://5fdfa74891b4fa0007ed659e--hrishikeshk.netlify.app/projects/goodbye-adam/#end-result
* Play the video.
* Click on the captions button to toggle the English captions.
* Click on the captions button again and try to disable captions.

The captions get enabled fine,

[2020-12-24 15:59] anishpsla opened #1992 "Some videos not playing on Chrome Works on FF"
I am developing a streaming application using Clapper.js . Some HLS streams that are directly converted from DVB UDP Stream using FFMPEG (Not encoded) is not playing, or takes too much time to start playing. But these streams are playing as quickly as possible on latest version of Firefox and old version of Chrome (Version 69). This makes inconsistency between browsers.

I am using basic configura

[2020-12-30 09:08] Niko78 opened #1993 "level selector doesn't work with 0.3.13 and 0.4"
Hi,
I opened the same issue in level selector github page but I prefer double here
https://github.com/clappr/clappr-level-selector-plugin/issues/99

I use this plugin in clappr but since 0.3.13 or even with last 0.4 it doesn't work well.
It works when switch is automatic.. but if I select manualy diretly from list a value, video is frozen.

I reproduced online in clappr demo page and in console it

[2021-01-04 15:23] Niko78 commented on #1993
well after few other tests, it's not exactly that issue
it appears when I change resolution manualy, player puts itself in pause, so I have to reclick on play button in bar

[2021-01-04 16:32] Caspoor opened #1994 "How to hide the source link of the video?"
I mean to prevent anyone from finding the link via inspect element or source code?

Is there a way to do this?

[2021-01-04 18:14] ricardomecca opened #1995 "Media Control Layout"
Hi, how to change position of buttons of player?
Example: Change the volume button from right to left to stand next to the play / pause icon

[2021-01-05 17:22] kslimani commented on #1994
AFAIK, you cannot "definitively" hide it.

Even if you obfuscate video url in source code, someone can, for example, see it in network tab of browser debug console.

[2021-01-16 22:24] #1995 closed

[2021-01-17 09:56] SammyInsane commented on #1645
Thanks for this my saviour. Works perfect. Just need to change parent: '#player-container' to parentId: '#player-container'

[2021-01-18 18:00] issimissimo opened #1996 "Autoplay not working on mobile"
**What do you want to do with Clappr?**
I'd like to autoplay videos on mobile devices (Android, iOS).
It work on desktop (Windows) but not on mobile.

I've read of some code with this extra option:
[code]
but I can't find any documentation on it...
Many thanks

**What have you tried so far?**
[code]

[2021-01-18 20:46] kslimani commented on #1996
On mobile devices, video playback require a user action.

It is possible to autoplay video on some mobile devices if you set `mute` player option to `true`.

[2021-01-18 23:41] issimissimo commented on #1996
Many thanks kslimani,
I've been able to autoplay on mobile (at least on my Samsung S8) with this code:
`var player = new Clappr.Player({
            width: "100%",
            height: "100%",
            disableVideoTagContextMenu: true, /// don't know what it do but maybe it's useful
            mute: true,
            chromeless: true, /// just to hide the seek bar
            playback: {

[2021-01-19 01:41] kslimani commented on #1996
iPhone mobile devices should be able to autoplay video if muted. _(unless it is a very (very!) old iOS iphone/ipad version, where Safari new autoplay policy not implemented)_

[2021-01-20 23:58] inside83 commented on #1758
so how to make the poster fit the player window?

[2021-01-21 03:27] inside83 commented on #1897
@Niko78 adn @kslimani
where exactly do you add this
[code]

[2021-01-21 14:44] kslimani commented on #1897
It is [css](https://www.w3schools.com/css/), added in html page where player is displayed.

[2021-01-21 16:33] inside83 commented on #1897
yeah, thank you
added it between style tags and it's working great
do you (or anyone else) by any chance know if the play button can be replaced in the same way?

[2021-01-21 16:48] kslimani commented on #1897
You can override css rules for any button. Just use browser console inspector tools to get selectors.

![image](https://user-images.githubusercontent.com/1758996/105382793-bcb2d200-5c10-11eb-8e0a-6845c37feb91.png)

![image](https://user-images.githubusercontent.com/1758996/105382842-cd634800-5c10-11eb-97ce-a405b66bfc15.png)

[2021-01-25 09:00] inside83 commented on #1897
@kslimani thank you for your response but you assume I'm a CSS guru like yourself 😊
could I bother you wit instructions as to how to actually change default play button with some other?
I found this https://www.svgrepo.com/svg/13672/play-button
But when I check the default one, this comes up
[code]
And I have no idea what to do... 🤷‍♂️

[2021-01-25 10:01] kslimani commented on #1897
There are no feature yet in player to change mediacontrol icons, and therefore it is complicated.
(technically, you may need to fork the media_control and poster plugins project, replace svg icons and recompile your own versions of the plugins)

[2021-01-25 10:39] inside83 commented on #1897
So I can't change default play button (the big one, when the player loads) but I could change the buttons under the seekbar using css?
Could you pretty please provide a code for it? 🙏
What about the seekbar itself? Any way to make it thicker a bit?

[2021-01-25 13:36] kslimani commented on #1897
A simple Javascript trick to change poster svg icon is :

[code]

You can test this code [HERE](http://clappr.io/demo/).

It is more complicated to change the media controls while video is playing (ie: you can't use a simple trick).

[2021-01-25 13:51] inside83 commented on #1919
@joaopaulovieira
Thank you for this.
Is there any way to have svg icon instead of the yellow square as a button?

[2021-01-25 14:20] inside83 commented on #1774
Any update on this?
I just figured out that on mobile you have to tap the seekbar to go back and forward.
Sliding the playhead doesn't work, making thumbnails on seekbar a lot less useful for mobile viewers 🙄

[2021-01-25 14:24] inside83 commented on #1897
♥ 😀
Thanks a lot!!!

[2021-01-28 18:06] kslimani commented on #1984
@blacktrash is your issue fixed with Clappr 0.4.3 ?

[2021-01-28 18:08] kslimani commented on #1982
@Hrishikesh-K is your issue fixed with Clappr 0.4.3 ?

[2021-01-28 18:11] Hrishikesh-K commented on #1982
@kslimani Thanks a lot for your work. It seems to work fine.

[2021-01-28 18:11] #1982 closed

[2021-01-29 02:00] blacktrash commented on #1984
@kslimani, yes indeed, it is. As can be verified in the demo as well.
Sorry for not getting back earlier. Closing.

[2021-01-29 02:00] #1984 closed

[2021-01-29 14:01] Niko78 commented on #1993
still same issue with 0.4.3

[2021-02-04 15:59] ralomach commented on #1656
Hi! I have the same problem using Tailwind CSS. Any news?

[2021-02-05 01:10] inside83 opened #1997 "closed"
closed

[2021-02-05 17:22] issimissimo opened #1998 "Local files not playing"
Hello, I'm trying to load and play local .mp4 videos through Blob,
but I get this Clappr error message:
"Your browser does not support the playback of this video. Please try using a different browser" .

This is my code:

[code]
(P.s. I'm using a local webserver)

Tested on Windows 10 + Chrome

Many thanks

[2021-02-05 19:43] joaopaulovieira commented on #573
Both events `seek` and `seeked` are already being listened to be fired at the container layer: https://github.com/clappr/clappr-core/blob/master/src/playbacks/html5_video/html5_video.js#L71-L72

[2021-02-05 19:43] #573 closed

[2021-02-05 19:46] joaopaulovieira commented on #965
Closing due to the lack of the possibility of reproduction. If the reported behavior still continues, reopen this issue.

[2021-02-05 19:46] #965 closed

[2021-02-05 19:47] joaopaulovieira commented on #1205
Closing due to the lack of the possibility of reproduction. If the reported behavior continues, reopen this issue.

[2021-02-05 19:47] #1205 closed

[2021-02-05 20:12] joaopaulovieira commented on #1225
Closing due to the lack of the possibility of reproduction. If the reported behavior continues, reopen this issue.

[2021-02-05 20:12] #1225 closed

[2021-02-05 20:35] joaopaulovieira commented on #1896
Thanks @asheroto!

Closing due to the lack of the possibility of reproduction. If the reported behavior continues, reopen this issue.

[2021-02-05 20:35] #1896 closed

[2021-02-05 20:55] joaopaulovieira commented on #1944
Closing due to the lack of the possibility of reproduction. If the reported behavior continues in one file that can be shared, reopen this issue.

[2021-02-05 20:55] #1944 closed

[2021-02-05 21:17] joaopaulovieira commented on #1967
@asheroto ping

[2021-02-05 21:19] joaopaulovieira commented on #1973
@ofrzeta The reported problem still happens?

[2021-02-05 23:14] inside83 commented on #1998
Have you tried with basic usage:
[code]

[2021-02-06 17:33] issimissimo commented on #1998
thank-you for your reply @inside83,
with "regular" path I have no problem, but I need to load a local file.
The only way to do that is through a Blob path, but it doesn't work...

[2021-02-08 09:26] ofrzeta commented on #1973
I didn't have the opportunity to check back then because the fix wasn't in a Clappr release and now unfortunately I no longer have a source with closed captions, sorry.

[2021-02-09 13:44] inside83 commented on #1998
Basically you need
`source: "/home/my/awesome/video.mp4"`
instead of
`source: "http://your.video/here.mp4"`
?

[2021-02-10 03:36] asheroto commented on #1967
I believe this has been resolved, I'll close it.

[2021-02-10 03:36] #1967 closed

[2021-02-10 10:13] AInteriorB opened #1999 "Error messages are broken"
**Browser**: any

**OS**: any

**Clappr Version**: 0.4.3

**Steps to reproduce**:

* open [http://clappr.io/demo/](http://clappr.io/demo/)
* define a source that is not available
* click play
* design of error messages is broken

It seems that [player-data] overwrites CSS display values on the player-error-screen div and its children:
`[data-player] > div {
    display: block;
}`

<img width="673"

[2021-02-10 17:44] joaopaulovieira commented on #1919
@inside83 Yep, just adds the style using your desired SVG on the element like the plugin example

[2021-02-11 16:11] pedra commented on #1993
Version 0.4.3
![image](https://user-images.githubusercontent.com/4870358/107663903-a4136600-6c6a-11eb-94df-4231163d0499.png)

[2021-02-15 15:10] issimissimo opened #2000 "How to hide the fullscreen button from UI"
Hello,
I'd like to hide the fullscreen button from UI.
How can I do?
Many thanks!

[2021-03-01 17:41] fabioricali opened #2001 "Preload first image frame from HLS stream"
Hi,

is it possible to load as poster the first frame of a hls streamig?
I tried here without success:
http://clappr.io/demo/#dmFyIHBsYXllckVsZW1lbnQgPSBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicGxheWVyLXdyYXBwZXIiKTsKCnZhciBwbGF5ZXIgPSBuZXcgQ2xhcHByLlBsYXllcih7CiAgc291cmNlOiAnaHR0cHM6Ly9zdHJlYW0yLnhkZXZlbC5jb20vdmlkZW8xczMtNy9zdHJlYW0vcGxheWxpc3QubTN1OCcsCiAgbXV0ZTogdHJ1ZSwKICBoZWlnaHQ6IDM2MCwKICB3aWR0aD

[2021-03-01 18:30] 64J0 opened #2002 "How Clappr deal with the lack of CORS headers?"
**What do you want to do with Clappr?**
I want to know why a video src is loaded in the Clappr demo player even when the server that sends the video doesn't send the CORS required headers.

**What have you tried so far?**
When I try to open the video with a simple <video src="..." crossorigin="anonymous" /> there are plenty of errors in the console about CORS...

[2021-03-02 14:36] 64J0 commented on #2002
I think that if I don't use crossorigin="anonymous" prop in the video tag it doesn't give me errors of CORS. Tested and worked in Chrome Ubuntu.
So now I'll close this issue.

[2021-03-02 14:36] #2002 closed

[2021-03-06 08:18] Niko78 commented on #1993
any news ? cause I'm still in 0.3.12 which is too old now
clappr project seems a bit dead... :-(

[2021-03-06 09:14] leandromoreira commented on #1993
did you check the https://github.com/clappr/clappr-core and https://github.com/clappr/clappr-plugins ? Clappr is a composition of two other projects: @clappr/core and @clappr/plugins.

[2021-03-10 12:28] leandromoreira commented on #1993
@jhonatangomes @joaopaulovieira

[2021-03-10 18:03] bp2008 opened #2003 "Multiple HLS subtitle problems"
**Browser**: Chrome Version 88.0.4324.190 (Official Build) (64-bit)

**OS**: Windows 10 20H2

**Clappr Version**: 0.4.3

**Steps to reproduce**:

When playing HLS with subtitles defined in the master playlist, there are many problems related to the subtitles.

### EXAMPLE 1. CC button missing.

The CC button will only appear in the player if your HLS master playlist includes the optional attribute

[2021-03-10 18:04] bp2008 commented on #2003
I did try to set up examples on http://clappr.io/demo/ but I lack suitable hosting with CORS support.

[2021-03-12 17:22] bp2008 commented on #2003
Here's a trivial video sample with english and spanish subtitles that can be used to reproduce the problem.

[TestPattern-min.zip](https://github.com/clappr/clappr/files/6131780/TestPattern-min.zip)

[2021-03-12 19:17] bp2008 commented on #2003
Someone thought it would be a good idea to set the current subtitle track to one of the hidden tracks, right here in hls.js:

https://github.com/video-dev/hls.js/blob/5275331ce1b8fb56a5f2032027650a2621a89ab0/src/controller/subtitle-track-controller.js#L240

And that is what is causing my example to show spanish subtitles when it shouldn't be.  I haven't figured out yet what the purpose of that cod

[2021-03-12 21:34] bp2008 commented on #2003
Okay, so I think I can fully explain the problem I identified with EXAMPLE 2 in my original issue report.

When I choose `Disabled` in the cc menu, Clappr sets all [TextTrack.mode](https://developer.mozilla.org/en-US/docs/Web/API/TextTrack/mode) properties to `hidden`, and doesn't set any to `showing`.  HLS.js [listens to the TextTrackList.change event](https://github.com/video-dev/hls.js/blob/527

[2021-03-15 21:54] bp2008 commented on #2003
I've fixed all these issues locally and am creating pull requests now.

[2021-03-15 22:36] bp2008 commented on #2003
These PRs fix the issues I reported here.

https://github.com/clappr/hlsjs-playback/pull/18
https://github.com/clappr/clappr-plugins/pull/29

[2021-03-16 10:16] Steffeng5 commented on #1998
You have to provide the mimeType explicitly to clappr as it cannot imagine it from a blob url.

[2021-03-18 11:30] dkirilenko opened #2004 "Safari HLS CPU load and crash/reload page"
**Browser**: Safari 14

**OS**: iPhone SE (2 edition)

**Clappr Version**: "0.4.3"

**Steps to reproduce**:
1. I've created a simple rails application with one page which returns me `m3u8` file and `ts`
2. Created DOM element and applied javascript to run Clappr
[code]
3. After 1-2 minutes browser tab crashes and reloads the page

`Did you try to reproduce this issue at http://cdn.clappr.io/`  -->

[2021-03-18 11:37] rgaufman commented on #2004
I am having the same issue on iPhone 11 Pro Max and on iPhone 12 Pro :( - any ideas?

[2021-03-23 12:32] dkirilenko commented on #2004
Guys, it works with `Clappr.version => "0.3.1"`. Any ideas?

[2021-03-23 13:38] joaopaulovieira commented on #2003
Hi @bp2008!
Thanks for the deep analysis and the contribution /õ/
Just so you don't run out of status: I'm going to read and review your PR's when having some time 😅

[2021-03-26 03:52] joaopaulovieira commented on #708
Closing this issue as it's not possible to control the fullscreen state without a user action.

[2021-03-26 03:52] #708 closed

[2021-03-26 04:01] joaopaulovieira commented on #1198
Hi guys! I created a new media control plugin that allows you to choose the components available in the interface, so you can add or not the fullscreen button easily. Take a look: https://github.com/joaopaulovieira/clappr-media-control-plugin

[2021-03-26 04:08] joaopaulovieira commented on #1383
As @towerz commented, it was decided to divide the project into other smaller components ([clappr-core](https://github.com/clappr/clappr-core) and [clappr-plugins](https://github.com/clappr/clappr-plugins)) to achieve the objective of this issue. (More details in the [0.4.0 changelog](https://github.com/clappr/clappr/releases/tag/0.4.0))

[2021-03-26 04:08] #1383 closed

[2021-03-29 16:11] #1914 closed

[2021-03-29 16:13] #1949 closed

[2021-03-29 16:15] joaopaulovieira commented on #1958
@Niharika098 The approach I commented on above is suitable for you?

Did you implement any other approach?

[2021-03-29 16:18] joaopaulovieira commented on #1959
Closing due to no response received. If there is anything new, you can open the issue again (:

[2021-03-29 16:18] #1959 closed

[2021-03-29 16:19] joaopaulovieira commented on #1965
@pcandido Does this information help you?

[2021-03-29 16:19] #1968 closed

[2021-03-29 16:25] joaopaulovieira commented on #1974
Hi @Denjjo! Just an update: I created a new media control plugin with a more flexible architecture for customizing the UI and adding new components.

If you have not created your own media control plugin or would like to know another example, take a look: https://github.com/joaopaulovieira/clappr-media-control-plugin

[2021-03-29 21:26] joaopaulovieira commented on #1999
Fixed on the version `0.4.4`. Thank you for the report @AInteriorB !

[2021-03-29 21:26] #1999 closed

[2021-03-29 21:28] joaopaulovieira commented on #1994
Can we close this issue?

[2021-03-29 21:31] joaopaulovieira commented on #2000
Hi @issimissimo ! Check the issue #1198 and this comment [here](https://github.com/clappr/clappr/issues/1198#issuecomment-807918914).

[2021-03-29 21:47] joaopaulovieira commented on #2004
Hi @dkirilenko! Can you please test with the bundle without the `hlsjs-playback`? The iOS mobile devices can play .m3u8 natively (with HTML5 implementation) and with this test, we can identify it is one problem related to the hls.js package.

[2021-03-29 21:47] pcandido commented on #1965
Yes, it does. Thank you.

[2021-03-29 21:47] #1965 closed

[2021-03-31 13:05] Tuxino88 opened #2006 "mkv artifacts"
Fedora 33 with iHD driver

libva info: VA-API version 1.11.0
libva info: Trying to open /usr/lib64/dri/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_10
libva info: va_openDriver() returns 0
vainfo: VA-API version: 1.11 (libva 2.9.0)
vainfo: Driver version: Intel iHD driver for Intel(R) Gen Graphics - 21.1.2 ()
vainfo: Supported profile and entrypoints
      VAProfileNone

[2021-04-01 13:03] Steffeng5 commented on #1910
As I also stumbled over this issue I found a maybe better way: clappr provides a timeupdate event

http://clappr.io/demo/#dmFyIHBsYXllckVsZW1lbnQgPSBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicGxheWVyLXdyYXBwZXIiKTsKCnZhciBwbGF5ZXIgPSBuZXcgQ2xhcHByLlBsYXllcih7CiAgc291cmNlOiAnaHR0cDovL2NsYXBwci5pby9oaWdobGluZS5tcDQnLAogIHBvc3RlcjogJ2h0dHA6Ly9jbGFwcHIuaW8vcG9zdGVyLnBuZycsCiAgbXV0ZTogdHJ1ZSwKICBoZWlnaHQ6IDM2MC

[2021-04-02 20:13] joaopaulovieira commented on #1928
Hi, @sapolio. Can you please open this issue on the clappr-plugins repo? This helps a lot with the bug control between the projects inside the Clappr org.

[2021-04-02 21:02] joaopaulovieira commented on #1975
On the next **@clappr/plugins** version this will be fixed: https://github.com/clappr/clappr-plugins/commit/e85f92b587ffc18f78664f253ab09edd63c9cf94

[2021-04-03 15:54] #1994 closed

[2021-04-17 00:48] rajmylav opened #2007 "FFMPEG video not loading"
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)
Chrome and firefox
**OS**: FILL WITH YOUR OS (ex: Mac OS 10.11.1, iOS9, android4.5)
Mac and windows
**Clappr Version**: 0.3.8
latest version
**Steps to reproduce**:

expecte dthe video to stream but it stops

Did you try to reproduce this issue at http://cdn.clappr.io/

ps: you can attach images, lo

[2021-04-25 18:09] anishpsla commented on #1992
Any information ?

[2021-04-25 20:58] Tuxino88 commented on #2006
error

[2021-04-25 20:58] #2006 closed

[2021-05-01 16:26] sturlath opened #2008 "How to play ism/manifest?"
Can I play this with Clappr and what plugin do I need? `//amssamples.streaming.mediaservices.windows.net/3b970ae0-39d5-44bd-b3a3-3136143d6435/AzureMediaServicesPromo.ism/manifest` you can see it playing [here](https://ampdemo.azureedge.net/azuremediaplayer.html)

[2021-05-03 12:28] pandiyaavps opened #2009 "iPhone mobile - hls video html5_video:3 error"
**Browser**:  Chrome & Safari

**DEVICE**: iPhone mobile

**Clappr Version**: 0.4.4

**Steps to reproduce**:

While i try to play "hls" video on iPhone mobile i got this error in a video

![2021-05-03 (1)](https://user-images.githubusercontent.com/31888700/116875618-dcf32380-ac38-11eb-8a76-bf040ba3a0ef.jpeg)

[2021-05-03 17:14] fmp777 opened #2010 "MPD doesn't load? 0.4.4 (fiddle)"
**Browser**: Chrome 90.0.4430.93 (Official Build) (arm64)

**OS**: Mac OS 11.3

**Clappr Version**: 0.4.4

**Steps to reproduce**:
https://jsfiddle.net/qx9h4L5w/1/

Do I have the wrong dash?
Honestly its been hard to try to use clappr, seems very scattered since 0.4? Confusing to know how to use it. I wouldn't be surprised if i have something wrong. Maybe since HLS is integrated to the player dash

[2021-05-03 18:56] joaopaulovieira commented on #2008
Hi @sturlath,
The current Clappr playbacks that I know are:
 * `HTML5Playback`: https://github.com/clappr/clappr-core/blob/master/src/playbacks/html5_video/html5_video.js
* `HLSjsPlayback`: https://github.com/clappr/hlsjs-playback/
* `DashShakaPlayback`: https://github.com/clappr/dash-shaka-playback

Both [hls.js](https://github.com/video-dev/hls.js/) (used on hlsjs-playback) and [shaka-player](ht

[2021-05-03 19:16] joaopaulovieira commented on #2010
Hi @fmp777,

You need to use [dash-shaka-playback](https://github.com/clappr/dash-shaka-playback) to play `.mpd` media. About having support for all media formats by default, it's possible to have a build like this, but this will make the size much larger due to all the dependencies and maybe this is not worth it in most cases.

We leave it as external playbacks to be used only when necessary, but

[2021-05-03 19:21] fmp777 commented on #2010
Hi @joaopaulovieira !

I do have dash-shaka loaded in that fiddle - just hard to know if i have the right one...  I'm not really clear on how to use the new 0.4 version + plugins as neither repository readme seems to give any instruction.  I've done npm install @clappr/player and @clappr/plugins - build there's no build scripts.  Just trying to do what most people would probably do? Use them in a

[2021-05-03 19:45] joaopaulovieira commented on #2010
In fact, some documentation is outdated or some information is missing, but I will try to summarize here:

1. The version you using of `dash-shaka-playback` is very old. The project is in `3.x.x` while the one used in your fiddle is `2.0.8`. In the documentation, there is a link to `2.0.5` that has to be removed. I recommend always using the link that points to the latest available version: https:

[2021-05-03 19:48] joaopaulovieira commented on #2009
Hi @pandiyaavps,
You tried to play one `m3u8` on the http://clappr.io/demo?

One media to test: https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8

[2021-05-03 19:53] joaopaulovieira commented on #2007
I think it would be good to look at how your streaming is being generated because if this problem only happens with that particular media, it seems to have more to do with the media than with Clappr. If you can get public media for testing that reproduces the same problem, it would help with the investigation.

[2021-05-03 19:55] joaopaulovieira commented on #2004
Hi, @dkirilenko! Did you get to take the test that I mentioned above?

[2021-05-03 20:03] joaopaulovieira commented on #2010
You only need to use @clappr/player if you don't need one custom clappr build. You can see more about the three main clappr package here: https://github.com/clappr/clappr/releases/tag/0.4.0

[2021-05-04 11:16] pandiyaavps commented on #2009
Hi @joaopaulovieira ,

I attached a link below. In iPhone all mobile device, I am not able to play hls video with authorisation header , but with out header authorisation  its working fine. Same URL i try to load IPad or android device  its works fine. Can you check with this link below

http://clappr.io/demo/#dmFyIHBsYXllckVsZW1lbnQgPSBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicGxheWVyLXdyYXBwZXIiKTsKCnZh

[2021-05-04 14:48] joaopaulovieira commented on #2009
You trying to use hls.js config but Clappr uses the `HTML5Playback` for Apple devices.

The hls.js doesn't support Apple devices: https://github.com/video-dev/hls.js#compatibility

And about the headers, I think you need to investigate this use with the video element.

[2021-05-05 04:21] pandiyaavps commented on #2009
Hi @joaopaulovieira

Then how to achieve hls video with header authorisation in clappr ? any document

[2021-05-06 08:04] KeremTurkyilmaz commented on #1971
Any suggestions ?
My workaround is this.
[code]

[2021-05-13 22:28] joaopaulovieira commented on #2010
@fmp777 This worked for you?

[2021-05-13 22:31] joaopaulovieira commented on #2008
@sturlath Was it clear to you what the next steps would be if you want the MSS support?

[2021-05-13 22:31] #2007 closed

[2021-05-14 04:08] joaopaulovieira commented on #2001
Hi @fabioricali,

At the latest `@clappr/player` version it's possible to get this behavior when you don't set one poster image.

One example: http://clappr.io/demo/#dmFyIHBsYXllckVsZW1lbnQgPSBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicGxheWVyLXdyYXBwZXIiKTsKCnZhciBwbGF5ZXIgPSBuZXcgQ2xhcHByLlBsYXllcih7CiAgc291cmNlOiAnaHR0cHM6Ly9iaXRkYXNoLWEuYWthbWFpaGQubmV0L2NvbnRlbnQvTUkyMDExMDkyMTAwODRfMS9tM3U4cy9mMDhlOD

[2021-05-14 04:19] joaopaulovieira commented on #1975
Hi @winie,

We shipped this fix on the latest version /õ/

[2021-05-14 06:42] jianhang opened #2011 "How to switch the video button with the function"
Can I add the next episode button to the navigation bar?The bottom of the navigation bar can always be shown, rather than hover

[2021-05-14 08:02] sturlath commented on #2008
I would love to be able to contribute a PR for this but that´s unfortunately way out of my expertise I think.

What I have been trying to find is a player that can then be "ported" to Blazor (that might be something I could do).

I asked MS if I could use their Azure Media Player there and got the response ["I'd recommend those alternate player frameworks for now over AMP, as the AMP player is get

[2021-05-14 13:38] kslimani commented on #2008
The [dash.js](https://github.com/Dash-Industry-Forum/dash.js) library may be able to play this file. You can test it [here](https://reference.dashif.org/dash.js/latest/samples/smooth-streaming/mss.html).

But note that MSS support has been dropped from some streaming products. For example, take a look at [WSE 4.8.12 release note](https://www.wowza.com/docs/wowza-streaming-engine-4-8-12-release-not

[2021-05-14 13:49] kslimani commented on #2011
To always show the mediacontrol bar set the player configuration option `hideMediaControl` to `false,`.

Adding a "next episode" button is a little more complicated. You may need to write a plugin to achieve this.
If you intent to customize media controls, i strongly recommand to take [João media control plugin](https://github.com/joaopaulovieira/clappr-media-control-plugin) as a starting point.

[2021-05-14 14:06] sturlath commented on #2008
Thank you @kslimani the path  `//amssamples.streaming.mediaservices.windows.net/3b970ae0-39d5-44bd-b3a3-3136143d6435/AzureMediaServicesPromo.ism/manifest ` is playable in the dash.js  test player. So I might look into that further.

Just one quick question more, on the drop of MSS.

That would just mean I could not later move to another streaming vendor and stream my already recorded videos, right

[2021-05-14 14:27] kslimani commented on #2008
As you might guess, I can't recommand any streaming vendor ;-)

I am not an Azure expert, but as far as i know, it support many streaming output formats.

Take a look at [dynamic packaging concept documentation](https://docs.microsoft.com/en-us/azure/media-services/latest/encode-dynamic-packaging-concept#hls-protocol).

You can, for example, stream the previously provided stream url in HLS format

[2021-05-14 19:17] johndeu commented on #2008
The key part that @kslimani mentions above is the requirement to change the format tag to HLS.
The default /manifest returns a Smooth Streaming format manifest.

You need to append the format=m3u8-cmaf to get an HLS CMAF based manifest
or you could use format=mpd-time-cmaf to get an MPEG-DASH streaming manifest if the player supported DASH.

[2021-05-15 09:47] fabioricali commented on #2001
Thank you! It works...

[2021-05-15 09:47] #2001 closed

[2021-05-17 02:38] jianhang commented on #2011
Thank you. Could you please tell me how to get the total and current playing time of the video

[2021-05-17 02:38] jianhang commented on #2011
Thank you. Could you please tell me how to get the total and current playing time of the video

[2021-05-17 07:27] kslimani commented on #2011
You can get the current and total playing time of the video respectively using [getCurrentTime()](https://github.com/clappr/clappr-core#-playergetcurrenttime) and [getDuration()](https://github.com/clappr/clappr-core#-playergetduration) player instance methods.

[2021-05-17 07:50] kslimani commented on #2008
For completeness, you can also test MPEG-DASH format using this code on [Clappr demo page](http://clappr.io/demo/) :

_**Note:** you must load the dash playback plugin, by adding the following url in the "Add external plugins" input field and click on "+" button : `https://cdn.jsdelivr.net/gh/clappr/dash-shaka-playback@latest/dist/dash-shaka-playback.min.js`._

[code]

[2021-05-18 19:32] telase opened #2012 "m3u8 error"
Why doesn't it play these links?
1 : https://mn-nl.mncdn.com/blutv_kanald/smil:kanald_sd.smil/chunklist.m3u8

and 2 : http://persik.by/stream/6696/480248/10463.m3u8
2. The link does not play on my web page while playing with the same js on the local computer, you can look here.
https://www.youtube.com/watch?v=u6D9drjmvB4

[2021-05-18 20:42] leandromoreira commented on #2012
Hi there @telase did you try to follow the https://github.com/clappr/clappr#common-steps-to-verify-issues

[2021-05-20 12:01] winie commented on #1975
Thanks, i will test it.

[2021-05-21 09:52] unique1o1 opened #2013 "Browser starts to lag after playing 3-5 videos when using `player.configure` to update the source url"
**Browser**:
Firefox 88.0.1
**OS**:
Pop OS  20.04 LTS
**Clappr Version**:
latest from http://cdn.clappr.io/latest/clappr.min.js

**Steps to reproduce**:

play 3-5 video one after another.

* I was expecting to have a smooth playback but instead it started lagging(my browser)

Did you try to reproduce this issue at http://cdn.clappr.io/
No

I'm trying to update the video source using the following

[2021-05-22 01:21] joaopaulovieira commented on #2013
No

Can't you reproduce the reported behavior or just haven't tried?

[2021-05-22 03:30] unique1o1 commented on #2013
Yes I have but not on http://cdn.clappr.io/

[2021-05-23 13:58] joaopaulovieira commented on #2013
Yes, I understand that you have tested it on other devices. The recommendation to test on http://cdn.clappr.io/ (specifically on http://cdn.clappr.io/demo) is that it becomes a common point that we can also validate on our side.

I was unable to reproduce this issue. Can you generate any evidence of this? (CPU / Memory consumption of the tab that is running Clappr, some video showing the problem v

[2021-05-24 19:27] leaofelipe commented on #1996
Hi, @kslimani and @issimissimo. I Just created a Pull Request about the autoplay issue.

[Check this PR](https://github.com/clappr/clappr/pull/2014) 👍

[2021-05-26 11:05] WazaAU commented on #522
Here is a link to WhatsUp TV app. It's IPTV m3u web player app using a Clappr
https://whatsuptv.app/
Thanks, Clappr! 👍

[2021-05-26 21:19] jakecausier commented on #1985
You can simply echo out the $m3u8 variable into the Clappr script.

Example:
[code]

[2021-05-31 17:23] leticiafernandes commented on #1970
Hi @feddynventor. Is the error is still happening?

If you could provide us more information like your server configuration and the media you're testing on would be very helpful.

[2021-05-31 17:28] leticiafernandes commented on #1939
Hi @Dastnbek. Seems like the problem you're reporting is related to [this PR](https://github.com/clappr/clappr/pull/2014) proposal. May you check, please?

[2021-05-31 17:35] leticiafernandes commented on #1972
Hi @Bubblesphere, as @kslimani said the IE11 will be discontinued by Microsoft soon. We don't think it's a valid effort to solve this issue and will close it. Feel free to send us a PR if you like :)

[Offical Microsoft Report](https://docs.microsoft.com/en-us/lifecycle/faq/internet-explorer-microsoft-edge)

[2021-05-31 17:35] #1972 closed

[2021-05-31 17:39] leticiafernandes commented on #1977
Hi @Lethea, can you provide more info about the streaming test that you're using, please? And also an example of streaming that this problem occurs.

[2021-06-04 18:26] leaofelipe commented on #1996
[This PR](https://github.com/clappr/clappr/pull/2014) solved the question 👍

[2021-06-04 18:26] #1996 closed

[2021-06-08 13:31] PreDeToRLinux opened #2017 "Timeout 500 ms has been reached"
Hi Guys

I have run into a very weird issue.

I am busy building a app for iOS using cordova.

When I run my app as a simple website and I connect to the site from the iPad using safari video playback works fine (.m3u8 files)
When I then build the app, load it into the iPad and try running the player again I get an error every time, "Timeout 500 ms has been reached"   (line 3264 in clappr.js 0.4.5

[2021-06-21 17:13] pedrochamberlain commented on #2017
Hi @PreDeToRLinux, could you share a print or log of the error you're facing?

[A good idea for debugging would be to enable Clappr's logs.](https://github.com/clappr/clappr#how-can-i-log-messages-with-clappr)

[2021-06-21 17:16] #1997 closed

[2021-06-21 17:26] pedrochamberlain commented on #2000
We're closing this issue up. If you have any further questions, please reopen it!

[2021-06-21 17:26] #2000 closed

[2021-06-22 06:49] PreDeToRLinux commented on #2017
Hi @pedrochamberlain

Please see the screenshot below.

![image](https://user-images.githubusercontent.com/6190756/122877259-b4cd9a00-d336-11eb-8bcb-883c736b137e.png)

[2021-06-28 10:35] PreDeToRLinux commented on #2017
@pedrochamberlain any ideas on this issue?

[2021-06-28 17:14] leticiafernandes commented on #2017
@PreDeToRLinux The message above is a warning and probably not what is causing your playback to throw an error. What is the behavior you expect and what problem are you facing for it?

[2021-06-28 17:19] leticiafernandes commented on #1990
Hi @sapolio, as @kslimani said the only way to listen to this event is through Core. We will close this issue due to inactivity.

[2021-06-28 17:19] #1990 closed

[2021-06-28 17:26] leticiafernandes commented on #1987
Hi @TheGreatestZenMaster, your doubt is related to [clappr-video-360](https://github.com/thiagopnts/clappr-video360) plugin?

[2021-06-28 17:31] leticiafernandes commented on #1978
Hi @nelson777, if you want to use other formats apart from `.vtt` I suggest you create subtitle plugins to accept these formats. If you need help creating the plugin send us an issue to ask for help.

[2021-06-28 17:31] #1978 closed

[2021-06-29 06:23] PreDeToRLinux commented on #2017
@leticiafernandes I am trying to play a video on a iPad as an embedded app.

I take the exact same app and video playback works fine on iPhones. but fails with the above error on a iPad.
I then take this code and open it on safari on the iPad and it works fine.

It seems to be linked to the fact that its running via cordova, but this is simply a webview and works fine on iPhone.

[2021-06-29 08:36] PreDeToRLinux commented on #2017
As a sample here is my flow:
1) I have a image and a div with a onclick event (this works fine)
2) On the click I fetch the playback url and setup a player with autoplay & inline play (this works fine and fetches the m3u8 files)
3) on the iPad it then gives the error above and this screen.

![image](https://user-images.githubusercontent.com/6190756/123765215-d3e3a300-d8c5-11eb-8f40-71dd024bedcf.pn

[2021-06-29 11:24] kslimani commented on #2017
@PreDeToRLinux i think it is because the "user interaction" is lost when you perform the fetch.

Take a look at the provided example in [this comment](https://github.com/clappr/clappr/issues/1680#issuecomment-410649572). _(and put your fetch logic just after the `player.consent()` call)_

[2021-06-29 12:37] PreDeToRLinux commented on #2017
@kslimani would that be the case since it works on iPhone and the same code works fine on safari just not when its served via cordova ?

I tried the following:
          playerClappr[video_content_id] = new Clappr.Player({
            mimeType : 'application/x-mpegURL',
            poster: img_url,
            playback: {
              playInline: true,
            },
            source: responseD

[2021-06-29 13:30] kslimani commented on #2017
Please note that autoplay policies differs between devices and also browsers. (and therefore behaviors).

Let me attempt to explain the mechanisms :

When autoplay is not allowed in a browser, the common scenario is it require a __"user interaction"__ to allow the video element to start playing video content. _(for example, a mouse click event)_.

In most cases, when user perform interaction the v

[2021-07-01 07:06] manollas2015 opened #2019 "Trying to implement fullscreen"
**What do you want to do with Clappr?**
I am trying to go fullscreen programmatically but getting error.

**What have you tried so far?**
This Works
http://clappr.io/demo/index.plainhtml5.html#dmFyIHBsYXllckVsZW1lbnQgPSBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicGxheWVyLXdyYXBwZXIiKTsKCnZhciBwbGF5ZXIgPSBuZXcgQ2xhcHByLlBsYXllcih7CiAgc291cmNlOiAnaHR0cDovL2NsYXBwci5pby9oaWdobGluZS5tcDQnLAogIHBvc3RlcjogJ2h0dHA

[2021-07-01 11:27] kslimani commented on #2019
In web browsers, a __"user interaction"__ is required to toggle to fullscreen. _(for example a mouse click)_

In your jsfiddle, if you add a button which toggle fullscreen, it will work if you click on it.

[2021-07-08 03:48] audiobras opened #2020 "play button position in small size"
Hello,

I see a strange thing. I am trying to use the clappr to play some hls audio only streams and then I used that config:

`var player = new Clappr.Player({
  source: 'https://myurl/playlist.m3u8',
parentId: '#player',
  poster: '',
  height: 45,
  hideMediaControl: false,
  width: 325,

});`

In demo page the play button stay align in middle and in the center. But in my page the play button s

[2021-07-08 10:34] kslimani commented on #2020
The issue you describe seems to be a CSS conflict: use browser debug tool to inspect and check css rules applied on play button.

[2021-07-08 13:22] audiobras commented on #2020
I try to simulate in a page without other css stuff: [https://v2.atendimento.inf.br/teste.html](https://v2.atendimento.inf.br/teste.html )

[2021-07-08 15:19] Nachompiras opened #2021 "Clappr support HEVC playback on Tizen or webOS?"
Hi everybody.

Has anyone tried playing HLS HEVC on tizen or webOS with clappr ?.

HLS.js doesn't works for me.

[2021-07-08 18:01] joaopaulovieira commented on #2021
Hi @Nachompiras !

I think you'll need to use one custom Clappr playback implementation for that. We start to build one new playback implementation to be used on smart TVs that have compliance with the HbbTV specs: https://github.com/clappr/clappr-html5-tvs-playback

Maybe this playback works for you or at least inspires you to build one new Clappr playback for other smart TVs devices that fit wit

[2021-07-08 21:09] kslimani commented on #2020
It is the background image you configured as poster : https://fb.radiosnaweb.com/clapp/play9.png

[2021-07-09 02:57] audiobras commented on #2020
But the issue is the vertical alignement of the play button in stop state. It stay not in the middle, it stay near the botton. I did not find a reason for that misalignment. Try stop the play and you will see where the play button pops up.

[2021-07-09 04:35] audiobras commented on #2020
I found out what was affecting the placement of the play button in the stopped state:

this tag on my page before the <html> tag:

<!doctype html>

[2021-07-09 04:35] #2020 closed

[2021-07-12 17:12] #1950 closed

[2021-07-12 17:13] #1958 closed

[2021-07-12 17:27] joaopaulovieira commented on #1976
Hi @komato3huk

I've tested the [picture in picture API](https://developer.mozilla.org/en-US/docs/Web/API/Picture-in-Picture_API) and it works as expected.

What pip module are you referring to?

[2021-07-12 17:29] joaopaulovieira commented on #1985
Hi @qutub11

Does the @jakecausier response work for you?

[2021-07-12 17:31] joaopaulovieira commented on #1987
Closing this issue. @TheGreatestZenMaster fell free to open again if you have more info (:

[2021-07-12 17:31] #1987 closed

[2021-07-12 17:35] joaopaulovieira commented on #2012
@telase any news about it?

[2021-07-12 17:49] #1939 closed

[2021-07-12 18:02] joaopaulovieira commented on #1947
Hi @fabioricali

I've tested on Safari `Version 14.1 (16611.1.21.161.3)` and it seems that the problem is solved. Can you try to reproduce the reported behavior and ping us back with the results?

[2021-07-12 18:04] joaopaulovieira commented on #1970
Closing due to inactivity. Please, feel free to open again with more info!

[2021-07-12 18:04] #1970 closed

[2021-07-12 18:05] joaopaulovieira commented on #1975
Hi @winie
Do you have any news about it?

[2021-07-12 18:07] joaopaulovieira commented on #1977
Closing due to inactivity. Please, feel free to open again with more info!

[2021-07-12 18:07] #1977 closed

[2021-07-13 08:53] telase commented on #2012
I changed the player, it opens all
"Ultimate Video Player"

[2021-07-14 07:50] sapolio opened #2022 "Programmatically prevent player from starting."
Please advise a good way for the core plugin to prevent player from starting playback.
I need to check something before starting playback and maybe change the source.
Previously, in a container plugin, I used the "_destroyed" property of playback.
Perhaps there is a better way?

[2021-07-15 11:02] sapolio commented on #2022
Well. I just destroy the container and load the source again, after receiving the results of my checks.

[2021-07-15 11:02] #2022 closed

[2021-07-17 17:48] SxtBox opened #2023 "cors for youtube livestream"
hello, i wanted to ask if there are any plugins or any options for cors for youtube livestream hls

player with hls
https://stream.kodi.al/yt_test/

with CORS extension [Enabled] the player working
https://mybrowseraddon.com/access-control-allow-origin.html

raw hls https://stream.kodi.al/yt_test/raw.php

[2021-07-20 22:02] sapolio opened #2024 "Using any player events from the page."
Hi!
I'm wondering if I can set a handler, for example, for the CORE_ACTIVE_CONTAINER_CHANGED event from a script on the page.

I tried this right after creating the Clappr.Player instance:
`player.on(Clappr.Events.PLAYER_READY, () => console.log('PLAYER READY'))
  player.listenTo(player.core, Clappr.Events.CORE_READY, () => console.log('CORE READY'))`
But both the player and its core had been read

[2021-07-20 22:32] kslimani commented on #2024
You can create a core plugin to achieve this.

Here a simple ES5 example you can try on [Clappr demo page](http://clappr.io/demo/) :

[code]

[2021-07-20 23:26] sapolio commented on #2024
@kslimani, thank you.

[2021-07-20 23:26] #2024 closed

[2021-07-26 23:45] #2012 closed

[2021-07-29 02:28] spicyboiledfish commented on #1198
Thanks, it works for me. Now I can disable dblclick fullscreen.

[2021-08-02 17:09] leticiafernandes commented on #1228
Closing the issue. If still happens, please report.

[2021-08-02 17:09] #1228 closed

[2021-08-02 17:21] #1928 closed

[2021-08-02 17:30] leticiafernandes commented on #1975
Hi @winie, we will close this issue due to inactivity. Feel free to reopen if still happens.

[2021-08-02 17:30] #1975 closed

[2021-08-02 17:41] leticiafernandes commented on #1991
Hi @Hrishikesh-K. Thank you for your repport. This issue is duplicated, we will update the status at #1981.

[2021-08-02 17:41] #1991 closed

[2021-08-02 17:50] leticiafernandes commented on #1998
Hi @issimissimo, is your video being served at the same host as your application? If yes, it works. Otherwise, you will get an error of different origins, since the path that you want to use should be visible from your application.

[2021-08-02 17:56] leticiafernandes commented on #2004
Hi @dkirilenko, we will close this issue due to inactivity. Feel free to reopen if still happens.

[2021-08-02 17:56] #2004 closed

[2021-08-02 18:00] leticiafernandes commented on #2009
Hi @pandiyaavps, what media you tried to play? Can you share it with us?

[2021-08-02 18:03] leticiafernandes commented on #2013
Hi @unique1o1, is the problem still happening? Can you generate any evidence of this? (CPU / Memory consumption of the tab that is running Clappr, some video showing the problem visually)

[2021-08-02 18:06] leticiafernandes commented on #2010
Hi @fmp777, we will close this issue due to inactivity. Feel free to reopen if still happens.

[2021-08-02 18:06] #2010 closed

[2021-08-05 12:08] hijuuijj opened #2026 "Black screen very often"
Have Clappr changed anything? lately I get black screen very often. I have to refresh the page in order to play the live stream. Are these the correct files?

https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js
https://cdn.jsdelivr.net/npm/level-selector@latest/dist/level-selector.min.js
https://cdn.jsdelivr.net/npm/clappr-pip@latest/dist/clappr-pip.min.js
https://cdn.jsdelivr.net/npm/cl

[2021-08-05 15:45] #2026 closed

[2021-08-06 11:39] hijuuijj opened #2027 "How to refresh Clappr automatically when it shows an error?"
Some time ago I asked about how to automatically refresh Clappr before displaying an error (using MPD / DASH)
With this code I solved the problem:

shakaConfiguration: {
manifest: {retryParameters: {maxAttempts: Infinity}},
streaming: {retryParameters: {maxAttempts: Infinity}},
drm: {retryParameters: {maxAttempts: Infinity}},
},

Now I'd like to know what code do I have to use for M3U8 / HLS.

Tha

[2021-08-15 01:05] joaopaulovieira commented on #2027
Hi @hijuuijj HLS.js has on session on the docs about fatal error recovery: https://github.com/video-dev/hls.js/blob/master/docs/API.md#fatal-error-recovery

[2021-08-17 11:10] hugocm99 opened #2029 "Change of Spanish Translation"
On clappr.min.js the Spanish translation of the controls is not accurate. The correct one should be like this:
es:{live:"En Directo",back_to_live:"volver al directo",disabled:"Video no disponible",playback_not_supported:"El video no se puede reproducir en su nevegador. Utilice un navegador diferente."}

[2021-08-17 16:01] flavioribeiro commented on #2029
Hey @hugocm99, you can submit a PR with the changes on https://github.com/clappr/clappr-core/blob/master/src/plugins/strings/strings.js#L61-L66.

I'm not fluent in Spanish but was looking into [this blog](http://trampalabras.blogspot.com/2017/12/cual-es-la-diferencia-entre-en-vivo-y.html) and just thinking about the differences between `en vivo` and `en directo`. For a lot of the content people st

[2021-08-17 16:11] hugocm99 commented on #2029
Well, the thing is that you need to separate maybe between Spanish of Spain and Spanish of South America.
In this case for Spanish from Spain will be better " En Directo" but for SouthAmerica one it's more used "En Vivo"
That's main point and the first difference

Also

[2021-08-17 16:18] flavioribeiro commented on #2029
That makes sense. I can see that on [this line](https://github.com/clappr/clappr-core/blob/master/src/plugins/strings/strings.js#L107) we're exporting the Spanish portion as  `es-419` (es-419 – Spanish appropriate for the Latin America and Caribbean region, using the UN M.49 region code) so that looks correct. I would suggest a pull request extending the object with `es-ES` and make them both avai

[2021-08-17 16:21] hugocm99 commented on #2029
Yeah, would be great, anyway @flavioribeiro I'll correct the Spanish Lathinoamerican part cause some of the translations are not correct like the one of "Disable" that might be "no disponible" I think

[2021-08-20 11:49] hugocm99 opened #2030 "How to use more than one source"
I have been trying with the player using more than hls one source, for the case that when the first one doesn't work, it should go to the second one, but it stops in the first one and doesn't go to the second one.
There's a possibility that when the first source doesn't work the player go automatically to the second one?

[2021-08-21 10:38] kslimani commented on #2030
There is no internal mechanism to handle alternate source. But you can achieve this using error handler, [here a simple example](https://github.com/clappr/clappr#example).

[2021-09-01 21:55] IkiaeM commented on #1447
I would like to know the syntax to add what is in the pastebin

hlsjsConfig:
{
    xhrSetup: function(xhr, url) {
        var result = url.match( /^http\:\/\/((.+)\:(.+)@)?.+/i );
        if(result.length > 3)
        {
            let login = result[2]
            let password = result[3]
            xhr.withCredentials = true;
            xhr.open("GET", url, true, login, password);
        }

[2021-09-05 15:53] streamthing opened #2032 "How to make own playback plugin"
Hello,
I tired to make my own playback plugin but get error "Cannot call a class as a function".
https://github.com/clappr/clappr/issues/497#issuecomment-118706100 error is with constructor function
Why? How to make something simmilar to https://github.com/towerz/clappr-youtube-playback but without every webpack and other unesseary things?
There is no documentation how to make plugin, especially p

[2021-09-11 16:09] moni33 commented on #522
[Neterra.TV](https://neterra.tv) – Bulgarian Live TV and VOD platform, owned by [Neterra](https://en.wikipedia.org/wiki/Neterra).
Freely accessible livestreams from Neterra.TV can be found embedded in the official websites of some TV channels ([This is Bulgaria HD](http://hd.traveltv.bg/live/), [Travel TV](http://tv.traveltv.bg/live/), [Tiankov Folk](http://tiankov.com/watch-online/), [Wness TV](h

[2021-09-14 11:48] hijuuijj commented on #2027
Could you give me a hand, please? I have no idea how to do it even reading the document.

Thanks.

[2021-09-14 12:48] kslimani commented on #2027
Internally, hls playback does [trigger an error](https://github.com/clappr/hlsjs-playback/blob/master/src/hls.js#L335) when it is a fatal error.

If you require the player to automatically attempt to retry to play source, you need to add some code.

There are [two examples](https://github.com/clappr/clappr#example) in Clappr readme.

[2021-09-23 11:03] LucaArteco opened #2033 "Multiple plugins"
Hello, how can I add multiple custom plugins?

Something like

      plugins: {
        container: [Video360],
        **core: [ArtecoPipPlugin, InstantPlayerPlugin]**
      },

I've tried this, but it's loading just the first in line.
Can anybody help me?
Thanks!
Luca

[2021-09-23 23:37] kslimani commented on #2033
You don't need anymore to specify the plugin type. Just add plugins as an Array :

[code]

[2021-09-27 18:36] angeljunior opened #2034 "Multiple instances on the same page"
I'm trying to create a way for Clappr to load multiple videos in different "posts" on the same page, but it only loads successfully the last one, giving CORS error in the previous ones and loading only the last one, however if I remove the last one, which before gave an error of colors, it starts loading and the ones before it have the CORS error and so until there is only one video it loads perfe

[2021-10-07 13:41] bikegriffith opened #2035 "Memory leak on iOS Mobile Safari causes crash / page reload with HLS (only when no DVR window)"
**Browser**: iOS Mobile Safari 15.0

**OS**: iOS 15.0

**Clappr Version**: 0.3.8

**Steps to reproduce**:

* Load a live HLS source that only has 3 rolling segments (no DVR)
* Observe memory growth unbounded (using Safari remote web inspector timeline view)
* After a few seconds-minutes, the browser tab will crash / reload itself (often without any message)

Did you try to reproduce this issue at

[2021-10-07 13:41] bikegriffith commented on #2035
Note that the same video plays fine if I use a simple `<video>` tag with the same HLS URL on Mobile Safari.

[2021-10-08 14:13] asheroto commented on #1966
Having an issue with Clappr detecting external subtitle on an HLS stream.  Subtitles are VTT.

**With HLS.js the subtitles work fine**, and load by default as expected, and are selectable (click the dot menu on the right and you can turn them on/off) - in this test do not skip because there is only about 5 minutes of video, but if you wait until second 20 you will see the captions load:

https://p

[2021-10-09 07:12] Niko78 commented on #1993
possible to fix this issue asap ? I'm still blocked in 0.3.13
thanks

[2021-10-09 13:53] jhonatangomes commented on #1993
Hi, @Niko78

I'm following this issue on https://github.com/clappr/clappr-level-selector-plugin/issues/99

[2021-10-12 03:41] jvsdr opened #2038 "npm is outdated!!"
Hey guys,

The npm repository is outdated! Please update to last version. Currently the last version in npm is **0.3.13** and today the last version I guess is **0.4.6*

![Screenshot_1](https://user-images.githubusercontent.com/10999602/136887488-051ed94d-453b-4be3-802a-25462855dcdb.png)
*

https://www.npmjs.com/package/clappr

[2021-10-12 11:19] kslimani commented on #2038
This is not a bug :)

This npm repository is for the 0.3 branch.

Because of the [many breaking changes](https://github.com/clappr/clappr/releases/tag/0.4.0), it was decided to put the 0.4 branch into another npm package : https://www.npmjs.com/package/@clappr/player

Please also, take a look at [readme file](https://github.com/clappr/clappr/blob/dev/README.md).

[2021-10-14 04:10] jvsdr commented on #2038
Ohh thank you for info mate! I didn't know about it 😃

[2021-10-14 04:10] #2038 closed, assigned to nobody

[2021-10-15 06:29] asheroto opened #2039 "Clappr subtitles on HLS stream not working"
Hey all, thank you for your help here.

Having an issue with Clappr detecting external subtitle on an HLS stream.  Subtitles are VTT.

**With HLS.js the subtitles work fine**, and load by default as expected, and are selectable (click the dot menu on the right and you can turn them on/off) - in this test do not skip because there is only about 5 minutes of video, but if you wait until second 20 yo

[2021-10-19 00:33] IkiaeM opened #2040 "Check the source loaded in an external js"
Is it possible to check the source that is loaded in an external I know.

I explain, I load the parameters of the player via an external javascript file. This allows me to have a source that I can chnager regularly. Except that when I change it and a user plays the video (m3u8 live stream), the basic stream crashes and the player reloads the js file and restarts the new stream.

[2021-10-21 07:19] JeppeTh commented on #1927
This seems to work as well
`player.getPlugin('poster').$playWrapper.hide()`
Or playing with css settings or similar.

[2021-10-29 14:47] Caspoor opened #2041 "Can I play an http source link on a httpS website?"
When I put http streaming source on my httpS website it gives me "mixed content" error and it works normaly on Clappr's demo. (because Clappr's demo website is a http with out the S link.

So is there a workaround to fix this issue?

[2021-10-30 22:37] IkiaeM opened #2042 "Iphone (IOS 15) not work (all browsers)"
Here is the error that the console returns when I try to launch the stream...

CONSOLE :

DOMException { line: 1, column: 175869, sourceURL: "https://cdn.jsdelivr.net/clappr/latest/clappr.min.js" }

[2021-11-04 17:40] LewisSmallwood commented on #2042
I'm also experiencing this problem  since upgrading to iOS 15.

[2021-11-21 12:06] utilsites commented on #2042
Our videos with clappr are also not working, tested with iOS 15 on IPhone 11, 10, 9 and 8.
We were not able to see errors, the video just keeps loading forever, confirmed that on iOS 15.
On IPhone 9 and 11 we were able to get the problem only after updating from iOS 14 to iOS 15, so we confirm that iOS 15 is the problem.
It is strange that the problem does not only occurs in Safari but also on Chr

[2021-11-22 10:47] LewisSmallwood commented on #2042
Similar issues have been reported on GitHub in other repositories. (e.g. [Video not displaying in iOS 15](https://github.com/ogoguel/activegs-ios/issues/15))

I have submitted a bug report to Apple, awaiting their response.

[2021-12-02 22:25] nandy-andy commented on #1986
This is because when you click "Documentation" item in the menu you'll open the docs page over https: https://clappr.github.io/ and then one of the dependencies (YUI 3.9.1) is blocked in Google Chrome because it's requested over http:
<img width="1278" alt="Screenshot 2021-12-02 at 23 24 51" src="https://user-images.githubusercontent.com/1662451/144513053-8429a4c3-1c49-437f-ad43-0194a62eee69.png">

[2021-12-04 11:16] hijuuijj commented on #2027
These examples have not worked for me. I get the same erroor:

Error code: hls:networkError_manifestParsingError

All I can do is replace the error message with the play button

`disableErrorScreen: true,`

Any other suggestion?

[2021-12-06 08:41] iamaamir commented on #2021
can we integrate this with bitmoving or any custom player/provider ?

[2021-12-06 08:42] iamaamir commented on #2021
can we integrate this with bitmoving or any custom player/provider  on TV?

[2021-12-09 01:43] pedrochamberlain commented on #2042
Sorry for the late reply.

Is the problem still happening? I accessed [Clappr's demo page](http://clappr.io/demo/) with an iPhone XR running iOS 15 and the player loaded and streamed successfully. Could you update us on that? @IkiaeM

Perhaps Apple has already fixed the issue. Did they answer you on the matter? @LewisSmallwood

[2021-12-09 01:45] #2041 closed, assigned to nobody

[2021-12-09 10:14] IkiaeM commented on #2042
I just tried the same as you and indeed on your "Demo" page it seems to work. (Iphone XR max, IOS 15.1)
But it still doesn't work for me. The console does not return any error. And my code looks like this:

[code]

This same code works perfectly on your demo site but not on my site, I don't understand why... Any idea?

[2021-12-09 10:19] kslimani commented on #2042
Be carefull @IkiaeM , on the code snippet you provided, it is not the same Clappr player version as demo page.

For latest 0.4.x player version, replace your jsDelivr script url by :

[code]

[2021-12-09 10:37] IkiaeM commented on #2042
I just changed and it still doesn't seem to be getting better... @kslimani
I used different browsers and private browsers to make sure there were no cache issues.
And according to the safary console, it doesn't even seem to try to load the video stream.. Mais le charge correctement sur la demo..

[2021-12-09 10:49] utilsites commented on #2042
The[ clappr demo page](http://clappr.io/demo/) is using a mp4 file as source.
In our case is a m3u8 file (using HLS), a big diference I think, can be because of that that it does not work on iOS 15?

[2021-12-09 10:52] IkiaeM commented on #2042
I tried with the demo and a m3u8 source and it works correctly with my code on the demo but not on my site... I really don't know what the difference is... My site is in https that's the only thing I see...

[2021-12-09 14:07] utilsites commented on #2042
Is clappr using native browser media to fetch hls our is using a wrapper lib?

[2021-12-09 20:48] kslimani commented on #2042
Clappr is internally using hls.js for m3u8 playback (for browser like Chrome or Firefox). But note that on browser like Safari, it use native html5 video for playback.

[2021-12-16 15:38] utilsites commented on #2042
Ok that difference is important, and the prob was related to that.

[2021-12-19 12:09] sktechnology opened #2046 "I have 2 version of 1 video ( low quality mp4 and high quality webm)"
I have the lastest version of Clappr and everything work fine.

I want to load the .mp4 by default, is it possible to have a  select menu option like HD bottom for loading the webm video on click ?

[2021-12-20 15:39] vaydich commented on #840
Hi, is there a way to detect it correctly?

[2021-12-21 08:33] vaydich opened #2047 "Doesn't support playback event"
Hi, i saw [this](https://github.com/clappr/clappr/issues/840) closed issue, but there is no clear answer.

Is there a way to catch event when clappr understand that «Your browser does not support the playback»?

[2021-12-21 11:28] kslimani commented on #2047
Yes, there is a simple trick.

Try this code on [Clappr demo page](http://clappr.io/demo/) :

[code]

[2021-12-21 15:19] vaydich commented on #2047
Thank you!!!

[2021-12-31 14:36] sktechnology commented on #1927
it possible to change the play logo by image ?

[2022-01-04 21:00] ricardomecca commented on #1995
Hi, every help me?

[2022-01-04 21:36] kslimani commented on #1995
Take a look at [clappr-media-control-plugin](https://github.com/joaopaulovieira/clappr-media-control-plugin) project.

[2022-01-12 06:22] abdulkadirakyildiz commented on #1774
I'm looking forward to the scrubber moving feature on mobile. Can you provide information about versioning and development?

[2022-01-13 07:10] abdulkadirakyildiz commented on #1774
Until a better solution is like this. Mouse events coming to the device can be found as touch and both can be supported in that way.
https://gist.github.com/Alex1990/d462cb9f90ed2b1a9390

[2022-01-13 13:00] #2047 closed

[2022-01-13 13:03] #1985 closed

[2022-01-14 19:39] radosslav opened #2048 "Click to Stop for Livestreams"
**What do you want to do with Clappr?**

I need click to stop functionality for HLS, m3u8 livestreams similar to click to pause for the ordinary mp4 files.

**What have you tried so far?**

I spend the last two days trying literally everything that I can - the official plugins, old repos with custom codes, and even trying to put invisible div on top of the player that play/stop onclick, but this b

[2022-01-21 11:44] Byskoven62 opened #2049 "Autostart HLS stream"
Hello.

I need a little help. Is it possible to make the player autoload / autostart when it receives a hls stream?

I have tried with this code:
    onError: function (e) {
      setTimeout (function () {player.configure (player.options);}, 15000);
    },

But I have made it so that the player disappears when there is no stream it is with this code:

onStop: function (e) {
$ (". player"). hide ()

[2022-01-22 11:36] kslimani commented on #2049
To attempt to autostart source, just add/set `autoPlay: true` in your player options of configure() method call. (onError event handler).

Also, take the time to read [autoplay section](https://github.com/clappr/clappr#play_or_pause_button-about-autoplay) in Clappr documentation.

[2022-01-26 10:52] jeazyee opened #2051 "In React @clappr/player with 360 plugin does not adjust size and goes fullscreen properly"
**What do you want to do with Clappr?**
Use it with plugin clappr-video360 as 360 degree media player as react component. The problem is, it only shows a little fragment of the video. Not the full size of the player. Fullscreen does not work either it does only cover the same little fragment.

**What have you tried so far?**
Using old package "clappr" instead of "@clappr/player" and try to fix the

[2022-01-29 00:24] Lethea opened #2052 "How can I build the latest version ?"
I want to build the clappr with changing hlsjs-playback.js
I can do it older version of clappr ( 2020 ) at that time
the hls js is under  node_modules\hls.js\dist\hls.js but for the new version even if I change the hlsjs-playback and run the build command
rollup --config
the changes is not in clappr js

how can I change this & rebuild with hlsjs-playback.js ?

[2022-02-09 13:10] renatofrota commented on #1900
[code]

You may also need to adjust the height or max-height of video element to `100vh` (adding a prepared CSS class to the video element or any of the elements within the outer element that went fullscreen, for example).

[2022-02-11 00:14] mathbarlow opened #2053 "How do I get the function / button to transmit to the smart tv from youtube?"
Good morning, several months ago, I had a button for the function of transmitting the video (HLS) to the smartv, today I can't find how to activate that button or that function, I have the chromecast plugin & airplay plugin enabled, but neither is the suitable.

I have the button to choose quality, I don't know if it interferes.

PS: It's the youtube stream button:
https://ofertasportatilesya.com/

[2022-02-21 10:28] hermify opened #2055 "[warn][Loader] missing version information for ..."
Clappr 0.4.7

After update, I get warning in Console:   **_[warn][Loader] missing version information for ...._**
for my selfwritten plugins, I wrote based on some examples on here
(https://github.com/clappr/clappr/wiki/Our-first-plugin)

Where do i have to set version information? Any tips or docs out there?

[2022-02-22 00:33] kslimani commented on #2055
Yes, you have to implement the [supportedVersion()](https://github.com/clappr/clappr-plugins/blob/master/src/plugins/poster/poster.js#L13) getter.

[2022-03-07 03:59] cristian2395 commented on #1418
Perdona, tienes alguna referencia o enlace que mencione esto, estuve buscando información sobre que el video nativo de ios no usa XMLHttpRequest.

[2022-03-08 15:28] heinhtwe opened #2056 "Play"
**What do you want to do with Clappr?**
I want to play the livestream file. I add this m3u8 link “ https://i-am-so-cool.licenses4.me/cdn/premium31/chunks.m3u8?md5=Njgc81Udw63VE0wHYJXncg&expires=1646751049” into the source as the following.

<script type="text/javascript" src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.ne

[2022-03-09 10:01] NastyPhoenix opened #2057 "using shaka with rate control"
Hello
shaka plugin works perfectly with my mpd.
Is there a way to add a speed control like the rate plugin and use it with a mpd file ?

I tried to use the two plugins together but I think it's a non-sens because without shaka the rate plugin can't work with mpd (but works fine with m3u8)

[2022-03-18 08:16] ssamjh commented on #2042
I'm having users reporting this too but since I don't have an iPhone to test it makes it hard to diagnose. I'm using m3u8 streams.

[2022-04-04 20:21] robocopz opened #2058 "Is JW Player much faster than Clappr?"
Some streams take much longer to look sharp (change the bitrate) when using Clappr.
With JW Player they look sharp almost instantly.
Is it a Clappr problem? can it be optimized in any way?
Also I can't change the audio channel either, which is a bit disappointing.

[2022-04-13 08:57] nelson777 opened #2060 "Seek doesn't work after upgrade to 0.4.7"
(Please change label to bug. I wrongly select question tag)

Seek function is broken after upgrading to v0.4.7 from version 0.3.13. I had this working for sometime in production. When I tried to update the lib seek function didn't work anymore.

I tryied with seek and seekPercentage. I always get the same error:

[code]

Did I forget something in the upgrade ? getDuration() is fine, getCurrentTime

[2022-04-13 09:06] nelson777 commented on #2060
Please change to bug. I wrongly select question tag.

[2022-04-15 03:31] anesuc opened #2061 "Play partially downloaded segments"
**What do you want to do with Clappr?**
Is there a way of playing a partially downloaded segment like we do when playing a normal mp4 file? Like if I have a 30 second segment as an example, is there a way to play that segment as the rest of it is being downloaded? Either with mpeg dash or hls. The is in relation to converting an mp4 file to either mpeg dash or hls in order to properly utilise a lo

[2022-04-16 13:07] anesuc opened #2062 "Custom headers to mp4 source"
**What do you want to do with Clappr?**
Play videos from a source that needs an aunthentication header value.

**What have you tried so far?**
I am aware t can be done with hls and such. A lot of documentation surrounding this and the player is related to that but not pure mp4 etc sources

[2022-04-19 01:46] #1988 closed

[2022-04-24 15:45] pedrochamberlain commented on #2030
Closing this issue since it has already been answered.

[2022-04-24 15:45] #2030 closed

[2022-04-24 15:47] pedrochamberlain commented on #2029
Closing this issue since the translation was fixed in https://github.com/clappr/clappr-core/pull/64

[2022-04-24 15:47] #2029 closed

[2022-04-24 21:11] pedrochamberlain commented on #2056
Hello @heinhtwem! Could you share more information regarding this issue? I fear it may be related to your CDN.

I tried loading the livestream source you shared on my machine, and I'm receiving a `403` error when a request to https://uacdn.ga/ is made by your CDN. You can check that by your browser's Network tab.

Furthermore, I did let Clappr try to load the stream for a few more minutes. It did

[2022-04-24 21:13] #2055 closed

[2022-04-24 21:15] #2049 closed

[2022-04-25 11:59] pedrochamberlain commented on #2048
Hello @radosslav!

I'm not perfectly sure if you need a button that **pauses** an HLS livestream with DVR enabled, or a button that **stops** the livestream altogether.

If the former is the case, please check the following example: I've built a [demo where Clappr loads a LIVE, DVR-enabled HLS source](http://clappr.io/demo/#dmFyIHBsYXllckVsZW1lbnQgPSBkb2N1bWVudC5nZXRFbGVtZW50QnlJZCgicGxheWVyLXdyYX

[2022-04-25 13:01] #2019 closed

[2022-04-25 13:02] #2011 closed

[2022-04-25 13:04] #2008 closed

[2022-04-25 13:04] #2017 closed

[2022-04-25 13:09] pedrochamberlain commented on #2009
I'm closing this issue due to inactivity. If needed, please feel free to reopen it.

[2022-04-25 13:09] pedrochamberlain commented on #2013
I'm closing this issue due to inactivity. If needed, please feel free to reopen it.

[2022-04-25 13:09] #2013 closed

[2022-04-25 13:10] pedrochamberlain commented on #1998
I'm closing this issue due to inactivity. If needed, please feel free to reopen it.

[2022-04-25 13:10] #1998 closed

[2022-04-25 13:11] #1986 closed

[2022-04-25 13:23] #864 closed

[2022-04-28 03:24] #1992 closed

[2022-04-28 03:24] #1971 closed

[2022-04-28 03:24] #1976 closed

[2022-04-28 03:24] #2023 closed

[2022-04-28 03:24] #2032 closed

[2022-04-28 03:24] #2034 closed

[2022-04-28 03:24] #2039 closed

[2022-04-28 03:24] #2040 closed

[2022-04-28 03:24] #2027 closed

[2022-04-28 03:24] #2021 closed

[2022-04-28 03:24] #2046 closed

[2022-04-28 03:24] #2053 closed

[2022-04-28 03:24] #2051 closed

[2022-04-28 03:24] #2052 closed

[2022-04-28 11:42] TheOngelma opened #2063 "Modify default subtitle label"
**What do you want to do with Clappr?**
I have video in .mpd form.

Inside the .mpd I have subtitle track specified;

`<AdaptationSet
      group="3"
      contentType="text"
      lang="fi"
      minBandwidth="1000"
      maxBandwidth="1000"
      mimeType="application/mp4"
      codecs="stpp">`

Clappr loads the subtitle track properly without need to for any extra configuration, but in the CC m

[2022-05-25 15:02] the-poor-gamer-124 opened #2065 "IF .TS DOES NOT Load"
So, i am looking to console log every un-loadable asset (for example in hls if a .ts doesnt log to log that in the browser)
Or, even better, send the log to a central server

[2022-06-02 17:09] hijuuijj commented on #2058
Yes I have stopped using clappr. It feels like a bit slow and outdated. Jwplayer is definitely much better in my opinion
Anyway, Clappr has been very useful to me these years

[2022-06-13 15:13] Suldeaked commented on #1983
addthis.com/js/300/addthis_widget.js#pubid=ra-62a534ff99e29ba8

[2022-06-13 22:57] asheroto commented on #1983
?

[2022-06-20 14:25] qwer130140190 opened #2066 "How to switch videos with different definition without HLS"
How to switch videos with different definition without HLS,
My video file is 1080p mp4 720p. mp4 360p. mp4

[2022-07-01 10:04] Delrichie opened #2067 "Clappr video not showing on website"
Please can someone tell me what's wrong with this code? The player is not displaying on my site

<head>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script> <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/c

[2022-07-11 09:07] oplle opened #2068 "Looking back at the live broadcast, the long -term display time"
I want to let the time always display in the lower left corner, is there a simple way?

[2022-07-11 09:10] oplle commented on #2068
https://imgur.com/Frd2Akj

[2022-08-03 01:57] nisiharayosi commented on #2067
Try removing "<!DOCTYPE html>" from the HTML of the site containing the player.
Might be a problem with the current version.

This solved it for my site.

[2022-08-09 01:22] cviewsupport opened #2070 "Does autoplay still work"
I found the answer but I could not delete this question so I edited it and removed it. Please remove it if possible. Thanks.

[2022-08-09 02:34] #2070 closed

[2022-08-19 00:32] citmusa opened #2071 "how is HLS supported in Chrome?"
based on the Readme and working demo links proves it works, but the browser itself has no support (https://caniuse.com/http-live-streaming), and again, based on the Readme file is not through an extension

[2022-08-19 17:54] kslimani commented on #2071
Internally, Clappr player use the [hls.js](https://github.com/video-dev/hls.js/) library.

[2022-08-24 20:09] nelson777 opened #2073 "How can I set a play range in Clappr"
I need a way to set a play range. Say that my video durantion is 01:45:00 minutes long. I want to make the player play only from customizable range, say from 00:07:00 till 01:35:00 (blocking 7 minutes in the start, 10 minutes in the end in this case). I want the user to be able to customize range with a control such as this:

[<img src="https://i.imgur.com/aO2P1S3.png" width="300"/>](https://i.img

[2022-08-25 13:10] nhoxhoanglk83 opened #2074 "How to disable seekbar?"
I want disable seekbar on clappr , how can i do it?

[2022-09-02 15:03] the-poor-gamer-124 commented on #2056
it is because this person is trying to use someone elses stream lol

[2022-09-09 23:28] MarioAzevedo commented on #1621
<html>
    <head>
  <title>Clappr Player</title>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
  <script type="c3da1cede2fd09c29cc9e718-text/javascript" src="https://cdn.jsdelivr.net/clappr.level-selector/latest/level-selector.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="c3da1cede2f

[2022-09-09 23:28] MarioAzevedo commented on #1621
<html>
    <head>
  <title>Clappr Player</title>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
  <script type="c3da1cede2fd09c29cc9e718-text/javascript" src="https://cdn.jsdelivr.net/clappr.level-selector/latest/level-selector.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="c3da1cede2f

[2022-09-09 23:29] MarioAzevedo commented on #1621
`<html>
    <head>
  <title>Clappr Player</title>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
  <script type="c3da1cede2fd09c29cc9e718-text/javascript" src="https://cdn.jsdelivr.net/clappr.level-selector/latest/level-selector.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="c3da1cede2

[2022-09-13 11:49] marksteven opened #2076 "Gatsby Build failure due to "window" is not available during Server-side-rendering"
**Browser**: FILL WITH YOUR BROWSER (ex: Chrome Version 46.0.2490.80, Firefox Version 3.5.6, IE 11)
Chrome - Safari - Firefox
**OS**: FILL WITH YOUR OS (ex: Mac OS 10.11.1, iOS9, android4.5)
Mac Big Sur 11.6.8
**Clappr Version**: 0.3.8
^0.3.13
**Steps to reproduce**:
Use any Gatbsy starter EG npx gatsby new gatsby-starter-hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world
* first s

[2022-09-14 12:35] thomscoder commented on #2042
Same issue on Iphone with iOS 15.5

[2022-09-16 05:37] marksteven commented on #2076
To update.
Gatsby using react-hls": "^0.0.8" instead of clappr works with no "window" error
That might give a clue to someone better than me at fixing errors

[2022-09-22 07:40] marksteven commented on #2076
Hi Leo,
Thankyou very much for getting back to me on this. It has been consuming alot of time before I realised what was going on.
I agree it is not a Clappr issue and in fact turns out to be a simple one (being the window gets called on build)
I was looking at going into the node_modules and modifying Clappr but then realised the next time project was built it would revert to the old code and fai

[2022-09-26 18:14] vdalex25 opened #2077 "use latest version hls.js"
i have m3u8 playlist witch playing in native hlsjs but doesnt play in clappr
how can i use clappr with latest version hlsjs

[2022-09-28 14:09] leaofelipe commented on #2077
@thiagopnts Nice! 👏🏻👏🏻👏🏻

[2022-09-28 14:17] argomale opened #2078 "add extra redirect links"
i wathc xnxx sometime and I wanted to ask
could you add my favorite gayporna videos like pins in github?

[2022-09-29 14:57] leaofelipe commented on #2076
Thank you for your suggestion @marksteven! I'll discuss this issue with the rest of the team.

[2022-09-29 14:57] #2076 closed

[2022-09-29 15:09] leaofelipe commented on #2073
Hi @nelson777 , unfortunately we don't have any plugin related to this play range feature, and I don't know any created by the community. But, talking about the strategy, this plugin may need a more complex solution than just using `onsSeek` events. Involving Media Control and Playbacks, for example.

[2022-09-29 15:09] #2071 closed

[2022-09-29 15:13] #2056 closed

[2022-09-29 17:24] nelson777 commented on #2073
I understand. I couldn't do it easily in Clappr so I used Video.js and rangeslider plugin.
Thanks.

[2022-09-29 17:24] #2073 closed

[2022-09-30 21:22] cviewsupport opened #2079 "HLS stream crashes iPhone 14 Pro Max"
**What do you want to do with Clappr?**
Hello, I am trying to find out if anyone else has had issues with iPhone 14.
Our hls stream using Clappr player has worked flawlessly for a long time...
But now, it crashes the iPhone 14 Pro Max.
When you click the link to view our hls stream.
The whole phone turns off.
Has anyone reported any issues like this?

**What have you tried so far?**
We have tried

[2022-10-05 19:09] monteirocamis commented on #1758
May I try this issue ?

[2022-10-10 12:35] jorbig commented on #1891
What would the script be to achieve this fallback functionality?

[2022-10-11 05:36] Vivekji98 commented on #1891
Reclaim my data

On Mon 10 Oct, 2022, 6:05 PM jorbig, ***@***.***> wrote:

[2022-10-11 10:18] jorbig commented on #1891
Care to elaborate? The error documentation is down.

[2022-10-11 12:00] soustab10 opened #2081 "Navbar should close when user clicks an option"
**Browser**: All Browsers

**OS**: Windows 10

**Clappr Version**: 0.3.8

**Steps to reproduce**:

1. Go to http://clappr.io/
2. Click on hamburger nav.
3. See error on clicking any button.

Screenshots:
![image](https://user-images.githubusercontent.com/95632583/195083809-c4a82083-19db-4684-b5d2-b65f0828db6a.png)

[2022-10-11 12:12] soustab10 opened #2082 "Design and add a Favicon to the page"
**Is your feature request related to a problem? Please describe.**
Adding a favicon to the webpage.

**Describe the solution you'd like**
I would like to design an favicon, take review from developers and then implement it the webpage.

**Screenshots:**

The present webpage looks like this, which does not look good:
![image](https://user-images.githubusercontent.com/95632583/195086401-19daef2d-9e3

[2022-10-11 18:02] kslimani commented on #1891
https://github.com/clappr/clappr#example

[2022-10-12 16:51] AyushK-101 commented on #2082
I would like to work on this

[2022-10-16 06:20] najeebkp commented on #2081
hi @soustab10  please assign this to me.

[2022-10-21 16:34] Abubakrce19 opened #2084 "Add clappr link to the clappr logo in readme.md file"
**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

**Describe the solution you'd like**
Please describe the desired behavior.

**Describe alternatives you've considered**
Please describe alternative solutions or features you have considered.

[2022-10-21 17:40] leaofelipe commented on #2084
Hi, @Abubakrce19! Can you please fill out the form correctly? 👍🏻

[2022-10-21 17:45] leaofelipe commented on #2084
Issue Associated with this PR: https://github.com/clappr/clappr/pull/2085

[2022-10-21 17:45] #2084 closed

[2022-10-21 17:48] leaofelipe commented on #2081
Hi Guys! Thank you for creating this issue.
@najeebkp feel free to send us a PR! 🎉

[2022-10-24 09:05] jorbig commented on #1891
Right now I have a simple fallback that changes the source to the backup m3u8 on error, but ideally I want Clappr to try the primary source again when an error happens while playing the backup source. In short: on error it should toggle between my two sources. How could this be achieved?

[2022-10-30 09:05] Kathuria commented on #2081
@leaofelipe : Can you please assign this issue to me?

[2022-10-31 17:37] iamsajidjaved commented on #1038
https://iamsajidjaved.blogspot.com/2022/10/http-live-streaminghls-with-vast-by.html

Fluid Player with VAST Tag Demo.
Much easier and well-documented than  videojs and clappr

[2022-11-12 23:47] calvinmorett commented on #2082
### Clappr Favicon
![image](https://user-images.githubusercontent.com/11654917/201498911-c88db6dd-b4b5-4beb-998e-fe0a312aba92.png)

**Files**:

Download
[https://wetransfer.com/downloads/134760a44518e0f00c7bf399b41191f720221112234304/37d58436304f88b599f6f83ff4d1fe3720221112234313/213993?trk=TRN_TDL_01&utm_campaign=TRN_TDL_01&utm_medium=email&utm_source=sendgrid](https://wetransfer.com/downloads/13

[2022-11-14 15:58] Abubakrce19 opened #2087 "Hacktoberfest question."
I have so far 2 merged PRs for globo in the month of october but I haven't recived any swags yet.
Please assist me.
Thank you!!

[2022-11-20 02:50] jeramiahgcoffey commented on #2081
Looks like this is no longer an issue?

[2022-11-25 00:03] leaofelipe commented on #791
Issue closed due to inactivity.

[2022-11-25 00:03] #791 closed

[2022-11-25 00:04] leaofelipe commented on #809
Issue closed due to inactivity.

[2022-11-25 00:04] #809 closed

[2022-11-25 00:04] #889 closed

[2022-11-25 00:04] leaofelipe commented on #1553
Issue closed due to inactivity.

[2022-11-25 00:04] #1553 closed

[2022-11-25 00:07] #863 closed

[2022-11-25 00:07] #997 closed

[2022-11-25 00:07] #1198 closed

[2022-11-25 00:09] leaofelipe commented on #1671
Issue closed due to inactivity.

[2022-11-25 00:09] #1671 closed

[2022-11-25 00:09] leaofelipe commented on #1656
Issue closed due to inactivity.

[2022-11-25 00:09] #1656 closed

[2022-11-25 00:10] leaofelipe commented on #1653
Issue closed due to inactivity.

[2022-11-25 00:10] #1653 closed

[2022-11-25 00:10] leaofelipe commented on #1679
Issue closed due to inactivity.

[2022-11-25 00:10] #1679 closed

[2022-11-25 00:10] leaofelipe commented on #1728
Issue closed due to inactivity.

[2022-11-25 00:10] #1728 closed

[2022-11-25 00:10] leaofelipe commented on #1758
Issue closed due to inactivity.

[2022-11-25 00:11] leaofelipe commented on #1771
Issue closed due to inactivity.

[2022-11-25 00:11] #1771 closed

[2022-11-25 00:11] leaofelipe commented on #1780
Issue closed due to inactivity.

[2022-11-25 00:11] #1780 closed

[2022-11-25 00:11] leaofelipe commented on #1812
Issue closed due to inactivity.

[2022-11-25 00:11] #1812 closed

[2022-11-25 00:12] leaofelipe commented on #1888
Issue closed due to inactivity.

[2022-11-25 00:12] #1888 closed

[2022-11-25 00:12] leaofelipe commented on #1905
Issue closed due to inactivity.

[2022-11-25 00:12] #1905 closed

[2022-11-25 00:12] leaofelipe commented on #1973
Issue closed due to inactivity.

[2022-11-25 00:12] #1973 closed

[2022-11-25 00:13] leaofelipe commented on #1974
Issue closed due to inactivity.

[2022-11-25 00:13] #1974 closed

[2022-11-25 00:13] leaofelipe commented on #1979
Issue closed due to inactivity.

[2022-11-25 00:13] #1979 closed

[2022-11-25 00:13] leaofelipe commented on #1981
Issue closed due to inactivity.

[2022-11-25 00:13] #1981 closed

[2022-11-25 00:14] #2048 closed

[2022-11-25 00:15] #2058 closed

[2022-11-25 00:16] leaofelipe commented on #2061
Issue closed due to inactivity.

[2022-11-25 00:16] #2061 closed

[2022-11-25 00:16] leaofelipe commented on #2062
Issue closed due to inactivity.

[2022-11-25 00:16] #2062 closed

[2022-11-25 00:16] leaofelipe commented on #2065
Issue closed due to inactivity.

[2022-11-25 00:16] #2065 closed

[2022-11-25 00:17] leaofelipe commented on #2066
Issue closed due to inactivity.

[2022-11-25 00:17] #2066 closed

[2022-11-25 00:17] #2067 closed

[2022-11-25 00:17] leaofelipe commented on #1861
Issue closed due to inactivity.

[2022-11-25 00:17] #1861 closed

[2022-11-25 00:18] #1876 closed

[2022-11-25 00:19] leaofelipe commented on #1983
Issue closed due to inactivity.

[2022-11-25 00:19] #1983 closed

[2022-11-25 00:19] leaofelipe commented on #1993
Issue closed due to inactivity.

[2022-11-25 00:24] #1847 closed

[2022-11-25 00:25] leaofelipe commented on #2068
issue closed due to inactivity.

[2022-11-25 00:25] #2068 closed

[2022-11-25 00:29] leaofelipe commented on #2057
issue closed due to inactivity.

[2022-11-25 00:29] #2057 closed

[2022-11-25 00:40] leaofelipe commented on #2060
Issue closed due to inactivity.

[2022-11-25 00:40] #2060 closed

[2022-11-27 13:57] mscodepl opened #2088 "Controls bug"
i added `controls: false,` code to player but controls already showing