[2015-05-28 08:12] tjenkinson commented on #468
Please can you paste the code again? For some reason it's not there for me.

[2015-05-28 09:52] irongomme opened #469 "Uncaught TypeError: Error #1009"
This error is rising up every time the player load a new hls source !

[2015-05-28 10:09] Aathi opened #470 "your browser does not support playing this video, Try to use different browser"
Hello,
I have used clappr to build a cordova  based application (cross-platform mobile applications for iOS/Android,), I am trying to play  (.m3u8) streaming video in my application. it works fine in the IOS devices and some of the android devices like Galaxy S3 (Android - jelly bean 4.3 ) but it doesn't work in S4, S5 (which has Android KitKat version), Could you please tell me how  to play the s

[2015-05-28 10:43] tjenkinson commented on #470
Do those devices play the stream fine if you open the url to the playlist file directly in the browser?

[2015-05-28 11:03] Aathi commented on #470
I have tried directly in the chrome browser (Android KitKat 4.4.2) , It is working fine in the browser  but not inside my app

[2015-05-29 01:29] towerz commented on #469
@irongomme Are you loading another source using `load` or instantiating a new player?

Does this happen on any specific browser/OS?

[2015-05-29 10:04] irongomme commented on #469
I've only tested on chrome (v43) linux

This happened on first load, and then i use load method to change the source (core.load)

[2015-05-29 21:07] wicherdt opened #471 "Strange behavior clappr-level-selector-plugin"
No autohide after select stream quality.
![screen](https://cloud.githubusercontent.com/assets/11627731/7892680/b7c0920c-0656-11e5-96fe-9a603d76eaff.png)

Another on console log:
TypeError: this.getContainer(...).playback.el.playerSmoothSetLevel is not a function
this.getContainer().playback.el.playerSmoothSetLevel(level);

Firefox 38.0.1
Clappr 0.1.4
clappr-level-selector-plugin version with Commi

[2015-05-31 21:23] tjenkinson opened #472 "Roboto.ttf is missing from dist folder in v0.1.4"

[2015-06-01 05:43] chovy opened #473 "lots of errors"
If I load the script from your cdn, I get all these errors in my app.

If I remove the line, the app works fine:

[code]

[2015-06-01 06:07] chovy commented on #473
Not sure, must be an Aurelia thing. I got it to load properly by doing this:

`jspm i -S npm:clappr` and in my viewmodel I do `import 'clappr'` and then I can use the `Clappr` object.

[2015-06-01 06:07] #473 closed

[2015-06-01 07:16] chovy opened #474 "prefetch poster with HLS?"
***1 Upvote*** On safari, the `<video>` tag will prefetch the poster of the stream. Is there anyway to get this same feature with the Clappr HLS plugin?

[2015-06-01 20:26] anthonyettinger opened #475 "gitter.im channel"
Can we add a gitter.im channel for clappr?

[2015-06-01 20:27] flavioribeiro commented on #475
+1 for the gitter channel

[2015-06-02 01:08] chovy opened #476 "getting cross domain error on hls stream"
I've loading a remote HLS stream, which works fine in VLC and native Safari `<video>` tag, but in Clappr w/ HLS plugin (chrome) I get a cross domain error. Apparently the server is recognizing it being loaded off my domain in Clappr, but not when I use the native Safari video tag.

[2015-06-02 02:47] towerz commented on #476
@chovy In order to load cross domain content using the flash plugin, it must be authorized through a `crossdomain.xml` spec file, otherwise the plugin fails to load the content. Using Safari there's no need for it, since the HLS stream is loaded directly by the browser. This behavior is correct, it's not an error.

[2015-06-02 02:50] towerz commented on #474
@chovy I'm not sure what do you mean by prefetching the poster of the stream. The poster image used by Clappr is actually provided by the poster plugin. Could you elaborate on this?

[2015-06-02 02:55] towerz commented on #467
Hi @deedos, we are analyzing how to add Dash support to Clappr, either through a plugin or built-in playback.

[2015-06-02 02:58] towerz commented on #469
@irongomme I've tested on chrome v43 on all OSes (Windows, Linux, OS X) and it worked ok. What flash version and Linux distribution are you using?

[2015-06-02 08:17] irongomme commented on #469
@towerz I have a testing environment here : http://www-pp.iwiplay.net/play/2/7

For your questions :
i'm using OpenSuSe 13.2 with Adobe Flash Player - Version : 17.0.0.188

[2015-06-02 18:43] thiagopnts commented on #475
I've been using gitter with nickel.rs, really good so far

[2015-06-02 20:37] towerz commented on #475
Sure, why not? :+1:

[2015-06-02 22:06] anthonyettinger commented on #475
one of the core team members needs to sign in and initiate the PR to add the badge. Pretty easy to do.

[2015-06-02 22:26] thiagopnts commented on #475
Done :)
https://gitter.im/clappr/clappr

[2015-06-02 22:26] #475 closed

[2015-06-02 22:47] towerz commented on #475
:beers:

[2015-06-02 22:58] towerz commented on #472
fixed on 0.1.5

[2015-06-02 22:58] #472 closed

[2015-06-03 09:09] irongomme commented on #469
I've found the break point :

This error is raised when i trigger play externaly :

[code]

Stacktrace  :

[code]

After testing with old releases, i've found this error came between release 0.1.0 and 0.1.1

[2015-06-03 09:28] irongomme commented on #469
I've compared those two releases, and it seems to be a HLSPlayer issue, because the only difference which make it happened is the replacement of flashlsChromeless by HLSPlayer !

[2015-06-03 10:21] chriswiggins opened #478 "Live switching between RTMP and HLS"
Hi Clappr team,

Really like the Clappr player and have been conducting some tests with it so far.

I have a question about whether it's possible to switch from RTMP to HLS to perform timeshifting? Currently we're delivering a 1-hour moving HLS window however this introduces significant lag when watching a live stream. Our hope is to use RTMP for live streaming and to switch back to HLS when a use

[2015-06-04 05:20] #464 closed

[2015-06-04 12:34] VladimirVSgh opened #479 "ability to disable console messages"
After start hls playback i see a lot of console messages:

INFO:HLSNetStream:close
INFO:HLSNetStream:play(-1)
INFO:HLSNetStream:seek(-1)

Is there a way to hide it? window.DEBUG = false can't help for these messages.

console.log = function () {} works, but it is not good.

[2015-06-05 18:19] thiagopnts commented on #479
AFAIK these messages are from flashls, maybe we can disable it in our fork clappr/flashls

[2015-06-06 16:18] tjenkinson opened #480 "HLS stream crashing IE 11"
I'm running version 0.1.4 and whenever I try to watch a hls stream in internet explorer 11 the browser crashes after the first few seconds. Anyone else experiencing this issue?

[2015-06-07 10:31] jrz90000 opened #481 "ie and chrome m3u8 not play video"
Hello
This a great video player, I was testing in os x the safari and ios system play correctly.
But ie11 and chrome and Andrews can not use, ts file has successfully loaded, you can help me look?
Broadcast address: http: //www.fengmu.tv/page/16

[2015-06-07 18:13] chovy commented on #481
I think your stream is invalid: http://live.qingshu.me/live/a/fengmu.m3u8

Doesn't play for me in Safari either.

[2015-06-08 18:30] konashark opened #482 "Player is not respecting the redirected URLs when loading segments"
I'm not sure I fully understand the details of this issue, but the video server experts on my team say this is causing a lot of problems and inefficiencies in the video delivery:

When the player requests the manifest file and it hits a HTTP 302, the client should remember the new location for all subsequent requests instead of hitting the base endpoint every time (which will every time result in

[2015-06-08 19:43] vrehak opened #483 "FlashHLS not working in IE10"
I tested using http://91.121.17.70/clappr.html in IE10 on Windows 7 and Windows 8. Clicking on the triangle play button does not play the video, only the following messages appear in console:
INFO:HLSNetStreamer:close
INFO:Setting audio track to 0

I don't think the problem is in FlashHLS itself, because the example with Flowplayer at http://flashls.org/flashls-0.4.1.0/examples/flowplayer/ works a

[2015-06-08 22:30] towerz commented on #482
Hi @konashark, our HLS playback uses a flash implementation based on flashls. Unfortunately, the flash code is not aware of redirects, and there's no way to detect whether a redirect occurs or obtain the final URL inside the flash player environment.

I would recommend not using redirects due to this limitation. Adobe Air and other ActionScript based environments offer this feature, but it's missi

[2015-06-08 22:33] towerz commented on #483
Hi @vrehak could you please test again using http://flashls.org/flashls-0.4.1.0/examples/chromeless/ instead? Clappr HLS implementation is based on flashls chromeless player.

[2015-06-08 23:05] towerz commented on #471
Hi @wicherdt, please try to open plugin-related issue in the plugin repository. This one has been fixed on https://github.com/clappr/clappr-level-selector-plugin/commit/2208be71d169ae9836dd2487e263fe7c8397afb7. We'll release a new version of the plugin soon.

Please let me know if it's working for you.

[2015-06-08 23:07] #479 closed

[2015-06-08 23:09] towerz commented on #479
Hi @VladimirVSgh, I just pushed a change that adds a parameter `hlsLogEnabled` to control whether these messages are shown. The default value is `true`.

We still haven't released a version with this change, but you can test using the one in `master`.

[2015-06-08 23:10] #471 closed

[2015-06-09 05:34] vrehak commented on #483
Yes, the chromeless example works in my test IE10 on Windows 8.

[2015-06-09 17:35] leandromoreira opened #484 "Expose logging capabilities"
Log object (https://github.com/clappr/clappr/blob/master/src/plugins/log/log.js) could be useful within plugins or player extensions. What do you think ? @thiagopnts @towerz @flavioribeiro

[2015-06-09 17:56] towerz commented on #484
:+1: totally agree

[2015-06-09 17:58] towerz commented on #484
I would suggest introducing some changes to the log plugin, like setting the player log level, instead of using a global variable DEBUG to set whether or not log messages are enabled.

[2015-06-09 18:04] towerz commented on #483
The main difference between both tests (Clappr Flashls vs Chromeless Flashls) is that Clappr enables hardware acceleration by default for the HLS playback. You could try and disable it for older IE versions.

Just set the parameter `useHardwareVideoDecoder` to false to disable hardware acceleration. Please let me know if this solves your problem.

[2015-06-09 18:11] towerz commented on #480
@tjenkinson Have you tried disabling hardware acceleration for HLS video decoding? Perhaps IE is not handling this correctly. Please try using the parameter `useHardwareVideoDecoder: false` when embedding the player.

[2015-06-09 18:21] towerz commented on #469
@irongomme I've tested this in your environment, and it seems to be a problem related to using both `autoPlay: true` and calling `play()` when the `playback:ready` event is triggered. Seems to be a race condition.

Try removing the call to `currentContainer.play()` on the `playback:ready` event, letting the autoPlay handle it instead. Please let me know if this works for you, since I can't test yo

[2015-06-09 19:26] tjenkinson commented on #480
Yes I tried that and it still crashes.

[2015-06-09 23:51] konashark commented on #482
Thanks for the quick reply (that somehow I missed yesterday).
I'm assuming from your answer, that the Flash portion of the player is not code that we have access to... ie: if we were to try to figure out how to enhance the code ourselves?

[2015-06-10 05:47] yisding opened #485 "Chrome doesn't play HLS with height/width set to 100%"
It gives an error 1009 (I think this is from flash?)

[2015-06-10 05:57] yisding opened #486 "Clappr HLS crashes Internet Explorer 11"
I can crash internet explorer 11 very consistently right after clicking the play button (or when it starts playing in autoplay). It looks like some kind of race condition because when I was running everything unminified (so super slow) it didn't show up, and if I use the unminified version of clappr it only crashes 2/3rds of the time.

[2015-06-10 07:37] stanogurnik opened #487 "Enabling to install Clappr via bower & accessing source code in node package"
Hi guys,

When trying to install Clappr with bower, installation crash on lodash package which is node module and cant be installed by bower. But in other hand you can install Clappr as node module but all the source code (gulp build task, /src etc.) is npmingored but `/dist` is accessible.

Shouldn't it be installable with bower (meaning excluding all node packages from dependencies) and accessin

[2015-06-10 17:31] tjenkinson commented on #486
This sounds like the same as what's happening for me.
https://github.com/clappr/clappr/issues/480

[2015-06-10 22:25] towerz commented on #482
No, the flash portion of the player is code we can change. Unfortunately the URLLoader api is restricted in the flash plugin environment.

Before replying I tried to enhance our HLS implementation listening to a response status event when requesting the main playlist. In the browser flash plugin, the event never occurs. Checking the documentation I discovered the event is only available in desktop

[2015-06-11 01:09] konashark commented on #482
Thanks for looking into this. Is the bottom line that this would be tricky, or that it would be pretty much impossible? Wondering if I should sic one of my hacker colleagues on it, or not to bother.

[2015-06-11 01:55] towerz commented on #482
I believe this would be impossible due to the nature of the flash plugin. Perhaps your hacker colleagues could take a look at it, but I wouldn't reccomend implementing a hack to support redirects. In this case I keep my recommendation to avoid redirects whenever possible.

[2015-06-11 22:22] jfairley opened #488 "Detecting Live vs VOD mode"
I'm building custom controls for my player, and I want to implement my own "back to live" button. My stream may be Live or VOD, so I need to detect the playback type at runtime.

With some digging, I've found a way to get this information, but it's buried pretty deeply in the player. (see code snippet)

[code]

Is there a better way to detect playback type?

[2015-06-12 16:51] yisding commented on #486
Yep! The same thing. sorry I didn't see it in the search.

[2015-06-12 16:51] #486 closed

[2015-06-12 16:52] yisding commented on #480
I'm getting the same problem in IE11. This is on Windows 7.

[2015-06-15 01:40] chovy commented on #479
How do I use this flag?

[2015-06-15 09:44] stanogurnik commented on #483
We were able to start HLS stream on IE10 when  `useHardwareVideoDecoder` is set to false. Thank you

[2015-06-16 20:11] towerz commented on #479
@chovy Just add `hlsLogEnabled: false` to embed parameters:
[code]

[2015-06-17 11:32] shaharmor opened #492 "Missing name attribute on embed."
Hi,

On firefox, the ExternalInferace.ObjectID used in flashls is using the name attribute instead of the id attribute of the object, but in clappr the name attribute is not set and thus causing the returned instanceId to be null.

You need to add the same string you are using for the `<embed>` id also to the name attribute.

Specifically in this file:
https://github.com/clappr/clappr/blob/master/

[2015-06-18 12:02] VladimirVSgh commented on #480
I have often the same problem (IE 11, Win 8.1, stream: http://btv-i.akamaihd.net/hls/live/202760/btvusa_ios/P1/M24K.m3u8). Crash after playing event. useHardwareVideoDecoder: false don't help.

But http://www.flashls.org/latest/examples/chromeless/ works with this stream without any problems.

[2015-06-18 15:46] dinhkhaihtc opened #494 "player not do working with crossdomain.xml"
I had custom crossdomain.xml file but player remains inactive

site-control permitted-cross-domain-policie=all
allow-access-from domain="*.mydomain.com" secure="false"
allow-http-request-headers-from domain="*.mydomain.com" headers="*" secure="false"

div id="player"
 script
    var player = new Clappr.Player({source: "http://mydomain.com/demo/playlist.m3u8", parentId: "#player"});
  script

[2015-06-19 11:53] VladimirVSgh opened #495 "IE11 crashes with mp4"
IE 11 crashes with Clappr often. This problem is actual not only for HLS streams, but for mp4 files too (http://clips.vorwaerts-gmbh.de/VfE_html5.mp4). Standard video tag works without any problems.

IE11 crashes after start of playing in 0.5 sec. If IE don't crash at startup, it works OK later.
Before crash Debug shows:
playback:bufferfull html5_video
container:state:bufferfull Container
containe

[2015-06-24 15:04] #492 closed

[2015-06-25 07:36] stanogurnik commented on #495
I must confirm this behaviour, we were playing with clappr recently trying to fix this issue with IE (all versions).  Funny thing about this is that it crashes IE only for first time, after refresh it works almost beautifully. Because of crash of ie is almost impossible to find spot where it crashes , but we were able ti identifiy it crashes after Events.PLAYBACK_READY is fired from playback. When

[2015-06-25 13:27] chsergey commented on #480
Same problem. Error at line
this.el.playerSetflushLiveURLCache(this.flushLiveURLCache);

el not supported method

any cases?

[2015-06-25 13:29] chsergey commented on #494
try to set param
 baseUrl: 'your_base_url' + path_to_clapper_assets

[2015-06-29 19:01] josephharding commented on #411
hey all, great experience with the player so far - I've got a question along the same lines for playback - if I want to know when my HLS stream has completed loading metadata, how can I listen for that event?

I've tried something like this, but with no luck:

player.on(Clappr.Events.PLAYBACK_LOADEDMETADATA, function() { console.log("metadata loaded"); });

Thanks!

[2015-07-02 12:32] #487 closed

[2015-07-03 08:34] iongion opened #497 "Plugin architecture help"
first: **clappr is awesome !!!**

Now, is there a formal documentation on how to build plugins ?
- in my architecture, videos are provided by url hashes `#vabcd1000-m4` - and I have a convention for this hash that decodes it to an url and becomes: http://my.video-vabc.com/users/1000/video.mp4
- another situation is with custom video playlists - my playlists are yaml based - how can I build a plugi

[2015-07-05 11:32] tarkanlar commented on #488
I was planning to write a plugin for this. is there any progress on this?

[2015-07-05 23:47] towerz commented on #480
Hi guys, this one was really tricky, but I think I found out the actual cause of the problem. I kept investigating whether it was related to our flashls implementation, but in fact it was the dvr controls plugin `render` call that caused the crash.

I had to do a little refactoring but I think it works ok right now. Could you please test whether this solution works out for you?

[2015-07-05 23:54] towerz commented on #483
I think we can close the issue right now. I just pushed a change to make `useHardwareVideoDecoder` default value to be `false`.

[2015-07-05 23:54] #483 closed

[2015-07-06 00:15] towerz commented on #485
@yisding The error code 1009 is from flash, and means that a null object has been referenced. Looking further into the issue it seems like you set width/height to 100% but the parent element have an undefined size, like zero width or height.

If you set the size of the player parent element, setting 100% to either width or height (or both) will work correctly.

[2015-07-06 00:16] yisding commented on #485
Thanks Bruno! I'll give that a try.

On Sun, Jul 5, 2015 at 5:15 PM, Bruno Torres <notifications@github.com>
wrote:

[2015-07-06 00:27] towerz commented on #485
I made a small change to the [Clappr test page](http://cdn.clappr.io) to allow testing with percent values. You can test there if you want.

[2015-07-06 00:37] towerz commented on #488
@jfairley I just pushed some small changes to the core object to allow getting the current container and checking the playback type:
[code]

I think this will help you to avoid going too deep to find out whether you are playing live/vod content.

Please let me know if you have any progress in this or if you have any doubts.

[2015-07-06 00:40] #476 closed

[2015-07-06 03:27] towerz commented on #497
Thanks @iongion! We are still lacking most of the documentation, due to our reduced team, but there's some work in progress in that direction. I believe we will have the documentation/tutorials/blog pretty soon.

I'll try to answer your questions and maybe shed some light with how you could create plugins that can solve your problem.

We use Clappr as the base of our player at globo.com, and face

[2015-07-06 03:35] towerz commented on #497
Just to add a bit more code, here's a sample for a custom playback proxy supporting a hash like the one you mentioned:
[code]

[2015-07-06 03:39] towerz commented on #497
And here's a sample for a mixed playback/core plugin solution for implementing a playlist:
[code]
As I mentioned before, you just need to add those to the plugin list when instantiating the player:
[code]

[2015-07-06 03:39] towerz commented on #497
Perhaps your implementation will be a bit more complicated than this, but I think it's a good start.

Please let me know if you have further questions.

[2015-07-06 03:48] towerz commented on #495
@VladimirVSgh @stanogurnik could you please test whether the change in 83740f32d057b88bb3eeefa8e1d9fe78b05ae6ea fixed this behavior? I could not reproduce this behavior with MP4 files, but I believe the crash with HLS streams doesn't occur anymore after this fix.

[2015-07-06 03:50] towerz commented on #494
@dinhkhaihtc Are you loading Clappr from your own domain? If so, you should configure the `baseUrl` parameter as @chsergey mentioned. If not, please let me know how your setup works and what errors messages are displayed.

[2015-07-06 03:51] towerz commented on #482
Closing this issue, since we can't fix this behavior.

[2015-07-06 03:51] #482 closed

[2015-07-06 03:52] towerz commented on #481
Closing issue for inactivity.

[2015-07-06 03:52] #481 closed

[2015-07-06 04:00] towerz commented on #478
@chriswiggins It's possible, but since you need to switch between two different types of playback and tricking the media control that it's possible to seek back on the live stream, you should create a playback proxy.

Just create a playback that informs the 1-hour window for seeking back, but keeps showing the RTMP playback for the live stream. When the user seeks back, you just need to swap from

[2015-07-06 04:01] towerz commented on #425
Closing this issue, seems to be a problem related to a specific stream.

[2015-07-06 04:01] #425 closed

[2015-07-06 04:02] towerz commented on #468
Closing this issue due to inactivity. Please reopen if there's any problem.

[2015-07-06 04:02] #468 closed

[2015-07-06 04:05] #452 closed

[2015-07-06 04:05] #433 closed

[2015-07-06 04:06] #399 closed

[2015-07-06 04:07] #443 closed

[2015-07-06 05:23] chriswiggins commented on #478
Hey @towerz , I've already started heavy development on this and initial results are good. Take a look at https://github.com/securogroup/clappr-rtmp-hls and let me know what you think. I'm also making a fair few changes to the RTMP plugin to support changing scaling mode, amongst a few other things so expect a few pull requests against that :-)

Are you normally available on Gitter? I'm signed in

[2015-07-06 05:29] chriswiggins commented on #474
I think what he means is that Safari generally loads the latest .ts file and decodes it, providing a "thumbnail" of the video at its current state. Surely there's a way to do this but it might be about playing the HLS player and then pausing it as soon as the first frame is displayed. Otherwise maybe theres an option in Flashls?

[2015-07-06 07:20] chovy commented on #474
yes, that's exactly what I mean. Its a nice UX to have the poster instead of a made up banner or nothing.

[2015-07-06 18:12] jfairley commented on #488
That is a much nicer call. Thanks.

I bundle the clappr player from npm. Any idea when this will go into a release?

[2015-07-06 18:56] towerz commented on #488
I think we'll release a new version by tomorrow, just need to make a few more adjustments

[2015-07-06 19:03] jfairley commented on #488
:+1:

[2015-07-06 19:39] tjenkinson commented on #480
I can confirm that this fixes the issue for our stream. Weird bug.

Thanks!

[2015-07-06 21:05] chriswiggins commented on #478
I'm going to close this, and hopefully see you guys over in securogroup/clappr-rtmp-hls :-)

[2015-07-06 21:05] #478 closed

[2015-07-07 05:03] chriswiggins opened #498 ""Stretching" HLS video"
Guys,

Looking through Clappr source it isn't obvious what Flashls source is being used for Clappr. I'd like to add support to stretch, letterbox and zoom the video playing though HLS but I can't seem to find where I can modify this to make it happen!

Let me know and I'll make a PR.

Thanks
Chris

[2015-07-07 20:44] towerz commented on #498
@chriswiggins We use our own fork of flashls (https://github.com/clappr/flashls). We keep the `dev` branch synced with the original flashls and use our custom player classes in the `clappr` branch.

There's a separate build script, called `build_clappr.sh` used for creating the HLSPlayer.swf used on the hls playback.

If you have any further questions please let me know.

[2015-07-07 20:46] towerz commented on #480
Thanks @tjenkinson, I'll close this issue then.

[2015-07-07 20:46] #480 closed

[2015-07-07 21:04] towerz commented on #488
Just released a new version (0.1.6) with these changes. Please let me know if you have any questions.

[2015-07-07 21:04] #488 closed

[2015-07-07 21:06] towerz commented on #485
Closing issue. Please reopen if there are further questions.

[2015-07-07 21:06] #485 closed

[2015-07-07 21:09] towerz commented on #478
I'm not usually online on Gitter, but I'll try to sign in and try to help you with any questions.

[2015-07-07 21:10] chriswiggins commented on #498
Brilliant thanks. If I have any issues modifying it, I'll comment over there.

[2015-07-07 21:10] #498 closed

[2015-07-09 20:38] tjenkinson opened #499 "Roboto.ttf is missing from dist folder in v0.1.6"
It's missing again! https://github.com/clappr/clappr/tree/594a0bb641601e0a0575c1f28d937f72b87b2e17/dist/assets

The strange thing is I've looked through the previous releases and can't see it there either, even though I thought you fixed it in https://github.com/clappr/clappr/issues/472

[2015-07-12 22:13] towerz commented on #499
@tjenkinson I think there was a misunderstanding. I thought the missing Roboto.ttf was related to the npm package and the CDN version. I didn't notice it was missing in the git repo as well.

[2015-07-12 22:14] #499 closed

[2015-07-12 22:51] towerz commented on #499
Just released 0.1.7 with the missing font file.

[2015-07-12 22:56] towerz commented on #270
Added basic Chromecast support on 0.1.7. Additional functionality and improvements will be added over time.

Perhaps extracting the plugin to a separate project will be better to keep improving without depending on new Clappr releases.

[2015-07-13 02:57] barbosa commented on #270
Yay! :beers:

[2015-07-13 19:26] tjenkinson commented on #499
Sorry I thought I checked but obviously I didn't.

[2015-07-14 01:01] towerz commented on #499
No problem, you were right. The dist folder on repo should have this file.

[2015-07-14 09:27] luhaiyong opened #500 "can not play m3u8 file"
hi ,
i use IE11 ,my test code is

  <script type="text/javascript" src="http://cdn.clappr.io/latest/clappr.min.js"></script>

    var player = new Clappr.Player({source: "output.ts", parentId: "#player"});

output.ts : is my test file,
when the player source is mp4, that broswer can play !
but i change to TS ,or m3u8 ,it is failed
and the test file m3u8 can be played in VLC player in my pc!

plz h

[2015-07-14 12:24] josephharding opened #501 "Listening for Metadata loaded event"
If I want to know when my HLS stream has completed loading metadata, how can I listen for that event?

I've tried something like this, but with no luck:

`player.on(Clappr.Events.PLAYBACK_LOADEDMETADATA, function() { console.log("metadata loaded"); });`

Thanks!

[2015-07-14 15:41] flavioribeiro commented on #500
hey @luhaiyong first of all you need to point clappr to the correct manifest file (m3u8) instead of the ts itself. Can you send us your HLS source url?

[2015-07-14 15:43] flavioribeiro commented on #501
hey @josephharding just for curiosity, what do u mean by metadata? Since clappr uses [flashls](flashls.org) for HLS playback, I'm pretty sure it should already support (or support soon when the guys update the swf) all events described [here](https://github.com/mangui/flashls/blob/dev/API.md).

[2015-07-14 17:13] #484 closed

[2015-07-14 17:13] leandromoreira commented on #484
@towerz can you see if it's okay with your idea?

[2015-07-14 18:05] josephharding commented on #501
@flavioribeiro - thanks for responding so quickly!

Specifically I'm looking for the loading event at which the duration of the video would be available.

In the HTML5 video player you can listen for that event like this:

`videoElement.addEventListener("loadedmetadata", this.onLoadedMetaData.bind(this, videoElement));`

at which point `videoElement.duration` is populated.

Looking through the Cla

[2015-07-14 18:30] thiagopnts commented on #484
We could also not require it when building for production

[2015-07-14 19:31] towerz commented on #484
@leandromoreira cool, that's exactly what I suggested.

@thiagopnts what do you mean by not requiring it when building for production? Not having any log messages shown or not having the log plugin available? We opted for making the default log level only have WARN or ERROR messages.

[2015-07-14 19:34] thiagopnts commented on #484
not having the plugin in the bundle

[2015-07-15 02:48] luhaiyong commented on #500
hey ,flavoribeiro.
may test code
var player = new Clappr.Player({source: "http://live.3gv.ifeng.com/live/hongkong.m3u8", parentId: "#player"});

http://live.3gv.ifeng.com/live/hongkong.m3u8 .i use VLC player,that can play.

i use IE 11 ,can not play show noting,then i use firefox ,it shows"your browser does not support rhe playback of this vedio,try to use a different browser"

plz help test ,if u

[2015-07-15 14:27] flavioribeiro commented on #500
could you upload a `crossdomain.xml` file on `http://live.3gv.ifeng.com/crossdomain.xml` with the content below?

[code]

[2015-07-15 16:00] thiagopnts commented on #449
I have a lot of ideas about this, I started to experiment some things, will probably have a PoC on a branch soon

[2015-07-16 10:07] luhaiyong commented on #500
hey ,flavioribeiro.
i build a local nginx server .
i push my m3u8 file and ts file in the folder: /usr/local/nginx/html/app
and do as u said add a crossdomain,xml in the floder /usr/local/nginx/html/
the code in crossdomain,xml is the same as above.

then i test again ,failed again ,show noting ! vlc player  also can play!
plz help me !
thanks very much!

[2015-07-16 19:23] slhck opened #502 "Quality Level Switching with HLS"
This is basically a feature request to add a quality switcher similar to what YouTube has (or what [GrindPlayer](https://github.com/kutu/GrindPlayer) offers).

It'd be placed where the "HD" logo is, and allow the user to manually switch between streams, offering options labeled like "240p", "480p", etc. depending on the available streams.
For HLS, this can be achieved with the `playerSetCurrentLev

[2015-07-16 19:26] slhck commented on #502
Apologies, I just noticed that there is already a plugin for that:

https://github.com/clappr/clappr-level-selector-plugin

[2015-07-16 19:26] #502 closed

[2015-07-19 23:28] deedos commented on #270
Hi. great feature! congrats!
how to call it ? I tried enableChromecast: true, but nothing happens
abraços

[2015-07-20 00:57] towerz commented on #270
Thanks @deedos!

The Chromecast integration works only in the following conditions, in addition to setting `enableChromecast: true`:
- You are using the Chrome browser with the Chromecast extension
- The computer is in the same network as the Chromecast device.
- The receiver app you are trying to access is published.

The sample Clappr Chromecast receiver is used when you don't set `chromecastApp

[2015-07-21 21:14] towerz commented on #501
@josephharding We've just released a new version (0.1.7) with this event implemented in the HLS playback. It's not exposed directly by the player, but you can use the container event:
[code]
Please let me know if this will work for you.

[2015-07-22 13:03] slhck opened #503 "Cannot play M3U8 file ("No TS fragments found")"
Using the latest version, I'm trying to play an M3U8 file, the files being served from `python -m SimpleHTTPServer`.

I get this error:

[code]

The player is set up with:

[code]

The M3U8 file exists, so do the TS segments:

[code]

This happens on Windows 7 in Chrome (Version 44.0.2403.89 m), but not on Mac OS X.

[2015-07-22 15:12] kwarismian commented on #450
I have added a bug report to Chromium bug tracker to at least attempt to get Chrome to address this issue.

If you have a moment please go by and star the issue.

[2015-07-22 16:30] tjenkinson commented on #450
What's the link to the report?

[2015-07-22 16:30] kwarismian commented on #450
https://code.google.com/p/chromium/issues/detail?id=512828&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Cr%20Status%20Owner%20Summary%20OS%20Modified

[2015-07-22 16:40] flavioribeiro commented on #450
jfyi, there's also [some](https://github.com/mangui/flashls/issues?utf8=%E2%9C%93&q=hardware+acceleration) issues on flashls project itself related to hardware acceleration problems

[2015-07-22 17:26] kwarismian commented on #450
Those issues are primarily reporting the same problem as my bug report, so that's nice.

Example:
https://github.com/mangui/flashls/issues/126

[2015-07-22 21:56] josephharding commented on #501
@towerz - just tried it out, works perfectly, thanks!

[2015-07-22 21:56] #501 closed

[2015-07-24 01:33] leandromoreira commented on #503
@slhck how are you generating this hls? So we can try to replicate this behavior.
Can you try to serve this files from a nginx? (with proper `mime-type`)

[code]

[2015-07-24 07:31] slhck commented on #503
I'm using [these scripts](https://bitbucket.org/walterebert/ffmpeg-hls/src) to generate the .TS files. (I just changed the resolution/bitrate, I think).

Let me try with nginx later, but I'm wondering how that could have an effect, since it works on OS X with the plain `SimpleHTTPServer` from Python.

[2015-07-24 13:58] leandromoreira commented on #503
Thanks @slhck !
I also don't know, it was just a guess, I think maybe windows and macos works different with flash requiring proper header (mime-type). In the end it might be a problem with flash hls implementation.

[2015-07-24 14:33] darcyzagonel commented on #453
[code]
Worked for me.

[2015-07-24 17:17] leandromoreira commented on #115
We may use something similar to this http://leandromoreira.github.io/clappr-docs/classes/Player.html#method_constructor

[2015-07-24 19:48] flavioribeiro commented on #500
I still can't see the crossdomain on http://live.3gv.ifeng.com/crossdomain.xml

[2015-07-26 17:22] janus007 commented on #473
I experience the same as chovy :)

[2015-07-26 19:40] #449 closed

[2015-07-27 21:55] tjenkinson commented on #453
Just looking and see you're moving over to webpack https://github.com/clappr/clappr/pull/504 :)

Any plans to use the `output.library` and `output.libraryTarget` options? http://webpack.github.io/docs/library-and-externals.html

I'm using webpack for another project and if the library target was set to "umd" then in theory clappr would work nicely with requirejs, as well as other module systems ou

[2015-07-27 22:44] thiagopnts commented on #453
@tjenkinson yeah, that is the plan :)
where still cleaning things up, but we're going to have this working soon

[2015-07-28 07:05] tjenkinson commented on #453
Awesome! :+1:

I ran a build with web pack last night with your current config and it looked like it worked :)

[2015-07-29 04:53] tokenian opened #506 "can't support #EXT-X-PROGRAM-DATE-TIME"
when hls m3u8 has #EXT-X-PROGRAM-DATE-TIME, clappr not work.
but we cut off the #EXT-X-PROGRAM-DATE-TIME, it works
environment: pc firefox 39.0 or chrome 37

[2015-07-30 09:36] devin87 opened #508 "How to reload M3U8 when TS file status 404 ?"
If the TS file status 404,clappr always retry to load the TS file ,how can I listen the error Event? or clappr how to reload M3U8 after error.
[code]

I've tried something like this, but not work:
[code]

clappr:0.18

[2015-07-30 20:26] gofdias opened #509 "Darkening thumbnails, enhancing contrast"
RC version still is too soft. We need boldness.

[2015-07-30 20:26] gofdias commented on #509
![screen shot 2015-07-30 at 4 56 26 pm](https://cloud.githubusercontent.com/assets/12396236/8994175/211c3f58-36e0-11e5-8ed8-dbe09eedaaab.png)
![screen shot 2015-07-30 at 4 56 37 pm](https://cloud.githubusercontent.com/assets/12396236/8994174/211b4b2a-36e0-11e5-96f0-941809ae0132.png)
![screen shot 2015-07-30 at 4 56 51 pm](https://cloud.githubusercontent.com/assets/12396236/8994176/211d5924-36e0-11

[2015-07-30 20:27] #509 closed

[2015-07-30 20:28] gofdias opened #510 "Simultaneous access error"
Player 3 version of the error screen in 1920x1080.

[2015-07-30 20:30] gofdias commented on #510
![1920_1080_situacoes_de_erro-acesso_simultaneo_cinza](https://cloud.githubusercontent.com/assets/12396236/8994261/a6d1bdda-36e0-11e5-8ede-b38f54e43441.jpg)

[2015-07-30 20:30] #510 closed

[2015-07-31 22:40] ferval commented on #328
Hi I'm trying to use clappr with ionic but on my Nexus 4 is not working. When I run the app in the desktop browser I don't have any problem. Any idea about what I should try?

[2015-07-31 23:17] tjenkinson commented on #328
If you go to the page with the player, then go to "about:debug" in the address bar with any luck it might bring up a console.

If it does refresh the page and see if any errors get logged.

[2015-07-31 23:29] ferval commented on #328
The problem is that i'm using an apk version. So I'm not able to do that.
Any other hint/advice?

*Fernando Valentini*
diretor
(34) 8852-5821 <03488525821>
fernando@enesolucoes.com.br

Esta mensagem, incluindo seus anexos, pode conter informações confidenciais
e/ou privilegiadas. Se você não for a pessoa autorizada a receber esta
mensagem, não pode usar, copiar ou divulgar as informações nela cont

[2015-08-01 13:02] tjenkinson opened #511 "Does clappr parse url params for [something]=XmYs and jump to it?"
Just discovered that in the new microsoft edge browser, if I add ?xyz=5m10s in the url, when the video on the page (hls event stream) plays it jumps to that start time. This does not happen in chrome, in which flash is used.

In microsoft edge it supports hls natively and is using the video tag.

So is microsoft edge trying to be smart, which I would prefer it wasn't, or is this a clappr feature?

[2015-08-01 13:23] tjenkinson commented on #511
So just messing around and if there are 2 times in the url edge appears to add them together
https://www.la1tv.co.uk/player/111/334?xyz=5m10s&abc=1m15s

That starts at 6 minutes 25 seconds. This seems ridiculous to me!

[2015-08-01 16:37] jayrmotta opened #512 "Multiple streams in different definition level"
How can I do something like globo.com's clappr instance which has a video definition selector?

![image](https://cloud.githubusercontent.com/assets/349948/9022597/06551e24-3852-11e5-9c1e-8885209340e1.png)

The documentation mentions this [level selector plugin](https://github.com/clappr/clappr-level-selector-plugin) but it's quite different from globo.com's instance. Yet, it has almost no document

[2015-08-01 16:40] towerz commented on #511
@tjenkinson It's not a Clappr feature, it seems to be an issue with Microsoft Edge implementation.

If you try using that on other browsers, these parameters will just be ignored and everything will work correctly.

[2015-08-01 16:48] tjenkinson commented on #511
Ok I have no idea why they decided that would be a good idea. Not sure if it's just when the autoplay attribute is set or if they will always jump.

[2015-08-01 16:48] #511 closed

[2015-08-01 16:51] tjenkinson commented on #511
Had a quick google for documentation of their implementation but couldn't find anything that explains this.

The html5 video spec doesn't explicitly say autoplay should mean start from 0 but I'd have thought that would be assumed.

[2015-08-01 17:37] towerz commented on #511
Usually, the autoplay starts from 0. It should start from another position only if you embed the video tag and set the current time to another value before playing the content.

This seems to be just a weird idea they implemented on their new browser.

[2015-08-01 17:45] towerz commented on #512
@jayrmotta The quality selector on globo.com applies only to the progressive download delivery. It's not related to the [level selector plugin](http://github.com/clappr/clappr-level-selector-plugin), which reads the multiple qualities available on a HLS stream and lets you set a fixed quality to be streamed.

Since the globo.com implementation is used for changing the source URL for the video, it'

[2015-08-01 18:10] towerz commented on #512
I don't think there's a HTML5 player implementation that is ready for this, but I don't think you'll have any issues implementing a plugin for that using Clappr.

[2015-08-02 04:28] jayrmotta commented on #512
@towerz Thanks for the quick answer!

I'm not a video specialist but I imagine that I'd have to work in a lower level while streaming multiple sources and keeping the video playing from the place the last source has stopped. Also, it would be nice to have a mechanism to increase or decrease definition automatically in order to avoid buffers.

Do you have any thoughts on that?

[2015-08-02 20:06] towerz commented on #512
@jayrmotta About playback from multiple sources, you are correct. You need to synchronize the sources manually, waiting for the metadata from the new source to be ready and then seeking to the last position the previous source was playing. You'll need to implement a few tricks to keep both sources sync'ed correctly, but basically you just need to do that.

About automatically increasing/decreasing

[2015-08-02 20:09] towerz commented on #508
@devin87 Currently, Clappr only report HLS errors that are critical, when the playback fails. These retries are automatic, the player keeps trying to load a given TS file until a limit is reached, then it stops and triggers an error event.

If it's not doing that correctly, please let me know. Perhaps there's a bug in that.

[2015-08-02 20:12] towerz commented on #506
@tokenian Could you please elaborate on that?

What kind of source are you trying to load? Do you have any sample streams we can use to reproduce this error?

[2015-08-03 02:52] devin87 commented on #508
@towerz Thanks. Here is the console log.
[code]

1. I do not know how to catch the exception in player (some events seems not trigger)?
2. HLS has timeout configuration for load the m3u8 or TS file?

[2015-08-03 14:46] gofdias opened #513 "“Update Your Browser” Error"
Presenting a message for those whose browsers are old.

[2015-08-03 14:48] gofdias opened #514 "Right-Click Menu"
Synching visuals.

[2015-08-03 18:19] gofdias commented on #513
![situacoes_de_erro-browser_antigo](https://cloud.githubusercontent.com/assets/12396236/9044429/f6fe00a6-39f2-11e5-84a4-a7f010fe0a03.png)

[2015-08-03 18:20] gofdias commented on #513
![situacoes_de_erro-browser_antigo](https://cloud.githubusercontent.com/assets/12396236/9044451/215395a0-39f3-11e5-84bc-ab90a1d9dd41.jpg)

[2015-08-03 19:01] gofdias commented on #514
![1-menu](https://cloud.githubusercontent.com/assets/12396236/9045244/37dc09ce-39f8-11e5-8cf4-c76dff2f7817.jpg)

![2-menu](https://cloud.githubusercontent.com/assets/12396236/9045355/f062a1ce-39f8-11e5-844f-93e1b6cfd7e9.jpg)

[2015-08-03 19:03] thiagopnts commented on #513
wrong repo? :P

[2015-08-03 19:05] flavioribeiro commented on #513
awesome error screen, btw :+1:

[2015-08-03 19:06] #514 closed

[2015-08-03 19:07] #513 closed

[2015-08-03 19:12] towerz commented on #513
:+1:

[2015-08-03 19:17] gofdias commented on #513
Sorry, boys. Thanks, @flavioribeiro!

[2015-08-04 08:23] kingjedidiah opened #515 "not working help!!!"
error in rtmp of clappr in the scrit...
helppppppp

![screenshot 19](https://cloud.githubusercontent.com/assets/13598741/9056345/ee785e26-3a3e-11e5-84a8-c5e7d0d5a2b2.png)

[2015-08-04 21:20] whadar commented on #474
+1

That would be cool and very useful for live. Did anyone see something like that in Javascript?

[2015-08-06 05:23] thiagopnts commented on #515
Can you share your source? Also I'm not sure if you can play a stream from a `file://`

[2015-08-11 14:45] tarkanlar opened #517 "New version of Clappr is not working with RTMP plugin"
I got this error with the latest version of Clappr. Older version working properly
[code]

[2015-08-11 14:48] flavioribeiro commented on #517
hey @tarkanlar can you open this issue directly on plugin's repo? [https://github.com/clappr/clappr-rtmp-plugin](https://github.com/clappr/clappr-rtmp-plugin)

[2015-08-11 14:48] #517 closed

[2015-08-12 16:31] konashark opened #518 "Broken dependency on CDN breaks our application"
As of today, our app has stopped running and issues the error:
GET http://cdn.clappr.io/latest/assets/HLSPlayer.swf?inline=1

We did not realize that even if we use a controlled, local version of Clappr that it still reaches out and depends on external servers and files. This is not good.

We are using version 0.1.1 - I will try to update to the latest and see if that dependency is no longer there

[2015-08-12 16:38] konashark commented on #518
I'm closing this because I just upgraded to 0.2.1 and the dependency issue is no longer present. The upgrade was painless and appears to require no changes. Hopefully, this report might help others if they have the same problem.

[2015-08-12 16:38] #518 closed

[2015-08-12 18:26] lkkadiri opened #519 "Player does not initialize as it fails to load a dependency that seems to have been taken off"
GET http://cdn.clappr.io/latest/assets/HLSPlayer.swf?inline=1 request fails even with a specified version of clappr(0.1.7) is being used. Tried upgrading to '0.2.1' and the player does not initialize anymore. Is there any documentation on breaking changes? This affects all our environments. We are currently specifying clappr in our node application and requiring clappr.

[2015-08-12 19:03] konashark commented on #519
I entered a similar issue earlier today, but I found moving to 0.2.1 fixed the issue and worked without changes (my previous version was 0.1.1) and got rid of the dependency, so I closed the issue. Did you clear your browser cache after changing versions?

[2015-08-12 19:14] lkkadiri commented on #519
@konashark I have tried clearing my cache and it does not seem to work and i tried building the latest master locally to only find out the bin/hook.js is no more included in the project and the build seems to fail.

[2015-08-12 19:22] konashark commented on #519
Oh? I never build anything, I just copy the .js files out of 'dist' and drop them into my project. (BTW: I do not represent Clappr in any way, just trying to help since I had the same problem this morning and I was lucky that the update worked out of the box for us.) Good luck!

[2015-08-12 19:48] lkkadiri commented on #519
@konashark Thanks for the suggestions, still no luck for us here. I was trying to build as a last resort but i can only build the stable version which still uses that cdn dependency for the hls swf file.

[2015-08-12 21:00] thiagopnts commented on #519
@lkkadiri yes, we changed the way we build the player, I'll update update the README with the right instructions, now you should just `npm run build` or `npm run release`

[2015-08-12 21:10] lkkadiri commented on #519
Yeah we figured that out thanks @thiagopnts. Also opening a PR to address the playbackhls that still uses window.Clappr

[2015-08-12 23:36] jfairley opened #521 "Player events do not dispatch with v0.2.1"
I've been trying to figure this out without success. When using the HLS playback, I can see that the playback is triggering events just fine, and the container is dispatching events just fine. Somewhere between the player and the container there is a breakdown, and the event handler / re-dispatcher functions inside the player never get triggered.

Specifically, [this](https://github.com/clappr/cla

[2015-08-12 23:38] jfairley commented on #521
FYI: @lkkadiri, @dviramontes

[2015-08-13 14:40] #521 closed

[2015-08-13 14:42] towerz commented on #521
Indeed there was an error on the player event binding. Thanks @jfairley!

[2015-08-13 15:45] jfairley commented on #521
Good find: https://github.com/clappr/clappr/commit/8d57f8417acd6693e2d98782df2fedffa461cc68

I tested locally, and it works great. Thanks!

When can we expect a 0.2.2?

[2015-08-13 17:02] towerz commented on #521
I'm just adding some other improvements to hls, but I think I'll have it done today.

[2015-08-14 03:44] towerz commented on #521
Hey @jfairley, I just released clappr 0.2.2 with this fix. Please let me know if you find anything else.

[2015-08-14 03:55] towerz commented on #519
@lkkadiri clappr 0.1.x had a limitation that prevented us to lock the default base url for the assets to the current version. From 0.2.0 onward we'll not have this problem, unless the `baseUrl` parameter is explicitly set to point to `latest`.

Since we were in the process of changing the way the player is built, this ended breaking instances of 0.1.x without setting `baseUrl`. It's now fixed on 0

[2015-08-14 19:15] thiagopnts opened #522 "Companies using Clappr"
Is there anyone else(besides http://globo.com) using Clappr? I'm compiling a list of products/companies using it so if you want to be included let me know.
## Companies using Clappr
- Globo.com
- Lancaster
- reachengine.com
- IBM for a public site
- The City of East Grand Forks
- angelcam.com
- aovivonaweb.tv
- ebc.com.br
- radios.ebc.com.br/epoca-de-ouro
- eventials.com
- bd-cast.com

[2015-08-14 19:19] tjenkinson commented on #522
We're not a company but we use it :)

We're Lancaster university's student TV station and we use it for hls live streams on https://www.la1tv.co.uk/

https://github.com/LA1TV/Website

[2015-08-14 19:43] thiagopnts commented on #522
@tjenkinson nice!

[2015-08-17 06:18] jfairley commented on #522
We're using clappr in an upcoming product. We have other products using video.js. Most things "just work", but I have noticed that seek time feels snappier with clappr. If all goes well once deployed, I would consider converting the existing products as well.

www.reachengine.com

[2015-08-17 06:30] jfairley commented on #519
@towerz We're actually using CommonJS + Browserify to import clappr. For this reason we were surprised that a CDN is getting used at all (the swf is coming from CDN). Are there future plans to completely remove the depedency on the CDN when using CommonJS?

[2015-08-17 06:31] jfairley commented on #521
:+1: looking great. thanks.

[2015-08-17 15:25] nextlivetv opened #523 "How can i make video from 4:3 to 16:9"
I use strem in 4:3 720X576 because I need less CPU when with jwplayer i can stretching it.
How can i make video from 4:3 to 16:9  like in JWplayer with option stretching: exactfit ;
Please help me.
http://support.jwplayer.com/customer/portal/articles/1413113-configuration-options-reference

[2015-08-17 19:33] josephharding opened #524 "Flash 'CONTAINER_READY' event fired before duration is available"
Hello - I noticed that when using a flash fallback the CONTAINER_READY event will be fired before `player.getDuration()` will return the actual value. If called within the 'CONTAINER_READY' event callback the return value is 'NaN'. This does not occur when using the HTML5 native video player.

The following snippet will result in a 'NaN' duration:

    var player = new Clappr.Player({
        pare

[2015-08-17 23:33] towerz commented on #519
@jfairley Since the beginning we planned for Clappr being hosted either on a CDN or imported directly in your code and having the assets hosted on your own server.

There are some assets that we use, such as the SWF files, that aren't packed in the bundle. Thus, in order to import them we use a base URL to load these assets. Currently, the default value for the base URL is `//cdn.clappr.io/<versio

[2015-08-18 02:16] #524 closed

[2015-08-18 15:21] josephharding commented on #522
We're experimenting with it here at IBM for a public site - so far so good! Great support for HLS and Flash and the response to issues I've reported has been very nice as well. Great work guys.

[2015-08-18 23:54] egftechman commented on #522
The City of East Grand Forks is making use of it at http://eastgrandforks.TV ...  MP3 and icecast right. Doing internal testing of video, clappr player works great witg avconv's hls output (served out of Apache), we just need decent cameras, etc.

[2015-08-19 00:06] #512 closed

[2015-08-19 00:43] towerz commented on #508
Hi @devin87, I have been testing some options and adding some extra parameters to control HLS behavior.

If you use the latest version of clappr, you can now listen to the error event in case the fragment loading fails and the player stops retrying. The default behavior now is to not skip to the next fragment after reaching the maximum number of retries. Instead, it triggers an error event, which

[2015-08-19 03:10] towerz opened #526 "Remove dependency on the CDN when using CommonJS"
As @jfairley mentioned on #519, there were some issues regarding the player loading assets from Clappr CDN instead of locally. This was essentially due to the default value for the `baseUrl` parameter being set to `//cdn.clappr.io/<version>`.

There should be a way to not depend on an external parameter to set the assets base url automatically when bundling Clappr using CommonJS.

[2015-08-19 03:12] towerz commented on #519
@jfairley Just opened #526 with your request.

[2015-08-19 03:12] #519 closed

[2015-08-19 03:17] #526 closed

[2015-08-19 04:36] jfairley commented on #519
Nice. Thanks @towerz. I'll start looking into how this change affects our app.

[2015-08-20 09:47] robertprokes commented on #522
We've just started using Clappr here at angelcam.com - having issues with IE crashing, HW acceleration have to be disabled for both IE and Chrome and some others but we're solving them gradually.

[2015-08-21 08:04] devin87 commented on #508
@towerz Thanks very much. I used some of the ways to let the player continue,some code like this.
[code]

I found another issue in the new version(clappr:0.1.13-0.2.5),the element(div.spinner-three-bounce)  not hidden after the player started playing.

[2015-08-21 13:05] JOOKER69 opened #527 "Fullscreen on Play?"
Hi,
i have a question:
it is possible to make the player fullscreen on play?
or is there a function to run with javascript to run it in fullscreen?
also maybe possible to run the player in portrait only mode on fullscreen (for mobile devices)?

greetz

[2015-08-22 15:09] leandromoreira commented on #522
@rprokes what IE? We fixed some issues with IE, did you try with latest version?

[2015-08-22 15:12] leandromoreira commented on #115
At Aug 9, 2014 @thiagopnts suggested yuidoc and we did it :facepunch:

You already can [check the initial documentation](http://clappr.github.io/classes/Player.html), mostly covering the github's home page and thiago's API documentation.

We still need to better integrate this to our build but I think the first step was done. can we close this @flavioribeiro @thiagopnts @towerz @bernardocamilo @ba

[2015-08-22 20:48] rprokes commented on #522
@leandromoreira We're using latest version and it seems to be fixed. But HW acceleration have to be disabled for both IE and Chrome.

Any plans for Flash-less HLS support ?

[2015-08-22 21:06] towerz commented on #115
Great job, @leandromoreira! :beers:

I'm ok with closing this one, now we can start moving towards tutorials and other kinds of documentation, as well as improving our test coverage.

[2015-08-22 22:14] leandromoreira commented on #527
Hi @JOOKER69 I don't know if I understood your question but I'm afraid that the answer is no.

In order to use fullscreen API you usually **need to require the fullscreen** within an user action (user click...), even if you listen to when the [container](https://github.com/clappr/clappr/blob/master/src/components/container/container.js#L111) is playing you won't get the fullscreen on play. The exa

[2015-08-22 22:29] towerz commented on #522
@rprokes We plan to build both Dash and HLS plugins without using Flash, but it's going to take some time to do this. About disabling HW acceleration, the HLS playback by default has it disabled. There's no need to do anything about it, unless you need to re-enable HW acceleration for other browsers.

[2015-08-22 22:41] towerz commented on #527
@JOOKER69 We don't have an event for when the user clicks on the poster, but you could listen for clicks on it to go fullscreen when the user requests to play. This way you will piggyback on an user interaction and work though user interaction restriction on the fullscreen api.

I believe this will work, using the sample from @leandromoreira:
[code]
Just keep in mind this won't work when `autoPlay

[2015-08-22 23:01] towerz commented on #508
@devin87 Can you share the source you are using? When you say the player gets stuck, you are referring to this retry loop you mentioned before? If so, on 0.2.5 the default behavior is to give up after retrying the current fragment, so you would get an error instead of the retry message.

About the spinner not hiding after playback starts, I could not reproduce. Could you please share the steps to

[2015-08-23 02:10] leandromoreira commented on #115
@chriswiggins @davidaurelio @bryfry @tarkanlar @snsxn @deedos @irongomme you can check the initial documentation at http://clappr.github.io/

[2015-08-24 07:01] devin87 commented on #508
@towerz I can't test because the api server have some problems. I said the player gets stuck,not IO error, it happened on linux sometimes, I think is the decoding or graphics driver question. I mean can the player change the state when playback error?

The spinner hidden question, when the playback init, refresh the page, sometimes will ok,sometimes not. The version 0.1.8 no the problem.

Clappr i

[2015-08-24 08:23] devin87 commented on #508
I test right now, if I change the channel,  the spinner not hidden.
[code]

[2015-08-24 14:13] #115 closed

[2015-08-24 17:06] leandromoreira opened #529 "Migrate travis from legacy to container-based travis"
http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade

[2015-08-24 17:38] leandromoreira commented on #529
I tried the simplest change but it didn't work, it requires further investigation.

[code]

With above modification travis won't start Chrome.

[code]

[2015-08-24 18:46] leandromoreira commented on #529
https://travis-ci.org/clappr/clappr/builds/77020010

[2015-08-25 16:13] cherihung opened #530 "identify the location of the SWF file"
Will there be a way to specify the location of the SWF file in the player API?
Similar to other video library (videojs, jwplayer) that it has a param to specify where to look for flash file if not in the webpack publicPath. Would be useful for self-hosting project that isn't using webpack or have an alternative location for the flashfile. (would be useful to have a release w/o the hashed file name

[2015-08-25 21:07] flavioribeiro commented on #522
@deedos

[2015-08-26 14:57] leandromoreira opened #531 "Replace css property initial to its default value"
IE doesn't support `initial` css value, so we need to replace to element's default value.

https://developer.mozilla.org/en-US/docs/Web/CSS/initial

[2015-08-26 19:28] dviramontes opened #532 "main in package.json for version 0.2.7"
Currently for version 0.2.7
the package.json looks like

`main: 'src/main.js' `

As a browserify consumer of clappr, this fails to build and bundle correctly.

Can we point main to `dist/clappr.min.js` for this release ?

cc: @jfairley @lkkadiri

[2015-08-26 19:29] lkkadiri opened #533 "Bundle JS seems to fail on the new release"
Our bundleJS task is failing with 0.2.7, and throws the following error

[code]

Any help with this will be great.

[2015-08-26 19:30] lkkadiri commented on #533
@jfairley @dviramontes

[2015-08-26 19:32] jfairley commented on #533
because of this https://github.com/clappr/clappr/commit/b309deb795fa0f02cd024f46751385972b1dd3fd

[2015-08-26 19:32] jfairley commented on #532
https://github.com/clappr/clappr/commit/b309deb795fa0f02cd024f46751385972b1dd3fd

[2015-08-26 21:31] towerz commented on #533
@lkkadiri @jfairley it seem like the problem is the entry point for clappr is affecting your build configuration. I'm investigating whether there's a solution for this or if I'll need to revert this change.

What kind of build configuration are you using? I mean, how's clappr included in your build?

[2015-08-26 21:43] dviramontes commented on #533
@towerz,
we are using **browserify**.

[2015-08-26 21:55] dviramontes commented on #532
duplcate of https://github.com/clappr/clappr/issues/532
closing.

[2015-08-26 21:55] #532 closed

[2015-08-26 22:00] dviramontes commented on #533
As a temporary fix you can add a browser property to your package.json
(if you are using **browserify**):
[code]

[2015-08-26 22:37] lkkadiri commented on #533
Making the change suggested by @dviramontes fixes the build but now the min version of clappr does not seem to find the swf file. I now see this error,

[code]

[2015-08-26 23:59] towerz commented on #533
Just reverted b309deb795fa0f02cd024f46751385972b1dd3fd to avoid breaking browserify usages. I found a way to expose source/assets to webpack without breaking other build systems.

Will release 0.2.8 asap.

[2015-08-27 00:00] towerz commented on #531
Fixed by ec822851bc99e542be274bb1ed085464bae296a1

[2015-08-27 00:00] #531 closed

[2015-08-27 00:06] towerz commented on #533
Done, closing the issue now. If you have further problems, please let me know.

[2015-08-27 00:06] #533 closed

[2015-08-27 02:49] towerz commented on #530
@cherihung currently we have a way to set the `baseUrl` for looking for assets, using the aforementioned parameter. It's set by default to webpack `publicPath`.

Before migrating to webpack there was a parameter called `swfPath` which has been removed since then, but we could easily re-enable this functionality.

Just let me know whether this is really necessary, since you can host clappr files yo

[2015-08-27 06:23] cherihung opened #534 "problem with npm run release"
Tried to do a `npm run release` after pulling down the repo.
But I'm not able to. getting an error:

[code]

[2015-08-27 16:29] lkkadiri commented on #533
@towerz I still get this error,

[code]
Seems like its unable to find the swf file still.

[2015-08-27 17:09] towerz commented on #533
@lkkadiri prior to this change, where were clappr getting the swf from?

Since 0.2.4 we changed the default `baseUrl` from `//cdn.clappr.io/${VERSION}` to the base url from where the clappr.min.js script is loaded. In your case, since you are loading the js file from http://localhost:3000/js, this will be set as the player base url, unless you set a `baseUrl` value yourself. If you are hosting you

[2015-08-27 17:12] towerz commented on #533
@lkkadiri another thing, if you are using 0.2.8 you won't need to use @dviramontes solution. Just use clappr as you were using before.

[2015-08-27 17:27] towerz commented on #534
@cherihung what OS and node version are you using?

Can you run the command `webpack --verbose --progress -d -p --optimize-minimize --optimize-dedupe --output-filename clappr.min.js` and paste here the output?

[2015-08-27 21:23] lkkadiri commented on #533
@towerz thanks for the prompt responses! You Rock buddy!

[2015-08-27 22:31] cherihung commented on #534
It was with dependencies not installing correctly I think. I cleared my npm cache and reinstalled all modules, then manually npm installed webpack. It is now running that script. Thanks!
p.s. i'm on Win7 node 1.4.X

[2015-08-27 22:35] towerz commented on #534
Everything is working fine then. That's great! :+1:

[2015-08-27 22:35] #534 closed

[2015-08-27 22:54] towerz opened #535 "Utils.extend throwing an exception when used with getters/setters"
This problem breaks creating plugins using plain javascript.

[2015-08-28 00:06] #535 closed

[2015-08-28 15:33] deedos commented on #522
Hi @flavioribeiro and all. We have been using for some projects at http://aovivonaweb.tv/ mainly for live streaming using hls + dvr. At http://ebc.com.br we are experimenting it for a weekly live streaming (hls + dvr as well) of a radio show  http://radios.ebc.com.br/epoca-de-ouro and last but not least, I have simplistic integrated clappr with https://github.com/kevincennis/Mix.js at http://tvbra

[2015-08-28 16:31] cherihung commented on #530
My webpack projects defaults to include path and name for swf and font files (file-loader?[path][name].[ext]). So I was having problem since Clappr defaults to looking for assets in `publicPath` of a project. `baseUrl` would only kind of work if I can ensure 'publicPath` of the project using my implementation of Clappr is the same.

Right now, I'm using require.context(...) to dynamically change c

[2015-08-28 20:54] towerz commented on #530
@cherihung I take you are bundling Clappr inside your own webpack bundle, instead of an external dependency.

If you are doing that, I suggest you change the entry point for Clappr from dist/clappr.min.js to src/main.js. Doing this will make webpack bundle the Clappr source inside your own application and generate asset chunks using your on naming rules.

The only thing you need to remind is that

[2015-08-30 22:08] towerz opened #537 "Merge UIObject/Plugins remove and destroy methods into a single method"
**_1 Upvote**_ Since some of the player elements are implemented directly using `UIObject`s instead of plugins, there have been some confusion around implementing the `destroy` method used by plugins.

I think we should merge both methods into a single `remove` method that removes the element from it's parent tree and unbinds event listeners. This way we can avoid confusing users as well as listen

[2015-08-30 22:19] towerz commented on #523
@nextlivetv currently Clappr doesn't support stretching the media source, instead using black bars and centering the media, so there's no options for that.

Could you explain more how are you using this? Are you simulating anamorphic pixel aspect ratio using this? Are you using this for progressive download or for streaming?

[2015-08-31 04:41] cherihung commented on #530
I tried this out. But it'd add more loaders and overhead to the project with bable and sass loader. it's not a huge deal but it'd require me to make any consumer project deal with all the various assets included or may be included in Clappr.
So I decided to just tweak the configuration to specifically load clappr font files + swf to publicPath. it's the simplest solution.

thanks for you all your

[2015-08-31 12:20] ebuildy commented on #494
Here my crossdomain.xml:

[code]

Served by Nginx:

[code]

Give a try!

[2015-08-31 22:42] dviramontes opened #538 "player.getDuration() always returns Infinity on Safari native html5 player"
Hi
we are trying to implement a set of custom player controls using Clappr's API
and we've noticed that while streaming a video in Safari(v8.0.8), the html5 player
always returns:

**Infinity** for `player.getDuration();`
and
**1** for `player.getCurrentTime();`

making it impossible to calculate a seek value.
(even if we pause the video, `player.core.getPlaybackType()`
always returns **live**).

[2015-09-01 00:20] tjenkinson opened #539 "Hls stream does not resume from live point when playing after stopping"
If a hls live stream (without DVR) is stopped for a while, and then played again, it appears to keep retrying on what would have been the next chunk, and then fails to start.

The requests it makes return a 404 status code because the old chunks no longer exist on the server.

After a stop I would expect a subsequent play to always make a request for the playlist and start at the live point, not a

[2015-09-01 00:57] cherihung opened #540 "[Clappr.Log] set log level to disabled"
Just pulled the latest from upstream. What does this log error message mean?
(I saw it streaming HLS feed)

Also is there any way to mute console message like this one?
**FlasHLS Clappr (version: 0.4.2.3 - flashls: 0.4.2.1, id: o6)**

Setting `hlsLogEnabled` to false didn't turn it off. And looking at the newly exposed set of hls config options, nothing jumps out as the right option.

[2015-09-01 02:25] cherihung opened #541 "HLS stream sometimes appear to be stuck"
I'm hoping for any suggestion or direction to debug this issue with what these HLS log messages mean.

Been testing clappr in the last few days to stream HLS manifests.
Mostly it's been smooth but there are times when a stream would appear to be stuck upon loading. autoplay is set to true.

I test played the stream on Flashls.org, worked fine each time.
But with clappr, it's just stuck with the lo

[2015-09-01 03:06] leandromoreira commented on #541
Thanks @cherihung can you describe (or give us a little bit more detail) the steps to reproduce this behavior?

Even if you use this url `http://www.streambox.fr/playlists/test_001/stream.m3u8` you still will face (sometimes) this **stuck**? is it on VOD or live?

[2015-09-01 03:08] leandromoreira commented on #539
would you able to reproduce this behavior at http://flashls.org/latest/examples/chromeless/ ?

[2015-09-01 03:44] leandromoreira commented on #538
Hi @dviramontes

I'm using a **Safari 8.0.8** and then I tried a `mp4` file at http://cdn.clappr.io and it worked:

< "vod"

< "vod"

< 4.237111111111111

< 36.44

So I changed the `source` to `"http://www.streambox.fr/playlists/test_001/stream.m3u8"` and it still works:

< "vod"

< 3.2469333333333332

< 510

< 7.611636596

< 9.134704286

I also tested with `player.getCurrentTime()` and I still co

[2015-09-01 12:55] tjenkinson commented on #539
I just did now and there is no stop button on there. But clicking play after pause always appears to seek to "-1" which appears to be the live point.

[2015-09-01 15:35] cherihung commented on #541
When I use this http://www.streambox.fr/playlists/test_001/stream.m3u8 I have not encountered the "stuck" issue. The streams I'm trying are all VODs.

My project is in Angular (1.2). The stream url is passed in dynamically. I initiate the Clappr player in a angular.element(document).ready(...). And I'm creating the player instance like so:

[code]

[2015-09-01 18:02] dviramontes commented on #538
I tried using the above mentioned functions
`p.core.getCurrentPlayback()` but it seems that
`getCurrentPlayback()` is not longer defined (Using clappr 0.2.8).

but clappr does have something called `getCurrentContainer()`
so i tried that and I got:
![screen shot 2015-09-01 at 11 23 12 am](https://cloud.githubusercontent.com/assets/144226/9611848/416f4bf0-509f-11e5-9440-2d4da1dafe17.png)

by the wa

[2015-09-01 19:04] flavioribeiro commented on #538
This is part of the HTMLMediaElement interface on webkit: https://developer.apple.com/library/safari/documentation/AudioVideo/Reference/HTMLMediaElementClassReference/index.html#//apple_ref/javascript/instp/HTMLMediaElement/duration

Clappr wraps these calls to maintain the compatibility between browsers but since we use [flashls](flashls.org) on chrome and ffox, the result of the calls are not th

[2015-09-01 19:13] towerz commented on #538
@dviramontes I believe @flavioribeiro is right. Since the beginning, DVR support is not available when using html5 video playback. There's no way to seek back on a live stream using the video tag directly, AFAIK.
In order to support DVR properly, you should use the hls playback provided by Clappr, which uses [flashls](http://flashls.org).

[2015-09-01 20:33] dviramontes commented on #538
Again thanks for the responses,
is there a way to force Safari to use **flashls** instead of the native player?

I was not able to find anything about that in the documentation.
Thanks

[2015-09-01 20:55] chovy opened #542 "getting 404s"
GET http://cdn.clappr.io/latest/assets/Player-Regular.ttf (anonymous function) @ clappr.min.js:5948w @ clappr.min.js:5350w @ clappr.min.js:5353w @ clappr.min.js:5353(anonymous function) @ clappr.min.js:5947(anonymous function) @ clappr.min.js:5942(anonymous function) @ clappr.min.js:5580require.zepto.k.fn.each @ clappr.min.js:5579require.zepto.Y.forEach.k.fn.(anonymous function) @ clappr.min.js:59

[2015-09-01 21:11] towerz commented on #538
There's no official way to force using a playback directly, but you could just pass the HLS playback through the `plugins` parameter. The plugins passed through this parameter have a higher priority than the internal plugins.
[code]
Please let me know if this works for you.

[2015-09-01 21:17] leandromoreira commented on #541
The stream http://www.streambox.fr/playlists/test_001/stream.m3u8 is also a **vod**. If you tested this url http://www.streambox.fr/playlists/test_001/stream.m3u8 at http://cdn.clappr.io/ and you can't reproduce this behavior it might be a indicative that your stream is suffering something.

And the usage of Angular (dynamically loading sources) with Clappr should be fine.

* When the video got st

[2015-09-01 21:28] dviramontes commented on #538
thanks @towerz, that worked!
thanks @flavioribeiro for the info
closing issue

[2015-09-01 21:28] #538 closed

[2015-09-01 21:58] towerz commented on #538
Changed the subject to make it easier to search for the solution.

[2015-09-01 22:00] towerz commented on #542
@chovy What version of clappr are you using? Since 0.2.0 these assets are not included, instead using a hashed url for each asset.

If you are using 0.1.x, you should set `baseUrl` to `http://cdn.clappr.io/<version>` instead.

[2015-09-01 22:03] towerz commented on #540
@cherihung this message is just to inform the current log state. It's a side effect of setting the log to disabled on initialization.

The Flashls message cannot be muted right now, but it will respond to `hlsLogEnabled` in the next version.

[2015-09-01 22:07] tjenkinson commented on #538
Microsoft edge now supports hls natively as well. With our stream it appears to be broken through, random green pixelated areas, so maybe using flash for that would be good as well?

[2015-09-01 23:23] towerz commented on #540
@cherihung I removed the Clappr.Log message on initialization on a6a7a12490240561f5fd062fba5391574ca0bf5c, and updated the clappr flashls implementation to 0.4.3 which responds to `hlsLogEnabled` on 3f5fdf903564c0367cfd26cd826206d4033902cd.
Both commits are included in version 0.2.10.

[2015-09-01 23:32] towerz commented on #539
Could you test again at http://flashls.org/latest/examples/chromeless/, this time calling `playerStop` on the swf object? The difference in both behaviors seem to be due to calling the `playerStop` function not making the player request the playlist on after calling `play`.

The log messages you pasted here show that the player is indeed seeking to -1, but since it doesn't now where the playhead i

[2015-09-02 00:12] tjenkinson commented on #539
Calling `playerStop` and then clicking play after a while results in the same console log messages as above with the failed `.ts` requests and no `.m3u8` requests. Guess this means it's a flashls bug then?

Not sure exactly what you mean by the second test. A stream we should be running 24/7 is https://stream1.la1tv.co.uk:1936/live/studio_out_720p/playlist.m3u8 if you'd like a url to test with.

[2015-09-02 02:34] cherihung commented on #540
terrific. thanks!

[2015-09-02 08:54] chovy commented on #542
`      "clappr": "npm:clappr@^0.1.4",`

I'm happy to upgrade. just not sure how with jspm.

[2015-09-02 09:49] chovy commented on #542
Ok, i figured out how to upgrade. but now I get this: `Uncaught ReferenceError: Clappr is not defined`

[2015-09-02 10:04] chovy commented on #542
Now I'm getting this. I have clappr "properly" loaded...
[code]

[2015-09-02 18:04] neowinston opened #543 "Can't play .m3u8 audio live stream from Akamai"
I'm trying to play a live audio stream served by Akamai, but it only works using Safari on the Mac. I have no audio with Firefox and Chrome.

Here is the code:

var player = new Clappr.Player({source: "http://bbnmedia-lh.akamaihd.net/i/BibleBroadcasting_Englishios@87472/master.m3u8", parentId: "#player"});

How do I fix this problem? Thank you!

[2015-09-02 19:30] leandromoreira commented on #543
Hi @neowinston it's working fine for me at http://cdn.clappr.io/

Are you receiving any error?

[code]

[2015-09-02 19:44] neowinston commented on #543
Hi Leandro,

Thanks for your prompt reply!

Using http://cdn.clappr.io/ it works for me also, but if I try to put my .m3u8 url on the index.htm file, inside clappr-master/public directory it doesn't work. Any idea why?

[2015-09-02 19:55] leandromoreira commented on #543
@neowinston are you seeing any error at your browser's console? By the way, you need to serve this `index.html` file from a server. (ex:)

[code]

But looking at https://github.com/clappr/clappr/issues/542 @towerz also mentioned that you need to pass `baseUrl: "http://cdn.clappr.io/latest"`

[code]

[2015-09-02 20:15] neowinston commented on #543
I'm trying to make it work using sudo python -m SimpleHTTPServer. I'll let you know the results. Thanks!

[2015-09-02 20:19] leandromoreira commented on #543
@neowinston make sure to pass `baseUrl` pointing to `"http://cdn.clappr.io/latest"` (this is where the player will download the assets, fonts, swf...)

Given your behavior (working on safari... which works on [tag video](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video)) you've described I bet if you pass `baseUrl` it'll work.

[2015-09-02 23:10] towerz commented on #540
Closing the issue then. :+1:

[2015-09-02 23:10] #540 closed

[2015-09-02 23:20] towerz commented on #539
Thanks @tjenkinson. I ran some tests here and the problem seems to be that flashls has a small limitation on how `playerStop` works. Seemingly calling `playerPlay` after being stopped for a while makes it try to continue from the current position (which is an invalid state for live streams without DVR/event streams).

When calling `playerPause` instead, the player starts to record the stream from

[2015-09-02 23:32] towerz commented on #542
@chovy seems like you're bundling clappr inside your own project using jspm. There are two ways you can solve this problem. You should either set a `baseUrl` pointing to `http://cdn.clappr.io/<version>` or load these assets into your project.

To load the assets into your project you could just copy all assets from clappr `dist/` directory to your server public path and set `baseUrl` accordingly.

[2015-09-02 23:47] towerz commented on #543
@neowinston I understand you are getting errors when serving locally the HLS swf component used for other browsers to load the stream.

If you are loading using `sudo python -m SimpleHTTPServer` you can instead of setting `baseUrl` to load assets from the CDN, just create a symbolic link to the `dist/` folder called `latest` under the `public/` folder:
[code]
This way clappr will automatically det

[2015-09-03 03:26] chovy commented on #542
it seems to work if i move .ttf and .swf into the root folder, but I don't know about these hashed urls if they will change or not. It would be nice to just provide a relative path to load the files from in my case it would be `/jspm_packages/github/clappr@x.x.x/`

[2015-09-03 04:38] chovy commented on #542
setting `baseUrl pointing to http://cdn.clappr.io/<version>` works.

[2015-09-03 04:38] #542 closed

[2015-09-03 04:39] chovy opened #544 "HLS stream poor quality compared to loading in VLC or Safari"
When I load an HLS stream through clappr its pretty bad quality, blurry and choppy.
If I load the same stream in VLC or Safari it plays as expected in HD.

[2015-09-03 06:47] cherihung commented on #541
thanks for the response. it is likely to the that stream's problem.
to answer your question, yes, audio works. thanks!

[2015-09-03 06:52] cherihung opened #545 "more precise seeking method?"
I've looked through the API doc but couldn't find a more precise method for moving the playhead other than the seek() method.
http://clappr.github.io/files/src_base_playback.js.html#l39

But that one is only based on percentage instead of an exact position by second (something like jwplayer's seek()).

Is there one available?

UPDATE: I can achieve the same result by doing some calculation in my s

[2015-09-03 06:57] cherihung commented on #545
nevermind. I figure I can calculate the position

[2015-09-03 09:43] wicherdt opened #546 "No poster-icon play on Android 4.4.2 in Chrome browser."
Clappr 0.2.10
On Android 5.0.1 OK.

[2015-09-03 09:55] #546 closed

[2015-09-03 09:56] wicherdt commented on #546
Sorry. Android 4.4.2 OK

[2015-09-03 12:18] neowinston commented on #543
Hi towerz,

Thanks for your reply. I'll be trying your suggestions.

For us the ideal situation is to get hid of Flash 100%. Is that even possible, to serve our streaming audio to all browsers without any Flash involved?

Thanks!

[2015-09-03 15:26] #541 closed

[2015-09-03 16:34] leandromoreira opened #547 "Add Basic Contribution Guidelines"

[2015-09-03 22:51] tjenkinson commented on #460
So I'm thinking a method could be added to Playbacks 'flashRequired()' which would return a boolean.

For everything where this may return true there should also be a 'canPlayWithFlash()' method which is the same as 'canPlay' but assumes flash is present.

Then there could be another playback called 'no_flash', which would check the other playbacks to see if they 'canPlayWithFlash()' and if it get

[2015-09-03 22:58] tjenkinson commented on #460
Also chrome is now defaulting to some form of 'click to play' for plugins so this might become more important. Think it might automatically allow plugins from the same domain but haven't looked into it in depth yet.

[2015-09-04 11:50] ebuildy commented on #544
Is it a multi-bitrate stream?

Please post your m3u8 file URL, so it can be tested.

[2015-09-04 22:15] towerz commented on #460
@tjenkinson I thinks there's only one problem with your idea. It creates a playback dependency on other playbacks.

The 'no_flash' playback checking other playbacks breaks the idea of having atomic playbacks. Playbacks shouldn't be aware of the others, unless it's a composition or inheritance relationship.

I think you could improve your idea using a core plugin instead of a 'no_flash' playback. T

[2015-09-05 02:30] tjenkinson commented on #460
@towerz yes I agree keeping the playbacks unaware of each other makes sense.

Would the plugin replace the html for the no_op playback when it's shown to show the flash message? Replacing what no_op creates doesn't seem very efficient though.

What's the advantage of it being a plugin over logic in the no_op playback when determining what text to show? If it's in the no_op playback to determine wh

[2015-09-06 17:55] towerz commented on #460
@tjenkinson we designed clappr using 3 types of plugins:
- **core**-scoped plugins, which have access to the whole player structure/state
- **container**-scoped plugins, which have access to the structure/state of a single container, which in turn represents the area where a video or other content is rendered
- **playback** type plugins, which sole responsibility is to render/decode a video or oth

[2015-09-06 17:55] towerz commented on #547
:+1:

[2015-09-06 17:58] towerz commented on #545
Agree to that. We don't usually seek directly using seconds, so I think this is the reason why this function is missing.

The seek method using percentage values is more useful to implement a custom `MediaControl`, but for an external API it's useful to have both implementations.

[2015-09-06 18:08] towerz commented on #544
@chovy we need more information about this issue, as well as a URL for reproducing this issue.
- Are you on clappr 0.1.x or did you already updated to 0.2.x? There was an issue in our flashls implementation which forced level capping when the frame drop ratio (skipped frames / presented frames) was bigger than 0.2. This was disabled by default in 0.2.5.
- What kind of browser are you using? We hav

[2015-09-06 19:24] towerz commented on #543
@neowinston we don't think we can get rid of Flash 100% due to the lack of browser support for either streaming format (HLS/Dash). We used the table [here](https://developer.mozilla.org/en-US/Apps/Build/Audio_and_video_delivery/Live_streaming_web_audio_and_video) as reference.

We are planning to have support for both HLS and Dash using MSE, but both implementations are still under test. In the me

[2015-09-07 03:28] tjenkinson commented on #460
@towerz ok thanks I think I understand but the one thing that's still confusing is that the `no_op` playback at the moment renders the message in the screenshot I posted at the start of this issue.

So I guess the plugin would reach into the playback to remove that text from the dom, then render it's own on the player?

Or could the plugin be called "UnrecognisedPlaybackScreen" (or something like

[2015-09-07 09:55] chovy commented on #544
I'm on 0.2.x now.

I'm in chrome and here's a sample stream. All my streams have this problem.

http://pac12hd2-lh.akamaihd.net/i/p12netw_delivery@132840/master.m3u8

[2015-09-07 10:21] ebuildy commented on #544
Woa, so many bitrates supported, maybe this is too much and Clappr is always "switching" them

[2015-09-07 10:27] ebuildy commented on #544
Also your video segments seem very "little"

![]
(http://b3.ms/PjL9yGQwnqXD)

[2015-09-07 17:05] towerz commented on #544
@chovy I tested your stream on http://cdn.clappr.io and it kept running steadily between bitrates 2328000 and 4728000. What version of clappr are you using? Is it older than 0.2.5?

[2015-09-07 17:09] towerz commented on #460
@tjenkinson yes, the plugin could remove the `no_op` playback from the DOM then render it's own message on the player element.

The text message on the `no_op` playback is only a generic message. It could be replaced by a plugin specifically designed for that, like the one you suggested. I think it's an even better idea.

[2015-09-07 21:52] tjenkinson commented on #460
@towerz great I'll start work on this then :)

[2015-09-08 21:41] moret opened #548 "Player not looping when playing HLS on Chrome"
Hello folks.

When creating the `Player` with `loop: true` the video does not loop on Chrome, but loops on Safari.

Tested with:
[code]

[2015-09-08 23:01] towerz commented on #548
This feature was not implemented for the HLS playback, but I think it's simple enough to implement.

[2015-09-08 23:30] #539 closed

[2015-09-09 01:38] tjenkinson commented on #539
:+1: brilliant thanks!

[2015-09-09 03:42] towerz commented on #359
I believe 40a21f2b96fb1fae98cbc7ba1ad57e2b726745c6 closes this issue. If we need to do more work for the RTMP playback we can revisit this issue or create a new one.

[2015-09-09 03:42] #359 closed

[2015-09-09 07:22] chovy commented on #544
i'm using version 0.2.10

[2015-09-09 13:08] neowinston commented on #543
Hi towerz,

Thanks for your reply! Reading the Mozilla article I have a better understanding of the streaming formats and their relation to different browsers.

We're using ACC streaming because it's provided by Akamai and the time we thought it would the best option instead of MP3, considering royalties costs.

In the beginning we're using WMA over MMS protocol, but we had to use FFMPeg in our iO

[2015-09-09 13:35] moret commented on #548
Confirmed, fixed on `0.2.12`.

[2015-09-09 13:35] #548 closed

[2015-09-09 14:54] towerz commented on #544
@chovy I tested locally using `0.2.10`, and it's playing ok for me. Still running steadily and switching between bitrates 2328000 and 4728000. Could you please share your embed code here?

Using `0.2.12` I noticed a strange behavior. Since `0.2.11`, hardware acceleration for video decoding is enabled, but with hardware video decoder enabled it kept complaining about your ts fragments not starting

[2015-09-09 16:48] dviramontes opened #549 "Disableling Player's Font Icon Buttons"
![screen shot 2015-09-02 at 2 03 55 pm](https://cloud.githubusercontent.com/assets/144226/9768048/8131967c-56de-11e5-972d-b20699f1c38c.png)

is there a way to disable font icons buttons from displaying ?

In our Clapper.player config:
[code]
having `chromeless:true` does disable the player's default buttons
but font icon buttons (`3e43a5d764f841e7e78896de82cd6c50.ttf`) still try to load.

Ideally

[2015-09-09 17:56] towerz commented on #549
@dviramontes Using `chromeless: true` should disable displaying these icons. It seems to be a bug in the `Poster` plugin.

[2015-09-09 18:00] dviramontes commented on #549
I see, should i file an issue on that repo?
I don't see a `Poster` in your package.json dependencies.

[2015-09-09 18:55] towerz commented on #549
@dviramontes the `Poster` plugin is one of Clappr built-in plugins. There's no need to file another issue, I was just stating that this issue is indeed a bug in the player.

[2015-09-09 18:55] #549 closed

[2015-09-09 19:01] dviramontes commented on #549
@towerz thanks so much!

[2015-09-09 19:15] towerz commented on #543
@neowinston about your concern of getting rid of Flash entirely, is it about your need to support iOS? If that's the case, you don't need to worry, we just need Flash to play HLS on desktop browsers that doesn't support playing it natively. Almost all mobile browsers support HLS natively.

If that's not the case, you would need to use a player supporting HLS through MSE, which Clappr does not supp

[2015-09-09 22:55] towerz opened #550 "Set default behavior for multiple sources"
Some versions ago, Clappr used to treat multiple sources as as sequence, playing one after another. This behavior has been removed to allow plugins to control how the player works when there are multiple sources, but there should be a default behavior when there are no plugins set to control this.

Currently, when there are multiple sources, the player instantiates a container for each source and

[2015-09-09 22:56] towerz commented on #550
This could be a default core plugin that could be overridden by the user.

[2015-09-09 23:36] moret commented on #550
Currently the behaviour on vanilla Firefox - which comes without Flash - is already the one @towerz describes.

Not only that, when using multiple sources on other browsers with Flash enabled the player seems to be playing both sources simultaneously.

Test source;
[code]
Firefox:
<img width="765" alt="screen shot 2015-09-09 at 20 35 24" src="https://cloud.githubusercontent.com/assets/620156/97767

[2015-09-10 00:21] leandromoreira commented on #550
:sunglasses: Professionals are already using `loop` :sunglasses:

[2015-09-10 04:20] jfairley commented on #550
We don't use multiple sources, but knowing that it was an options, I always assumed that it would work like a fallback chain. :smile:  I would be in favor of that being the default functionality.

We have a flash app that plays multiple sources in sequence, but in general, our video needs don't call for that functionality, so I would agree with it being an option enabled via a plugin.

[2015-09-10 12:07] irongomme commented on #522
Hi , we're also using it in our compony to offer a live TV system over WiFi coverage. I cannot send a demo because it works behind a captive portal, but it does the job, and so one more time, thanks for this project !

[2015-09-10 13:26] thiagopnts commented on #550
I remember we didn't implement that because we wanted to keep the ideia of, given a source, find a playback this browser can play. Originally, you would always pass a single source, and an array when using pip or the playlist plugin. I think we can have a workaround for this with a core plugin until we have flash-free solution for all major browsers as @towerz suggested.

[2015-09-10 20:17] neowinston commented on #543
Thanks for the info, thanks for the code. We'll be looking into Icecast to know more about it. When we reach a conclusion we'll let you know. Once more, we thank you for shared knowledge!

[2015-09-11 20:32] jfairley opened #551 "How to build HLSPlayer.swf"
I want to add functionality to the HLS flash fallback, but I cannot find how to build [`HLSPlayer.swf`](../blob/e8e2991a91b8d1f59f9a51d9b2f34b6086a3f544/src/playbacks/hls/public/HLSPlayer.swf).

I see [`Player.as`](../blob/e8e2991a91b8d1f59f9a51d9b2f34b6086a3f544/src/playbacks/flash/Player.as) and [`build_player.sh`](../blob/e8e2991a91b8d1f59f9a51d9b2f34b6086a3f544/src/playbacks/flash/build_player

[2015-09-11 20:46] flavioribeiro commented on #551
hey @jfairley, `HLSPlayer.swf` is a build of [flashls](github.com/mangui/flashls). I'm not sure if it's a plain build from flashls' master branch or the guys are maintaining a fork. Let's wait for @towerz or @leandromoreira  to answer this one :)

[2015-09-11 20:49] jfairley commented on #551
Oh, interesting. Thanks @flavioribeiro. I'm interested to learn the proper workflow for getting in new features.

Also, how is `Player.swf` used? Is that for RTMP?

[2015-09-11 20:52] flavioribeiro commented on #551
we did this in order to support `mp4` playback on old firefox and other browsers that don't have native support for it. It also enables the player to play 3gp and mov, even though we're not displaying as supported formats on README.

[2015-09-11 21:13] jfairley commented on #551
:+1: thanks

[2015-09-11 22:28] towerz commented on #551
@jfairley Like @flavioribeiro mentioned, we're maintaining a fork of [flashls](https://github.com/mangui/flashls). It's only used to expose extra settings over the `ChromelessPlayer`, which is the base implementation for the HLS playback. You can check the differences checking the `clappr` branch in our [fork](https://github.com/clappr/flashls). It's implemented in the `io.clappr.Player` class.

[2015-09-11 22:30] towerz commented on #543
Anytime! I'll close the issue for now, but feel free to ask again if you're still having problems.

[2015-09-11 22:30] #543 closed

[2015-09-11 22:31] jfairley commented on #551
@towerz I was just having a look at [mangui/flashls](https://github.com/mangui/flashls) to make the necessary changes. Would you prefer that I submit a PR into [clappr/flashls](https://github.com/clappr/flashls) instead?

[2015-09-11 22:35] towerz commented on #551
Are these changes specific to Clappr? If so, it would be better to submit a PR into the clappr fork, otherwise I'd submit a PR to [mangui/flashls](http://github.com/mangui/flashls).

[2015-09-11 22:39] jfairley commented on #551
No. I want to expose the step function on the NetStream object. Highly generic.

[2015-09-11 23:02] jfairley commented on #551
FYI, I am testing the waters to make sure there is no one vehemently opposed before I do the work.
https://github.com/mangui/flashls/issues/382

[2015-09-11 23:04] towerz commented on #551
That's nice. :+1:

If you need any assistance with building your own version of HLSPlayer.swf while your changes are not added to flashls, just let me know.

[2015-09-13 01:24] tjenkinson commented on #460
@towerz  just looking at some recent commits. I guess it would make more sense just to assume flash is required if the plugin extends `playbacks/base_flash_playback` now? And then `BaseFlashPlayback

Some other work has come up so this on hold again at the moment for me.

[2015-09-13 01:26] tjenkinson commented on #460
@towerz  just looking at some recent commits. I guess it would make more sense just to assume flash is required if the plugin extends `playbacks/base_flash_playback` now? And then `BaseFlashPlayback` would contain the `canPlayWithFlash` method which would be overridden.

Some other work has come up so this on hold again at the moment for me I'll reply here when I get some time again.

[2015-09-13 18:11] towerz commented on #460
@tjenkinson I think that would make more sense indeed. We tried to isolate the code for a flash-based playback in a single class, so it would be better to implement `canPlayWithFlash` and `flashRequired` in `BaseFlashPlayback`.

[2015-09-14 21:49] AlekzFateJumper opened #552 "Acessing HLS tags"
I need to read the HLS tag #EXT-X-PROGRAM-DATE-TIME, for the first, last and current video segment. I'm cracking my head for 3 days and still haven't found out how to do it.

[2015-09-14 22:28] dviramontes commented on #551
Hey @towerz
what version of flex do I need to build https://github.com/clappr/flashls ?

[2015-09-15 17:34] leandromoreira commented on #552
@AlekzFateJumper we use [mangui/flashls](https://github.com/mangui/flashls/) to provide hls, we just pass a given source (`'http://example.com/myvideo/playlist.m3u8'`) but we don't manage hls internal state, a.k.a. you will not have access to the playlist within clappr.

The major interaction we do is to setup flashls by [passing arguments to build it](https://github.com/clappr/clappr/blob/master/

[2015-09-15 17:51] dviramontes commented on #551
Nevermind @towerz
@jfairley and I figured it out. There is a ***clappr*** branch has the right build script
for building HLSPlayer.swf

[2015-09-15 17:57] towerz commented on #551
@dviramontes you figured it out just before I answered. If you need help with anything else, please let me know.

[2015-09-17 09:00] irongomme opened #553 "hideVolumeBar is broken"
If i want to force the hideVolumeBar parameter to true, it has no effect and the volume control is still visible. I've tested it on chrome and firefox.

[2015-09-17 11:26] Seeran opened #554 "is clappr license is BSD license ?"
is clappr license is BSD license ?

[2015-09-17 15:18] flavioribeiro commented on #552
just curious, can u tell me why u need this info?

[2015-09-17 15:58] AlekzFateJumper commented on #552
I'm developing a custom timeline for security camera. I've already made a
hack to contour this problem, filtering the m3u8 via PHP and returning the
key points via AJAX.

2015-09-17 15:18 GMT+00:00 Flávio Ribeiro <notifications@github.com>:

[2015-09-17 17:34] andrewsmedina commented on #554
the clappr license is BSD 3 clause

[2015-09-17 17:35] flavioribeiro commented on #554
look at this, a wild medina appears! cheers buddy :beers: @andrewsmedina

[2015-09-17 17:36] #554 closed

[2015-09-17 18:59] leandromoreira commented on #553
thanks @irongomme I rewrite the title, if you don't mind. Because it seems that this not a problem only for hls.

- hideVolumeBar true has no effect on live hls
+ hideVolumeBar is broken

[2015-09-17 19:11] flavioribeiro commented on #467
there's also a effort to make a plugin [here](https://github.com/opendrops/clappr-dash-plugin) but seems to be abandoned. I think that make sense to ping the owner before bootstrap another one

[2015-09-17 19:54] leandromoreira commented on #467
I also started to play with https://github.com/google/shaka-player

[2015-09-17 21:02] towerz commented on #467
@flavioribeiro it seems that the project you mentioned didn't even start. There's only the initial commit and the code seems to be only a bootstrap, perhaps generated by the plugin generator.

[2015-09-17 21:03] #553 closed

[2015-09-17 21:04] towerz commented on #553
Just pushed a fix for the parameter handling. Let's keep in mind that this option doesn't remove the volume control from the interface, only hides/collapses the volume bar keeping only the volume/mute icon.

[2015-09-17 21:11] flavioribeiro commented on #467
@towerz I saw it working some time ago, maybe @opendrops didn't push everything to github

[2015-09-17 23:42] dviramontes commented on #551
Hey @towerz
so what started this crusade of building the **HLSPlayer.swf** player was an need to add a custom function to grab a screenshot of the video player (since we use Clappr.HLS playback, we can't use the conventional <video/> element to canvas way).

What i'm having trouble with is capturing that image from within `org/mangui/chromeless/ChromelessPlayer.as`. I need to be able to call

[cod

[2015-09-18 14:54] towerz commented on #551
Hi @dviramontes, I'm not sure why the stage is empty, but I would attempt to call `.draw()` on _hls.stage. If this doesn't work, I'd try to create an issue on [mangui/flashls](https://github.com/mangui/flashls) and ask directly to @mangui.

[2015-09-18 14:55] mangui commented on #551
you can refer to https://github.com/mangui/flashls/issues/273

[2015-09-18 15:00] towerz commented on #552
@AlekzFateJumper have you tried checking the list of fragments on the current level? There should be a `program_date` attribute in it. Something like: `player.core.getCurrentPlayback().getCurrentLevel().fragments[0].program_date`

[2015-09-18 15:01] towerz commented on #551
Thanks @mangui.

[2015-09-18 15:54] dviramontes commented on #551
thanks @towerz!

[2015-09-19 06:57] shankardevy commented on #467
guys, I am not actively working on dash integration these days.

[2015-09-21 13:44] flavioribeiro opened #555 "Change HLS Playback plugin to play in pure javascript"
Today [hlsjs](https://github.com/dailymotion/hls.js) became open source. Since most browsers are preventing the use of flash and we already have a [initiative](http://github.com/flavioribeiro/clappr-hls-js-plugin) to use hlsjs on clappr, it would be great to go in the direction to remove flash from the built-in plugin.

[2015-09-21 13:45] flavioribeiro commented on #555
btw, thanks @mangui for this awesome work. cheers! :beers:

[2015-09-21 13:56] tjenkinson commented on #555
:+1:

[2015-09-21 14:46] flavioribeiro commented on #555
I would suggest to add the plugin on the `playbackPlugins` array and keep the flash one as fallback while hlsjs turns more stable.

[2015-09-21 15:41] irongomme opened #556 "Strange controls visibility with firefox"
I've recently notice that on firefox, i can't see :

- The play link (div.play-wrapper > div.poster-icon.play)
- The volume icon on the bottom right
- The fullscreen icon on the bottom right

A sample can be found here : http://www.iwilive.net/streams/view/pleneuf0

[2015-09-21 15:42] thiagopnts commented on #555
:tada: :tada: :tada:

[2015-09-21 15:43] flavioribeiro commented on #556
did u check if there's a css conflict that only express in firefox?

[2015-09-21 16:22] towerz commented on #555
:+1:

[2015-09-21 16:25] dviramontes commented on #555
:+1: :+1: :+1:

[2015-09-21 16:26] jfairley commented on #555
:dancers::dancers::dancers:

[2015-09-22 12:34] irongomme commented on #556
You must be right because it doesn't happens on cdn.clappr.io and neither on my other websites.

[2015-09-22 13:12] irongomme commented on #556
Ok i've found it : i made a wrong use of player.resize, so it didn't work fine on firefox

[2015-09-22 13:12] #556 closed

[2015-09-22 19:15] jfairley commented on #467
I would love to see DASH integration. I tried to use [shankardevy/clappr-dash-plugin](https://github.com/shankardevy/clappr-dash-plugin), because it is linked from the

README. Unfortunately, it's not in NPM, so I cloned it. I'm struggling to get it integrated. Is anyone else using this plugin successfully?

[2015-09-22 19:40] towerz commented on #467
@jfairley this plugin is based on clappr version 0.1.x. It won't work with 0.2.x as is, but I think it wouldn't be so hard to make some changes.

@leandromoreira and I are working on plugins based on (shaka-player)[https://github.com/google/shaka-player] and (dash.js)[https://github.com/Dash-Industry-Forum/dash.js], but both are still in progress.

[2015-09-22 20:38] cherihung commented on #555
:+1: :+1: :+1:

[2015-09-22 20:47] NicholasTuck commented on #555
+1 !  We recently switched from evaluating jwplayer to clappr and the flash playback was one of the few downsides to us, so this would be awesome.

[2015-09-22 21:03] jfairley commented on #467
How is the progress going? I suspect I'm better off waiting rather than fixing the other plugin.

[2015-09-22 21:17] mangui commented on #555
:+1:

[2015-09-22 22:00] flavioribeiro opened #557 "Document how to run the dev server"
I saw that we've dropped `gulp` in favor of on `npm` but couldn't see documentation about `start` and `watch` tasks. It would be great to add it on `Readme.md`.

[2015-09-22 23:38] LGprodigy opened #558 "Opera browser does not support the playback"
Hello,

My organization runs a very large platform worldwide. I have come across your video player. I want to implement it in our next release. After extensive testing the last few days, I keep coming across this issue in Opera browser https://gyazo.com/9fee3b3f2d2149ae21f6a4af91b3525d It is happening with any HLS stream I have tried. I thought maybe the builds we have been creating is causing the

[2015-09-22 23:45] tjenkinson commented on #558
Is the flash plugin installed and enabled? It is currently required for HLS in browsers that don't support HLS natively.

This should be [changing in the future though](https://github.com/clappr/clappr/issues/555) :)

[2015-09-22 23:53] LGprodigy commented on #558
I literally just answered my own question when you answered it. Thank you. Maybe a feature enhancement to think about... when using a flash wrapper alert the user the same way it displayed the error mentioned above. Something along the lines "Your browser requires flash player to play this media!". Just tossing that idea out there. I really am glad to hear hlsjs is open. Maybe scratch this idea! :

[2015-09-22 23:55] tjenkinson commented on #558
No problem. I had the same idea a while ago and there is an issue here with more information https://github.com/clappr/clappr/issues/460.

I just haven't had time yet to implement it.

[2015-09-22 23:58] LGprodigy commented on #558
Well, if you guys are open to pull requests. Our team has no problem contributing!

[2015-09-23 00:12] tjenkinson commented on #558
I'm sure @towerz would be happy if you wanted to take a look at that issue. :)

[2015-09-23 02:14] LGprodigy commented on #558
We have created and tested an instance of missing flash when required. It works, we will be creating a pull request shortly for it.

[2015-09-23 02:48] LGprodigy commented on #558
#559
https://gyazo.com/567c809e47c1d6bfb147fa6a872e0aa6

[2015-09-23 06:33] LGprodigy opened #560 "IE10"
I'm experiencing a bit of a funny glitch. Really hard to explain... I am using HLS streams and it seems to be okay... except when I go to play the video. I click the poster and nothing happens... then I double click and the poster goes away... and nothing happens. It works just fine in IE11

[2015-09-24 14:08] irongomme opened #562 "Spinner is not visible all the time on android"
I've notice this behavior on hls source and mp4 source with android :
- When i click play, the spinner appear
- When video is downlading, just before the beginning of the reading of the movie, i've got a black screen, and we can think, as an end user, that the player is not working

[2015-09-25 13:44] irongomme opened #563 "Quicktime overlay on iPhone hides clappr controls"
Ok, another iOs problem !

With iPhone (iOs 7.1.2), movie is launched in fullscreen directly, and it's ok. But when you come back into the webpage, there is a quicktime overlay over clappr and we can't access to the mediacontrol.

Is there a trick to prevent that ?

[2015-09-26 08:46] jazzmanro opened #564 "MediaControl object available in Container plugins? Or MediaControlPlugin?"
Hi there,

Thanks for your great work.
During Clappr plugin development I am forced to always extend UICorePlugin as although my plugins are just placing additional content/controls in the media control bar (some of them having almost nothing to do with the playback), I don't have otherwise access to the MediaControl object.

Maybe the best idea would be a specific media control plugin? Or do you

[2015-09-29 18:16] floriano12 opened #565 "Black screen, I need a help."
My player is black screen. My adobe flash player is activated on browser.

I try my stream live on: IE, Mozilla, Crome, don't work.
[code]
What I'm wrong?

Thanks in advance for any help!

[2015-09-29 18:25] towerz commented on #565
@floriano12 the RTMP plugin hasn't been updated to work with clappr 0.2.x properly. Perhaps that's why you are getting a black screen. The playback fails to load, breaking the player.

[2015-09-29 18:30] floriano12 commented on #565
Thanks @towerz
what to do, how I can solve ?

[2015-09-29 18:30] flavioribeiro commented on #565
I know that it's not the best solution but you can use an old version of clappr:

[code]

btw, this problem was already reported on https://github.com/clappr/clappr-rtmp-plugin/issues/26, https://github.com/clappr/clappr-rtmp-plugin/issues/25 and https://github.com/clappr/clappr-rtmp-plugin/issues/24

[2015-09-29 18:31] flavioribeiro commented on #565
I'm gonna try to work on that this week. @floriano12 please report RTMP issues directly on the plugin repo: https://github.com/clappr/clappr-rtmp-plugin

[2015-09-29 18:31] #565 closed

[2015-09-29 18:35] towerz commented on #564
Hi @jazzmanro, I take you are trying to display content over the video, but tied to the MediaControl itself, showing/hiding with the controls layer. Is that right?

The MediaControl, although related to a single container, is not scoped to the container it controls. It is included in the player core, so in order to access it (or render into it) you have to write a UICorePlugin. Your approach is co

[2015-09-29 18:41] floriano12 commented on #565
thanks @flavioribeiro

not open player, why ? dont work!

[2015-09-29 18:42] flavioribeiro commented on #565
you're able to play your stream on vlc?

[2015-09-29 18:45] floriano12 commented on #565
I use FMLE.
I don't think.

[2015-09-29 18:45] towerz commented on #563
Hi @irongomme, I don't have access to an iPhone with iOS 7.x, but I tested on both iOS 8 and 9.

We still lack support for touch events on the MediaControl, but it can be called with a tap on the player. We can't prevent the quicktime overlay to be shown (it's a feature built into the OS itself), but to avoid having the user tap to activate the controls, you could just show the controls whenever t

[2015-09-29 18:47] flavioribeiro commented on #565
I think that you're missing the stream name in your source url. Check your FMLE config.

[2015-09-29 18:50] jazzmanro commented on #564
Thanks @towerz, so then I have no other choice. No problem to create UICorePlugins, just thought they are 'too much' for simply needing to insert some information in the MediaControl.
As I've said, maybe for the future it would be interesting to have a UIMediaControlPlugin that would be automatically recreated/rendered with the MediaControl as it is so tied to it.

Thanks again for your clarificat

[2015-09-29 18:50] #564 closed

[2015-09-29 18:51] floriano12 commented on #565
is good FMLE config, with the old player works FMLE

you can try on vlc ?

[2015-09-29 19:00] floriano12 commented on #565
@flavioribeiro this player work on mobile devices ? I try now but I receive a message: your browser does not support the playback of this video. Try to use a different browser.

[2015-09-29 19:03] floriano12 commented on #565
I stoped the stream live, but player run.

[2015-09-29 20:07] flavioribeiro commented on #538
@tjenkinson good point, we need to test clappr with ms edge.. gotta create an issue for that

[2015-09-29 20:12] flavioribeiro opened #566 "Is Clappr supported on Microsoft Edge?"
It seems it supports HLS by default. We need to make some smoke tests to check if we're supporting the formats smoothly and update the README.

[2015-09-29 20:12] flavioribeiro commented on #566
hey @towerz do u have access to devices with edge?

[2015-09-30 05:19] irongomme commented on #563
Thks @towerz i'll try it. This is à Blocking thing for me because i've added a channel choice over the player but I will try to find another trick for that .

[2015-09-30 08:38] cacciato opened #567 "Player can't play HLS"
Hi,

I'm trying to read some HLS streams...here is my code :

[code]
[code]

When executing this script, nothing happen : The player view stays black.

However I tested this script on http://cdn.clappr.io/ ... and it actually works.

Does someone has any ideas about this issue ?

Thanks.

[2015-09-30 08:54] tjenkinson commented on #567
When running it locally are you running it with a local web server or the file directly (I.e file://blah)?

Also any errors in the console?
What browser?

[2015-09-30 09:07] cacciato commented on #567
My script is in the file directory.

No errors displayed in the console

I executed my script on Chrome, Firefox, IE, Safari.

[2015-09-30 09:14] tjenkinson commented on #567
Cool that might be the problem then because when scripts run directly from the file system they have some different permissions due to how the sandboxing works.

You could try pasting your code into jsbin and see if it runs there (minus the metric_manager script)? If it does you'll probably just need to set up a local web server. Python has a basic one built in.

[2015-09-30 09:35] cacciato commented on #567
Ok I pasted my code on jsbin and it still does not work : The video never starts.
I'm wondering if it's due to HLS because it's working well with a mp4 URL (http://techslides.com/demos/sample-videos/small.mp4).

[2015-09-30 15:48] wholegrn opened #568 "How to listen buffering events ?"
I'm trying to know when the player is buffering. To do so, I use this piece of code :
[code]
However the callback method is never executed.

wholegrn.

[2015-09-30 16:25] leandromoreira commented on #568
@wholegrn when you listen to **PLAYBACK**_x events you need to pass the playback you want to listen.

I'd use **container events**, instead of _playback events_:

[code]

We need to add more documentation to [events](http://clappr.github.io/classes/Events.html) and how to use them.

[2015-09-30 18:33] towerz commented on #567
@cacciato both jsbin and jsfiddle load your HTML inside an iframe with sandboxing. Since Clappr by default uses flashls to load HLS (except when supported natively by the browser, like Safari), the iframe sandbox environment doesn't allow loading the flash component that is responsible for handling the HLS stream.

If you try your jsbin code in Safari it will probably work normally. We are working

[2015-09-30 21:50] towerz commented on #563
@irongomme it just occurred to me that you could use the player poster to cover this quicktime overlay. Whenever the user exits the video, the player goes into the pause state I mentioned before. In this state, you could just display the MediaControl and the player poster. This way the player wouldn't seem to be broken.

[2015-10-01 06:57] cacciato commented on #567
Ok I tried on a Mac, with Safari and it works !

2015-09-30 20:33 GMT+02:00 Bruno Torres <notifications@github.com>:

[2015-10-01 06:57] wholegrn commented on #568
Did the trick thank you !

[2015-10-01 13:42] tarkanlar commented on #498
Is there any updates on this issue? @chriswiggins

[2015-10-01 14:16] wholegrn opened #569 "Can't retrieve player bitrate"
Hi,

I'm using clappr to read some HLS streams. I need to get player bitrate. To do so, i'm using this piece of code :

[code]
But the callback method is never called.

However i do receive events such as Events.CONTAINER_SEEK.

Thanks.

[2015-10-01 16:25] dayvson commented on #557
Hey @flavioribeiro
I sent a pull request to add that
https://github.com/clappr/clappr/pull/570

[2015-10-01 17:29] towerz commented on #569
@wholegrn are you using Safari for your tests?

I tested your snippet on http://cdn.clappr.io and received the events correctly using this code on both Chrome and Firefox:
[code]
If you are using Safari, we use it's native HLS implementation, which doesn't expose bitrate change events.

[2015-10-01 22:24] #557 closed

[2015-10-01 22:32] dayvson commented on #555
:+1:

[2015-10-02 07:13] wholegrn commented on #569
@towerz Indeed, i used Safari for my tests.
I tested my code on Chrome and it worked !

Thank you.

[2015-10-02 17:09] alparslanahmed opened #571 "Play button occurs for flash on some browsers."
Hi, i have a live stream autoplay option true. On some browsers, some computers a play button occurs on flash. I know thats not clappr problem directly i see that on video.js too. How can i remove this?

![alt text](http://oi59.tinypic.com/dgqmie.jpg "")

[2015-10-02 17:51] towerz commented on #571
Hi @alparslanahmed, this is related to some browsers implementing flash blocking natively. I think it's related to the player dimensions.

Since the native flash blocking is targeted at ads that use flash, I think it uses the swf object dimensions (width, height) to determine whether it's being used for playing content or displaying ads. If you call `player.resize()` to an allowed size when the pl

[2015-10-04 22:27] alparslanahmed commented on #571
Its works, thanks for help!

[2015-10-04 22:27] #571 closed

[2015-10-04 22:37] alparslanahmed opened #572 "iOS inline player"
Hi, my video plays on android inline but on ios play button occurs and video just playing fullscreen but i want it to play with content.

[2015-10-05 00:10] leandromoreira commented on #572
https://github.com/clappr/clappr/issues/563

[2015-10-05 06:27] irongomme commented on #563
Finally, i'my going to this conclusion : a mobile app will be the best cross platform compromise !

[2015-10-06 07:32] tcacciatore opened #573 "No CONTAINER_SEEK + CONTAINER_STATE_BUFFERING on iPhone fullscreen"
I'm using clapper on both iPhone and iPad.
When playing some videos on iPhone, the player goes directly in fullscreen mode and some events are not sent (CONTAINER_SEEK and CONTAINER_STATE_BUFFERING).

[2015-10-06 18:46] Kreeig opened #574 "Clappr does not work with Yandex browser on Windows 7"
clappr player not work on yandex browser ,   only work on OS - Windows 10 , can anyone fix so it can play on Windows 7 too ?

[2015-10-07 14:43] flavioribeiro commented on #557
thx @dayvson!! :beers:

[2015-10-08 07:06] flavioribeiro opened #575 "Fix Hound CI behavior"
Hound is reporting too much things when people send PR's. It would be great if we configure it to behave the right way.

[2015-10-08 08:28] shaharmor opened #576 "isPlaying returns true when buffering"

[2015-10-08 11:04] #508 closed

[2015-10-08 12:33] madmarten opened #577 "Postback in asp.net webform"
Hi, when I put clappr in a asp.net webform it works starting playing the video, but as soon as I try to click the fullscreen button it generates a postback and the player is unloaded, but I can doubleclick in the player and get fullscreen without postback event. I can click play/pause without problem and also change volume. Also clicking 'HD' button or changing quality with the quality selector pl

[2015-10-08 15:41] flavioribeiro commented on #537
+1

[2015-10-09 05:27] flavioribeiro opened #579 "Use assign() or $.extend() to create objects with new references"
I saw some places in the code where we use `$.extend()` and `assign()` for the same purpose. It would be better if we use only one.

[2015-10-09 16:53] dviramontes opened #580 "question; How would you go about listening to Events.MEDIACONTROL_FULLSCREEN event ?"
looked at `node_modules/clappr/src/base/events.js:299`
and It looks like both  `Events.MEDIACONTROL_FULLSCREEN` and
`Events.CONTAINER_FULLSCREEN` are exposed.

however,
[code]
neither event seems to work. Any clues ?
Thanks in advance!

[2015-10-09 21:42] dviramontes commented on #580
I was able to get around this by asking the DOM  based on [this isFullScreen function](https://closure-library.googlecode.com/git-history/docs/local_closure_goog_dom_fullscreen.js.source.html).
Closing issue.

[2015-10-09 21:42] #580 closed

[2015-10-10 22:31] tjenkinson opened #581 "Looking for scrub bar thumbnails plugin"
Just wondering if there's a plugin that will show thumbnails above the scrub bar when hovering over the scrub bar yet (assuming thumbnail images have already been generated)?

I can see there's one on globo.com but understand you might not be open sourcing that one.

If not I'll have a look at building one.

Thanks!

[2015-10-10 23:28] leandromoreira commented on #581
@tjenkinson as far as I know, nope! :)

This will be awesome! You always help a lot, thanks once again. :beers:

[2015-10-12 18:06] flavioribeiro commented on #581
hey @tjenkinson AFAIK globo.com thumb preview extend [seek time](https://github.com/clappr/clappr/blob/master/src/components/seek_time/seek_time.js) component. Tell me if there's something I can do on my side to help u developing this feature.

[2015-10-12 18:08] flavioribeiro commented on #577
Can you send us an URL where we can reproduce this problem?

[2015-10-12 19:59] tjenkinson opened #582 "Question about css structure and scope issues"
Just wondering if there's a reason you decided to apply css to data tags in several places instead of classes? E.g. `data-player` has css mapped to it.

Secondly at the moment the css isn't scoped meaning if I happened to have another element on my page with `data-player` for example it inherits clappr's styles which is undesired behaviour. A simple fix for this would be to add a `clappr` class to

[2015-10-12 20:15] towerz commented on #582
@tjenkinson we originally considered the data tags to add some scope to the markup elements and passing some information around. Since every element had data attributes, we used those in the CSS to make the selectors more specific. Some elements haven't been revisited to add classes to the data attribute selectors, but we dropped the idea of having data attributes in a later moment.

Since the ado

[2015-10-12 20:22] tjenkinson commented on #582
Ok thanks :)

[2015-10-12 20:22] #582 closed

[2015-10-13 05:30] flavioribeiro commented on #270
refs #374

[2015-10-13 05:31] dayvson commented on #270
I understand the reason of why you guys want to test and experiment with Chromecast and decide to make it a core plugin, but I believe this decision should be re-evaluated.

Mainly for two reasons,
1 - To make this code work, it will require that a user have a Chromecast device, which is an enormous external dependency. I believe this reason should be strong enough to make the case of make Chromec

[2015-10-13 05:33] flavioribeiro commented on #270
reopening this issue so we can follow up with @dayvson comments

[2015-10-13 05:34] flavioribeiro commented on #575
sounds like 44ff6cd74eb34bf7756288d270e6fa4ad3aebf1b fixed this

[2015-10-13 05:34] #575 closed

[2015-10-13 05:35] flavioribeiro commented on #560
@LGprodigy do u have a valid URL where we can reproduce this behavior?

[2015-10-13 14:47] tjenkinson commented on #581
Starting work on this here :)
https://github.com/tjenkinson/clappr-thumbnails-plugin

[2015-10-13 14:49] flavioribeiro commented on #581
:clap: will be following the project, closing this for now

[2015-10-13 14:49] #581 closed

[2015-10-13 14:58] flavioribeiro commented on #558
hey @LGprodigy, I made some tests with hlsjs running on opera and it seems to be working fine. I hope the guys will look at the #583 and merge it asap so this issue will be automatically fixed. I'll let it open to remember you to try before the merge and close or comment if you still find that it is an issue.

[2015-10-13 15:00] #345 closed

[2015-10-13 16:03] tjenkinson commented on #581
Any idea why `mediaControl` doesn't exist on `this._core` on line 23?

I'm off out now but will carry on debugging later

[code]

[2015-10-13 17:25] towerz commented on #270
@flavioribeiro @dayvson we already considered extracting some non vital plugins into external codebases. I agree the chromecast plugin should be the first of them.

I'm already doing some cleanup in the clappr project, so you don't need to worry about this.

[2015-10-13 17:42] tjenkinson commented on #581
Nevermind found the issue.

I had
[code]

instead of
[code]

Maybe a check could be performed when the plugins are loaded in to make sure what they are extending makes sense for the type they're being loaded in as?

[2015-10-13 17:57] leandromoreira commented on #581
@tjenkinson I totally agree with you, I was in the same situation as you last Friday. We should create an issue for it.

[2015-10-13 19:11] tjenkinson opened #584 "A check should be performed to make sure plugin is of correct type when loaded"
E.g currently if you accidentally put a UiCore plugin as a 'container' plugin in the 'plugins' object in the 'options' object there are no errors.

Would be nice if there was an exception thrown.

[2015-10-13 19:12] tjenkinson commented on #581
Done :)
https://github.com/clappr/clappr/issues/584

[2015-10-13 20:46] tjenkinson commented on #581
Next question :P

Is the `core` property on `UICorePlugin` part of the api which can be used by plugins or not? I'm presuming it is but the level selector plugin seems to store it in again after getting it from the constructor (although it's actually storing it back over itself).

https://github.com/clappr/clappr-level-selector-plugin/blob/master/src/main.js#L29

[2015-10-13 21:14] leandromoreira commented on #581
@tjenkinson yes, it is! https://github.com/clappr/clappr/blob/master/src/base/ui_core_plugin.js#L7

Level selector is not using it right, beyond that LS even call super after code. (which is something wrong too, I think)

[2015-10-13 21:17] leandromoreira commented on #270
+ 1 @dayvson

[2015-10-13 22:01] tjenkinson commented on #581
Cool thanks. Yes it is webpack gave me errors about that when I initially had it that way

[2015-10-13 22:02] towerz commented on #270
Removed this on 90840eebe1b837f27771b6598793017fb916388d. I think we can close this again. The plugin source will be added to [clappr/clappr-chromecast-plugin](https://github.com/clappr/clappr-chromecast-plugin).

[2015-10-13 22:02] #270 closed

[2015-10-13 22:22] flavioribeiro commented on #270
awesome! great work, @towerz

[2015-10-13 22:23] flavioribeiro commented on #515
@kingjedidiah hey, with the last updates on the plugin your stream should play fine. Feel free to open this issue again if u face issues.

[2015-10-13 22:23] #515 closed

[2015-10-13 22:24] flavioribeiro commented on #500
any updates on this @luhaiyong ?

[2015-10-13 22:25] flavioribeiro commented on #390
sorry for taking SO LONG @vitorbaptista. I was thinking of dispatching a new event that expose the name of the plugin (if it's using flashls, hls.js, html5_video or flash, for example)

[2015-10-14 12:24] tjenkinson commented on #581
It looks like if an exception is thrown it is caught somewhere and not printed to the console.

I am currently doing
[code]

in the `render()` function. The first message is logged to the console but then there's nothing.

[2015-10-14 12:58] leandromoreira commented on #581
did you enable Logger to debug?
https://github.com/clappr/clappr/blob/master/src/plugins/log/log.js#L23

We log when almost all [events are triggered](https://github.com/clappr/clappr/blob/886d674ca9ca3f4bb7436be77466aeb0cf85b68f/src/base/events.js#L102) (either its success or exception).

Although, `throw "s"` should be seen as an exception not an debug info.

[2015-10-14 15:38] tjenkinson commented on #581
Think version 1 is finished!
http://tjenkinson.me/clappr-thumbnails-plugin/

Look allright?

No I never touched the logger. Will look at that next.

[2015-10-14 16:58] thiagopnts commented on #581
it looks awesome!

[2015-10-14 17:04] leandromoreira commented on #581
pretty cool @tjenkinson : ), we should put it on README (external plugins)

https://github.com/tjenkinson/clappr-thumbnails-plugin

[2015-10-14 17:34] flavioribeiro commented on #581
congrats @tjenkinson :beers:

[2015-10-14 18:03] floriano12 opened #585 "Player HLS with text logo"
This player HLS to works on all browser and devices ?
Is possible to include a text logo on player ?

Can create someone for me a player HLS which include text logo ?

Thanks so much for any help!

[2015-10-14 18:05] #555 closed

[2015-10-14 18:10] flavioribeiro commented on #585
Hey, clappr is supposed to work well with HLS on [listed](https://github.com/clappr/clappr#supported-formats) browsers. Regarding the logo over the video, clappr has a `watermark` plugin plugin which should work well for you. Try modifying the html below:
[code]

[2015-10-14 18:45] floriano12 commented on #585
Thanks so much for your reply!

my question is: can work player with "text logo", not image ?

please give me a link for download player HLS.

[2015-10-14 19:14] leandromoreira commented on #574
@Kreeig did you notice any console error? what kind vide were you playing? do you have any url to test?

[2015-10-14 19:27] Kreeig commented on #574
yes , for example - http://sportlive.ws/s/euro2 , you see there no error , just not play

[2015-10-15 12:23] tarkanlar commented on #523
I really need to stretch media source anyone can any idea how we can do this?

[2015-10-15 12:39] nextlivetv commented on #523
there's no option.
I tried all options.
You have to use 16:9 and probleme its done.

[2015-10-15 12:51] tarkanlar commented on #523
I just saw clappr is moving to hlsjs (https://github.com/clappr/clappr/issues/555) so may be it will be solved there

[2015-10-15 13:09] leandromoreira commented on #574
hey @Kreeig I rewrite the title (for SEO) and I'll let this issue open so anyone can pick an try to fix it. Thanks.

[2015-10-16 02:49] leandromoreira commented on #585
@floriano12 clappr is extensible, you can easily put a "text logo" on it, see the example below. About your question, the link to download a HLS player? So, clappr already plays hls streams, you can use it without no extra javascript.

[code]

[2015-10-16 19:41] tjenkinson opened #586 "How to give a plugin an external api"
Just wondering if there's a recommended way for plugins to provide an api?

Basically for this: https://github.com/tjenkinson/clappr-thumbnails-plugin/issues/1

[2015-10-16 19:45] tjenkinson commented on #586
I guess it could register methods on the options object when it's loaded but it just seems a bit messy. Would be nice if the instance of the plugin could be accessed some way after clappr has instantiate it.

[2015-10-16 19:52] flavioribeiro commented on #586
hey @tjenkinson not sure if it's gonna answer your question but we have a undocumented call to getExternalInterface where we bind the functions inside of it on the player scope.

I should mention that this call is valid for core/ui_core plugins only, so you're good for adding on your thumbnails plugin.

[2015-10-16 20:09] leandromoreira commented on #586
@tjenkinson

I think you can access all the plugins by

We usually use two ways to interact with other components:

## Events

[code]

##Calling the function

`

After reading your https://github.com/tjenkinson/clappr-thumbnails-plugin/issues/1 I think maybe the best solution might be really the options. (it depends on how and when you get the thumbnail source)

[code]

[2015-10-16 20:21] leandromoreira commented on #586
@tjenkinson

All the plugins are stored, I think we have a function `findPlaybackPlugins` or `findPlugins` to do a lookup in all of them by *name*, but I don't remember the method. @flavioribeiro @towerz @thiagopnts sure know if there is such method.

[code]

Nevertheless, we usually use two ways to interact with other components:

## Events (less coupled)

[code]

## Calling functions

[code]

Af

[2015-10-16 21:13] jfairley opened #587 "HLS.js release?"
Curious when we'll see an NPM distribution containing HLS.js.

It works well for me when installed locally, but our release is blocked by this one.

Thanks!

[2015-10-16 21:14] flavioribeiro commented on #587
+1

[2015-10-17 01:31] nxtreaming opened #588 "Does not support IE11 [defineProperty: Unsupported property or method ]"
Object.defineProperty(exports, '__esModule', {
	    value: true
	});

I use the latest clappr which is located in "http://cdn.clappr.io/latest/clappr.min.js"

![clappr_debug](https://cloud.githubusercontent.com/assets/3108107/10556287/d72643f2-74b1-11e5-92c0-d3de9372a8c7.png)
"

[2015-10-17 13:40] tjenkinson opened #589 "Error with hlsjs when providing source in load method instead of options object"
I have checked out https://github.com/clappr/clappr/commit/89e5c3a95ed062e493547657af219c323f8360a1 and found a bug when loading a hls stream.

If I provide the hls playlist url in the `source` property of the options object everything is fine.

If I don't provide the `source` in the options object though and instead call the `load` method on clappr I get this error in the console:

`GET http://ww

[2015-10-17 14:11] tjenkinson commented on #589
Ok after stepping through in the debugger the noop playback is created initially, and then the hls playback is created when `load` is called, and the `src` property is the correct url inside the playback so it goes wrong somewhere after this point.

[2015-10-17 14:15] tjenkinson commented on #589
Got it! :)

https://github.com/clappr/clappr/blob/89e5c3a95ed062e493547657af219c323f8360a1/src/playbacks/hls/hls.js#L23

will submit a PR in a minute

[2015-10-17 14:19] tjenkinson commented on #589
https://github.com/clappr/clappr/pull/590

[2015-10-17 14:21] leandromoreira commented on #589
You're fast!

[2015-10-17 14:24] #589 closed

[2015-10-17 15:59] tjenkinson opened #591 "Webpack "using prebuilt javascript file" warning with "hls.js". Causing problems with requirejs"
When I build master (https://github.com/clappr/clappr/commit/0b7f9b6621e42fb10c1a309052c6be0d03016927) I get the following warning from webpack.

[code]

Looking at the build js file I can see that at the part where hls.js is included it tries to register itself with requirejs as an anonymous module.

![image](https://cloud.githubusercontent.com/assets/3259993/10559743/aaaccf1a-74ef-11e5-819e-e59e

[2015-10-17 16:02] tjenkinson commented on #591
So the issue is hlsjs defining itself which would not be expected when this is essentially an internal library used by clappr.

[2015-10-17 16:06] tjenkinson commented on #591
It looks like it might be possible for the hlsjs source file to be used and then webpack would build hlsjs into webpack. Hlsjs currently uses browserify to build.

[2015-10-17 16:38] tjenkinson commented on #591
So building with the hlsjs source doesn't work because clappr would need to also include the dependencies that hlsjs needs. I tried this here: https://github.com/tjenkinson/clappr/tree/hlsjs-requirejs-issue and the 'webworkify' dependency is missing for example.

The only solution I can think of for this at the moment is for clappr to not include hlsjs and instead require it as an external depende

[2015-10-17 18:48] tjenkinson commented on #586
Thanks.

It looks to me like both of those solutions still only allow finding the plugin from within clappr or another plugin?

So one of the reasons I would like people to be able to add and remove thumbnails dynamically is live streams with dvr and a sliding window. This means as the stream happens new thumbnails will be being generated somewhere on the fly and old ones removed.

One solution ma

[2015-10-17 23:18] tjenkinson commented on #591
Fix :)
https://github.com/clappr/clappr/pull/592

[2015-10-17 23:24] tjenkinson opened #593 "Option to disable right click on video tag"
Would be nice if there was a config option which would disable the context menu on the video tag, when a video tag is used.

[2015-10-17 23:40] tjenkinson opened #594 "Something wrong with seeking back in hls stream (hlsjs + dvr) with moving window"
As the stream runs the old content is gradually removed from the start of the recording.

This issue is that it appears to be that the longer the stream has been playing the larger the region you can click on at the start of the scrub bar that doesn't work and reverts back to the live point.

Looks like maybe the scrub bar might not be getting recalibrated when chunks are removed from the start.

[2015-10-18 00:57] ElielHaouzi opened #595 "Error on bower install clappr"
bower install clappr failed.

bower lodash.result#^3.1.2   ENOTFOUND Package lodash.result not found

Thanks

[2015-10-18 03:08] flavioribeiro opened #596 "Add context menu for right click inside the player"
we could build a context menu like youtube
refs #593

[2015-10-18 03:09] flavioribeiro commented on #594
the way that hlsjs handle the sliding window is different from flashls, @towerz is working to make it compatible

[2015-10-18 12:16] tjenkinson commented on #593
If you think this should be an option I've made a quick PR :)

[2015-10-18 12:17] tjenkinson commented on #596
Yes this would be nice. I guess maybe this could be a plugin?

[2015-10-18 17:29] #593 closed

[2015-10-19 14:48] flavioribeiro commented on #596
sure, it should be an external plugin imho

[2015-10-20 09:16] shacharz commented on #327
How come this commit closed the issue? I still see it

[2015-10-20 14:18] lightest opened #599 "Clappr falls back to flash with HLS .m3u8 even though Clappr.HLS explicitly defined"
Hi everyone,

HTML:
[code]

JavaScript (logic.js):
[code]

So when I load my page there is flash object instead of `<video>`. I thought dailymotion's hls.js was adopted exactly to move away from flash. May be I misunderstood something?

Browsers tested:
Chrome 46
FireFox 41

[2015-10-20 14:42] flavioribeiro commented on #327
afaik the `:flashready` event was not being triggered on IE10 or being triggered in wrong time causing `setFlashSettings()` to not be called so I forced the call again on `firstPlay`. Unfortunately I don't have an IE10 here to make tests. Mind printing `this.flushLiveURLCache` inside `setFlashSettings()` so we can ensure it's being called and that the param is set to `false`?

[2015-10-20 14:48] flavioribeiro commented on #599
hey @lightest I think the guys didn't release a version with hlsjs integration yet so that means you can build by yourself and it's gonna work. We are avoiding hlsjs playback on firefox until we have MSE enabled by default as you can see here:
https://github.com/dailymotion/hls.js/blob/master/README.md#compatibility
https://github.com/clappr/clappr/blob/master/src/playbacks/hls/hls.js#L105

[2015-10-20 14:49] flavioribeiro commented on #599
refs #587

[2015-10-20 16:23] flavioribeiro commented on #586
yep @tjenkinson I think that exposing `scrubThumbnails` on player scope is the way to go.

[2015-10-20 16:23] dviramontes commented on #587
any updates on the release ?

[2015-10-20 16:25] flavioribeiro commented on #587
yep, @leandromoreira just did it, wait a bit until we have it on cdn

[2015-10-20 16:30] tjenkinson commented on #586
Awesome thanks!

[2015-10-20 16:30] #586 closed

[2015-10-20 16:33] tjenkinson commented on #594
Is this fixed in the latest version? Otherwise I'm going to have to stick with the current version until it is.

Or is there a way I could temporarily disable the hlsjs playback?

Thanks

[2015-10-20 16:35] flavioribeiro commented on #594
I think @towerz worked on that (89e5c3a95ed062e493547657af219c323f8360a1) but not sure if fixed the behavior you reported. A workaround to use flashls instead of hlsjs is to pass the built-in FlasHLS plugin as an external one like ` plugins: { playback: [Clappr.FlasHLS] }` (it will be in higher priority on the playbackPlugins array on loader object).

[2015-10-20 16:45] tjenkinson commented on #594
Great thanks. I'll test it again but think this might be a different issue.

[2015-10-20 17:04] jfairley commented on #587
:confetti_ball:

[2015-10-20 17:05] #587 closed

[2015-10-20 18:06] dviramontes commented on #587
im guessing the npm publish is to follow as well ?

[2015-10-20 19:59] leandromoreira commented on #587
@jfairley @dviramontes we had a little problem while releasing the newer version of clappr, so this is wrong ;( . We'll fix it soon, I'm sorry. :hankey:

[2015-10-20 20:12] dviramontes commented on #587
@leandromoreira
O.K. thanks for the update!

[2015-10-20 21:38] tjenkinson commented on #594
So with our stream with a moving window the duration clappr is showing on the seek time element keeps increasing, and when you click on a position on the seek bar it is seeking to that time directly on the video element.

So for for a 15 minute window after 5 minutes clappr is showing the duration as 20 minutes, and clicking on the 15 minute point of the seek bar will jump to 15 minutes on the vid

[2015-10-20 21:42] tjenkinson commented on #594
the `sliding` property is always resolving to `0` in the seek method which is looking like it might be the issue

[2015-10-20 21:45] tjenkinson commented on #594
`this.hls.levels[this.hls.currentLevel].details.sliding`

the `sliding` property doesn't seem to exist

[2015-10-20 22:24] tjenkinson commented on #594
giving up for now. I think with these changes it is actually seeking to where it should be, but the scrub bar position is being calculated wrong

https://gist.github.com/tjenkinson/39acae00012d8b2846c3

[2015-10-20 22:40] dethos opened #600 "Cannot find module "./public/style.scss""
Hello, yesterday I tried and successfully used the player, based on the example in the readme.
Yet tonight I tried it again and chrome is giving me the following error:

I'm including the file like this:

` <script type="text/javascript" src="http://cdn.clappr.io/latest/clappr.min.js"></script>`

Looks like you launched a new release today, so perhaps this is a new thing.

[2015-10-21 00:40] flavioribeiro commented on #600
yep, could reproduce on http://cdn.clappr.io/ so I think we have a critical issue here..

ping @towerz @leandromoreira @thiagopnts

[2015-10-21 00:50] flavioribeiro commented on #595
not sure but maybe refs to https://github.com/webpack/webpack/issues/332

[2015-10-21 00:54] flavioribeiro commented on #576
I'm not sure if I can label this one as a bug, can you explain us more about what are you trying to do, @shaharmor? We dispatch some buffering/bufferfull events in case you want to listen to them

[2015-10-21 04:02] flavioribeiro commented on #584
I was playing around this one and maybe is not that easy, we need to dig into the transpiler and see what actually happens when objects are being inherited (my first shot is that the methods are just extended leaving no clue who are the parents)

[code]
We could check for `canPlay` to ensure it's a Playback plugin or `getExternalInterface` for core, but I dunno how to check for container ones. I'v

[2015-10-21 08:27] shaharmor commented on #576
All i wanna do is just as the method name says, check if the play **is playing** (Not buffering).
By playing i mean actually showing moving frames on the screen...

[2015-10-21 11:16] leandromoreira commented on #587
@jfairley @dviramontes @flavioribeiro we're live! (once again, I'm sorry)

[2015-10-21 11:38] tarkanlar commented on #596
This would be really awesome

[2015-10-21 11:59] tarkanlar commented on #523
Nope not solved with the hlsjs as well

[2015-10-21 15:50] dviramontes commented on #587
yay! thanks so much!

[2015-10-21 16:06] jfairley commented on #587
![62gjbzx](https://cloud.githubusercontent.com/assets/992483/10642520/54bbbf96-77db-11e5-9a96-24c90a1ccf61.png)

[2015-10-21 16:43] leandromoreira commented on #576
@shaharmor did you observe that behavior when playing mp4, hls ... and using what browser?

This behavior is delegated to each `playback`. Let's say you're trying to play a mp4 (therefore using html5_video playback) and call `player.isPlaying()` it'll delegate to html5_video playback.

[code]

Maybe we can consider when it's buffering too.

[2015-10-21 16:48] leandromoreira commented on #600
@dethos are you still facing this issue? I tried http://cdn.clappr.io/ and everything seems fine.

[2015-10-21 17:44] dethos commented on #600
@leandromoreira No, today I tried again, the error no longer shows up and the player is working just fine.

[2015-10-21 18:03] leandromoreira commented on #600
thanks @dethos

[2015-10-21 18:03] #600 closed

[2015-10-21 19:00] flavioribeiro commented on #599
@lightest can u test again and reopen if its still an issue? we're now live with hlsjs in prod

[2015-10-21 19:00] #599 closed

[2015-10-21 19:11] #497 closed

[2015-10-21 19:11] #527 closed

[2015-10-21 19:11] #551 closed

[2015-10-21 19:11] #567 closed

[2015-10-21 19:11] #568 closed

[2015-10-21 19:11] #569 closed

[2015-10-21 19:11] #585 closed

[2015-10-21 20:11] flavioribeiro commented on #523
@mangui, what's your thoughts on this one? do u think it's feasible to implement on hlsjs? I wonder if it's possible to play with canvas size in order to accomplish this behavior

[2015-10-21 20:15] flavioribeiro opened #604 "Accept source url as querystring parameter on our demo page"
like http://dailymotion.github.io/hls.js/demo/?src=http%3A%2F%2Fpgc.prototypes.ru%2Fstore%2Faudio%2F561bb34d-0000-0018-0000-0001d6b72f24.128.m3u8

[2015-10-21 20:19] shaharmor commented on #576
I have only tested this when playing hls, on both chrome & firefox.

If you want to reproduce it, simply set the browser network to limited (using chrome dev-tools for example), and then click play and check the response of `.isPlaying()`

[2015-10-21 20:25] tjenkinson commented on #576
I think isPlaying() should work like it currently does. If play() has been called I would expect the state to then be playing until pause() is called. If people are already relying on this and its behaviour changes then it could break things.
Guess there could be another isBuffering() method?

[2015-10-21 20:27] shaharmor commented on #576
If someone relies on isPlaying to really have the player play the stream, but there is a real bug the causes it to not get out of buffering mode, .isPlaying won't catch that.

[2015-10-21 21:39] #579 closed

[2015-10-21 22:35] thiagopnts commented on #576
I guess to track if the video is buffering and implement a isBuffering or isPlaying(which considers if the player is buffering) would just bring another state to the player to be tracked. It would be easier to just listen to the buffering events and don't do what you wanna do while in the buffering range.

[2015-10-22 01:02] lightest commented on #599
@flavioribeiro It works I confirm. Sorry for lack of feedback got a bit bussy. One more question. To switch between flash and hlsjs I need to use Clappr.FlashHLS/Clappr.HLS correct? The thing is that some particular playlists doesn't work with hlsjs but used to work with flash.

[2015-10-22 08:08] mangui commented on #523
in flash you can easily stretch, jwplayer uses the following code to stretch:
https://github.com/jwplayer/jwplayer/blob/master/src/flash/com/longtailvideo/jwplayer/utils/Stretcher.as.

in html5, it has nothing to do with hls.js, you just need to find a way to stretch the video element itself.
CSS3 transform seems to be the way
http://stackoverflow.com/questions/3779771/html-5-video-stretch/3780896

[2015-10-22 11:24] tjenkinson commented on #591
This has been fixed by these commits in the hls.js project.

https://github.com/dailymotion/hls.js/commit/3685bdb4dc796a6ad55ef4dbe2aa7cd09d5b0aac
https://github.com/dailymotion/hls.js/commit/e930ba64b3bc3b6c649c3a72ff2abcad52171512
https://github.com/dailymotion/hls.js/commit/59d5f0d68fd7095a11282c3d97eba402aace3671

So webpack is now building the hlsjs source files as well.

[2015-10-22 11:24] #591 closed

[2015-10-22 15:29] flavioribeiro commented on #599
yep! Adding the playback you want to play on the `plugins` array will add it in the first priority for playing your source.

[2015-10-22 16:49] jfairley commented on #576
I second listening for buffering events.

Just taking a simple use case of a play-pause button which would just listen for changes to `isPlaying`, even when buffering, I would expect the button to show ![the pause icon](https://cloud.githubusercontent.com/assets/992483/10671940/864d46c2-78aa-11e5-990d-71604b9cf783.png) rather than ![the play icon](https://cloud.githubusercontent.com/assets/992483/

[2015-10-22 17:07] tjenkinson commented on #576
:+1:

[2015-10-22 17:28] leandromoreira commented on #576
:+1:

[2015-10-22 20:25] deedos opened #607 "Last release (0.2.14) cors problem (only with Chrome)"
getting a "XMLHttpRequest cannot load http://xxxx/my.m3u8. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://mydomain' is therefore not allowed access."

Got it with hosted version from http://cdn.clappr.io/latest/clappr.min.js and hosing the js in  my server, with version 0.2.14 .

With  0.2.13, everything is fine with chrome serving locally.

What could

[2015-10-22 20:33] tjenkinson commented on #607
It'll be because it's now using hlsjs instead of flashls which means it will require that http header. Previously the flash version would have required the crossdomain.xml file.

[2015-10-22 20:37] flavioribeiro commented on #607
yep, @tjenkinson is right, we're working to get rid of flash and [hls.js](http://github.com/dailymotion/hls.js) seems to be the way to go. However, you can add `plugins: {playback: [Clappr.FlasHLS]}` when creating the player in case you need some time to add this header on your server or wanna still use flash.

[2015-10-22 23:14] leandromoreira commented on #584
@flavioribeiro I think is best to rely on `type` since almost all the others "check type solutions" are not guaranteed to work now/future in JS.

[2015-10-24 15:26] floriano12 commented on #585
Thanks team,

this is great, and works fine !

[2015-10-24 16:31] AlexRevin opened #608 "0.2.14 HLS Chrome problem"
HLS stream is not being played in Chrome with HLS.js.

Plays well with Safari and FF. It loads segments and playlist file but results in black screen. No JS errors.
![image](http://www.lj.ee/screen.png)

[2015-10-24 16:32] AlexRevin commented on #607
You should check your streaming server for that. If you are using nginx-rtmp-module the setup is basically the same as for crossdomain xhr request, you just need to pass additional headers from the server side.

[2015-10-24 16:33] flavioribeiro commented on #608
@AlexRevin can u give me this source url?

[2015-10-24 16:35] tjenkinson commented on #608
Have you got a link to the page with the issue? Will be easier to debug.

Out of those browsers the only one where hlsjs will actually be chosen is chrome.

[2015-10-24 16:48] AlexRevin commented on #608
Yeah, checkout http://lj.ee/broadcasts/bc-758b06c1100bcd843e3e for eample

[2015-10-24 16:50] AlexRevin commented on #608
When I disable mediasources api in Chrome it gracefully falls back to FlashHLS and works well then.

[2015-10-24 16:55] tjenkinson commented on #608
Yeh I have the same issue in chrome on windows. The links has stopped working for me now though.

[2015-10-24 16:57] flavioribeiro commented on #608
same here, not working

[2015-10-24 16:57] AlexRevin commented on #608
I have updated the link, because the broadcasting stopped, those streams are not permanent, you know. You can try http://lj.ee/broadcasts/bc-09468478f78d292fc79e for eample, should be live for now.

Or from the frontpage enter any SopCase url and it should start broadcasting.

[2015-10-24 17:04] flavioribeiro commented on #608
ok, it's not playing on hls.js demo page also (http://dailymotion.github.io/hls.js/demo/?src=http://rtmp.lj.ee:3800/hls/bc-09468478f78d292fc79e.m3u8, you'll need to run chrome with `--disable-web-security` to get rid of access control errors) so we should report this issue to @mangui. If you want to go back to flashls while we figure out what's going on, follow what is described on #607

[2015-10-24 17:07] AlexRevin commented on #608
@flavioribeiro it won't be playing on their demo page as CORS headers are not set-up wide open I guess.

[2015-10-24 17:07] flavioribeiro commented on #608
@AlexRevin just wondering what's the segmenter you're using, is nginx-rtmp?

[2015-10-24 17:08] flavioribeiro commented on #608
if u run chrome with --disable-web-security you'll not face cors related problems

[2015-10-24 17:15] AlexRevin commented on #608
Yeah, right. I've tried running the stream from their demo page with disable-web-security flags applied and it did not work too.

I am using http://arut.github.io/nginx-rtmp-module/ for providing HLS live streams so I shouldn't be the one with such problems I guess.

Unfortunately I cannot provide a permanent link for testing, as they are not permanent but it's obviously related to HLS.js

[2015-10-25 03:38] polaris-zx opened #609 "no video on galaxy s5"
There is no video on Galaxy s5 when a live video or a replay is playing. But the video is diaplayed after you click the progress bar.

[2015-10-25 21:47] baragamer opened #610 "Clappr not working in Firefox"
Clappr works in all devices using HLS but not in Windows Phone and In firefox, the web browser

[2015-10-25 23:07] flavioribeiro commented on #610
@baragamer firefox is disabling flash by default and since we're still waiting for it to enable MSE by default (hopefully next month) we're not using hls.js on it. Said that, try enabling flash and the playback should work. Regarding windows phone, I don't have access to a device with it so let's wait for someone to ask for details and try to reproduce.

[2015-10-27 03:03] polaris-zx commented on #609
only the audio.

[2015-10-27 17:32] leandromoreira commented on #610
Just a heads up:

* Firefox 42 will enable MSE by default
* There is no whitelist anymore ; "we won't be adding new sites to the whitelist"

http://www.ghacks.net/2015/08/06/mozilla-to-enable-media-source-extensions-mse-for-all-websites-in-firefox-42/

https://bugzilla.mozilla.org/show_bug.cgi?id=778617

[2015-10-27 18:10] tjenkinson commented on #604
Presume you're referring to this page: https://github.com/clappr/clappr/blob/master/public/index.html

[2015-10-27 18:17] flavioribeiro commented on #604
yep!

[2015-10-27 22:19] #594 closed

[2015-10-28 16:16] #604 closed

[2015-10-28 23:50] tjenkinson opened #613 "Remove volume bar drag cursor external dependency"
Just spotted that the hand cursor which is used when changing the volume is picked up from google. https://github.com/clappr/clappr/blob/77e016b3f416c06857db6b8789c7efd1eb85340c/src/components/media_control/media_control.js#L166

Any reason why this couldn't become an asset just like the fonts and flash players? The URL looks like it might be one that google could easily change.

[2015-10-29 15:10] flavioribeiro commented on #613
Yep, this should be located in our internal assets. go for it!

[2015-10-29 15:11] flavioribeiro commented on #506
@tokenian can you still reproduce this error with hlsjs?

[2015-10-29 15:13] flavioribeiro commented on #466
+1

[2015-10-29 17:53] #584 closed

[2015-10-30 02:21] AlekzFateJumper commented on #552
This worked fine on Firefox, but crashed in Chrome, the getCurrentLevel() does not exist in Chrome.

[2015-10-30 10:32] cacciato opened #615 "COR"

[2015-10-30 10:33] #615 closed

[2015-10-30 14:09] leandromoreira opened #616 "HLSJS fails to load another URL"
**Browser**: Chrome Version 46.0.2490.80
**OS**: Mac OS 10.11.1

**Steps to reproduce**:

* create a player
* play a given video
* try to load another one (`player.load(url)`)

[2015-10-30 14:21] flavioribeiro commented on #552
Force the use of FlasHLS on Chrome by adding `plugins: {playback: [Clappr.FlasHLS]}` on the embed params and you'll have the same methods for both chrome and firefox

[2015-10-30 16:11] cacciato opened #617 "CONTAINER_BITRATE event : Wrong bitrate value."
I need to retrieve player bitrate so I use the following method :

[code]

During one session, this event is called multiple times. However, the bitrate property within the bitrate object always has the same value (See attached images).

![level_0](https://cloud.githubusercontent.com/assets/4940767/10849830/ce4c5804-7f22-11e5-89ea-4a275dfae6a1.png)
![level_6](https://cloud.githubusercontent.com/as

[2015-10-30 17:47] tjenkinson commented on #613
Shouldn't this css class be being used instead?

https://github.com/clappr/clappr/blob/77e016b3f416c06857db6b8789c7efd1eb85340c/src/components/media_control/public/media-control.scss#L23

Also I guess if that's the case then this cursor should also be inserted there as well.

[2015-10-30 18:50] tjenkinson commented on #572
I think this is just not possible on iOS on mobile (unless they save your site to their home screen).

http://stackoverflow.com/a/21306314/1048589

[2015-10-30 18:50] #572 closed

[2015-10-30 18:55] tjenkinson commented on #566
It seems to be using the native video tag fine for our stream in edge.

(We have a separate unrelated issue though where edge isn't decoding the stream properly and leaving loads of random artefacts which wowza are looking into).

[2015-10-30 19:02] flavioribeiro commented on #566
@tjenkinson can you confirm if it's using hls or html5_video playback? I guess our [canPlay](https://github.com/clappr/clappr/blob/master/src/playbacks/html5_video/html5_video.js#L261-L283) strategy is matching Edge. Have you tried with both hls and mp4?

[2015-10-30 19:04] tjenkinson commented on #550
Any work started on this yet?

We will need this functionality in some form for https://github.com/LA1TV/Website/issues/628 because we have multiple encodes for some of our content.

[2015-10-30 19:08] tjenkinson commented on #566
Will double check later but pretty certain it was html5_video. Think the src on <video> was the stream url.

Not tried an MP4 yet but will do.

[2015-10-30 19:28] leandromoreira commented on #576
can we close this one?

[2015-10-30 21:32] towerz commented on #550
@tjenkinson I've already started working on this, mostly for playing fallbacks/sequences. Still need to polish the plugins a little bit, but I'll add it as soon as possible.

[2015-10-30 21:34] tjenkinson commented on #550
:+1:

[2015-10-30 21:39] #616 closed

[2015-11-01 16:42] towerz opened #620 "HLS live not working on Chrome 46 for Android"
It worked properly until Chrome 45, but since Chrome 46 has been released, starting a HLS live stream  shows a black screen (VoD seems to work). The video seems to be playing, but it's not displayed correctly. The m3u8 manifest and ts files are requested as if the video was playing.

Clicking play after switching apps or browser tabs makes the video play normally. The problem does not happen using

[2015-11-01 20:42] tjenkinson commented on #566
Yep is is using html5_video playback for hls and an mp4.

[2015-11-02 15:36] flavioribeiro commented on #566
good, mind updating the supported browsers box on readme?

[2015-11-02 15:36] #566 closed

[2015-11-02 15:40] tjenkinson commented on #566
Can do but only tested hls and mp4 not the other columns in the table so not sure on those.

[2015-11-02 15:52] flavioribeiro commented on #566
put a `?`

[2015-11-02 16:13] tjenkinson commented on #566
Done https://github.com/clappr/clappr/commit/d543e80905154d9256b6d0a75a44c19c07ff3195

[2015-11-02 16:23] leandromoreira commented on #566
Cool, thanks @tjenkinson  :beers:

[2015-11-02 20:44] leandromoreira opened #626 "RFC: Add support to manage audio/video/text tracks at Playback interface"
While I'm creating the dash playback I'm seeing a lot of opportunities to clappr. :) Dash/HLS offers multiple audio/video/text tracks.

I think it might be useful to add these capabilities to our `Playback`.

I also think that @towerz is working to open source our solution to Adobe DRM (which also handles multiples audios...)

**This is very inspired by [shaka](https://shaka-player-demo.appspot.co

[2015-11-02 20:55] leandromoreira opened #627 "RFC: Add support to a broader feature check at Playback"
We set that the `Playback` holds a function [`isHighDefinitionInUse`](https://github.com/clappr/clappr/blob/2fa8ebe298d9458231c83fad88465ad11ce845e8/src/base/playback.js#L81) which is responsible for defining if a playback is using `HD` or not. (we mostly consider 720p as  HD)
## Problem 1

There will be lots of new "features" such as: 4K, 8K, FullHD, 3D, 360... and it'd be silly to add functions

[2015-11-02 21:07] tjenkinson opened #628 "Extract webpack config out of 'karma.conf.js' and 'webpack.config.js' and store once"
I think it should be possible to put the webpack config in a separate file and then require it in both 'karma.conf.js' and 'webpack.conf.js'.

Small tweaks to the base config can then be made in the individual files where necessary.

[2015-11-03 03:39] #613 closed

[2015-11-03 04:27] #390 closed

[2015-11-03 04:27] #466 closed

[2015-11-03 04:29] flavioribeiro commented on #610
FYI Firefox 42 is schedule for tomorrow!

[2015-11-03 09:52] #628 closed

[2015-11-03 10:55] operutka opened #631 "flashls performance issues"
Our customers experience some performance issues when playing video using clappr/flashls combination. There is a lot of messages like:
`WARN:FPSController:drop FPS ratio >0.2,drop/displayed:10.0,11.0 in the last 5000ms`

in the web browser log. There are big artifacts in the video every time the drop/displayed ratio gets close to one. It would be nice to have an option to disable frame dropping co

[2015-11-03 15:44] flavioribeiro commented on #631
@operutka can you send us the stream url and browser/pc confs?

[2015-11-03 15:55] flavioribeiro opened #632 "Update our HLSPlayer.swf with latest FlasHLS (v0.4.4.5)"
maybe refs #631

[2015-11-03 15:57] flavioribeiro commented on #608
@AlexRevin Try testing directly on http://dailymotion.github.io/hls.js/demo/, if you still see problems, we should put @mangui on this loop

[2015-11-03 15:58] flavioribeiro commented on #607
hey @deedos since this one is related to server side, I'll close it. Feel free to open again if you still needs help.

[2015-11-03 15:58] #607 closed

[2015-11-03 16:22] operutka commented on #631
@flavioribeiro some of the streams can be found here:
http://www.eagles.org/Cams/FloridaNest.html

You can get the stream URL from your browser's console. It has always the following format:
http://{...}.angelcam.com/{...}/playlist.m3u8?token={...}

note: the token in the URL is valid only for a limited period of time, you have to get a new one from your browser after the token's expiration

The p

[2015-11-03 16:38] flavioribeiro opened #633 "Use hlsjs on Firefox 42+"
Firefox 42 was just released with Media Source Extension enabled for all sites, which means we can use hlsjs on it. According to https://github.com/dailymotion/hls.js/issues/37#issuecomment-153406269 we are good to go and match UA's for firefox 42 and above on https://github.com/clappr/clappr/blob/master/src/playbacks/hls/hls.js#L121-L127.

[2015-11-03 16:39] flavioribeiro commented on #633
here's the full release notes: https://www.mozilla.org/en-US/firefox/42.0/releasenotes/

[2015-11-03 16:59] flavioribeiro commented on #631
Ok, I'll try to reproduce at my side. Just curious if you're using the latest version of clappr, but even so, we still need to update our version of flashls. I'll work on that soon.

[2015-11-03 17:00] #576 closed

[2015-11-03 17:10] operutka commented on #631
Thanks. We're using the latest version of clappr but this is more a question of the Flash VM and its standard library. Exposing those options in your API would be great anyway so we could play with it on our own.

BTW we have tried to hack the blob a little and added instructions for setting those two options in the org.mangui.chromeless.ChromelessPlayer class in the _onStageVideoState method (the

[2015-11-03 17:12] flavioribeiro commented on #631
I'll confirm with the rest of the team if we're using [this](https://github.com/clappr/flashls) fork of flashls or if there's another one and update with latest @mangui:dev's branch, I'll let you know asap

[2015-11-03 19:06] #500 closed

[2015-11-03 19:09] flavioribeiro commented on #632
closed by b798074734995339cddd99a4f0fe28b6c91f0c23

[2015-11-03 19:09] #632 closed

[2015-11-03 19:11] flavioribeiro commented on #631
@operutka, b798074734995339cddd99a4f0fe28b6c91f0c23 updates our swf to the latest version of flashls, can you verifiy if performance is still an issue for you?

[2015-11-03 19:26] itsjamie opened #634 "HLSJS doesn't support AES-128 decryption"
There should be a call out on your HLS support that any browser that uses HLSJS with HLS encryption (AES-128) will fail, and repeat the request for the .ts chunk over and over and over, if this was missed could have been a costly deployment for flash disabled devices.

[2015-11-03 19:27] leandromoreira commented on #631
@operutka another thing you can test is to force the usage of `software decoder`.

At first it sounds counterintuitive but we noticed that often the performance issues were related to many switches between hardware and software decoder and if you force software it stops these swaps.

[code]

[2015-11-03 19:28] leandromoreira commented on #634
*any browser that uses HLSJS with AES-128

[2015-11-04 00:40] AlexRevin commented on #608
@flavioribeiro have just tested it, still not working. It is definitely a problem with hlsjs, I've tried getting into details and it seems like I'd better move the issue to their tracker.

Thanks for your help!

[2015-11-04 00:40] #608 closed

[2015-11-04 15:50] leandromoreira opened #635 "RFC: add get name method to BaseObject"
I saw that we use `get name()` **not** as part of our API but as a **convention**, shouldn't we enforce this to the [BaseObject](https://github.com/clappr/clappr/blob/master/src/base/base_object.js) (non-mandatory)? Thoughts?

<hr>

I came to this conclusion when I `git grep` for **name(**.

`$ git grep "name("`

[code]

[2015-11-04 18:18] rafaell-lycan opened #636 "Youtube/Vimeo/Embed Players Support"
It's possible to use with Youtube or Vimeo instead the embed solution?

[2015-11-04 18:20] dayvson commented on #633
hey @flavioribeiro, I am working on that ;)

[2015-11-04 18:44] flavioribeiro commented on #636
There's a plugin to support youtube id's (https://github.com/towerz/clappr-youtube-playback) but I'm not sure if we have something for Vimeo.

[2015-11-04 19:03] #434 closed

[2015-11-04 20:44] rafaell-lycan commented on #636
Why this isn't on the official documentation? =/

[2015-11-04 20:44] rafaell-lycan commented on #636
Anyway thanks @flavioribeiro

[2015-11-04 21:07] flavioribeiro commented on #636
@rafaell-lycan clappr has a bunch of external plugins which we're not willing to have inside of the player bundle. Our idea is to keep clappr core as simple/tiny as possible.

[2015-11-05 08:32] cpeterso commented on #633
I'm a program manager on Mozilla's media team. If you have questions about Firefox's MSE implementation, feel free to CC me or drop by the #media channel on Mozilla's IRC server. :)

[2015-11-05 11:38] leandromoreira commented on #633
Thank you very much @cpeterso

[2015-11-05 16:10] madmarten commented on #577
Sorry for late respons. We will be moving away from webforms soon hopefully so I won't bother with this anymore. I'm not sure it's Clapprs fault anyway, but I have tried several other players and they don't behave like this. The page in question is hard to make public and availalable 24/7 since it's a live stream. I will close this for now.

[2015-11-05 16:10] #577 closed

[2015-11-05 16:13] madmarten opened #637 "Player not loading in IE10"
The player will not initialize properly when using IE10. Try this page in IE10 http://beta.adventistplay.se/media/html/clapprvod.html

Look at the first two players.

[2015-11-05 16:20] madmarten opened #638 "Level Selector plugin stopped working"
I don't know when, but think it's not more than a couple of weeks, the Level Selector plugin stopped working and made the whole player failing to load. See bottom player at http://beta.adventistplay.se/media/html/clapprvod.html

Error message is: external undefined plugin on core array

The code for the plugin doesn't seem to have changed for months, so I believe some changes has been made to the

[2015-11-05 16:27] madmarten opened #639 "Fullscreen looks bad with IE and Edge on large screen (2560x1440)"
When going fullscreen on MS desktop browsers the player seems to go fullscreen, but the actual video is not. It's stuck to the left and sometimes really small, sometimes cover a larger part but not the whole screen. I'm using a 2560x1440 screen, windows 10. Use a big screen and go fullscreen on testpage http://beta.adventistplay.se/media/html/clapprvod.html with either IE11 or Edge to see the issu

[2015-11-05 18:41] towerz commented on #638
This error is due to a type enforcement implemented on the plugin Loader. I'm not sure why this happened to you with the latest Level Selector implementation. There could be something missing in the plugin implementation.

There's another detail about the plugin: it currently does not support the default HLS implementation on Clappr, based on hls.js. It only supports the previous implementation, b

[2015-11-06 08:43] seamug commented on #328
Hi
We still having issue playing video on any mobile  on Safari and Chrome. Its fine on the desktop. Check this out http://joompe.netpay.io/watch/Travel/bb7657dd-4587-4e76-9c71-c6a09c648baa. Any leads?

[2015-11-06 13:12] #620 closed

[2015-11-06 19:55] towerz commented on #620
:+1: :beers:

[2015-11-06 21:34] dviramontes opened #640 "Is there a way to disable the keyboard bindings on the player itself ?"
I'm looking specifically at these two:

[this.kibo.down(['left'], () => this.seekRelative(-15)) and
this.kibo.down(['right'], () => this.seekRelative(15))](https://github.com/clappr/clappr/blob/674dbdd7f5ec4ddaff129f9c0efe3cd72759c8ba/src/components/media_control/media_control.js#L496)

I tried calling  `window.player.core.mediaControl.unbindKeyEvents()`
and got: `Uncaught TypeError: Cannot read p

[2015-11-06 21:56] dayvson commented on #640
I just sent a pull request that will fix it.

[2015-11-06 21:57] flavioribeiro commented on #640
#641 fixes that. thanks @dayvson

[2015-11-06 21:57] #640 closed

[2015-11-06 22:11] lkkadiri opened #642 "Dragging the playhead on the seekbar is very buggy with 0.2.15 Release"
Dragging the playhead to seek makes the playhead either snap to start of the video in VOD mode and it keeps trying to snap to the end of the video when in DVR mode. We only started seeing this behavior in the new release of Clappr.

[2015-11-06 22:18] dviramontes commented on #640
That was way fast!
Thanks so much @dayvson !

[2015-11-06 22:26] tjenkinson commented on #642
This is reproducible on http://cdn.clappr.io/ with stream url "http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8".

Was v0.2.14 the last version of clappr you used or were you on an older version? It might be an issue with the new 'hls' playback which uses javascript instead of flash.

[2015-11-06 22:38] lkkadiri commented on #642
It worked fine on 0.2.14, we needed to upgrade to 0.2.15 as we were noticing some issues in 0.2.14. The latest version fixes some bugs but now seems like the dragging is broken now.

[2015-11-06 22:43] tjenkinson commented on #642
Ok sorry about that. If you revert back to the flash hls playback for now that might work.

https://github.com/clappr/clappr/issues/607#issuecomment-150349429

[2015-11-06 22:50] tjenkinson commented on #642
@lkkadiri can you try with the current master build and see if this works for you?

Here's a build of (https://github.com/clappr/clappr/commit/3c47a103fee5ff8e15e08986d12c5c7119d9ba6b) if you don't want to build it yourself: https://gist.githubusercontent.com/tjenkinson/6f25208ffb6e498869ca/raw/86eedf1f58cdebc2f27d1863620295a5fdb02d94/clappr.js

[2015-11-06 22:57] lkkadiri commented on #642
Building locally failes for me. Undefined promise errors.
[code]

[2015-11-06 23:10] lkkadiri commented on #642
@tjenkinson I see the same behaviour with the latest build as well.

[2015-11-06 23:22] tjenkinson commented on #642
Ok so the source of the bug is here: https://github.com/clappr/clappr/blob/cdad219b081a51554470960ee4617800fc7c60ba/src/playbacks/hls/hls.js#L50

When the drag completes this function is called twice and on the second call `getDuration()` seems to be returning 0.

If you use the flashls playback for now by altering the options with the link to the other comment I put above that will probably fix i

[2015-11-06 23:29] towerz commented on #638
The level selector has been fixed to work with the latest version of Clappr. As I mentioned before, it will only work if you are using the FlasHLS playback, but I'm working on a new version supporting hls.js as well.

[2015-11-06 23:29] flavioribeiro commented on #638
:metal: congratz @towerz

[2015-11-06 23:37] lkkadiri commented on #642
Our application requires the native player as we have functionality like frame stepping which only works on the native player. Maybe we can leave this ticket open until this gets fixed?

[2015-11-06 23:38] tjenkinson commented on #642
Yes I'm looking into it at the moment I was just suggesting that as a temporary solution.

[2015-11-06 23:41] dviramontes commented on #640
just noticed that calling:
`window.player.core.mediaControl.unbindKeyEvents();`
breaks the player. Is there another way to disable this shortcut key functionality ?

[2015-11-06 23:46] dayvson commented on #638
:beers: @towerz

[2015-11-06 23:47] #638 closed

[2015-11-07 00:19] tjenkinson commented on #642
Please can you try again with this version: https://gist.githubusercontent.com/tjenkinson/34715684d241039a2881/raw/063b64003bb330cbc3e3398c7a19fbee074cb2d6/clappr.js

It includes the proposed fix in https://github.com/clappr/clappr/issues/644

[2015-11-07 01:00] #363 closed

[2015-11-07 01:04] leandromoreira opened #645 "Adds polyfill instead of checking browser/user-agent/feature"
https://github.com/clappr/clappr/pull/643

[2015-11-07 01:30] tjenkinson commented on #645
I made a comment here then saw this: https://github.com/clappr/clappr/pull/643#issuecomment-154595425

[2015-11-07 02:07] leandromoreira commented on #645
I also don't like to change globals but the problems with helpers/util are:

* it'll become another dependency `import util`
* it'll solve [this possible problem](https://github.com/clappr/clappr/pull/643#issuecomment-154595425) for **old browsers.**
* if anoter script does `polyfill` first than Clappr then our `util/helper` will be facing **almost the same problem**

But either implementation is

[2015-11-07 02:36] dayvson commented on #637
Try to download the latest version of the clappr-level-selector-plugin 0.0.10. It should fix the problem.

[2015-11-07 19:07] ferval commented on #328
The link is showing a Laravel error
[image: Imagem inline 1]

*Fernando Valentini*
diretor
(34) 8852-5821 <03488525821>
fernando@enesolucoes.com.br

Esta mensagem, incluindo seus anexos, pode conter informações confidenciais
e/ou privilegiadas. Se você não for a pessoa autorizada a receber esta
mensagem, não pode usar, copiar ou divulgar as informações nela contidas ou
tomar qualquer ação baseada

[2015-11-07 20:42] towerz commented on #645
I'd go with either helpers or namespaced polyfills. My only objection about the polyfills was messing around with variables in global scope, because it introduces a lot of risks, like causing conflicts with other libraries. Your suggestion for a middle ground solution is fine by me.

[2015-11-07 21:17] leandromoreira commented on #645
It makes sense :)

[2015-11-07 21:17] #645 closed

[2015-11-07 21:25] leandromoreira commented on #328
@ferval I can't see any info or image.

@seamug can you provide the ios/android (in which browser) version and what issue are you facing?

[2015-11-08 19:26] derrod opened #648 "Seek bar is unselectable until buffer length of 20 second is reached when using HLS DVR"
This is kind of an odd issue I noticed after upgrading to the latest version.

I'm using a HLS Stream with DVR functionality and it works well with but for some reason seeking is not possible until the 5th segment is loaded (each segment is 4 seconds, so 20 seconds). There doesn't seem to be any way to reduce buffer size. It might be something completely different, but this is the only thing I cou

[2015-11-08 19:30] tjenkinson commented on #648
Hey @derrod there is an option you can set `hlsMinimumDvrSize` which determines how long a dvr recording has to be before the seek bar becomes enabled.

Or does this happen even when you have a long dvr recording available at the time you start watching?

[2015-11-08 20:24] derrod commented on #648
The length of the DVR was at least 1 hour for all of my tests.

[2015-11-08 20:54] tjenkinson commented on #648
That's interesting I'm also using DVR with the latest version and it seems to be fine. Please could you provide a stream url?

Also it would be interesting to see if you have the same issue if you paste it into http://cdn.clappr.io/

[2015-11-08 22:13] derrod commented on #648
Unfortunately I can't provide a stream url at the moment (I'll look into getting something public set up tomorrow).

I can also confirm that this issue happens when using the cdn.clappr.io site.

[2015-11-09 00:19] ferval commented on #328
Leandro here is the image:
https://drive.google.com/file/d/0B5wdyuN5l4qPajNJQkZCeXpqeS1uSHF1MkVzSFh1aUhRR1Bn/view?usp=sharing

The problem that I'm facing is to add clappr in an ionic app.

*Fernando Valentini*
diretor
(34) 8852-5821 <03488525821>
fernando@enesolucoes.com.br

Esta mensagem, incluindo seus anexos, pode conter informações confidenciais
e/ou privilegiadas. Se você não for a pessoa au

[2015-11-09 10:32] operutka commented on #631
I'm sorry for my late response. I was a bit busy last week.

@leandromoreira Thank you for the tip, we have already tried that but this is not the case. We have disabled the HW acceleration for some browsers as it caused frequent crashes. The issue we're talking about here is related to the SW decoder. Unfortunately, some of our clients have quite weak HW for SW decoding and it causes the decoder

[2015-11-09 10:56] madmarten commented on #638
I have now tested and can confirm it is working again. Tank you!

[2015-11-09 11:07] madmarten commented on #637
Load the page in IE10 and you will see that the first and second player is not loading properly compared to IE11.

The bottom player on the same page was used to illustrate a problem with loading the level selector plugin. This was reported in another issue and has been resoled with the latest version as you describe.

But this issue with IE10 is still not resolved.

[2015-11-09 16:55] #642 closed

[2015-11-09 23:05] tjenkinson commented on #639
Hey @madmarten does this still happen with the latest version?

I don't have a screen that size to test on but I do not have any issue when emulating the resolution as 2560x1440 in edge's dev tools.

[2015-11-09 23:07] tjenkinson commented on #639
Also noticed you are experiencing the hls decoding issue in edge with the live stream. We also use wowza, I've reported that issue and they've confirmed it's a bug and are in contact with microsoft, in case you're trying to figure out where the problem is :)

![image](https://cloud.githubusercontent.com/assets/3259993/11049504/a28f243c-8736-11e5-9e09-a39ef195c1db.png)

[2015-11-10 10:52] madmarten commented on #639
@tjenkinson yes I have noticed that too, but had not started to investigate it yet. Thanks for letting me know, probably saved me a lot of time :)

I should add to this problem that if I use flashls the fullscreen works as expected.

Example how fullscreen problem looks.
![image](https://cloud.githubusercontent.com/assets/2520275/11060506/00b36a40-87a1-11e5-8479-88ba9df95464.png)

[2015-11-10 13:01] madmarten commented on #639
In case this info helps narrowing down the problem.

If I on the same computer reduce the screen resolution to 1920x1080 the fullscreen mode works as expected, but as soon as I revert to native resolution 2560x1440 it fails. The video stream is ABR HLS with maximum resolution of 1280x720. It seems like the video window do not scale beyond the maximum resolution of the video file.

[2015-11-10 16:12] tjenkinson commented on #639
Hi @madmarten thanks for this.

Please can you see if you have the same issue if you use flashls. You can do this by adding `plugins: {playback: [Clappr.FlasHLS]}` when creating the player.

Also can you try at http://dailymotion.github.io/hls.js/demo/ and see if full screen works fine there?

[2015-11-11 02:42] AlexRevin commented on #550
This is awesome, cause it's the major reason that forced me to switch to videojs. Waiting to get back to Clappr

[2015-11-11 13:24] FDiskas commented on #574
I have that browser and it works on Fedora 23 + Yandex Browser. The video is flash version

[2015-11-11 14:54] FDiskas opened #651 "Error on player ready state."
http://jsfiddle.net/frzkqja8/

[2015-11-11 15:03] FDiskas commented on #651
If video is ended the folowing events are triggered:
[code]
Strange order. The video ends and how its could be paused? Ok - video ended but how it can still update time?

[2015-11-11 15:35] FDiskas opened #652 "bower install clappr - bower install clappr"
[code]

[2015-11-11 15:58] leandromoreira commented on #651
Just for reference  https://github.com/clappr/clappr/blob/master/src/playbacks/html5_video/html5_video.js#L141

[2015-11-11 16:07] FDiskas opened #653 "Missing events, methods"
Hello, thanks for good player. Still missing some events

* fullscreen - then user enters or exits from fullscreen
* ready - then player is ready for play some video
* load - then first segment is loaded or first timeUpdate event is triggered
* volume - then user changes the volume

Missing methods
* getVolume - get current value of volume. Get it from localStorage not good.
* requestFullscreen /

[2015-11-11 16:43] FDiskas opened #654 "player.seek() should accept seconds not percent"
This command should seek to the current video position
[code]
In documentation:
## <img src="https://cldup.com/V4mJE_EtiV-3000x3000.png"> player.seek(value);
The `value` should be a number between 0 and 100. For example, `player.seek(50)` will seek to the middle of the current source.

[2015-11-11 17:10] leandromoreira commented on #654
Hey @FDiskas ,

When we designed clappr we choose to go with `seek(percentage)`. I think what we could do instead is to create another seek *method*:

* seekTime
* seekSeconds

What do you think?

[2015-11-11 17:17] FDiskas commented on #654
`seekTime` I think is more self explainable. Because everywhere is in seconds

[2015-11-11 17:18] flavioribeiro commented on #652
refs #595

[2015-11-11 17:19] tjenkinson commented on #654
Isn't there already a seekSeconds()?

[2015-11-11 17:23] leandromoreira commented on #654
@tjenkinson there is, but it's limited to video tag only! I think he would like to have that for all playbacks:

https://github.com/clappr/clappr/search?utf8=%E2%9C%93&q=seekSeconds

Thanks @FDiskas, in case you'll only use the hlsjs or video_html5 playback you can use `seekSeconds`.

 I'm gonna change your title for SEO reasons, is that okay?

**player.seek() should accept seconds not percent**

[2015-11-11 17:31] flavioribeiro commented on #574
I've tested here with MacOS Yosemite, it's working fine. @Kreeig can you still reproduce this?

[2015-11-11 17:37] FDiskas commented on #654
Its ok to change title. And yes I need this method for all playbacks and flash and html5. The same goes to `volume` get and set methods.

[2015-11-11 17:44] leandromoreira commented on #654
Cool, @FDiskas so I'm gonna close this one and add this method to https://github.com/clappr/clappr/issues/653 is that okay?

[2015-11-11 22:21] FDiskas commented on #654
shure

[2015-11-11 22:36] FDiskas opened #655 "Samsung galaxy note 10.1 video size problem"
Watch in full screen, then go back to normal and result is - video width is shrinked
Samsung galaxy note 10 http://www.gsmarena.com/samsung_galaxy_note_10_1_n8000-4573.php
GT-N8000
Android 4.1.2
![screenshot_2015-11-12-00-26-59](https://cloud.githubusercontent.com/assets/468006/11104954/a16747a2-88d4-11e5-8de2-db21b6f58715.png)

[2015-11-11 22:38] flavioribeiro commented on #655
@FDiskas can you test with different sources (like a hls, for example)

[2015-11-11 22:43] flavioribeiro commented on #654
I guess that's better to break #653 in smaller issues, there's some which we can label as `easy` and receive more contribs

[2015-11-11 22:44] flavioribeiro commented on #653
hey @FDiskas do you mind breaking this issue in smaller ones? One for each missing event and method? This way we could close it with commits and receive contribs

[2015-11-11 22:47] FDiskas commented on #655
Not easy to do this with tablet - need working and hosted url with example.

[2015-11-11 22:48] FDiskas commented on #653
Shure.

[2015-11-11 22:52] FDiskas commented on #651
Please take a look at first link to.

[2015-11-11 22:52] flavioribeiro commented on #653
thanks @FDiskas !!

[2015-11-11 23:05] FDiskas commented on #655
![screenshot_2015-11-12-01-04-55](https://cloud.githubusercontent.com/assets/468006/11105717/74ad9c02-88d9-11e5-8d5c-37f430936363.png)

[2015-11-11 23:10] FDiskas commented on #655
In playlist header
[code]
And there exists the
[code]
Witch means that there is not a LIVE stream.

[2015-11-11 23:13] flavioribeiro commented on #654
So, regarding this issue, I guess that @FDiskas is correct. `seek()` should accept the time and not the percentage, that's how all players implement it (even the native ones). I'm in favor of breaking the API and make `seek()` behave the right way. If we still want a seek that uses percentage, we should have a `seekPercentage`, tho.

[2015-11-11 23:13] FDiskas opened #656 "Missing "fullscreen" event"
We need a fullscreen event - then user enters or exits from fullscreen.
Thanks

[2015-11-11 23:16] FDiskas commented on #654
What about second parameter true/false for seconds or percentage? This will not brake the users code :/

[2015-11-11 23:18] FDiskas opened #657 "Missing "volume" event"
Need a changed volume event - then user changes the volume value or executes a mote() function
Thanks

[2015-11-11 23:20] FDiskas opened #658 "Missing "getVolume" method"
Needs a getVolume method - to get a current value of volume.

[2015-11-11 23:21] FDiskas opened #659 "Missing "requestFullscreen" / "cancelFullscreen " method"
Wanted requestFullscreen / cancelFullscreen methods - to toggle fullsscreen from outside the player.

[2015-11-12 01:52] dayvson commented on #654
I am going to work on this feature, we will break the API but the seek method will seek in time and we will have a seekPercentage function just like @flavioribeiro explained. I will send the PR soon.

[2015-11-12 05:05] dayvson commented on #657
hey @FDiskas, when this pull request get merged you will be able to listen this event like:
[code]

[2015-11-12 09:51] FDiskas commented on #657
:+1:  thank you

[2015-11-12 10:32] 569934390 opened #661 "how to control mediacontrol show and hide"
when mousemove and moseleave container the mediacontrol auto show and hide ,i can't control it show or hide;how to control it with javascript

[2015-11-12 12:17] FDiskas opened #662 "player.load() do not clears previews requests"
Then player is playing live HLS its requesting the playlist regulary, but if you change the video source
`player.load('http://***.m3u8')` witch is a record not live - the old url is still requesting
![h5zi30d](https://cloud.githubusercontent.com/assets/468006/11118041/aabe6416-8947-11e5-8675-9f31456a9cbc.png)
And if you continue to load other playlists jusing same method `player.load('')` all old

[2015-11-12 13:06] towerz commented on #662
It seems like calling the playback `destroy` method doesn't detach the media source when stopping playback.

[2015-11-12 13:19] madmarten commented on #639
FlasHLS works as exptected.

Looks the same at that link (but IE11 goes totally black when in fullscreen):
![image](https://cloud.githubusercontent.com/assets/2520275/11119157/da1ea888-8947-11e5-90d7-8fe7d10b66df.png)

[2015-11-12 13:33] towerz commented on #662
@FDiskas what version of Clappr are you using? Can you share a live HLS source for us to reproduce this problem?

[2015-11-12 13:40] towerz commented on #661
@569934390 you can call the methods `show` and `hide` on the media control object. Assuming you have a `player` object, you could do something like this:
[code]

[2015-11-12 13:41] tjenkinson commented on #639
@madmarten it looks like it's probably a hlsjs issue then. Please can you create an issue at https://github.com/dailymotion/hls.js/issues and include a link in it back to this one there?

[2015-11-12 13:44] towerz commented on #659
@FDiskas while the player doesn't include an external interface to control fullscreen, you can call `toggleFullscreen` on the player core object:
[code]

[2015-11-12 13:45] tjenkinson commented on #639
Actually sorry ignore what I just said. Please can you see if there's the same issue at https://jsbin.com/daxaci/edit?html,output ?

It might actually be a bug in microsoft's native hls implementation.

[2015-11-12 13:59] FDiskas opened #663 "Stats plugin is reporting wrong metrics"
On http://cdn.clappr.io/ enter the folowing
[code]
It returns useless information
[code]
`watchingTime` increasing all the time no mater I'm watching or not. Other parameters are always `0`

[2015-11-12 14:01] madmarten commented on #639
@tjenkinson  Same problem with Edge, on IE11 I get invalid source.

If I go down to 1920x1080 resolution, fullscreen works normally

![image](https://cloud.githubusercontent.com/assets/2520275/11119977/66ce4054-894d-11e5-9f48-a17835ae56cf.png)

[2015-11-12 14:10] tjenkinson commented on #639
Yeh so unfortunately it looks like an issue in edge's native hls implementation then :/

Does it do it with this stream as well (provided by wowza): http://173.255.119.75:1935/vod/mp4:sample.mp4/playlist.m3u8

[2015-11-12 14:14] FDiskas opened #664 "Missing `main_controls` plugin"
We need to controll the main controls. Like bind some events or listen them for triggers or add more buttons or replace them with other icons.
And access them like
[code]

[2015-11-12 14:16] tjenkinson commented on #639
Actually have you tried with just a standard video?
https://jsbin.com/fidefe/edit?html,output

[2015-11-12 14:35] FDiskas commented on #659
http://cdn.clappr.io/ in console try enter `player.core.toggleFullscreen()` :)

[2015-11-12 14:37] FDiskas opened #665 "LG G3 mobile video error"
The LG G3 phone default browser is Chrome mobile 34
The HLS video is not playing. Probably its trying to force the flash version but in android there is no flash at all.

[2015-11-12 14:46] FDiskas commented on #662
This bus exists and on http://cdn.clappr.io/
I have no public HLS sources so try this one
`//wms.shared.streamshow.it/canale8/canale8/playlist.m3u8`
and
`//stream.flowplayer.org/bauhaus.m3u8`
p.s. before you try install https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?utm_source=chrome-app-launcher-info-dialog
and enable - this will allow cross-d

[2015-11-12 15:21] FDiskas commented on #659
Looks like this is reproducible bug #655

[2015-11-12 15:30] FDiskas commented on #661
What about option `chromeless: true,`
http://cdn.clappr.io/
[code]

[2015-11-12 15:35] FDiskas commented on #662
If i call `player.destroy()` ajax requests still requesting.

[2015-11-12 16:04] FDiskas opened #666 "Mobile device play next video issue"
Then next video source is loaded video is stopped. Needs manually hit the play button.
Example: http://bit.ly/1LbX2w9
p.s. please install a plugin https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?utm_source=chrome-app-launcher-info-dialog
before test
[code]

[2015-11-12 16:12] FDiskas commented on #666
I know that for security reasons on mobile devices there is no ability to autoplay videos. But the next video could be played without stop. Probably the problem is that on `player.load()` you destroying the player, but not just updating the source.

[2015-11-12 16:19] FDiskas commented on #662
`//nasatv-lh.akamaihd.net/i/NASA_101@319270/master.m3u8`

[2015-11-12 17:37] thiagopnts commented on #654
+1 to that, I didn't realize that it was a common API between the other players to have it in seconds until now

[2015-11-12 17:49] markx commented on #656
There is already a fullscreen event, `Events.CONTAINER_FULLSCREEN`, which is triggered on `toggleFullscreen`. If that doesn't help, could you be more specific about what your need?

[2015-11-12 19:05] #657 closed

[2015-11-12 19:05] #658 closed

[2015-11-12 19:44] #662 closed

[2015-11-12 21:57] leandromoreira commented on #664
@FDiskas I don't know if I could understand you, but I would suggest:

* create a custom media control
* listen to specific events

We at globo.com do tons of customization over clappr (you can see it here, http://globoplay.globo.com/v/4065877/)

[2015-11-12 23:57] FDiskas commented on #656
Thanks. So we need a better documentation.

[2015-11-13 01:31] flavioribeiro commented on #656
yep, @leandromoreira is working on the docs but I couldn't find them on the repo. @leandromoreira are u planning to track the docs? Btw, pull requests on docs are welcome! that's why this one is an open source project

[2015-11-13 13:02] leandromoreira commented on #656
I'm with tons of documentations on hold :)

[2015-11-13 16:42] gfronza commented on #654
That's great! And what about the ```PLAYER_SEEK``` event? would be great to use the same unit as the ```seek()```. IMHO it sounds a little weird to receive the event in percentage, I always have to get the duration to convert to it back to seconds.

[2015-11-13 17:32] leandromoreira commented on #654
Thanks @gfronza I think part of this problem will be solved by this refactoring https://github.com/clappr/clappr/blob/fd5aa9c8eb821c654d1c3ed85699bb572499bac2/src/components/player.js#L251

[2015-11-13 19:53] FDiskas opened #667 "is it possible to skip to a point in a video through uri parameter?"
If I pass parameter "t" in url the video will be seeked?
https://github.com/clappr/clappr/pull/496/files

[2015-11-13 21:26] leandromoreira commented on #667
yes, ?t=1m20s

[2015-11-13 23:01] leandromoreira commented on #665
@FDiskas usually Chrome at android [reports itself as mobile](https://github.com/clappr/clappr/blob/master/src/components/browser.js#L56). And since most of the androids support HLS natively [Clappr will chose](https://github.com/clappr/clappr/blob/master/src/components/loader/loader.js#L47) [html5_video](https://github.com/clappr/clappr/blob/master/src/playbacks/html5_video/html5_video.js#L263) i

[2015-11-13 23:44] jfairley opened #668 "artificial time drift in live mode for native HLS (0.2.18)"
This is a weird one. I've tracked down the source, but I'm not sure of the correct way to fix it.

My scenario is that I have a live HLS feed. I seek back so that I'm in DVR mode. Every 10 seconds, the current time reported from `PLAYER_TIMEUPDATE` jumps 10 seconds. Watching the video proves that the video is not actually jumping 10 seconds forward, but the current time value artificially gets 10

[2015-11-13 23:54] dviramontes commented on #668
+1 on this issue

[2015-11-14 00:08] tjenkinson commented on #668
@jfairley thanks for reporting this.

`getPlayableStartTime()` is meant to return the time into the video element where content actually starts. If you look at a live stream on http://dailymotion.github.io/hls.js/demo/ you'll see the way it works is that the total duration of the video element continues to increase throughout the stream, but the video data is removed from the element as the stream

[2015-11-14 00:16] tjenkinson commented on #668
`this.getDuration()` just returns the duration reported from the video element, which I would have expected to be constantly increasing, and if it was then I don't think there'd be this issue.

Maybe the duration the plain video element shows on it's standard control bar on the hlsjs demo page is different to a value it reports on `.duration` . I just assumed it would be the same.

[2015-11-14 00:19] tjenkinson commented on #668
Yep just checked in chrome and the duration that is reported on the control bar is not the same as the duration it will report from it's api. Looks like the video api actually reports the amount of video content it's actually holding. This will be the root of the issue.

[2015-11-14 00:22] jfairley commented on #668
So another interesting thing... If I'm close enough to the live end of the stream (but still not live), I see something similar but different.

Every 10 seconds, duration jumps instantaneously (because it came from an event), then `this.el.duration` races to catch up. You see an upward slide in the 1st number.

The effect on my seek bar is rather strange. Every 10 seconds, the play head jumps forw

[2015-11-14 00:24] tjenkinson commented on #668
@jfairley is this in chrome 46.0.2490.86 ?

[2015-11-14 00:26] jfairley commented on #668
I see it in
- Chrome 48.0.2560.0 dev (64-bit)
- Chrome 48.0.2563.0 canary (64-bit)
- Opera 32.0.1948.69

I actually don't have vanilla Chrome installed.

[2015-11-14 00:38] tjenkinson commented on #668
Looks like maybe the `seekable` property should be used instead of `duration`, but the value that is returning doesn't seem to make sense at the moment, not sure if it's a bug with hlsjs or not at the moment.

[2015-11-14 01:24] jfairley commented on #668
BTW, in the meantime, I've found that bypassing the getters in clappr seems to work for me. Hopefully this is just a temporary work-around, but it's definitely interesting that it works as well as it does...

[code]

I also had to bypass the built-in seek function, since it uses the suspect value for duration. In it, I found that `seekSeconds` works really really well. I know there's another discu

[2015-11-15 16:03] tjenkinson commented on #668
Interesting.

Well it's very likely this is wrong

[code]
as the duration doesn't always map to the current time if it's a sliding window.

[2015-11-15 16:12] tjenkinson commented on #668
Just to confirm if you are playing a stream with a sliding window you would expect the current time to increase normally, and then jump back every time a new chunk loads right?

So for example:
0:21
0:22
0:23
0:24
0:25
0:21
0:22
...

If each chunk duration was 5 seconds.

You wouldn't be expecting the current time to keep increasing even when content from the beginning is removed?

[2015-11-15 17:40] #667 closed

[2015-11-15 17:58] #656 closed

[2015-11-15 17:59] flavioribeiro commented on #653
Closing this since the feature requests are already placed in other issues

[2015-11-15 17:59] #653 closed

[2015-11-15 18:01] flavioribeiro commented on #633
@cpeterso is it true that MSE is not available for FF 42 on linux? (https://github.com/dailymotion/hls.js/issues/37#issuecomment-156167815)

[2015-11-15 18:09] flavioribeiro commented on #664
The control bar isn't a plugin but a component of the player. If you want to add stuff on the controls you can write a core plugin like this https://github.com/clappr/clappr-level-selector-plugin/blob/master/src/main.js.